extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/doctors-layout/doctors-layout
include /blocks/page-section/page-section
include /blocks/text-marked/text-marked
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'doctors'
  include /data/footer
  include /data/home
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Врачи' })
  +pageSection
    h1 Врачи
    +textMarked({ tag: 'p' }) Уникальные специалисты
  +doctorsLayout(staff)
