extends /blocks/layout/layout

include /blocks/img/img
include /blocks/text-marked/text-marked
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item
include /blocks/slider/slider
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'documents'
    const files = [
      'Договор оферта.pdf (pdf, 2.1 МБ)',
      'Заявка на предоставлление платных медицинских услуг (Приложение №1 к публичному договору-оферте).pdf (pdf, 2.1 МБ)',
      'Политика конфиденциальности.pdf (pdf, 2.1 МБ)',
      'Политика ООО Медалл Эстетика в отношении обработки персональных данных.pdf (pdf, 2.24 МБ)',
      'Политика ООО Медалл Стоматология в отношении обработки персональных данных.pdf (pdf, 2.25 МБ)',
      'Сводная ведомость результатов проведении СОУТ в ООО "Медалл Эстетика".pdf (pdf, 1.25 МБ)',
      'Сводная ведомость результатов проведения СОУТ в ООО "Медалл Стоматология" .pdf (pdf, 845.71 КБ)',
      'Договор на оказание платных медицинских услуг двусторонний с физическим лицом (1).doc (doc, 108.5 КБ)',
      'Договор на оказание платных медицинских услуг несовершеннолетним до 18 лет (1).doc (doc, 100 КБ)',
      'Договор на оказание платных медицинских услуг трехсторонний с участием Заказчика.doc (doc, 100 КБ)',
      'Долговое обязательство (1).doc (doc, 28.5 КБ)',
      'Памятка_для_родителей_несовершеннолетних_пациентов.docx (docx, 17.19 КБ)',
      'Положение о гарантиях (1).docx (docx, 47.15 КБ)',
      'Положение о правилах оказания платных медицинских услуг.docx (docx, 31.76 КБ)',
      'Правила поведения пациентов.doc (doc, 52 КБ)',
      'Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи.doc (doc, 1.44 МБ)',
      'доверенность на представление интересов ребенка до 15 лет.pdf (pdf, 86.13 КБ)',
      'согласие законного представителя на совершение сделки ребенком в возрасте 14-18 лет.doc (doc, 39 КБ)',
      'Правила поведения пациентов ООО Медалл Эстетика .doc (doc, 52 КБ)',
      'ООО _Медалл Стоматология_.docx (docx, 158.72 КБ)',
    ]
  include /data/footer
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Документы' })
  +pageSection()
    +h1 Общая юридическая информация
    +textMarked({ tag: 'p' }) свидетельства и лицензии
    +h2 Общая информация
    +pageSubsection
      +h3 Телефоны контролирующих организаций
      p
        strong Комитет по здравоохранению г. Санкт-петербурга:
        br
        |   191011, г. Санкт-Петербург, ул. Малая Садовая, д.1
        br
        |   Тел: +7 (812) 595-89-79
        br
        |   Факс: + 7 (812) 314-18-14
      p
        strong Управление Роспотребнадзора по г. Санкт-Петербург и Ленинградской области:
        br
        |   г. Санкт-Петербург, наб. канала Грибоедова, д.88/90
        br
        |   Тел: +7 (812) 314 67-89
      p
        strong Территориальный отдел управления Роспотребнадзора по г. Санкт-Петербург в Адмиралтейском, Василеостровском, Центральном районах:
        br
        |   190005, г. Санкт-Петербург, ул. Третья Красноармейская, д.18
        br
        |   Тел: +7 (812) 316-68-66
      p
        strong Межрайонная ИНФС Российской Федерации по налогам и сборам №15 по г. Санкт-Петербургу:
        br
        |   191124, г. Санкт-Петербург, ул. Красного Текстильщика, д.10-12, литера “О”
        br
        |   Тел: +7 (812) 335-14-03
      p
        strong Общество защиты прав потребителей по г.Санкт-Петербурга и Ленинградской области:
        br
        |   г. Санкт-Петербург, Смольный проезд, д.6, комн. 361
        br
        |   Тел: +7 (812) 576-66-62, 576-78-51.
      +h3 Приём граждан руководителем проводится по следующему графику
      p
        strong Адрес
        | : Левашовский проспект, 24
        br
        strong Должность
        | : Генеральный директор Метелев Д.Е.
        br
        strong Часы приема
        | : пн-пт с 16.00 до 19.00
      +h3 Уголок потребителя
      p Ознакомиться с Законом РФ от 07.02.1992 N 2300-1 
        a(href='http://www.consultant.ru/document/cons_doc_LAW_305/' target='_blank')
          strong "О защите прав потребителей"
        |  Вы можете, перейдя по этой ссылке.
      p Ознакомиться с Законом РФ от 21.11.2011 №323-ФЗ 
        a(href='http://www.consultant.ru/document/cons_doc_LAW_121895/' target='_blank')
          strong "Об основах охраны здоровья граждан в Российской Федерации"
        |  Вы можете здесь.
      p Вы можете ознакомиться с Постановлением Правительства РФ от 04.10.2012 N 1006, перейдя по ссылке 
        a(href='http://www.consultant.ru/document/cons_doc_LAW_136209/feeb50fc9703d15d935a859ee3d7258a8b2d85d5/' target='_blank')
          strong
            | "Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг"
        | .
      p Ознакомиться с 
        a(href='http://static.government.ru/media/files/K1fPEUszF2gmvwTkw74iPOASarj7KggI.pdf' target='_blank')
          strong перечнем жизненно необходимых и важнейших лекарственных препаратов
        |  на 2015 год, Вы можете, перейдя по ссылке.
    +pageSubsection
      +ul
        each file in files
          +li: a(href='#') !{file}
    +h2 Лицензии клиники
    +pageSubsection
      +slider.documents-slider
        - i = 0;
        while i < 8
          - i += 1;
          +slide({ tag: 'a' })(href= `/images/license-${i}.jpg` data-glightbox data-gallery='licenses')
            +img({
              name: `license-${i}_thumb`,
              path: '/images/',
              formats: [
                { ext: 'webp', type: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
              density: [
                { values: [ 1, 2 ] },
              ],
            })
