.landing-stages
  --h2-color var(--color-white)
  --h3-color var(--color-white)
  --color-text var(--color-white)
  background-color var(--color-mark)
  +media(s)
    --h2-color var(--color-mark)
    background-color var(--color-white)
    &.page-section
      margin-top 0
  &__list
    display flex
    flex-direction column
    gap 44px
    counter-reset stage-counter
  &__body
    text-align left
  &__item
    display grid
    gap 30px
    text-align center
    +media(s)
      grid-template-columns 3fr 7fr
      gap 40px
      text-align left
      background-color var(--color-mark)
    +media(m)
      grid-template-columns 4fr 9fr
  &__header
    margin-bottom 16px
    font-weight 500
    +media(s)
      margin-bottom 20px
    &::before
      counter-increment stage-counter
      content counter(stage-counter) ". "
  &__inner
    +media(s)
      padding-block 30px
      padding-right 30px
  &__image
    min-width calc(100% + 20px * 2)
    margin-inline -20px
    object-fit cover
    +media(s)
      width 100%
      min-width 100%
      height 100%
      margin-inline 0
  .accessibility-mode &
    --h2-color var(--color-text)
    --h3-color var(--color-text)
    --color-text var(--color-text)
    background-color transparent
    &__item
      background-color transparent
