.banner-new-direction
  position relative
  isolation isolate
  padding-block 0
  background-image radial-gradient( at 75% 25%, #1f6f6e, #052829)
  .content
    display grid
    grid-template-columns auto
    grid-template-rows 1fr min-content min-content
    column-gap var(--gap)
    +media-max(s)
      justify-items center
      text-align center
      min-height 495px
    +media(s)
      grid-template-rows 1fr min-content 1fr
      grid-template-columns repeat(2, 1fr)
      row-gap var(--gap)
    +before()
      z-index -1
      grid-row 1/-1
      grid-column 1/2
      width 278px
      aspect-ratio 554/844
      background-repeat no-repeat
      background-position center
      background-size cover
      +media-max(s)
        justify-self start
        align-self end
        margin-left calc(var(--gap) * -1)
        margin-top 40px
        background-image image-set(
          url(../images/banner-new-department_s.webp) 1x,
          url(../images/banner-new-department_s@2x.webp) 2x
        )
      +media(s)
        width @css{ min(515px, 100%) }
        aspect-ratio 103/137
        background-image image-set(
          url(../images/banner-new-department.webp) 1x,
          url(../images/banner-new-department@2x.webp) 2x
        )
    +after()
      position absolute
      inset-inline 0
      bottom 0
      z-index -1
      height 250px
      background-image linear-gradient(180deg, transparent, #045658);
      +media(s)
        display none
  &__title
    grid-column -2/-1
    grid-row 1/2
    align-self end
    +media-max(s)
      display flex
      flex-direction column
      justify-content space-between
      height 100%
      padding-top 32px
  &__subtitle
    +media-max(s)
      $font-4xl-uppercase()
      font-weight 500
  &__description
    grid-column -2/-1
    grid-row 2/3
    +media-max(s)
      margin-top 16px
  &__button
    grid-column -2/-1
    grid-row 3/4
    align-self start
    +media-max(s)
      margin-block 16px 32px
  &__dash
    +media-max(s)
      display none
  .accessibility-mode &
    background-image none
    .content
      min-height 0
      +media(s)
        grid-template-columns auto
        row-gap var(--gap)
      &::before
      &::after
        content none
