include /blocks/page-section/page-section

+pageSection({ backgroundColor: [true, 'dark'] }).banner-new-direction
  +h2.banner-new-direction__title новое направление medall
    span.banner-new-direction__dash  — 
    span.banner-new-direction__subtitle гинекология
  p.banner-new-direction__description  Инновационные технологии, омоложение, топовые эксперты. Стань той, кто заботится о своём женском и сексуальном здоровье.
  +button({ tag: 'a' })(href='#').banner-new-direction__button Подробнее
