.landing-banner
  --landing-banner-max-height 615px
  display grid
  grid-template-columns 20px 1fr 20px
  grid-template-rows minmax(300px, 1fr) repeat(3, min-content) 28px
  justify-items center
  padding 0
  +media(s)
    grid-template-columns 1fr repeat(2, @css{ min(calc(var(--content-width)/2 - var(--base-padding)), 50% - var(--base-padding)) }) 1fr
    grid-template-rows 30px repeat(3, min-content) 1fr 30px
    justify-items start
  +media(m)
    grid-template-rows 67px repeat(3, min-content) 1fr 67px
  +media(l)
    max-height var(--landing-banner-max-height)
  &__header
    isolation isolate
    grid-column 2 / 3
    grid-row 2 / 3
    margin-bottom 30px
    text-align center
    +media(s)
      grid-column 2 / 3
      grid-row 2 / 3
      text-align left
  &__image
    position relative
    grid-column 1 / -1
    grid-row 1 / 3
    width 100%
    height 100%
    img
      width 100%
      height 100%
      object-fit cover
    +after()
      position absolute
      bottom 0
      left calc(var(--base-padding) * (-1))
      width calc(100% + var(--base-padding) * 2)
      height 40%
      background linear-gradient(to bottom, rgba(4, 86, 88, 0) 0%, rgba(4, 86, 88, 1) 100%)
      z-index 0
      pointer-events none
    +media(s)
      grid-column 3 / -1
      grid-row 1 / -1
      +after()
        top 0
        left 0
        width 50%
        height 100%
        background linear-gradient(to left, rgba(4, 86, 88, 0) 0%, rgba(4, 86, 88, 1) 100%)
  &__body
    grid-column 2 / 3
    grid-row 3 / 4
    margin-bottom 30px
  &__button
    grid-column 2 / 3
    grid-row 4 / 5
  .accessibility-mode &
    &__image
      +after()
        display none
