mixin landingBanner(banner)
  -
    banner.path = banner.path || '/images/landings/landing-new/'
  +pageSection({ backgroundColor: [true, 'dark'], noContent: true }).landing-banner&attributes(attributes)
    .landing-banner__image
      +img({
        name: banner.image,
        path: banner.path,
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ]
      })(alt= banner.header)
    .landing-banner__header.h2 !{banner.header}
    .landing-banner__body !{banner.body}
    a(href='/').landing-banner__button.button !{banner.button}
