include /blocks/page-section/page-section
include /blocks/button/button

mixin categoryHeader(item, settings = {})
  +pageSection({ empty: true, backgroundColor: [ true, 'dark' ] })(class= classes('category-header', settings))&attributes(attributes)
    +img(item.image).category-header__image
    h1.category-header__title !{item.title}
    .category-header__info: block
    +button({ tag: 'a' })(href='#contacts-form').category-header__button Получить консультацию
