.category-header
  +media-max(s)
    & .list-unordered
      --list-unordered-item-before-border-color var(--color-mark)
  &__title
    max-width none
    color var(--color-white)
  &__info
    +before()
      +media-max(s)
        mask(logo-simple)
        position absolute
        top 50%
        left 50%
        z-index -1
        width 441px
        aspect-ratio 260/83
        background-color var(--color-mark-medium)
        opacity .3
        translate -48% -50%
    *
      color var(--color-mark)
      +media(s)
        color var(--color-white)
  &__image
    object-fit cover
    object-position center
  .accessibility-mode &
    grid-template-rows 0 auto auto auto
    &__title
      color var(--color-text)
    &__info
      background-color transparent
      &::before
        content none
      *
        color var(--color-text)
        +media(s)
          color var(--color-text)
    &__image
      display none
