.category-header
  isolation isolate
  display grid
  grid-template-columns auto
  grid-template-rows repeat(4, auto)
  justify-items center
  padding 0
  +media(s)
    grid-template-columns 1fr @css{ min(var(--content-width), 100% - var(--gap)) } 1fr
    grid-template-rows 68px auto auto auto
    justify-items start
    padding 0
  +media(m)
    grid-template-rows 158px auto auto auto
  &--gynecology
    grid-template-rows 30px 1fr min-content auto
    height min-content
    +media(s)
      grid-template-rows 158px auto 1fr auto
    & ^[-1]__title
      +media-max(s)
        align-self start
        max-width 280px
        font-weight 500
    & ^[-1]__title
    & ^[-1]__info
      --list-unordered-item-before-border-color currentColor
      +media-max(s)
        padding-inline var(--gap)
      +media(s)
        max-width 580px
  &--transplantation
  &--phlebology
    grid-template-rows 30px 1fr min-content auto
    height min-content
    +media(s)
      grid-template-rows 158px auto 1fr auto
    & ^[-1]__title
      max-width 280px
      +media(s)
        max-width 420px
    & ^[-1]__info
      +media-max(s)
        padding-inline var(--gap)
  &--dentistry
    grid-template-rows 30px 1fr min-content auto
    height min-content
    +media(s)
      grid-template-rows 41px auto 1fr auto
    +media(m)
      grid-template-rows 158px auto 1fr auto
  &__image
    grid-column 1
    grid-row 1/4
    z-index -1
    width 100%
    height 100%
    +media(s)
      grid-column 1/-1
      grid-row 1/-1
  &__title
    grid-column 1
    grid-row 2/3
    max-width 235px
    margin-bottom 20px
    text-align center
    +media(s)
      $font-2xl-uppercase()
      grid-column 2/3
      max-width 443px
      margin-bottom 40px
      text-align left
    +media(m)
      $font-5xl-uppercase()
    +media-interval(s, m)
      padding-left var(--gap)
  &__button
    grid-column 1
    grid-row 3/4
    align-self start
    margin-top var(--gap)
    margin-bottom 36px
    +media(s)
      grid-column 2/3
      grid-row 4/5
      justify-self center
      margin-top 20px
      margin-bottom 30px
    +media(m)
      margin-bottom 90px
  &__info
    position relative
    isolation isolate
    grid-column 1
    grid-row 4/5
    +media-max(s)
      width 100%
      padding-y 36px
      padding-inline 20px
      text-align center
      background-color var(--color-mark-light)
    +media(s)
      grid-column 2/3
      grid-row 3/4
    +media-interval(s, m)
      padding-left var(--gap)
    .p
      +media(m)
        $font-xl()
    .list-unordered__item + .list-unordered__item
      margin-top 1.5em
      +media(s)
        margin-top 1em
