.question
  --name-after-background-color transparent
  --name-after-transition-duration var(--transition-duration-out)
  --body-display none
  border-bottom 1px solid
  &--no-border
    border-bottom none
  &__name
    $font-xl()
    position relative
    padding var(--base-padding) calc(var(--gap) + 54px) var(--base-padding) var(--gap)
    cursor pointer
    &::after
      $background(plus, inner, 27px)
      content ''
      position absolute
      top calc(var(--base-padding) / 2)
      right var(--base-padding)
      width 40px
      height 40px
      background-color var(--name-after-background-color)
      border-radius var(--border-radius-50)
      transition background-color var(--name-after-transition-duration)
      +media-max(m)
        top var(--base-padding)
        right 0
        scale .75
    +hover()
      --name-after-background-color var(--color-mark-medium)
      --name-after-transition-duration var(--transition-duration-in)
    +media-max(m)
      padding-right 3.5rem
      padding-left 0
    h3
      text-transform none

  &__body
    display var(--body-display)
    padding 0 var(--gap) var(--base-padding)
    ul > li
      padding-left 0!important 
    @media (max-width point-s - 1)
      padding-x 0
  &--active
    --after-background-color var(--color-mark-medium)
    --body-display block
  .accessibility-mode &
    &--active
      --after-background-color transparent
    &__name
      &::after
        content none
    &__body
      display block
      