include /blocks/page-section/page-section
include /blocks/slider/slider

mixin landingComfort
  +pageSection({ backgroundColor: [true, 'dark'] }).landing-comfort
    .page-subsection
      +grid({ alignItems: 'center' })
        +cell({ m: 6 }).hidden-s.hidden-xs
          +slider.landing-comfort__slider
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
        +cell({ m: 6, xs: 12 })
          +pageSubsection({ tag: 'h2' }) У нас вам будет комфортно
          +slider.landing-comfort__slider.page-subsection.hidden-l.hidden-m
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
            +img('https://dummyimage.com/1200x600').slide.landing-comfort__slide.swiper-slide
          .page-subsection
            p Наша главная задача — оказать Вам теплый прием и обеспечить самый лучший медицинский уход.
            p: strong В индивидуальной палате предусмотрены:
            ul.list-unordered.list-unordered--w-prev-par
              li.list-unordered__item удобные ортопедические кровати с электроприводом
              li.list-unordered__item мобильная кнопка вызова дежурного врача
              li.list-unordered__item круглосуточное профессиональное медицинское наблюдение
              li.list-unordered__item трехразовое питание в соответствии с назначением врача
              li.list-unordered__item ТВ с бесплатным online-кинотеатром и бесплатный Wi-Fi
              li.list-unordered__item туалетная комната с гигиеническим душем
              li.list-unordered__item махровый халат/тапочки/полотенца
              li.list-unordered__item фен для волос/ванные принадлежности
              li.list-unordered__item все для кофе и чая
