.landing-comfort
  &__slide
    border-radius var(--border-radius-50)
  .accessibility-mode &
    &__slide
      border-radius 0
    .grid__cell
      &.hidden-s
        display none
      &:not(.hidden-s)
        width 100%
    &__slider.hidden-l
      +media(m)
        display block !important
      +media(l)
        display block !important
    .slider
      &__wrapper
        display grid
        gap var(--gap)
        +media(m)
          grid-template-columns repeat(2, 1fr)
        +media(l)
          grid-template-columns repeat(3, 1fr)
      &__arrow
      &__pagination
        display none
