include /common/pug/helpers

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/container/container
include /blocks/content/content
include /blocks/h1/h1
include /blocks/h2/h2
include /blocks/h3/h3
include /blocks/h4/h4
include /blocks/p/p
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/modal/modal
include /blocks/img/img

doctype html
html(lang='ru')
  include ../head/head
  body
    if !congressPage
      include /blocks/header/header
    else
      include /blocks/congress/congress-header/congress-header
    main: block content
    if !congressPage
      include /blocks/footer/footer
    else
      include /blocks/congress/congress-footer/congress-footer
  +style('rest')
  if (resourcesName)
    +style(`${resourcesName}.rest`)
  -
    const scripts = ['script.js']
    if (resourcesName) scripts.push(`${resourcesName}.js`)
  +scripts(scripts)
  if (isWorksPage || isDoctorPage || isLandingPage)
    <script src="https://cdn.jsdelivr.net/npm/image-compare-viewer@1.5.0/dist/image-compare-viewer.min.js"></script>
