:root
  +media-max(s)
    --main-margin-top 60px
  +media-interval(s,m)
    --main-margin-top 90px

.accessibility-mode
  --main-margin-top var(--gap)

body
  display flex
  flex-direction column
  min-height 100vh
  overflow-x hidden
  background-color var(--color-background)
main
  flex-grow 1
  margin-top var(--main-margin-top)
