.landing-video
  &__button
    display flex
    flex-direction column
    align-items center
    gap 10px
    margin-top 20px
    text-decoration none
    +after()
      display block
      flex-shrink 0
      width 24px
      height 9px
      background-color var(--color-mark)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--landing-block-top-svg-after-scale)
    +media(s)
      display none
  .swiper-wrapper
    +media-max(s)
      flex-direction column
      gap 30px
  .slider
    &__arrow
      +media-max(s)
        display none
      top auto
      bottom unset
      transform none
      &--prev
        --arrow-before-rotate 180deg
        right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
        left auto
      &--next
        --arrow-before-rotate 0
        left calc(@css{ min(100vw, var(--content-width)) } / 2)
        right auto
      &::before
        mask(arrow)
        height 24px
