.prices-item
  display flex
  align-items center
  gap var(--base-padding)
  +before()
    display block
    min-width 32px
    min-height 32px
    mask-image maskImage(pdf, inner)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    background-color var(--color-mark)
  .accessibility-mode &
    +before()
      background-color var(--color-text)
