.discounts-item
  background-color var(--color-mark-light)
  +media-max(s)
    padding-y var(--base-padding)
  & + &
    margin-top 20px
  .discounts-subtitle + &
    margin-top var(--base-padding)
  &__inner
    display grid
    grid-template-columns 1fr
    grid-row-gap var(--gap)
    +media-max(s)
      grid-row-gap var(--base-padding)
      text-align center
      justify-items center
    +media(s)
      grid-template-areas 'title image' 'description image' 'date image' 'button image'
      grid-template-columns repeat(2, 1fr)
      grid-gap 0 var(--gap)
      align-items space-between
    +media(m)
      grid-template-areas 'title title image' 'description description image' 'button date image'
      grid-template-columns 4fr 3fr 5fr
  &__title
    $font-m-uppercase()
    color var(--color-mark)
    +media(s)
      $font-xl-uppercase()
      grid-area title
      margin-top 20px
  &__description
    $font-s()
    margin-top 0
    +media(s)
      grid-area description
  &__image
    object-fit cover
    width 100%
    max-height 200px
    aspect-ratio 516/160
    +media(s)
      grid-area image
      max-height 175px
  &__date
    $font-s()
    +media(s)
      grid-area date
      align-self end
      margin-top 10px
      margin-bottom 20px
  &__button
    +media(s)
      grid-area button
      align-self end
      margin-top 10px
      margin-bottom 20px
  .accessibility-mode &
    background-color transparent
    &__title
      color var(--color-text)
  
