include /blocks/img/img
include /blocks/button/button

mixin discountsItem(item = {})
  +container.discounts-item&attributes(attributes): +content.discounts-item__inner
    +h3.discounts-item__title !{item.name}
    if item.description
      p.discounts-item__description !{item.description}
    if item.date
      .discounts-item__date !{item.date}
    +button({ tag: 'a', secondary: true, size: 'small' })(href='#discounts-form').discounts-item__button Получить предложение
    +img({
      name: item.image,
      path: '/images/discounts/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [ {values: [1, 2]} ] 
    }).discounts-item__image 
