mixin logoGrossmaster(settings = {})
  -
    const tag = settings.tag || 'a'
    attributes.href = tag === 'a' && !attributes.href ? '/' : attributes.href || undefined

  #{tag}(class= classes('logo-grossmaster', settings))&attributes(attributes)
