.footer-podcast-new
  isolation isolate
  display grid
  grid-template-columns 1fr
  grid-template-rows 25px 1fr
  align-items start
  padding 0
  +media-max(s)
    text-align center
  +media(s)
    grid-template-columns 1fr repeat(2, @css{ min(calc(var(--content-width)/2), 50% - var(--gap)) }) 1fr
    grid-template-rows min-content
  &__image
    grid-column 1/-1
    grid-row 1/-1
    width 100%
    height 100%
    max-height 955px
    object-fit cover
    object-position center
  &__inner
    grid-column 1/-1
    grid-row 2/3
    display grid
    grid-template-areas 'title title' 'description description' '. logo-medall' '. logo-radio' 'button button'
    grid-template-columns repeat(2, 1fr)
    grid-gap var(--base-padding)
    justify-items center
    +media(s)
      grid-column 2/3
      grid-row 1
      grid-template-areas 'logo-medall logo-radio' 'title title' 'description description' 'button button'
      grid-template-columns 1fr 1fr
      grid-column-gap var(--base-padding)
      grid-gap var(--base-padding) 60px
      justify-items start
      align-content center
      padding-block 40px
      padding-inline 0
    +media(m)
      grid-gap var(--base-padding) 100px
      padding-block 70px 90px
  &__title
    grid-area title
    +media(s)
      margin-top 30px
    +media(s)
      margin-top 50px
  &__description
    grid-area description
    margin-top 10px
    +media(m)
      $font-xl()
  &__button
    grid-area button
    margin-top 20px
    margin-bottom 20px
  &__logo
    background-color var(--color-background)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    +media(s)
      justify-self start
    &--medall
      grid-area logo-medall
      align-self end
      margin-block 70px 30px
      width @css{ min(28.333vw, 250px) }
      aspect-ratio 260/83
      mask-image maskImage(logo)
      +media(s)
        align-self center
        margin-block 0
        width @css{ min(16vw, 157px) }
      +media(m)
        width @css{ min(16vw, 249px) }
    &--radio
      grid-area logo-radio
      align-self start
      width @css{ min(16.666vw, 149px) }
      aspect-ratio 149/137
      mask-image maskImage(logo-radio)
      +media(s)
        align-self center
        width @css{ min(11vw, 93px) }
      +media(m)
        width @css{ min(16vw, 148px) }
  .accessibility-mode &
    &__inner
      padding-block 0
    &__image
      display none
    &__logo
      background-color var(--color-text)
