include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/button/button

mixin footerPodcastNew
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }).footer-podcast-new&attributes(attributes)
    +img({
      name: 'footer-podcast-new',
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ],
    }).footer-podcast-new__image
    +content.footer-podcast-new__inner
      +h2.footer-podcast-new__title подкаст #[br] «Медицина со смыслом»
      p.footer-podcast-new__description Искренне о важных вопросах, которые волнуют наших пациентов.
      +button({ tag: 'a' })(href='https://pc.st/1689574640').footer-podcast-new__button Слушать
      .footer-podcast-new__logo.footer-podcast-new__logo--medall
      .footer-podcast-new__logo.footer-podcast-new__logo--radio
