.footer-podcast
  isolation isolate
  padding-bottom 0
  +media-max(s)
    text-align center
  &__inner
    display grid
    grid-template-areas 'title title' 'description description' 'button button' 'image logo-medall' 'image logo-radio'
    grid-template-columns repeat(2, 1fr)
    grid-gap var(--base-padding)
    justify-items center
    +media(s)
      grid-template-areas '. . image' 'logo-medall logo-radio image' 'title title image' 'description description image' 'button button image' '. . image'
      grid-template-columns 3fr 4fr 5fr
      grid-column-gap var(--base-padding)
      justify-items start
      align-content center
  &__title
    grid-area title
  &__description
    grid-area description
    margin-top 10px
    +media(s)
      $font-l()
  &__button
    grid-area button
    margin-top 20px
  &__image
    grid-area image
  &__logo
    background-color var(--color-background)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    +media(s)
      justify-self start
    &--medall
      align-self end
      width @css{ min(28.333vw, 250px) }
      aspect-ratio 260/83
      mask-image maskImage(logo)
      +media(s)
        align-self center
    &--radio
      align-self start
      width @css{ min(16.666vw, 149px) }
      aspect-ratio 149/137
      mask-image maskImage(logo-radio)
      +media(s)
        align-self center
