include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/button/button

mixin footerPodcast
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true, logo: true }).footer-podcast&attributes(attributes): +content.footer-podcast__inner
    +h2.footer-podcast__title «Медицина со смыслом»
    p.footer-podcast__description Искренне о важных вопросах, которые волнуют наших пациентов.
    +button({ tag: 'a' })(href='#').footer-podcast__button Слушать
    +img({
      name: 'footer-podcast',
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { values: [ 1, 2 ] },
      ],
    }).footer-podcast__image
    .footer-podcast__logo.footer-podcast__logo--medall
    .footer-podcast__logo.footer-podcast__logo--radio
