.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding calc(var(--base-padding) / 2) var(--gap)
    $font-xl()
    text-align left
    vertical-align middle
    //color var(--color-white)
    background-color var(--color-mark-light)
  &__cell
    padding calc(var(--base-padding) / 2) var(--gap)
    vertical-align middle
    border-bottom 1px solid var(--color-mark-light)
    ^[-1]__row:last-child > &
      border-bottom 1px solid var(--color-mark-light)
    &--sub-1
      $font-l-uppercase()
      font-weight 700
      color var(--color-mark)
    &--sub-2
      $font-m-uppercase()
      font-weight 700
      padding-left calc(var(--gap) / 0.75)
    &--sub-3
      $font-m()
      font-weight 500
      padding-left calc(var(--gap) / 0.5)
    &--sub-4
      padding-left calc(var(--gap) / 0.4)
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
  .accessibility-mode &
    &__header
      color var(--color-background)
      background-color var(--color-text)
