@import '../../blocks/form-input'

.category-direction
  position relative
  flex-direction column
  justify-content flex-end
  align-items center
  gap 20px
  padding 340px 24px 50px
  text-decoration none

  @supports @css{selector(:has(.form-input--active))}
    z-index 1
  &:has(.form-input--active)
    z-index 2 
  +media(s)
    justify-content space-between
    padding 40px
  &.swiper-slide
    display flex
    +media(m)
      height 372px
  &--transplantation
  &--phlebology
    &.swiper-slide
      +media-interval(s,m)
        min-height 372px
    +after()
      position absolute
      bottom 0
      width 100%
      height 190px
      background linear-gradient(180deg, #fff 0%, #737373 100%)
      mix-blend-mode multiply
      z-index 1
      +media(s)
        height 118px
        border-radius 0 0 var(--border-radius-m) var(--border-radius-m) 
    & ^[0]__title
      margin-top auto
  &--phlebology
    +before()
      +media-max(s)
        position absolute
        top 0
        width 100%
        height 190px
        background linear-gradient(360deg, #fff 0%, #737373 100%)
        mix-blend-mode multiply
        z-index 2
  &--dentistry
    +media-max(s)
      padding 247px 24px 50px
    &.swiper-slide
      +media-interval(s,m)
        aspect-ratio 296/246
    & ^[0]__title
      $font-3xl()
      +media-interval(s, m)
        margin-top auto
        $font-2xl()
    +before()
      position absolute
      top 0
      width 100%
      height 148px
      background linear-gradient(180deg, #6F6F6F 0%, #FFFFFF 100%)
      mix-blend-mode multiply
      z-index 2
      border-radius var(--border-radius-m) var(--border-radius-m) 0 0 
      +media-interval(s, m)
        top auto
        bottom 0
        height 204px
        border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
        background linear-gradient(360deg, #6F6F6F 0%, #FFFFFF 100%)
  &__image
    position absolute
    inset 0
    z-index 1
    width 100%
    height 100%
    object-fit cover
    +media(s)
      overflow hidden
      border-radius var(--border-radius-m)
  &__title
    $font-3xl-uppercase()
    z-index 2
    font-weight 500
    text-align center
    color var(--color-white)
    +media-interval(m, l)
      $font-2xl-uppercase()
    +media(l)
      $font-3xl-uppercase()
  &__menu
    position relative
    z-index 2
    width @css{ min(310px, 100%) }
  &__menu-name
    position relative
    +after()
      position absolute
      top 24px
      right 32px
      width 24px
      height 9px
      background-color var(--form-field-select-button-before-background-color)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--form-field-select-button-after-scale)
  &__list.form-input__options
    z-index 2
    translate 0 99%
  &__item
    @extend .form-input__option
  .accessibility-mode &
    justify-content start
    align-items start
    height auto
    +after()
      display none
    +media-max(s)
      padding-top 0
    &__title
      $font-2xl-uppercase()
      text-align left
      color var(--color-text)
    &__image
      display none
    &__list
      position static
      height auto
      max-height none
      padding 0
      border none
      opacity 1
      pointer-events auto
      translate 0 0
    &__item
      padding-inline 0
    &__menu-name
      display none
    &--dentistry 
      &::before
        content none

  // &.swiper-slide
  //   +media(s)
  //     height auto
