include /blocks/form-input/form-input

mixin categoryDirection(item)
  - const tag = item.href ? 'a' : 'div'
  #{tag}(href= item.href).category-direction&attributes(attributes)
    .category-direction__title !{item.name}
    if item.list
      .category-direction__menu.form-input.form-input--select
        .category-direction__menu-name.form-input__current Виды услуг
        +menuList(item.list, 'category-direction').form-input__options
    +img({
      name: item.image,
      path: imagesPath || '/images/',
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
      ]
    }).category-direction__image
