.emtone-comparison
  &__image
    max-width 372px
    width 100%
    margin-bottom 32px
    +media-max(m)
      margin-bottom 16px
  &__item-title
    $font-m-bold()
    margin-bottom 16px
    text-align center
  &__header
    h2 + p
      max-width 690px
      margin-top 8px
      margin-x auto
      text-transform uppercase
