.search-result
  padding var(--gap)
  background-color var(--color-mark-light)
  border-radius var(--border-radius-m)
  .accessibility-mode &
    background-color transparent
    border var(--border)
    border-radius 0
