.home-staff
  isolation isolate
  color var(--color-mark)
  &__select
    z-index 2
    width 342px
    margin-x auto
  &__slide.slide
    display grid
    grid-template-areas 'image' 'name' 'description' 'button'
    grid-template-rows min-content auto 1fr auto
    justify-items center
    justify-content center
    align-content start
    text-align center
    +media-max(s)
      grid-template-columns @css{ max(62vw, 360px - var(--gap)) }
  &__image
    grid-area image
    width 220px
    height 220px
    object-fit cover
    object-position center top
    border-radius var(--border-radius-50)
    +media(s)
      justify-self center
      width 27.5vw
      height 27.5vw
    +media(m)
      justify-self center
      width @css{ min(20.5vw, 320px) }
      height @css{ min(20.5vw, 320px) }
  &__inner
    text-decoration none
    +hover()
      & ^[0]__name
      & ^[0]__description
        color var(--link-color-hover)
        transition-duration var(--transition-duration-in)
  &__name
    $font-m-uppercase()
    grid-area name
    margin-top 36px
    text-decoration none
    transition color var(--transition-duration-out)
    +media(s)
      $font-xl-uppercase()
      align-self end
    +media(m)
      $font-2xl-uppercase()
  &__description
    grid-area description
    margin-top 24px
    transition color var(--transition-duration-out)
    +media(s)
      align-self start
    +media(m)
      $font-l()
    .p, p:not([class])
      font-size 1em
  &__button
    grid-area button
    align-self start
    margin-top 24px
  .slider
    --swiper-pagination-color var(--color-mark)
    --swiper-pagination-bullet-inactive-color var(--color-mark)
    --swiper-pagination-bullet-inactive-opacity .3
    content-visibility auto
    contain-intrinsic-size 800px
    +media(s)
      padding-bottom 72px
    &__wrapper
      display grid
      grid-auto-flow column
      justify-content start
    &__pagination
      display block
      margin-x auto
      translate 50% 0
      +media(s)
        display none
    &__arrow
      top auto
      bottom 0
      transform none
      +media-max(s)
        display none
      &--prev
        --arrow-before-rotate 180deg
        right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
        left auto
      &--next
        --arrow-before-rotate 0
        left calc(@css{ min(100vw, var(--content-width)) } / 2)
        right auto
      &::before
        mask(arrow)
        height 24px
