.accessibility-mode .home-staff
  &__slide
    grid-template-columns auto
    grid-template-areas 'image' 'name' 'description' 'button'
    grid-template-rows repeat(4, auto)
    justify-content center
    justify-items center
    padding var(--gap)
    color var(--color-text)
    border var(--border)
  &__description:empty
    display none
    & + .home-staff__button
      grid-area description
  &__button
    margin-top 0
  &__image
    justify-self start
    border-radius 0
    width auto
    height auto
    +media-max(s)
      justify-self center
  .slider
    &__arrow
      display none
    &__wrapper
      display grid
      grid-auto-flow row
      gap var(--gap)
      +media(s)
        grid-template-columns repeat(2, 1fr)
      +media(l)
        grid-template-columns repeat(3, 1fr)
.accessibility-mode--font-size--large .home-staff
  .slider
    &__wrapper
      +media(l)
        grid-template-columns repeat(2, 1fr)
