h4, .h4
  $font-s-uppercase()
  +media(s)
    $font-xl-uppercase()
  +media(m)
    $font-2xl-uppercase()
:is(h1, .h1) + :is(h4, .h4)
  margin-top 22px
:is(h2, .h2) + :is(h4, .h4)
  margin-top 12px
:is(h3, .h3) + :is(h4, .h4)
  margin-top 3px
