.banner-types-caries
  &__list
    list-style none
    counter-reset types
  &__title
    counter-increment types
    position relative
    margin-top 16px
    padding-top 36px
    padding-left 22px
    &::before
      content counter(types)
      position absolute
      top 0
      left 0
      width 22px
      height 22px
      padding-left 1px
      font-weight bold
      line-height 22px
      text-align center
      border 1px solid
      border-radius 11px
    &::after
      content ''
      position absolute
      top 11px
      left 22px
      right 0
      height 1px
      background-color #fff
  .accessibility-mode &
    &__title
      padding-top 0
      padding-left 0
      &::before
        content counter(types)'. '
        position static
        width auto
        height auto
        padding-left 0
        font-weight normal
        line-height inherit
        text-align lefy
        border none
      &::after
        content none
