+pageSection({ backgroundColor: [ true, 'dark' ] }).banner-types-caries
  +pageSubsection({ tag: 'h2' }).text-align--center Виды кариеса
  +pageSubsection({ tag: 'ol' })(class= grid({ justify: 'center' })).banner-types-caries__list
    -
      const list = [ 'Стадия пятна', 'Поверхностный кариес', 'Средний и глубокий', 'Пульпит', 'Периодонтит' ]
    each item, i in list
      +cell({ tag: 'li', m: 2, s: 6, xs: 8 }).banner-types-caries__type
        +img({
          name: `type-${i + 1}`,
          path: '/images/landings/lechenie-kariesa/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ]
        })(alt= item).banner-types-caries__image
        .banner-types-caries__title !{item}
