.home-reasons
  padding-bottom 30px
  +media(s)
    position relative
    isolation isolate
    padding-y 0
  &--dentistry
    & ^[0]__name
      width 80%
      +media(m)
        width 100%
  &__title
    padding-bottom 30px
    +media(s)
      position absolute
      top 30px
      left 0
      z-index 2
      width 100%
      text-align center
    +media(m)
      top 69px
  &__slide.slide
    isolation isolate
    display grid
    grid-template-columns 100vw
    grid-template-rows auto min-content 1fr auto auto
    +media-max(s)
      justify-content center
      justify-items center
      padding-bottom 26px
      text-align center
    +media(s)
      grid-template-rows 87px @css{ min(22vw, 352px) } min-content @css{ min(9.25vw, 148px) }
      grid-template-columns 1fr repeat(2, @css{ min(calc(50vw - var(--base-padding) * 3), calc(var(--content-width) / 2 - var(--base-padding))) }) 1fr
      column-gap var(--gap)
    +media(m)
      grid-template-rows auto @css{ min(22vw, 352px) } min-content @css{ min(9.25vw, 148px) }
    +before()
      grid-column 1/-1
      grid-row 2/-4
      width 100%
      background-image linear-gradient(transparent, var(--color-mark))
      +media(s)
        grid-row 2/-1
  &__image
    z-index -1
    grid-column 1/-1
    grid-row 1/-4
    width 100%
    +media(s)
      grid-row 1/-1
    +media-interval(s, m)
      height 100%
      object-fit cover
  &__name
    $font-m-uppercase()
    grid-column 1/-1
    grid-row 2/3
    align-self end
    width min-content
    padding-top 16px
    +media(s)
      grid-column 2/3
      $font-2xl-uppercase()
    +media(m)
      $font-5xl-uppercase()
  &__description
    grid-column 1/-1
    grid-row 3/5
    +media-max(s)
      margin-top 24px
      padding-inline 20px
    +media(s)
      grid-column 3/4
      grid-row 2/4
      align-self end
    +media(m)
      $font-xl()
  &__button
    grid-column 1/-1
    grid-row 5/6
    height min-content
    margin-top var(--gap)
    +media(s)
      grid-column 2
      grid-row 3/4
  .slider
    &__wrapper
      display grid
      grid-auto-flow column
    &__arrow
      --arrow-color var(--color-white)
      --arrow-size 40px
      --arrow-position calc(var(--arrow-size) / 2)
      bottom @css{ min(42px, 2.625vw) }
      +media-max(s)
        display none
      &--prev
        --arrow-before-rotate 180deg
        top auto
        +media-interval(s, m)
          left calc(50vw - var(--arrow-size) - var(--base-padding))
        +media(m)
          left @css{ max(var(--gap), calc((100vw - var(--content-width)) / 2) + var(--base-padding)) }
      &--next
        --arrow-before-rotate 0
        top auto
        +media-interval(s, m)
          right calc(50vw - var(--arrow-size) - var(--base-padding))
        +media(m)
          left calc(@css{ max(var(--gap), calc((100vw - var(--content-width)) / 2) + var(--base-padding)) } + var(--gap) + var(--arrow-size))
      &::before
        mask(arrow)
        width 100%
        height 100%
    &__pagination
      +media(s)
        display none
  .accessibility-mode &
    --color-text var(--color-text)
    color var(--color-text)
    background-color var(--color-background)
    &__title
      position relative
      height auto
      margin-bottom var(--page-subsection-margin-top)
      color var(--color-text)
      &::before
        content none
    &__slider
      max-width var(--content-width)
    &__slide
      width 100%
      grid-template-columns auto
      grid-template-rows min-content min-content
      gap var(--gap)
      &::before
        content none
    &__name
      grid-column 1/-1
      grid-row 1
      width auto
    &__description
      grid-column 1/-1
      grid-row 2
    &__image
      display none
    .slider__wrapper
      display grid
      gap var(--page-subsection-margin-top)
      grid-template-columns auto
      justify-items center
      grid-auto-flow row
    .slide + .slide
      padding-top var(--page-subsection-margin-top)
      border-top 1px solid
    .slider__arrow
      display none
    &__button
      grid-column 1
