@import '../../../node_modules/swiper/swiper-bundle.min.css'

:root
  --slider-padding-x calc(var(--arrow-size) + var(--base-padding))
  --slider-pagination-item-background-color var(--color-mark)

.slider
  --arrow-position var(--base-padding)
  --arrow-size 48px
  position relative
  isolation isolate
  background-color inherit
  +media(m)
    --arrow-position 0
    padding-x var(--slider-padding-x)
  &--full-width
    --slider-padding-x 0
    width 100%
  &__slides
    position static
  &__arrow
    --arrow-color var(--color-mark)
    --arrow-transition-duration var(--transition-duration-out)
    position absolute
    top 50%
    z-index 100
    display flex
    justify-content center
    align-items center
    width var(--arrow-width, var(--arrow-size))
    height var(--arrow-height, var(--arrow-size))
    cursor pointer
    transform translateY(-50%)
    +hover()
      --arrow-color var(--color-hover)
      --arrow-transition-duration var(--transition-duration-in)
      background-color var(--color-button)
      transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-button-active)
      border-color var(--color-button-active)
    &::before
      content ''
      width 24px
      height 9px
      background-color var(--arrow-color)
      mask(drop-down)
      transition background-color var(--arrow-transition-duration)
      rotate var(--arrow-before-rotate)
    &--prev
      --arrow-before-rotate 90deg
      left var(--arrow-position)
    &--next
      --arrow-before-rotate 270deg
      right var(--arrow-position)
    &--disabled
    &--disabled:hover
    &--disabled:active
      --arrow-color var(--color-border)
      opacity .5
      cursor default
      pointer-events none
    &--lock
      display none
  &__pagination
    display flex
    gap .325rem
    justify-content center
    align-items center
    margin-top var(--base-padding)
    &--lock
      display none
  &__pagination-item
    position relative
    display block
    flex-shrink 0
    bottom unset
    width .375rem
    height .375rem
    background-color var(--slider-pagination-item-background-color)
    opacity .3
    border-radius var(--border-radius-50)
    &--active
      width .625rem
      height .625rem
      opacity 1
  &__caption
    margin-top var(--base-padding)
    width calc(100% - (var(--gap) * 2 + var(--arrow-size) * 2))
