mixin slider(settings = {}, caption)
  -
    const tag = settings.tag || 'div';
    const pagination = settings.pagination !== undefined ? settings.pagination : true;
    const arrows = settings.arrows !== undefined ? settings.arrows : true
    let additional;
    if (caption) settings.captioned = true
    delete settings.pagination;
  mixin sliderAdd(key)
    - additional = block
  #{tag}(class= classes('slider', settings))&attributes(attributes)
    .slider__slides.swiper
      .slider__wrapper.swiper-wrapper
        block
      if arrows
        .slider__arrow.slider__arrow--prev
        .slider__arrow.slider__arrow--next
      if pagination
        .slider__pagination
    if caption
      .slider__caption !{caption}
    if additional
      - additional()
mixin slide(settings = {})
  - const tag = settings.tag || 'div'
  #{tag}(class = classes('slide', settings)).swiper-slide&attributes(attributes)
    block
