.home-important
  --slider-pagination-item-background-color var(--color-white)
  content-visibility auto
  contain-intrinsic-size 800px
  html:not(.accessibility-mode) &
    background-color var(--color-hover)
  .slider
    &__pagination
      margin-top var(--gap)
      &:has(:only-child)
        display none
    &__wrapper
      display grid
      grid-auto-flow column
  &__slider
    max-width 85vw
    margin-x auto
  &__slide
    padding var(--base-padding) calc(var(--base-padding) * 3)
    text-align center
    border 1px solid
    border-radius var(--border-radius-m)
    &.swiper-slide
      display flex
      justify-content center
      align-items center
  .accessibility-mode &
    --color-text var(--color-text)
    color var(--color-text)
    background-color var(--color-background)
    &__title
      position relative
      height auto
      margin-bottom var(--page-subsection-margin-top)
      color var(--color-text)
      &::before
        content none
    &__slider
      max-width var(--content-width)
    .slider__wrapper
      display grid
      gap var(--page-subsection-margin-top)
      grid-template-columns auto
      justify-items center
      grid-auto-flow row
      +media(s)
        grid-template-columns repeat(2, 1fr)
      +media(m)
        grid-template-columns repeat(4, 1fr)
    .slider__arrow
      display none
    &__button
      grid-column 1
