mixin pricesTable(prices)
  each item in prices
    .prices-table(data-direction=item.direction)&attributes(attributes)
      .prices-table__title !{item.header}
      .prices-table__inner
        each row in item.rows
          .prices-table__row
            .prices-table__cell !{row.title}
            .prices-table__cell !{row.price}
