.prices-table
  display grid
  grid-template-rows min-content 0fr
  overflow-x auto
  & + &
    margin-top 22px
  &__title
    position relative
    $font-m()
    font-weight 500
    padding 16px
    padding-right 60px
    +media(s)
      $font-l()
    +before()
      position absolute
  &__inner
    overflow-y hidden
  &__row
    display flex
    flex-wrap wrap
    row-gap 16px
    padding var(--base-padding)
    +media-max(s)
      flex-direction column
  &__cell
    flex-basis 25%
    &:not(:first-child)
      white-space nowrap
    &:first-child
      flex-grow 1
      margin-right auto
