:root
  --price-title-svg-after-scale 1

.prices-table
  transition-property grid-template-rows
  transition-duration var(--transition-duration-out)
  &--active
    --price-title-svg-after-scale -1
    grid-template-rows min-content 1fr
    transition-duration var(--transition-duration-in)
  &__title
    cursor pointer
    background-color var(--color-mark-light)
    border-radius var(--border-radius-m)
    +before()
      right var(--base-padding)
      top 43%
      display block
      width 24px
      height 9px
      background-color var(--color-mark)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--price-title-svg-after-scale)
  &__row
    column-gap var(--gap)
    background-color var(--row-background-color)
    border-radius var(--border-radius-m)
    &:nth-child(odd)
      --row-background-color var(--color-white)
    &:nth-child(even)
      --row-background-color var(--color-mark-light) 
  &__cell
    &:not(:first-child)
      +media(s)
        text-align center
  &__load-more
    display inline-block
    margin-left var(--base-padding)
    margin-top calc(var(--base-padding) / 2)
    padding 0
    $font-m()
    font-weight 500
    color var(--link-color)
    text-decoration underline
    background-color transparent
    border none
    appearance none
    transition color var(--transition-duration-out)
    text-decoration-style dotted
    +hover()
      color var(--link-color-hover)
      transition-duration var(--transition-duration-in)
  .accessibility-mode &
    &__title
    &__row
      background-color transparent
    &__title
      +before()
        background-color var(--color-text)
    &__load-more
      color var(--color-text)
