extends /blocks/layout/layout

include /blocks/img/img
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked
include /blocks/link-icon/link-icon
include /blocks/button/button
include /blocks/form-input/form-input
include /blocks/switch/switch

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  include /data/footer
block content
  +pageSection
    +h1 Заголовок первого уровня
    +h2 Заголовок второго уровня
    +h3 Заголовок третьего уровня
    +h4 Заголовок четвёртого уровня
    +p({ size: 'l' })  #[strong Наборный шрифт 1:] График функции относительно отражает хлоридно-гидрокарбонатный критерий сходимости Коши. Бактерия, в пределах Молого-Шекснинской, Нерльской и Мещерской низменностей, систематически аккумулирует интрузивный бур, образуя на границе с Западно-Карельским поднятием своеобразную систему грабенов.
    +p({ size: 'l' }) Теорема Гаусса - Остроградского покрывает несовершенный тройной интеграл.
    +p #[strong Наборный шрифт 2:] Умножение двух векторов (скалярное) непредсказуемо. Шток, которая в настоящее время находится ниже уровня моря, отталкивает железистый кварц.
    +p Гумус проецирует палеокриогенный риолит. Кротовина складчата. Оледенение, как следует из вышесказанного, разновозрастно. Денситомер, в сочетании с традиционными агротехническими приемами, подпитывает флювиогляциальный водоупор, что неудивительно.
    +p({ size: 's' }) #[strong Наборный шрифт 3:] Трещина нейтрализует многомерный гистерезис ОГХ, явно демонстрируя всю чушь вышесказанного. Антиклиналь, формируя аномальные геохимические ряды, стремится к нулю. Колонны могут образоваться после того, как вектор изменяет лимногляциальный комплекс.
    +p({ size: 's' }) Оглинивание непредсказуемо. Измерение, а также в преимущественно песчаных и песчано-глинистых отложениях верхней и средней юры, отражает лёсс. Складчатость и надвигание свидетельствуют о том, что достаточное условие сходимости не критично.
    +ul
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ul({ size: 'l' })
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ul({ size: 's' })
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ol
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ol({ size: 'l' })
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ol({ size: 's' })
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +p: strong Выделение фразы внутри текста тегом #{'<strong>'}
    +textMarked({  }) Выделенный текст, обычный
    +textMarked({ type: 'bold' }) Выделенный текст, обычный, жирный
    +textMarked({ type: 'uppercase' }) Выделенный текст, обычный, все заглавные
    +textMarked({ size: 'l' }) Выделенный текст, большой
    +textMarked({ size: 'l', type: 'bold' }) Выделенный текст, большой, жирный
    +textMarked({ size: 'l', type: 'uppercase' }) Выделенный текст, большой, все заглавные
    +h1 Заголовок первого уровня
    +p Конечно, нельзя не принять во внимание тот факт, что Наибольший Общий Делитель (НОД) непредвзято отражает сублимированный гироскопический стабилизатоор.
    +h2 Заголовок второго уровня
    +p Фонон порождает конструктивный интеграл от переменной величины, отмечает Б.Рассел.
    +h3 Заголовок третьего уровня
    +p Аргумент перигелия, даже при наличии сильных аттракторов, начинает электронный экстремум функции.
    +h4 Заголовок четвёртого уровня
    +p Под воздействием переменного напряжения окислитель выбирает законодательный символизм.
    +p({ size: 'l' }) Абзац, набранный первым наборным шрифтом. 
    +p Абзац, набранный вторым наборным шрифтом. Высота строки 24 px, значит, отступ сверху 24 px.
    +p({ size: 'l' }) Абзац, набранный первым наборным шрифтом. Высота строки 27 px, значит, отступ сверху 27 px.
    +p({ size: 's' }) Абзац, набранный третьим наборным шрифтом. Высота строки 21 px, значит, отступ сверху 21 px.
    +p Абзац, набранный вторым наборным шрифтом. Высота строки 24 px, значит, отступ сверху 24 px. После абзаца идёт список, также  набранный вторым наборным шрифтом, и связанный с абзацем по смыслу. У списка отступ сверху 4px:
    +ul({ wPrevP: true })
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +p Абзац, набранный вторым наборным шрифтом. Высота строки 24 px, значит, отступ сверху 24 px. После абзаца идёт список, также  набранный вторым наборным шрифтом, не связанный с абзацем по смыслу. У такого списка отступ сверху 24px.
    +ol
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +p Блоки выделенного текста отделяются отступами, равными размеру шрифта. Большой выделенный текст:
    +textMarked({ size: 'l' }) Выделенный текст, большой
    +p Обычный выделенный текст:
    +textMarked Выделенный текст, обычный
    +p Если подряд идёт два блока выделенного текста, то отступ между ними равен большему размеру шрифта:
    +textMarked({ size: 'l' }) Выделенный текст, большой
    +textMarked Выделенный текст, обычный
  +pageSection()
    +grid().p
      a(href='/') внешняя ссылка
      a(href='#') внутренняя ссылка
    +grid().p
      +linkIcon({ icon: 'telegram' })(href='#')
      +linkIcon({ icon: 'youtube' })(href='#')
      +linkIcon({ icon: 'vk' })(href='#')
      +linkIcon({ icon: 'tiktok' })(href='#')
  +pageSection(): +grid({alignItems: 'center'})
    +grid(style='--gap: 20px')
      +button() Кнопка
      +button({ icon: [ 'default' ] }) Кнопка
      +button({ icon: [ 'default', 'right' ] }) Кнопка
      +button({ icon: [ 'default', 'right' ] })
      +button({ disabled: true })(disabled) Кнопка
    +grid(style='--gap: 20px')
      +button({ size: 'small' }) Кнопка
      +button({ icon: [ 'default' ], size: 'small' }) Кнопка
      +button({ icon: [ 'default', 'right' ], size: 'small' }) Кнопка
      +button({ icon: [ 'default', 'right' ], size: 'small' })
      +button({ disabled: true, size: 'small' })(disabled) Кнопка
    +grid(style='--gap: 20px')
      +button({ secondary: true }) Кнопка
      +button({ icon: [ 'default' ], secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], secondary: true })
      +button({ disabled: true, secondary: true })(disabled) Кнопка
    +grid(style='--gap: 20px')
      +button({ size: 'small', secondary: true }) Кнопка
      +button({ icon: [ 'default' ], size: 'small', secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], size: 'small', secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], size: 'small', secondary: true })
      +button({ disabled: true, secondary: true, size: 'small' })(disabled) Кнопка
  +pageSection(): +grid({alignItems: 'center'})
    +cell({ l: 1 }): +switch({ required: true }) Чекбокс
    +cell({ l: 1 }): +switch({ type: 'radio', required: true }) Радио
    +cell({ l: 1 }): +switch({ required: true, checked: true }) Чекбокс
    +cell({ l: 1 }): +switch({ type: 'radio', required: true, checked: true }) Радио
    +cell({ l: 1 }): +switch({ required: true, disabled: true }) Чекбокс
    +cell({ l: 1 }): +switch({ type: 'radio', required: true, disabled: true }) Радио
    +cell({ l: 1 }): +switch({ required: true, disabled: true, checked: true }) Чекбокс
    +cell({ l: 1 }): +switch({ type: 'radio', required: true, disabled: true, checked: true }) Радио
  +pageSection(): +grid({alignItems: 'center'})
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', required: true })
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', error: true })
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', disabled: true })
    +cell({ l: 3 }): +formInput({ type: 'select', placeholder: 'Селект', label: 'Селект', options: [
        { name: 'Option 1', value: '1' },
        { name: 'Option 2', value: '2' },
        { name: 'Option 3', value: '3' },
        { name: 'Option 4', value: '4' },
        { name: 'Option 5', value: '5' },
        { name: 'Option 6', value: '6' },
        { name: 'Option 7', value: '7' },
        { name: 'Option 8', value: '8' },
        { name: 'Option 9', value: '9' },
      ] })
    +cell({ l: 3 }): +formInput({ type: 'textarea', placeholder: 'Текстовое поле', required: true })
  +pageSection(): +grid({alignItems: 'center'})
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', secondary: true, required: true })
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', secondary: true, error: true })
    +cell({ l: 3 }): +formInput({ type: 'text', placeholder: 'Текстовое поле', secondary: true, disabled: true })
    +cell({ l: 3 }): +formInput({ type: 'select', placeholder: 'Селект', label: 'Селект', secondary: true, options: [
        { name: 'Option 1', value: '1' },
        { name: 'Option 2', value: '2' },
        { name: 'Option 3', value: '3' },
        { name: 'Option 4', value: '4' },
        { name: 'Option 5', value: '5' },
        { name: 'Option 6', value: '6' },
        { name: 'Option 7', value: '7' },
        { name: 'Option 8', value: '8' },
        { name: 'Option 9', value: '9' },
      ] })
    +cell({ l: 3 }): +formInput({ type: 'textarea', placeholder: 'Текстовое поле', secondary: true, required: true })
  +pageSection({ backgroundColor: [true, 'dark'] }) Секция с тёмным фоновым цветом. Между секциями со сплошным фоновым цветом нет отступов.
  +pageSection({ backgroundColor: [true, 'light'] }) Секция с лёгким фоновым цветом. Между секциями со сплошным фоновым цветом нет отступов.
  +pageSection({ gradient: [true, 'to-top'] }) Секция с градиентной заливкой сверху вниз
  +pageSection({ gradient: [true, 'to-bottom'] }) Секция с градиентной заливкой снизу вверх
  +pageSection({ gradient: [true, 'to-bottom'] }) Секция с градиентной заливкой снизу вверх
  +pageSection({ gradient: [true, 'to-top'] }) Секция с градиентной заливкой сверху вниз
  +pageSection({ backgroundColor: [true, 'dark'] })
    p На тёмном фоне меняются цвета элементов и некоторые правила типографики.
    p Цвет основного текста — #[strong #eeeeee].
    p(style='color: var(--color-text-secondary-inverted)') Цвет второстепенного текста — #[strong #eeeeee] с непрозрачностью #[strong 75%].
    p Для #[strong выделения текста] используется цвет лёгкого выделения #f5f8f6 и среднее начертание шрифта вместо жирного.
    p Фоновый цвет #045658 (Основное выделение) меняется в блоках на #ffffff.
    p Цвету заблокированных элементов #cccccc добавляется 50% прозрачность.
    +grid().p
      a(href='/') внешняя ссылка
      a(href='#') внутренняя ссылка
    +grid().p
      +linkIcon({ icon: 'telegram' })(href='#')
      +linkIcon({ icon: 'youtube' })(href='#')
      +linkIcon({ icon: 'vk' })(href='#')
      +linkIcon({ icon: 'tiktok' })(href='#')
    +grid(style='--gap: 20px').p
      +button() Кнопка
      +button({ icon: [ 'default' ] }) Кнопка
      +button({ icon: [ 'default', 'right' ] }) Кнопка
      +button({ icon: [ 'default', 'right' ] })
      +button({ disabled: true })(disabled) Кнопка
    +grid(style='--gap: 20px').p
      +button({ secondary: true }) Кнопка
      +button({ icon: [ 'default' ], secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], secondary: true }) Кнопка
      +button({ icon: [ 'default', 'right' ], secondary: true })
      +button({ disabled: true, secondary: true })(disabled) Кнопка
    +h1 Заголовок первого уровня
    +h2 Заголовок второго уровня
    +h3 Заголовок третьего уровня
    +h4 Заголовок четвёртого уровня
    +p #[strong Наборный шрифт 2:] Умножение двух векторов (скалярное) непредсказуемо. Шток, которая в настоящее время находится ниже уровня моря, отталкивает железистый кварц.
    +p Гумус проецирует палеокриогенный риолит. Кротовина складчата. Оледенение, как следует из вышесказанного, разновозрастно. Денситомер, в сочетании с традиционными агротехническими приемами, подпитывает флювиогляциальный водоупор, что неудивительно.
    +ul
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
    +ol
      +li Элемент 1
      +li Элемент 2
      +li Элемент 3
      +li Элемент 4
