:root
  --button-padding 9px 32px 10px
  --button-color var(--color-background)
  --button-color-disabled var(--color-background)
  --button-color-secondary var(--color-text)
  --button-color-secondary-disabled var(--color-locked)
  --button-background-color var(--color-mark)
  --button-background-color-hover var(--color-hover)
  --button-background-color-disabled var(--color-locked)
  --button-background-color-secondary var(--color-background)
  --button-background-color-secondary-hover var(--color-mark-light)
  --button-background-color-secondary-disabled var(--color-background)
  --button-border-color var(--button-background-color)
  --button-border-color-hover var(--button-background-color-hover)
  --button-border-color-disabled var(--color-locked)
  --button-border-color-secondary var(--color-mark)
  --button-border-radius var(--border-radius-50)
  --button-transition-duration var(--transition-duration-out)
  --button-before-order 0
  +media(s)
    --button-padding 15px 32px 16px

.accessibility-mode
  --button-color var(--color-background)
  --button-color-disabled var(--color-background)
  --button-color-secondary var(--color-text)
  --button-color-secondary-disabled var(--color-locked)
  --button-background-color var(--color-text)
  --button-background-color-hover var(--color-hover)
  --button-background-color-disabled var(--color-locked)
  --button-background-color-secondary var(--color-background)
  --button-background-color-secondary-hover var(--color-background)
  --button-background-color-secondary-disabled var(--color-background)
  --button-border-color-secondary var(--color-text)
.button
  $font-s()
  --link-color-hover var(--button-color)
  appearance none
  display block
  width fit-content
  padding var(--button-padding)
  font-weight 500
  text-align center
  text-decoration none
  color var(--button-color)
  background-color var(--button-background-color)
  border 1px solid var(--button-border-color)
  border-radius var(--button-border-radius)
  transition background-color, border
  transition-duration var(--button-transition-duration)
  +media(s)
    $font-l()
  +hover()
    --button-background-color var(--button-background-color-hover)
    --button-border-color var(--button-border-color-hover)
    --button-transition-duration var(--transition-duration-in)
  &--icon
    display flex
    align-items center
    gap 16px
    --button-padding 13px 32px
    &::before
      content ''
      order var(--button-before-order)
      width 32px
      height 32px
      background-color var(--button-color)
      mask-image var(--before-mask-image)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transition background-color var(--button-transition-duration)
    &--right
      --button-before-order 1
    $icons = 'default', 'telegram', 'tiktok', 'vk', 'youtube', 'dots'
    for $icon in $icons
      &--{$icon}
        --before-mask-image maskImage($icon, button)
  &--size--small
    --button-padding 6px 32px 6px
  &--secondary
    --button-color var(--button-color-secondary)
    --button-color-disabled var(--button-color-secondary-disabled)
    --button-background-color var(--button-background-color-secondary)
    --button-background-color-hover var(--button-background-color-secondary-hover)
    --button-background-color-disabled var(--button-background-color-secondary-disabled)
    --button-border-color var(--button-border-color-secondary)
    --link-color var(--button-color-secondary)
    --link-color-hover var(--button-color-secondary)
  &--disabled
    --button-color var(--button-color-disabled)
    --button-background-color var(--button-background-color-disabled)
    --button-background-color-hover var(--button-background-color-disabled)
    --button-border-color var(--button-border-color-disabled)
    --button-border-color-hover var(--button-border-color-disabled)
    cursor default
  &.grid__cell
    width var(--grid-cell-width, fit-content)
