mixin button(settings = {})

  -
    const tag = settings.tag || 'button'
    if (tag === 'button')
      attributes.type = attributes.type || 'button'
    if (settings.icon)
      settings.icon = [ true, settings.icon ]
  #{tag}(class=classes('button', settings))&attributes(attributes): block
