.footer-gallery
  --image-filter none
  --image-scale 1
  --image-transition-duration var(--transition-duration-out)
  +media-max(s)
    position relative
    isolation isolate
    padding-top 0
    padding-bottom 0
  &__grid
    display none
    content-visibility auto
    contain-intrinsic-size 800px
    +media(s)
      display grid
      grid-template-columns repeat(5, 1fr)
      grid-template-rows repeat(2, 1fr)
      grid-gap var(--gap)
  &__video
    position relative
    isolation isolate
    grid-column 1/3
    grid-row 1/3
    overflow hidden
    +hover()
      --image-filter brightness(.75)
      --image-scale 1.02
      --image-transition-duration var(--transition-duration-in)
    +before()
      position absolute
      top 50%
      left 50%
      z-index 2
      width 120px
      height 120px
      border 4px solid var(--color-background)
      border-radius var(--border-radius-50)
      translate -50% -50%
    +after()
      position absolute
      top 50%
      left 50%
      z-index 2
      width 60px
      height 70px
      background-image linear-gradient(to right top, var(--color-background) 50%, transparent 50%), linear-gradient(to right bottom, var(--color-background) 50%, transparent 50%)
      background-repeat no-repeat
      background-position top, bottom
      background-size 100% 50%
      translate -40% -50%
  &__item
    display flex
    overflow hidden
    aspect-ratio 1
    opacity 0
    pointer-events none
    transition opacity var(--transition-duration-out)
    +hover()
      --image-filter brightness(.75)
      --image-scale 1.02
      --image-transition-duration var(--transition-duration-in)
    &:nth-child(6n - 4)
      grid-column 3/4
      grid-row 1/2
    &:nth-child(6n - 3)
      grid-column 4/5
      grid-row 1/2
    &:nth-child(6n - 2)
      grid-column 5/6
      grid-row 1/2
    &:nth-child(6n - 1)
      grid-column 3/4
      grid-row 2/3
    &:nth-child(6n)
      grid-column 4/5
      grid-row 2/3
    &:nth-child(6n + 1)
      grid-column 5/6
      grid-row 2/3
    &--active
      opacity 1
      pointer-events auto
  &__image
    width 100%
    height 100%
    object-fit cover
    filter var(--image-filter)
    scale var(--image-scale)
    transition-property filter, scale
    transition-duration var(--image-transition-duration)
  &__slider
    max-width 100%
    &:not(&--active) *
      +media(s)
        display none
    +media-max(s)
      max-height calc(100vh - var(--header-height))
      padding 0
    +media(s)
      --arrow-height calc(100% - var(--gap) * 2)
      inset 0
      z-index 1001
      opacity 0
      scale 1.02
      pointer-events none
      transition-property opacity, scale
      transition-duration var(--transition-duration-out)
    &.slider
      +media(s)
        position fixed
        display flex
        top 0
        background-color rgba(0, 0, 0, .5)
        backdrop-filter var(--blur-4)
    &--active
      +media(s)
        opacity 1
        scale 1
        pointer-events auto

  &__slide
    &.slide
      display flex
      justify-content center
      align-items center
    +media-max(s)
      height 100%
      padding 0
    +media(s)
      max-height 100vh
      padding-y var(--gap)
    img
      width auto
      max-width 100%
      height auto
      max-height 100%
      object-fit contain
      object-position center
    .iframe-responsive
      width 100%
      height auto
      max-height 100%
      margin-bottom 0
      +media-max(s)
        height 100%
      &__iframe
        +media-max(s)
          height 100%
  &__slider-close
    position absolute
    top var(--gap)
    right calc(var(--gap) * 2)
    z-index 2
    display flex
    justify-content center
    align-items center
    width var(--arrow-size)
    height var(--gap)
    padding 0
    appearance none
    background-color transparent
    border none
    +before()
      mask(cross)
      width 24px
      height 24px
      background-color var(--before-background-color, var(--color-mark-light))
    +hover()
      --before-background-color var(--color-mark-medium)
      background-color rgba(0, 0, 0, .5)
    +media-max(s)
      display none
  .slider__arrow
    +hover()
      background-color rgba(0, 0, 0, .125)
    +media-max(s)
      --arrow-color var(--color-white)
    &--next
      --arrow-before-rotate 0
    &--prev
      --arrow-before-rotate 180deg
    &::before
      mask(arrow)
      height 24px
  .slider__pagination
    +media-max(s)
      display none
  .slider__wrapper
    display grid
    grid-auto-flow column
  &__slider-title
    $font-l-uppercase()
    position absolute
    top 0
    z-index 2
    width 100%
    height 190px
    padding 24px var(--gap)
    text-align center
    background-image linear-gradient(to top, transparent 0%, #045658 100%)
    +media(s)
      display none
