include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/slider/slider
include /blocks/iframe-responsive/iframe-responsive

mixin footerGallery
  +pageSection({ noContent: true, backgroundColor: [ true, 'dark' ] }).footer-gallery
    +content.footer-gallery__grid
      a(href='#footer-gallery-slide-1').footer-gallery__video: +img(footerGallery.videoPreview).footer-gallery__image
      - i = 1
      while i <= 16
        a(href=`#footer-gallery-slide-${i+1}`).footer-gallery__item: +img({
          name: `footer-gallery-image-${i}_preview`,
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ],
        }).footer-gallery__image
        - i += 1
    +slider().footer-gallery__slider
      +sliderAdd
        button(type='button').footer-gallery__slider-close
        h2.footer-gallery__slider-title мир medall
      +slide().footer-gallery__slide.footer-gallery__slide--video#footer-gallery-slide-1
        .iframe-responsive
          .iframe-responsive__iframe: #footer-gallery-video(data-video-id='jNQXAC9IVRw')
      - i = 1

      while i <= 16
        +slide()(id=`footer-gallery-slide-${i+1}`).footer-gallery__slide: +img({
          name: `footer-gallery-image-${i}`,
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
        }).footer-gallery__slide-contents
        - i += 1
