.footer-partners
  --color-text var(--color-black)
  &__list
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-gap calc(var(--gap) * 2) var(--gap)
    +media(s)
      display flex
      column-gap var(--gap)
  &__item
    display flex
    align-items center
    justify-content space-between
    +media-max(s)
      flex-direction column
      row-gap 20px
    +media(s)
      column-gap 15px
    +media(m)
      column-gap 30px
    &--association
      --image-size 75px
      flex-shrink 1.375
      +media(s)
        --image-size @css{ min(6.54296875vw, 67px) }
    &--spb-msi
      --image-size 82px
      +media(s)
        --image-size @css{ min(8.203125vw, 84px) }
    &--nobel-biocare
      --image-size 112px
      +media(s)
        --image-size @css{ min(12.6953125vw, 130px) }
    &--kavo
      --image-size 86px
      +media(s)
        --image-size @css{ min(8.984375vw, 92px) }
  &__name
    +media-max(s)
      text-align center
  &__image
    width var(--image-size)
    height auto
    object-fit contain
