include /blocks/page-section/page-section
include /blocks/content/content

mixin footerPartners
  +pageSection({ noContent: true }).footer-partners&attributes(attributes): +content({ tag: 'ul' }).footer-partners__list
    each item in footerPartners || []
      li(class= classes('footer-partners__item', { [item.image.name]: true }))
        +img(item.image)(alt= item.name).footer-partners__image
        .footer-partners__name !{item.name}
