extends /blocks/layout/layout
  
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/button/button
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item
include /blocks/slider/slider
include /blocks/prices/prices-table/prices-table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'prices'
  include /data/prices
  include /data/footer
block content
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }).prices-banner
    +img({
      name: 'prices-banner',
      path: '/images/prices/',
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).prices-banner__image
    h1.prices-banner__title ЦЕНЫ НА УСЛУГИ КЛИНИКИ
    .prices-banner__text Сайт предоставляет справочную информацию для ознакомления  с ценами, аналогично любому рекламному источнику.  Полный прайс-лист смотрите на странице «документы». Итоговая стоимость лечения определяется в зависимости от объёма работы  и устанавливается только после личного осмотра специалистом. Чтобы узнать стоимость услуги для вас, запишитесь на первичную консультацию.
    a(href='#contacts-form').button.prices-banner__button Записаться на консультацию

  +pageSection({ margin:'small' })
    .prices-layout.page-subsection    
      .prices-filters.prices-layout__filters
        +formInput({ type: 'select', name:'direction', label: 'Выберите направление', secondary: true, options: [{ name: '', value: '' }] }).prices-filters__select.prices-filters__select--direction
        +formInput({ type: 'select', name:'service', label: 'Выберите услугу', secondary: true, options: [{ name: '', value: '' }] }).prices-filters__select.prices-filters__select--service
        +formInput({ type: 'text', label: 'Быстрый поиск по ценам' }).prices-filters__search 
      
      .prices-layout__tables  
        +pricesTable(prices).prices-layout__table

      +grid({ justify: 'center' })
        a(href='/' class=cell({ l:2, m:4, s:6, xs:8 })).button.prices-layout__filters-button Показать еще
      
  //- +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }).landing-block
  //-   +content(class= grid({alignItems: 'center'}))
  //-     +cell({ l:7, m:6, s:6 }).landing-block__info
  //-       .landing-block__body
  //-         p Стоимость операции зависит от ее объема и сложности, которые определяются на консультации с врачом, а также от категории и опыта врача — специалиста или ведущего специалиста. Сложность операции зависит от различных факторов: тип операции, состояние пациента, наличие осложнений и требуемое время для выполнения операции. 
  //-         p В данном разделе указана цена без учета анестезии, пребывания в палате, предоперационного исследования и послеоперационного наблюдения.
  //-         p Окончательную стоимость можно узнать только на консультации с хирургом.
  //-         a(href='#contacts-form').button.landing-block__button Записаться на бесплатную консультацию
  //-     +cell({ l:5, m:6, s:6 }).landing-block__image
  //-       +img({
  //-         name: 'landing-prices',
  //-         path: '/images/prices/',
  //-         formats: [
  //-           { ext: 'webp', mime: 'image/webp' },
  //-           { ext: 'jpg', orig: true }
  //-         ],
  //-       })(alt='')
  +pageSection#contacts-form
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' }))
      +cell({ tag: 'form', m:6, s: 8, xs: 12 })(data-is-validate="true" data-is-answer-in-popup="true" data-answer-success="Спасибо за обращение | Наш администратор свяжется с вами в течении часа чтобы согласовать дату и время консультации").form.form-ajax
        +formInput({ type: 'text', name:'name', label: 'ФИО' })(data-validation-required).form__input
        +formInput({ type: 'tel', name:'phone', label: 'Телефон' })(data-validation-required).form__input
        +formInput({ type: 'textarea', name: 'message', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') обработку персональных данных].
        input(type="hidden" name="action" value="")
  //- +pageSection.landing-header.landing-header--image-fullwidth
  //-   +grid({'alignItems': 'center'})
  //-     +cell({ m: 7, s: 6, xs: 12 }).landing-header__info
  //-       h1.landing-header__title Рассрочка
  //-       .landing-header__subtitle Не откладывайте своё здоровье и красоту!
  //-       +button({ tag: 'a' })(href='#contacts-form').landing-header__button Узнать подробнее
  //-     +cell({ m: 5, s: 6, xs: 12 }).landing-header__image
  //-       +img({
  //-         name: 'landing-prices-banner',
  //-         path: '/images/prices/',
  //-         formats: [
  //-           { ext: 'webp', mime: 'image/webp' },
  //-           { ext: 'jpg', orig: true }
  //-         ],
  //-       })(alt='Рассрочка')
  //- +pageSection
  //-   h2 Лицензии
  //-   +grid.page-subsection
  //-     - for (let i = 1; i < 6; i++)
  //-       +cell({ l:2, m:3, s:4, xs:6})
  //-         a(href=`/images/prices/licence-${i}.webp` data-glightbox)
  //-           +img({
  //-             name: `licence-${i}`,
  //-             path: '/images/prices/',
  //-             formats: [
  //-               { ext: 'webp', mime: 'image/webp' },
  //-               { ext: 'jpg', orig: true }
  //-             ],
  //-           })(alt='Лицензии')

  //- +pageSection
  //-   h2 Рейтинги
  //-   +slider().reviews-platforms.page-subsection
  //-     each platform in platforms 
  //-       +slide.reviews-platforms__slide
  //-         a(href= platform.href target='_blank').reviews-platforms__item 
  //-           img(src= platform.image decoding='async' width='60' height='60').reviews-platforms__image
  //-           .reviews-platforms__value !{platform.value}    
  //-           .reviews-platforms__name !{platform.name}
  +pageSection({ noMarginBottom: true })
    p Цены на услуги размещены с ознакомительной целью и не являются публичной офертой. В стоимость операции не входят наркоз, пребывание в палате и анализы. С полным перечнем платных медицинских услуг с указанием цен в рублях можно ознакомиться ниже:
    +grid.p
      +cell({ m:4, s:6 }): a(href='/').prices-item Полный прайс отделеления пластической хирургии
      +cell({ m:4, s:6 }): a(href='/').prices-item Полный прайс отделеления косметологии
      +cell({ m:4, s:6 }): a(href='/').prices-item Полный прайс отделеления стоматологии
