include /blocks/page-section/page-section

mixin bannerMessage
  +pageSection({ backgroundColor: [true, 'dark'], noContent: true, logo: true }).banner-message: +content.banner-message__inner
    +h2.page-section__title.banner-message__title.text-align-center от первого лица
    .banner-message__info
      p Здравствуйте, я генеральный директор MEDALL — Дмитрий Евгеньевич Метелев. За годы работы в сфере эстетической медицины, она открыла для меня новые личные и профессиональные смыслы, о которых я даже и не подозревал 16 лет назад. Когда в 2007 году, я врач-хирург, выпускник Военно-медицинской академии начал развивать направление эстетической медицины, то относился к нему скорее по-предпринимательски, больше как к бьюти-бизнесу, чем как к серьезной отрасли медицины. 
      p Казалось, что косметология, пластическая хирургия и пересадка волос — не настоящие отрасли медицины. Они ничего не лечат, жизни не спасают, пользы здоровью не приносят, а главное в них нет места глобальной миссии врача. Но на этом можно было начать зарабатывать. Внутренний рационалист победил и я запустил это направление. 
      p С годами я сделал вывод: пластическая хирургия — это не стыдно. Стремиться быть красивым и видеть в этом важную часть своей жизни — не стыдно. Пластика действительно помогает людям решить те проблемы, которые они не заслужили, помогает вернуть качество, а часто и смысл жизни.
    .banner-message__name  Метелев Д.Е.
    +img({
      name: 'banner-message',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
      ]
    }).banner-message__image
