.banner-message
  --gradient-direction to top
  --logo-top 87px
  --logo-translate-y 0
  background-image linear-gradient(var(--gradient-direction), #010101 50%, transparent)
  &::after
    +media(s)
      content none
  +media(s)
    --gradient-direction to left
    padding-bottom 0
  &__inner
    isolation isolate
    display grid
    grid-template-rows repeat(3, auto)
    gap var(--gap)
    width 100%
    +media(s)
      grid-template-columns 6fr 2fr 4fr
      grid-template-rows repeat(2, auto) 80px
      gap var(--base-padding) var(--gap)
      padding 0
      padding-left @css{ max(calc((100vw - var(--content-width)) / 2 + var(--base-padding)), var(--base-padding)) }
    +media(m)
      grid-template-columns 7fr 5fr
  &__title
    grid-row 1/2
    +media(s)
      grid-column 1/-1
      grid-row 1/2
      padding-right @css{ max(calc((100vw - var(--content-width))/ 2 + var(--base-padding)),var(--base-padding)) }
  &__info
    $font-xs()
    position relative
    grid-row 3/4
    padding var(--gap)
    border var(--border)
    border-radius var(--border-radius-m)
    +media(s)
      $font-s()
      grid-column 1/3
      grid-row 2/3
      align-self start
    +media(m)
      $font-m()
      grid-column 1/2
    +before()
      mask(quote, main)
      position absolute
      top var(--base-padding)
      left var(--base-padding)
      z-index -1
      width 86px
      height 61px
      background-color var(--color-mark-medium)
      opacity .3
      +media(s)
        width 119px
        height 85px
      +media(m)
        width 140px
        height 99px
  &__image
    grid-column 1/-1
    grid-row 2/3
    justify-self center
    +media-max(s)
      border-radius var(--border-radius-50)
    +media(s)
      z-index -1
      grid-column 2/-1
      grid-row 1/-1
      justify-self end
      align-self end
      //width auto
      //max-width none
    +media(m)
      grid-column 2/-1
  &__name
    grid-column 1/-1
    grid-row 2/3
    justify-self end
    align-self end
    +media(s)
      grid-column -2/-1
      grid-row -2/-1
      justify-self end
      align-self start
      padding-right @css{ max(calc((100vw - var(--content-width)) / 2 + var(--base-padding)), var(--base-padding)) }
  .accessibility-mode &
    background-image none
    &__name
      display none
    &__info
      padding 0
      border none
