include /blocks/page-section/page-section

+pageSection.container: .content
  +grid({ justify: 'center', alignItems: 'center' }).banner-nobel
    +cell({l: 6, m: 8, xs: 12})
      h2.banner-nobel__title Цифровая Стоматология Medall —
      p.banner-nobel__description  официальный партнёр Nobel Biocare
    +cell({l: 2, m: 2, s: 4, xs: 6}): img(src='/images/logo-nobel.png' alt='')
    +cell({l: 2, m: 2, s: 4, xs: 6}): img(src='/images/logo-medall.svg' alt='')
