.banner-nobel
  &__title
    $font-2xl()
    & + .banner-nobel__description
      margin-top 8px
  &__description
    $font-xl()
    color var(--color-mark)
  .accessibility-mode &
    &__description
      color var(--color-text)
