mixin congressProgram(program)
  .congress-program&attributes(attributes)
    .congress-program__title !{program.title}
    .congress-program__table
      each item in program.items
        .congress-program__item
          if item.description
            .congress-program__description !{item.description}
          each speaker in item.speakers
            .congress-program__name !{speaker.name}
            .congress-program__schedule !{speaker.schedule}
