.congress-program
  &__title
    $font-l()
    --color-text var(--color-mark)
    margin-block 14px 25px
    text-align center
    +media(s)
      $font-2xl-bold()
      margin-bottom 40px
    +media(m)
      $font-6xl-bold()
      margin-bottom 50px
  &__table
    --color-text var(--color-mark)
    position relative
    +before()
      position absolute
      inset-block 9px
      left 90px
      width 1px
      background-color var(--color-mark)
      +media(s)
        left 130px
        inset-block 11px
      +media(m)
        left 200px
  &__item
    display grid
    grid-auto-flow row dense
    grid-template-columns 90px 1fr
    column-gap var(--gap)
    +media(s)
      grid-template-columns 130px 1fr
    +media(m)
      grid-template-columns 200px 1fr
    & + &
      margin-top var(--gap)
  &__schedule
    $font-xs-bold()
    position relative
    grid-column 1/2
    text-transform uppercase
    +media(s)
      $font-l-bold()
    +media(m)
      $font-3xl-bold()
    +before()
      position absolute
      top 4px
      right -4.5px
      width 8px
      height 8px
      background-color var(--color-mark)
      border-radius var(--border-radius-50)
      +media(s)
        top 7px
        right -5px
        width 10px
        height 10px
      +media(m)
        top 10px
        right -8px
        width 16px
        height 16px
  &__description
    $font-xs()
    position relative
    grid-column 1/4
    padding-left calc(100px + var(--gap) / 2)
    padding-bottom 6px
    +media(s)
      $font-l()
      padding-left calc(130px + var(--gap))
    +media(m)
      $font-3xl()
      padding-left calc(200px + var(--gap))
    +before()
      position absolute
      top 4px
      left 87px
      width 8px
      height 8px
      background-color var(--color-background)
      border 1px solid var(--color-mark)
      border-radius var(--border-radius-50)
      +media(s)
        top 7px
        left 125px
        width 10px
        height 10px
      +media(m)
        top 10px
        left 192px
        width 16px
        height 16px
  &__name
    $font-xs-bold()
    grid-column 2/3
    text-transform uppercase
    +media(s)
      $font-l-bold()
    +media(m)
      $font-3xl-bold()
