extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое липофилинг груди?
    p Липофилинг груди&nbsp;— это малотравматичная процедура по&nbsp;коррекции полноты, формы и&nbsp;устранению дефектов груди с&nbsp;помощью жировой ткани пациентки. Жир для пересадки в&nbsp;грудь отбирают из разных зон, чаще это живот, бедра и&nbsp;ягодицы. Увеличение груди без имплантов онкологически безопасно и&nbsp;не&nbsp;мешает профилактической диагностике рака. В&nbsp;клинике пластические операции проводятся с&nbsp;соблюдением европейских стандартов медицинской безопасности.
    p После предварительной подготовки процедуру проводят в&nbsp;условиях стационара. Часто увеличение груди жиром дополняет подтяжку бюста. Операция также показана для реконструкции после удаления груди.

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Цель липофилинга грудных желез&nbsp;– гармоничная форма груди, пропорциональная телу женщины и&nbsp;соответствующая ее желаниям. Липомоделирование выполняется при желании пациентки и&nbsp;отсутствии противопоказаний.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Желание пациентки увеличить размер бюста;
          +li Врожденная или приобретенная гипотрофия молочной железы;
          +li Деформации или изменения контуров груди в&nbsp;результате травм или операций;
          +li Нарушенная симметрия грудных желез.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li
            strong Многозадачность. 
            | Решение сразу двух эстетических проблем&nbsp;— увеличение груди и&nbsp;избавление от избытка жировых отложений.
          +li
            strong Биосовместимость тканей. 
            | Собственный жир не&nbsp;подвержен воспалительным реакциям или изменениям со&nbsp;временем (например, капсулярной контрактуре).
          +li
            strong Простота проведения. 
            | Перекачка жира в&nbsp;грудь не&nbsp;требует продолжительного пребывания в&nbsp;стационаре, и,&nbsp;как&nbsp;правило, легко переносится пациентом.
          +li
            strong Естественность. 
            | Плотность имплантированной жировой ткани аналогична естественной груди. Бюст выглядит естественно даже в&nbsp;положении лежа на&nbsp;спине и&nbsp;во&nbsp;время движения.
          +li
            strong Минимальное рубцевание. 
            | Подтяжка груди жиром требует минимальных разрезов для введения канюли. Швов и&nbsp;рубцов не&nbsp;остается ввиду незначительной степени травматизации тканей из-за деликатного воздействия хирургических инструментов B.Braun Aesculap. 
          +li
            strong Коррекция любой части тела или лица.

  +pageSection
    h2 Процесс липомоделирования бюста
    p Процедура увеличения груди с&nbsp;помощью жира заключается в&nbsp;заборе жировой ткани из зоны избытка и&nbsp;введении очищенного жира в&nbsp;грудь для придания недостающего объема. В&nbsp;среднем процедура занимает 3-5&nbsp;часов. Проводится под местной или общей анестезией. При отсутствии осложнений пациентка отправится домой на&nbsp;второй день. Реабилитационный период займет неделю.
    .question
      .question__name
        h3 Подготовительный этап
      .question__body
        p Во&nbsp;время первого приема врач собирает историю и&nbsp;осматривает пациентку, чтобы оценить состояние ее здоровья, определить и&nbsp;обозначить зону забора донорского материала. Далее следует общее клиническое обследование, включающее:
        +ul
          +li общий и&nbsp;биохимический тесты крови и&nbsp;мочи;
          +li тестирование на&nbsp;ВИЧ, гепатит и&nbsp;сифилис;
          +li ЭКГ;
          +li флюорографию;
          +li маммографию;
          +li УЗИ молочных желез.
          +li заключение терапевта.
        p За&nbsp;2&nbsp;недели до&nbsp;операции исключают курение, прием алкоголя и&nbsp;кроверазжижающих препаратов.

    .question
      .question__name
        h3 Анестезия
      .question__body
        p Для операции по&nbsp;пересадке жира в&nbsp;грудь используют внутривенный или интубационный наркоз, выключающий болевую чувствительность. Используемые в&nbsp;MEDALL составы для анестезии не&nbsp;угнетают дыхание и&nbsp;быстро выводятся из организма пациента. Неприятные ощущения при пробуждении отсутствуют.

    .question
      .question__name
        h3 Этапы выполнения
      .question__body
        p Для процедуры используем стерильную систему забора и&nbsp;введения жировой ткани без контакта с&nbsp;воздухом, которая сокращает время операции и&nbsp;пребывания пациента под наркозом, сохраняет максимальную жизнеспособность и&nbsp;приживаемость жировых клеток более, чем на&nbsp;90%.
        +ol
          +li
            strong Забор жировой ткани. 
            | Кожу обеззараживают в&nbsp;области взятия и&nbsp;введения жира антисептиками. Жир собирается из области, откуда ее легко удалить с&nbsp;эстетической выгодой (как&nbsp;правило, с&nbsp;живота, бедра, ягодиц, колен). Хирургические доступы размещаются в&nbsp;кожных складках (например, в&nbsp;области пупка или ягодичных складок). После сбора необходимого количества донорской ткани процедура может продолжаться как липосакция.
          +li
            strong Центрифугирование. 
            | Аспирированный материал обрабатывается с&nbsp;целью отделения жировой ткани от&nbsp;примесей.
          +li
            strong Введение отфильтрованного жира. 
            | Жировая ткань с&nbsp;помощью канюль, подходящих для точной имплантации вводится в&nbsp;грудь. Рубцевание в&nbsp;месте введения минимальное из-за уменьшенного диаметра канюль. В&nbsp;некоторых случаях имплантация выполняется с&nbsp;помощью игл для большей минимизации рубцевания.

  +pageSection
    h2 Результаты и&nbsp;ожидания
    p После операции грудь кажется более объемной, чем ожидалось, из-за воспаления и&nbsp;введенного дополнительного жира, который нужен, чтобы компенсировать 30-50&nbsp;% жира, усваиваемого организмом. Жировые клетки приживаются до&nbsp;6&nbsp;месяцев. На&nbsp;коррекцию очертаний донорской области после липосакции потребуется 6-12&nbsp;недель.
    .question
      .question__name
        h3 Какой эффект ожидать?
      .question__body
        p Область пересадки жира выглядит наполненной и&nbsp;мягкой. Бюст приобретает правильную форму и&nbsp;очертания, становится на&nbsp;1-1,5 размера больше. В ряде случаев старые стрии бледнеют и&nbsp;сглаживаются.

    .question
      .question__name
        h3 Долговечность результатов
      .question__body
        p Эффект проявляется сразу после операции, но&nbsp;при восстановлении тело поглощает до&nbsp;30-40&nbsp;% пересаженного жира, остальные ткани навсегда останутся в&nbsp;новом месте. Итоговый результат оценивают через 3-4&nbsp;месяца.
        p Результаты липомоделирования остаются постоянными, пока тело женщины не&nbsp;претерпевает резких колебаний веса. При наборе веса грудь увеличивается, при потере&nbsp;— уменьшается.

  +pageSection
    h2 Реабилитационный период
    p Чтобы минимизировать возможные риски после операции, следуют простым правилам врачей. В&nbsp;течение первых 24&nbsp;часов будут проявляться боли, синяки, покраснения и&nbsp;отеки. Не&nbsp;стоит бояться, это является нормой. Через 1-2&nbsp;недели пациенты возвращаются к&nbsp;привычной жизни.
    .question
      .question__name
        h3 Рекомендации
      .question__body
        +ul
          +li 30&nbsp;дней носить белье с&nbsp;компрессией;
          +li 2&nbsp;недели спать на&nbsp;спине;
          +li 5-7&nbsp;дней избегать интенсивной нагрузки и&nbsp;резких движений верхней частью туловища;
          +li Принимать лекарственные средства, назначенные врачом;
          +li Обеззараживать места проколов после душа.
        p Если места хирургического доступа зашивают, швы снимают через неделю. К&nbsp;занятиям спортом возвращаются не&nbsp;раньше, чем через 1,5-2&nbsp;месяца после липофилинга.

    .question
      .question__name
        h3 Ограничения
      .question__body
        +ul
          +li В&nbsp;течение 2&nbsp;недель не&nbsp;трогать и&nbsp;не&nbsp;мять грудь;
          +li Не&nbsp;подвергать организм перегреву;
          +li 3&nbsp;недели носить тугую одежду и&nbsp;бюстгальтер;
          +li 2-4&nbsp;недели не&nbsp;принимать алкоголь и&nbsp;не&nbsp;курить.

  +pageSection
    h2 Противопоказания и&nbsp;возможные осложнения
    p Несмотря на&nbsp;безопасность процедуры, липофилинг показан не&nbsp;всем женщинам. Также мы подчеркиваем важность выполнения пациентами рекомендаций хирургов в&nbsp;послеоперационный период, чтобы гарантировать правильное и&nbsp;быстрое восстановление, избежать возможных рисков.
    .question
      .question__name
        h3 Противопоказания к&nbsp;процедуре
      .question__body
        +ul
          +li Инфекционные болезни;
          +li Сахарный диабет;
          +li Избыточный вес;
          +li Психические расстройства;
          +li Болезни органов дыхательной системы;
          +li Коагулопатия;
          +li Беременность и&nbsp;лактация;
          +li Болезни сосудов и&nbsp;сердца;
          +li Онкология и&nbsp;другие.

    .question
      .question__name
        h3 Возможные осложнения
      .question__body
        +ul
          +li Отеки&nbsp;— распространенное явление после операции на&nbsp;груди. Проходят через 7&nbsp;дней, не&nbsp;представляют серьезной угрозы и&nbsp;не&nbsp;требуют специального лечения. Не&nbsp;стоит игнорировать сильные отеки, которые часто связаны с&nbsp;несоблюдением рекомендаций хирурга, с&nbsp;чрезмерным употреблением жидкости или острой пищи.
          +li Гематомы неизбежно появляются при повреждении сосудов, которое происходит под воздействием жира, заложенного в&nbsp;груди. Как правило, гематомы исчезают за&nbsp;7&nbsp;дней, в&nbsp;редких случаях&nbsp;— две недели.
          +li Фиброз&nbsp;— результат инъекции избыточного количества жира в&nbsp;грудь. Соединительная ткань, которая находится между железами и&nbsp;жиром, толстая, и&nbsp;этот процесс сопровождается болью.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Процедура, применение и&nbsp;результаты аутологичной пересадки жира/ Simonacci&nbsp;F. и&nbsp;другие;
          +li Результаты трансплантации аутологичной жировой ткани в&nbsp;случаях протезирования груди после мастэктомии по&nbsp;поводу рака молочных желез. Романенков&nbsp;Н.С., Чагунава&nbsp;О.Л., Трунин&nbsp;Е.М., Мовчан&nbsp;К.Н., Скурихин&nbsp;С.С., Болотин&nbsp;И.А.;
          +li Применение метода липофилинга при хирургической коррекции рубцовых деформаций молочных желез. Жуков&nbsp;М.И., Стефкивская&nbsp;О.В.;
          +li Инъекционная аутотрансплантация жировой ткани (липофилинг, липографтинг) в&nbsp;реконструктивной и&nbsp;эстетической хирургии молочной железы. Васильев&nbsp;В.С., Васильев&nbsp;С.А., Васильев&nbsp;Ю.С., Васильев&nbsp;И.С., Карпов&nbsp;И.А., Дубровская&nbsp;Н.С., Чернова&nbsp;О.Н. и&nbsp;другие.
