extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое лазерная шлифовка&nbsp;СО2
    p Это омолаживающая процедура глубокого проникновения, которая использует углекислотный лазер для удаления внешнего слоя кожи, чтобы повысить упругость и&nbsp;улучшить текстуру кожи. Лазерная шлифовка лица&nbsp;СО2 стирает признаки старения, запуская внутренние омолаживающие процессы. Одна процедура дает ошеломляющие результаты, которые со&nbsp;временем только нарастают.
    .question.question--active
      .question__name
        h3 Принцип работы СО2-лазера
      .question__body
        p Углекислотный лазер работает путем абляции (прижигания) поверхностных тканей кожи, стимулируя рост новых клеток и&nbsp;выработке коллагена&nbsp;— реэпителизацию.
        p Когда луч лазера попадает на&nbsp;кожу, температура молекул воды в&nbsp;клетках мгновенно повышается вдвое по&nbsp;сравнению с&nbsp;температурой, необходимой для кипения воды, испаряя ткань. Тепло также стимулирует выработку новых здоровых клеток кожи в&nbsp;глубоких слоях. Помимо омолаживающего эффекта реэпителизация уменьшает видимость рубцов от акне, ветрянки и&nbsp;т.д.

    .question
      .question__name
        h3 Разновидности лазерной процедуры
      .question__body
        p В&nbsp;зависимости от степени косметологических проблем воздействие лазерной шлифовки бывает поверхностным, средним и&nbsp;глубоким. Глубина воздействия определяется настройками аппарата и&nbsp;выраженностью проблем.

    .question
      .question__name
        h3 Результат углекислотной шлифовки
      .question__body
        +ul
          +li Ровный тон лица;
          +li Упругая и&nbsp;гладкая кожа;
          +li Суженные поры;
          +li Уменьшенная видимость шрамов;
          +li Отсутствие капиллярной сетки.

  +pageSection
    h2 Показания к&nbsp;проведению и&nbsp;преимущества процедуры
    p Шлифовка углекислотным лазером&nbsp;— стандарт эффективной коррекции легких, умеренных и&nbsp;глубоких морщин, особенно вокруг глаз, а&nbsp;также линий и&nbsp;морщин вокруг рта и&nbsp;щек. Нет другого устройства, которое дает результаты, приближенные к&nbsp;результатам CO2-лазера, когда дело доходит до&nbsp;уменьшения морщин на&nbsp;лице.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Морщины разной глубины;
          +li Рубцы после ветрянки и&nbsp;постакне;
          +li Гормональные и&nbsp;возрастные пигментные пятна;
          +li Мелкие морщинки вокруг глаз;
          +li Сниженный тонус кожи;
          +li Широкие поры;
          +li Купероз;
          +li Себорейный кератоз.

    .question
      .question__name
        h3 Преимущества углекислотной шлифовки
      .question__body
        +ul
          +li Видимый результат после одной процедуры;
          +li Нарастающий эффект;
          +li Долгосрочные результаты;
          +li Минимальная вероятность осложнений;
          +li Восстановление за&nbsp;7-9&nbsp;дней;
          +li Локальное воздействие;
          +li Обработка разных зон тела.

  +pageSection
    h2 Как проходит процедура
    p Лазерное омоложение проводят в&nbsp;межсезонье, так&nbsp;как реабилитационный период исключает воздействие солнечных лучей. Госпитализация не&nbsp;требуется, поэтому после процедуры пациент возвращается домой.
    .question
      .question__name
        h3 Подготовка
      .question__body
        p Шлифовка углекислотным лазером выполняется после предварительной консультации. Для выявления возможных противопоказаний пациенту рекомендовано пройти ряд лабораторных и&nbsp;инструментальных исследований. Может потребоваться консультация дерматовенеролога и&nbsp;онколога. Осмотр и&nbsp;сбор анамнеза врач может провести в&nbsp;день, на&nbsp;который назначена процедура.

    .question
      .question__name
        h3 Рекомендации перед шлифовкой
      .question__body
        +ul
          +li За&nbsp;месяц до&nbsp;шлифовки избегают пребывания под активным солнцем, не&nbsp;загорают в&nbsp;солярии;
          +li Перед выходом на&nbsp;улицу используют солнцезащитный крем;
          +li Желательно за&nbsp;месяц (минимум за&nbsp;2&nbsp;недели) отказаться от&nbsp;курения и&nbsp;алкоголя;
          +li За&nbsp;2-3&nbsp;недели перестают принимать кроворазжижающие, аспириносодержащие и&nbsp;фотосенсибилизирующие средства (АЦЦ, омега-3, витамин&nbsp;Е и&nbsp;другие);
          +li За&nbsp;2&nbsp;недели до&nbsp;процедуры прекращают использовать ретиноиды, пилинги, скрабы и&nbsp;косметические продукты на&nbsp;кислотной основе;
          +li За&nbsp;3&nbsp;дня до&nbsp;шлифовки при герпесе в&nbsp;анамнезе начинают курс противовирусных препаратов.

    .question
      .question__name
        h3 Этапы проведения
      .question__body
        +ol
          +li Антисептическим раствором с&nbsp;кожи смываются остатки косметики, себума, и&nbsp;обеззараживается поверхность;
          +li На&nbsp;10-15&nbsp;минут наносится кремовый анестетик, чтобы снизить уровень дискомфорта до&nbsp;нуля;
          +li На&nbsp;глаза пациента надевают защитные очки;
          +li Врач начинает обработку кожи лазером, процесс занимает 15-60&nbsp;минут;
          +li Обработанную кожу увлажняют салфетками с&nbsp;физраствором;
          +li В&nbsp;конце сеанса врач наносит успокаивающий противовоспалительный крем на&nbsp;обработанные участки и&nbsp;накладывает повязку.
        p Осмотр у&nbsp;врача на&nbsp;2–3&nbsp;день после шлифовки, через 1&nbsp;неделю, 1&nbsp;месяц, 3&nbsp;месяца, 6&nbsp;месяцев и&nbsp;через 1&nbsp;год.

    .question
      .question__name
        h3 Уход после шлифовки
      .question__body
        p Первую неделю наблюдается экссудация и&nbsp;формирование корочек в&nbsp;обработанной лазером зоне. Пациент испытывает временный дискомфорт: покраснение, сухость и&nbsp;чувство саднения, как после ожога. Последующий уход  зависит от метода ведения обработанной поверхности:
        +ul
          +li при открытом&nbsp;— обработка увлажняющей мазью на&nbsp;основе вазелина, формирующей защитный слой на&nbsp;поверхности кожи, до наступления полной реэпителизации;
          +li при закрытом&nbsp;— наложение полуокклюзионных повязок: полимерной пленки, гидроколлоидной или гидрогелевой повязки.

  +pageSection
    h2 Восстановительный период
    p Шлифовка лазером&nbsp;СО2 продлевает молодость на&nbsp;5–7&nbsp;лет, а&nbsp;также избавляет от следов постакне и&nbsp;других дефектов на&nbsp;всю жизнь при соблюдении восстановительных рекомендаций врача.
    .question
      .question__name
        h3 Что нельзя делать в&nbsp;восстановительный период
      .question__body
        +ul
          +li Курить и&nbsp;употреблять алкоголь;
          +li Посещать бани;
          +li Мыть лицо мылом;
          +li Пользоваться косметикой;
          +li Расчесывать корочки на&nbsp;коже;
          +li Загорать на&nbsp;пляже или в&nbsp;солярии;
          +li Принимать горячие ванны.

    .question
      .question__name
        h3 Первые дни после сеанса шлифовки
      .question__body
        p Через сутки после процедуры разрешается снимать повязку. Через 5-7&nbsp;дней реабилитации появляется новый гладкий и&nbsp;нежный кожный покров. Легкое шелушение и&nbsp;покраснение сохраняется до&nbsp;2-4&nbsp;недель в&nbsp;зависимости от типа кожи. Как правило, через неделю (при глубоком воздействии 2&nbsp;недели) пациенты готовы возобновить повседневную деятельность. В&nbsp;это&nbsp;же время разрешается наносить легкий макияж. Конечные результаты проявляются через 3-6&nbsp;месяцев после лазерной обработки.

    .question
      .question__name
        h3 Восстанавливающий уход за&nbsp;кожей
      .question__body
        p Важно поддерживать чистоту кожи в&nbsp;этот период, чтобы предотвратить воспаление. Первые три дня 3-5&nbsp;раз в&nbsp;день важно протирать лицо водным раствором хлоргексидина с&nbsp;последующим нанесением лечебного крема. С&nbsp;третьего дня обработку проводят дважды в&nbsp;день. Холодные компрессы используются для уменьшения отечности и&nbsp;ощущения жжения, которые испытывает пациент после шлифовки.
        p Отёк сходит быстрее, если первые 7&nbsp;дней спать с&nbsp;приподнятым изголовьем или на высокой подушке. Как только кожа заживет начинают использовать солнцезащитные кремы и&nbsp;косметику.

    .question
      .question__name
        h3 Как быстро появляются результаты
      .question__body
        p Большинство пациентов начинают видеть результаты в&nbsp;среднем через неделю после шлифовки лазером&nbsp;СО2. Результаты накапливаются, требуется 3-6&nbsp;месяцев, чтобы увидеть пиковое улучшение. Заживая снаружи, кожный покров восстанавливается и&nbsp;изнутри. Месяца через&nbsp;2 как сойдет розоватость с&nbsp;лица, пациент заметит упругую более молодую кожу. Полученный эффект держится до&nbsp;5-8&nbsp;лет.

    .question
      .question__name
        h3 Как улучшить результат
      .question__body
        p Сочетание лазерной шлифовки&nbsp;CO2 с&nbsp;другими технологиями улучшения состояния кожных покровов (контурная пластика, инъекции ботокса, биоревитализация и&nbsp;другие) повысят эффективность процедуры.

  +pageSection
    h2 Противопоказания
    p Несмотря на безопасность и&nbsp;малотравматичность шлифовки лазером&nbsp;СО2, врач может отказать в&nbsp;процедуре при выявлении противопоказаний. При абсолютных отсутствуют условия для проведения лазерной шлифовки. Временные требуют время на разрешение состояния или излечение.
    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Герпетические высыпания на лице;
          +li Недомогание пациента в&nbsp;день процедуры;
          +li Прием препаратов изотретиноина менее, чем за&nbsp;6&nbsp;месяцев;
          +li Повреждение и&nbsp;воспаление кожи в&nbsp;зоне обработки лазером;
          +li Обострение хронических состояний;
          +li Несовершеннолетие;
          +li Период беременности и&nbsp;лактации;
          +li Респираторные инфекции.

    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Онкология;
          +li Лучевая терапия в&nbsp;анамнезе;
          +li Тяжелое течение гипертонии;
          +li Сердечные патологии;
          +li Аутоиммунные состояния;
          +li Проблемы со&nbsp;свертываемостью крови.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Лазерные технологии в&nbsp;коррекции эстетических недостатков кожи/ М.А.&nbsp;Уфимцева, Ю.М.&nbsp;Бочкарев, И.Ф.&nbsp;Вишневская, М.А.&nbsp;Захаров, К.Н.&nbsp;Сорокина и&nbsp;другие;
          +li Клиническая эффективность и&nbsp;экономическая эффективность фракционного&nbsp;CO2&nbsp;- лазера при лечении рубцов от угревой сыпи и&nbsp;омоложении кожи: метаанализ и&nbsp;экономическая оценка/ Ферештех&nbsp;Ансари, Бармак&nbsp;Яагубиан и&nbsp;другие;
          +li Фракционный лазерный фототермолиз в&nbsp;лечении кожных дефектов: возможности и&nbsp;эффективность (обзор)/ Карабут&nbsp;М.М., Гладкова&nbsp;Н.Д., Фельдштейн&nbsp;Ф.И.
