extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content
  +pageSection(): +pageSubsection: include /blocks/endodontia-banner/endodontia-banner
  include /blocks/banner-endodontia-reasons/banner-endodontia-reasons
