extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое эндоскопическая подтяжка лба и&nbsp;бровей
    p Эндоскопия лба и&nbsp;бровей (темпоропластика)&nbsp;— это малоинвазивная хирургическая процедура, цель которой&nbsp;— подтяжка области лба и&nbsp;бровей. Лобно-височный лифтинг подтягивает дряблую кожу, приподнимает опущенные брови, разглаживает морщины на&nbsp;лбу и&nbsp;открывает глаза. Процедура не&nbsp;оставляет рубцов, восстановительный период длится неделю. Госпитализация не&nbsp;требуется.
    p Врачи MEDALL достигли высокого мастерства в&nbsp;области малоинвазивной&nbsp;(эндоскопической) хирургии, используя современные методики и&nbsp;техники целенаправленного воздействия на&nbsp;ткани.

  +pageSection
    h2 Показания и&nbsp;преимущества
    p Процедура проводится методом хирургической подтяжки тканей верхней трети лица, которые сдвинулись в&nbsp;результате возрастных изменений&nbsp;(кожи, мышечно-связочных структур, подкожного жира). Подтяжка рекомендована людям с&nbsp;незначительными признаками старения, у&nbsp;которых кожа еще сохранила эластичность.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Складки в&nbsp;области переносицы;
          +li Поперечные складки лба;
          +li Опущение линии бровей и&nbsp;тканей лба;
          +li Низкое расположение внешних уголков глаз;
          +li Асимметрия бровей;
          +li Гармонизация соотношения бровей и&nbsp;глаз.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Минимальная травматизация тканей;
          +li Быстрое восстановление;
          +li Выраженный лифтинг лба и&nbsp;бровей;
          +li После операции сохраняется чувствительность и&nbsp;двигательная иннервация брови;
          +li Естественный и&nbsp;долгосрочный результат (8-10&nbsp;лет);
          +li Сочетание с&nbsp;другими методами эстетической хирургии.

    .question
      .question__name
        h3 Ожидаемые результаты
      .question__body
        +ul
          +li Открытый взгляд;
          +li Гладкий лоб;
          +li Высокое положение бровей;
          +li Расправленные ткани верхних век;
          +li Подтянутая кожа верхней трети лица;
          +li Улучшенные пропорции лица.

  +pageSection
    h2 Подготовка к&nbsp;подтяжке лба
    p Эндоскопия&nbsp;— щадящий способ улучшения внешности без видимых признаков вмешательства. В&nbsp;MEDALL работают специалисты с&nbsp;глубоким пониманием эстетики лба и&nbsp;бровей, квалификация которых гарантирует впечатляющие результаты.
    .question
      .question__name
        h3 Первичная консультация
      .question__body
        p Предоперационная подготовка включает осмотр лица пациента в&nbsp;хорошо освещенной комнате в&nbsp;сидячем положении. Проводится первичная оценка, в&nbsp;ходе которой отмечаются жалобы пациента, хирургический анамнез, принимаемые лекарства, витаминные комплексы, и&nbsp;аллергии. Понимание желаний пациента помогает разработать продуктивный хирургический план.

    .question
      .question__name
        h3 Предоперационные исследования
      .question__body
        p Пациенту также предстоит пройти комплекс стандартных исследований. При необходимости хирург назначает дополнительные консультации у&nbsp;узких специалистов. Если результаты анализов и&nbsp;исследований в&nbsp;норме, назначается дата операции. Исследования включают:
        +ul
          +li развернутый анализ крови;
          +li клинический анализ мочи;
          +li тест на&nbsp;гемоконтактные инфекции;
          +li ЭКГ;
          +li флюорографию.

    .question
      .question__name
        h3 3D&nbsp;моделирование результата
      .question__body
        p Трехмерное моделирование результата темпоропластики дает возможность пациенту «примерить» новую внешность, увидеть лицо помолодевшим и&nbsp;решить, совпадают&nbsp;ли его ожидания с&nbsp;предварительным результатом. 3D&nbsp;моделирование помогает достигать оптимальной коррекции возрастных изменений с&nbsp;учетом анатомических особенностей и&nbsp;мнения пациента.

    .question
      .question__name
        h3 Предоперационные рекомендации
      .question__body
        +ul
          +li За&nbsp;14&nbsp;дней прекратить прием кроверазжижающих и&nbsp;аспириносодержащих препаратов;
          +li За&nbsp;7&nbsp;дней исключить алкогольные напитки и&nbsp;никотин;
          +li Известить хирурга о&nbsp;чувствительности к&nbsp;анестезирующим препаратам;
          +li В&nbsp;клинику в&nbsp;день операции приезжают натощак;
          +li Перед вмешательством хирург делает разметку и&nbsp;фотодокументирование.

  +pageSection
    h2 Выполнение эндоскопической подтяжки
    p В&nbsp;MEDALL для эндоскопического лифтинга лба используется передовое оборудование, которое позволяет хирургу видеть подлежащие мышцы и&nbsp;ткани области лба и&nbsp;бровей при минимальных разрезах.
    .question
      .question__name
        h3 Анестезия
      .question__body
        p Эндоскопическая подтяжка лба и&nbsp;бровей проводится под местной анестезией с&nbsp;седацией, в&nbsp;ряде случаев при наличии показаний&nbsp;— под общим наркозом.

    .question
      .question__name
        h3 Этапы операции
      .question__body
        +ol
          +li Нанесение предоперационной  разметки;
          +li Выполнение 2-4&nbsp;разрезов до&nbsp;2&nbsp;см за&nbsp;линией волос;
          +li Введение эндоскопа через разрезы для детального изучения внутренней части лба;
          +li Отделение подкожного слоя и&nbsp;слоя надкостницы с&nbsp;помощью эндоскопического аппарата с&nbsp;высоким разрешением;
          +li Подтягивание и&nbsp;фиксация провисающих мышц;
          +li Завершение операции и&nbsp;наложение швов.

  +pageSection
    h2 Реабилитация
    p После эндоскопии лба пациенты находятся в&nbsp;палате под наблюдением специалистов. На&nbsp;следующий день делается перевязка, удаляется  дренаж и&nbsp;накладывается компрессионная повязка на&nbsp;10-14&nbsp;дней. Снятие швов на&nbsp;7–10&nbsp;день.
    .question
      .question__name
        h3 Первые дни после операции
      .question__body
        p После процедуры пациенты сталкиваются с&nbsp;отеками и&nbsp;синяками в&nbsp;зоне коррекции, которые проходят через 1-2&nbsp;недели. Боль и&nbsp;дискомфорт также ожидаемы, но&nbsp;их легко контролировать с&nbsp;помощью обезболивающих препаратов, назначенных хирургом. Пациентам рекомендуется держать голову приподнятой во&nbsp;время сна в&nbsp;течение 3-5&nbsp;дней после процедуры, чтобы уменьшить отечность.
        p Важно следовать послеоперационным инструкциям хирурга, чтобы обеспечить правильное заживление и&nbsp;свести к&nbsp;минимуму вероятность осложнений.

    .question
      .question__name
        h3 Долгосрочные послеоперационные рекомендации
      .question__body
        +ul
          +li Через неделю разрешено пользоваться косметикой, в&nbsp;том числе уходовыми средствами;
          +li Минимум 2&nbsp;недели избегают напряженных занятий и&nbsp;упражнений;
          +li До&nbsp;месяца не&nbsp;посещают парильни, пляж, а&nbsp;также бассейн и&nbsp;солярий.

    .question
      .question__name
        h3 Профилактика осложнений
      .question__body
        p Пациентам пластической хирургии MEDALL предоставляется бесплатная консультация косметолога-реабилитолога. Разработанная им реабилитационная программа сокращает восстановительный период и&nbsp;усиливает омолаживающий эффект.

  +pageSection
    h2 Противопоказания
    p Так&nbsp;как эндоскопическая подтяжка относится к&nbsp;безопасным и&nbsp;малотравматичным операциям, то перечень противопоказаний минимальный.
    .question
      .question__name
        h3 Временные ограничения
      .question__body
        +ul
          +li Воспаления и&nbsp;травмы кожи в&nbsp;зоне коррекции;
          +li Обострение хронических болезней;
          +li Острые инфекции;
          +li Беременность и&nbsp;лактация;
          +li Несовершеннолетие.

    .question
      .question__name
        h3 Абсолютные противопоказания
      .question__body
        +ul
          +li Декомпенсированные соматические и&nbsp;системные болезни;
          +li Злокачественные образования;
          +li Коагулопатия;
          +li Психические болезни.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Эндоскопическая подтяжка лба/ Хорхе Эспиноса, Хосе Рафаэль Рейес;
          +li Показания, техника и&nbsp;клинические результаты эндоскопической подтяжки лба и&nbsp;бровей/ Кинзель&nbsp;Р., Кузалина&nbsp;А., Подмелле&nbsp;Ф. и&nbsp;другие;
          +li Идеальная эстетика женских бровей/ Гриффин&nbsp;Гр., Ким&nbsp;ДЖК.
