extends /blocks/layout/layout

include /blocks/landing-block/landing-block
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content
  include /blocks/banner-types-caries/banner-types-caries
