extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое липофилинг ягодиц
    p Липофилинг ягодиц&nbsp;— безопасная хирургическая процедура, направленная на&nbsp;увеличение ягодиц жиром пациента. Во&nbsp;время операции хирург удаляет жир из областей с&nbsp;его избытком, например, с&nbsp;живота или бедер, а&nbsp;после очищения перемещает в&nbsp;ягодицы. По сути, это комбинация липосакции и&nbsp;увеличения ягодиц. Превосходные результаты гарантированы независимо от возраста и&nbsp;типа телосложения.
    p Для липофилинга в&nbsp;MEDALL используют стерильную систему забора и&nbsp;введения жира, исключающую контакт материала с&nbsp;воздухом. Аппарат сокращает время пребывания пациента под наркозом, повышает приживаемость жира.

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Для липомоделирования не&nbsp;нужны медицинские показания. Процедура выполняется по&nbsp;желанию пациента для коррекции объема и&nbsp;формы ягодиц. Проводится отдельно или в комплексе с&nbsp;другими хирургическими процедурами по&nbsp;совершенствованию контуров тела.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Желание изменить форму ягодиц;
          +li Выраженные подъягодичные складки;
          +li Асимметрия или опущение ягодиц;
          +li Снижение тонуса, нарушение рельефа кожи в&nbsp;ягодичной зоне;
          +li Плоские ягодицы.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Комплексный подход к&nbsp;повышению эстетики тела;
          +li Высокая приживаемость аутологичного жира;
          +li Минимальный риск побочных результатов;
          +li Жир не&nbsp;мигрирует, остается в&nbsp;зоне коррекции;
          +li Непродолжительный восстановительный период;
          +li Отсутствие разрезов и&nbsp;рубцевания;
          +li Естественный визуальный и&nbsp;тактильный результат.

  +pageSection
    h2 Как проходит липофилинг
    p Липомоделирование ягодиц проводится под местным обезболиванием, при переносе больших объемов жира&nbsp;— под общим наркозом. Операция занимает 1,5-4&nbsp;часа. На&nbsp;продолжительность влияет строение тела пациента и&nbsp;количество пересаживаемого жира.
    .question
      .question__name
        h3 Консультация и&nbsp;анализы
      .question__body
        p Липомоделирование ягодиц&nbsp;— безопасная малотравматичная процедура. Но&nbsp;это хирургическое вмешательство, требующее подготовки пациента. Врач проводит предварительную консультацию, которая определяет объем и&nbsp;места забора жира. Оценка готовности к&nbsp;операции проводится на основе предыдущих операций, хронических болезней иvмедицинских анализов.
        p Перед процедурой пациенту рекомендовано сделать:
        +ul
          +li комплексное исследование биохимических и&nbsp;клинических показателей крови;
          +li кардиограмму;
          +li общий анализ мочи;
          +li флюорографию и&nbsp;другие процедуры, назначенные врачом.
        p Для реалистичного представления конечного результата хирург проводит компьютерное трехмерное моделирование. Разметка&nbsp;– первый этап визуализации. Затем 3D-программа воспроизводит планируемый результат.

    .question
      .question__name
        h3 Подготовка к&nbsp;операции
      .question__body
        p Подготовку начинают за&nbsp;10-14&nbsp;дней до&nbsp;процедуры. В&nbsp;этот период воздерживаются от:
        +ul
          +li курения и&nbsp;алкоголя;
          +li приема кроверазжижающих препаратов;
          +li чрезмерных физических нагрузок.
        p Делаются фотоснимки зоны коррекции до&nbsp;и&nbsp;после липомоделирования для визуального сравнения результатов и&nbsp;эстетических параметров.

    .question
      .question__name
        h3 Этапы проведения
      .question__body
        +ul
          +li 
            strong Липосакция. 
            | Выбирается зона-донор с&nbsp;избытком жировой ткани. Забор жировых клеток производят с&nbsp;помощью канюли через надрезы 2-3&nbsp;мм. Округлый конец канюли делает процедуру щадящей для кровеносных сосудов и&nbsp;нервных волокон.
          +li 
            strong Очищение жира. 
            | Собранный материал прогоняют через центрифугу для очищения от&nbsp;ненужных включений.
          +li 
            strong Коррекция формы и&nbsp;увеличение объема ягодиц. 
            | Жизнеспособные жировые клетки вводятся в&nbsp;принимающую зону. Непрерывное движение канюли по&nbsp;схеме гарантирует равномерное распределение материала в&nbsp;нескольких плоскостях параллельно коже, чтобы исключить появление бугорков и&nbsp;провалов.

  +pageSection
    h2 Восстановление после липофилинга
    p После операции размер ягодиц немного больше запланированного. В&nbsp;среднем приживается 85&nbsp;% аутожира, поэтому хирург пересаживает немного больше жирового наполнителя. Первоначальный отек постепенно уменьшается, давая более четкое представление об окончательном виде ягодиц. 
    p 
      strong Большинство пациентов после липофилинга возвращается к&nbsp;работе в&nbsp;течение 1-2&nbsp;недель. На&nbsp;возвращение полной активности требуется 2-3&nbsp;недели.
    .question
      .question__name
        h3 Первые дни после операции
      .question__body
        +ul
          +li Под наблюдением врачей пациент остается сутки, при необходимости еще 1-2&nbsp;дня;
          +li Первичная реабилитация составляет 14–20&nbsp;дней;
          +li Швы снимаются на&nbsp;10-е сутки, разрезы хорошо заживают и&nbsp;становятся незамеченными;
          +li Вторичный реабилитационный период составляет 4–6&nbsp;недель.
        p Все это время пациент носит компрессионное белье. Компрессия уменьшает отечность и&nbsp;поддерживают новую форму ягодиц.

    .question
      .question__name
        h3 Ограничения в&nbsp;реабилитационный период
      .question__body
        +ul
          +li Физическая и&nbsp;другие виды активности ограничены минимум на&nbsp;3&nbsp;месяца;
          +li 1,5-3&nbsp;месяцев следует воздерживаться от принятия ванн, купания в&nbsp;бассейне и&nbsp;водоемах, загара на&nbsp;пляже и&nbsp;в&nbsp;солярии;
          +li Первые дни сон только на&nbsp;животе, затем пациент может спать на&nbsp;боку;
          +li Избегают сидячего положения 2-4&nbsp;недели после операции;
          +li Женщинам рекомендовано отказаться на&nbsp;период реабилитации от&nbsp;каблуков.

    .question
      .question__name
        h3 Возможные осложнения
      .question__body
        p После операции возможны стандартные осложнения, носящие временный характер, такие как синяки, отеки, инфицированные раны. Выполнение рекомендаций хирурга и&nbsp;регулярные осмотры помогают избежать осложнений.

    .question
      .question__name
        h3 Долгосрочность результатов
      .question__body
        p На&nbsp;исход операции и&nbsp;продолжительность эффекта влияют физиологические особенности человека, внимательность к&nbsp;рекомендациям хирурга, степень ухода за&nbsp;прооперированной зоной. Результат сохранится навсегда, если закрепить результат повторным вмешательством, не&nbsp;допускать скачков веса. Поэтому желательно операцию делать в&nbsp;комфортном для себя весе.

  +pageSection
    h2 Противопоказания
    p Процедура невозможна при недостаточном количестве жира. В&nbsp;этом случае пациенту предлагается немного набрать вес (5-6&nbsp;кг) для получения недостающего жира для липофилинга.
    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Иммунодефицит;
          +li Диабет;
          +li Психические расстройства;
          +li Аутоиммунные состояния;
          +li Онкология;
          +li Повышенная чувствительность к&nbsp;анестезии или используемым препаратам.

    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Беременность и&nbsp;лактация;
          +li Несовершеннолетие;
          +li Вирусные и&nbsp;бактериальные инфекции.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Увеличение ягодиц с&nbsp;помощью трансфера жира: опыт 200&nbsp;случаев/ Абдель Насер Халлаф;
          +li Пересадка жира в&nbsp;ягодицы и&nbsp;ноги: улучшение внешнего вида, увеличение и&nbsp;исправление деформаций/ Лина Валеро де&nbsp;Педроса;
          +li Безопасность липофилинга: механизмы, методы профилактики и&nbsp;лечения тяжелых осложнений инъекционной трансплантации жировой ткани/ Рахимов&nbsp;А.Я., Файзуллин&nbsp;Т.Р., Васильев&nbsp;В.С., Сергеев&nbsp;И.В.
        