extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое RF-лифтинг
    p RF-лифтинг лица&nbsp;— нехирургический метод радиочастотного омоложения. В&nbsp;результате воздействия радиоволн на кожу обновляются коллагеновые волокна в&nbsp;подкожных слоях, способствуя подтяжке и&nbsp;увлажнению покрова. Кроме производства коллагена радиоволны улучшают кровообращение и&nbsp;лимфодренаж в&nbsp;тканях. Важная особенность RF-лифтинга&nbsp;— кожа после процедуры не&nbsp;требует дополнительного ухода.
    .question.question--active
      .question__name
        h3 Описание процедуры
      .question__body
        p Радиочастотный лифтинг лица&nbsp;— аппаратный метод местного и&nbsp;контактного нагрева кожи и&nbsp;подкожной жировой прослойки  высокочастотным электрическим током&nbsp;— 3&nbsp;к-300&nbsp;МГц. Техника основана на преобразовании энергии, выстраивании поддерживающего кожное полотно каркаса, активации регенераторных внутриклеточных процессов. У&nbsp;процедуры накопительный эффект, который длится 1,5-2&nbsp;года.

    .question
      .question__name
        h3 Принцип действия радиоволн
      .question__body
        p Когда коллаген разрушается из-за чрезмерного воздействия солнца, наследственности или старения, кожа теряет эластичность, становится дряблой и&nbsp;провисает. Электромагнитные волны вызывают колебания в&nbsp;молекулах воды внутри клеток. Возникшее внутриклеточное движение способствует трению в&nbsp;тканях, преобразующегося в&nbsp;тепло, которое достигает глубоких кожных слоев, таких как дерма.
        p Нагревание дермы меняет исходные свойства коллагеновых волокон без повреждения поверхности кожных покровов. Сокращение коллагеновых волокон в&nbsp;ответ на тепло вызывает мгновенное улучшение тонуса кожи. Тепло также способствует регенерации коллагеновых волокон в&nbsp;долгосрочной перспективе&nbsp;— происходящие изменения позволяют добиться еще более заметного улучшения через 3-6&nbsp;недель после лечения.

    .question
      .question__name
        h3 Ожидаемый эффект
      .question__body
        +ul
          +li Подтянутая гладкая кожа, благодаря усиленной выработке коллагена;
          +li Ретекстурированная кожа&nbsp;— уменьшение рубцов, угревой сыпи и&nbsp;растяжек;
          +li Контурирование&nbsp;— уменьшение жировых отложений;
          +li Равномерный цвет лица.

    .question
      .question__name
        h3 Виды РФ-лифтинга
      .question__body
        +ul
          +li Поверхностный: воздействие радиоволн на&nbsp;верхние слои кожи, улучшает ее цвет и&nbsp;текстуру;
          +li Глубокий: радиоволны проникают глубже, устраняя морщины и&nbsp;возвращая коже упругость;
          +li Игольчатый: сочетание микроигл и&nbsp;радиоволн повышает эффективность омоложения.

  +pageSection
    h2 Основные показания и&nbsp;преимущества процедуры
    p Процедура подходит как двадцатилетним пациентам для устранения дефектов на&nbsp;лице, так и&nbsp;людям после 35&nbsp;лет для коррекции морщин. После сеанса контур приобретает четкость, кожа подтягивается, уменьшается глубина морщин и&nbsp;гиперпигментация.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Рубцы после угревой сыпи;
          +li Сниженный тонус и&nbsp;тургор кожи;
          +li Легкое и&nbsp;умеренное проявление морщин;
          +li Потеря четкой линии овала;
          +li Расширенные поры;
          +li Купероз;
          +li Дряблость кожи в&nbsp;зоне декольте;
          +li Локальные жировые отложения;
          +li Улучшение результатов косметической операции.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Видимая подтяжка кожи без операции;
          +li Уменьшение морщин и&nbsp;тонких линий;
          +li Локальное уменьшение жировых отложений;
          +li Быстрое восстановление;
          +li Подходит для всех типов кожи;
          +li Безболезненность процесса;
          +li Нет сезонных ограничений.

  +pageSection
    h2 Как проходит RF-лифтинг
    p Чтобы получить стойкий результат, радиочастотное воздействие проводят курсами. 1&nbsp;сеанс длится 15-60&nbsp;минут. Базовый курс РФ-лифтинга составляет 1-2&nbsp;процедуры. Количество сеансов для долгосрочного результата определяет врач.
    .question
      .question__name
        h3 Подготовка к&nbsp;процедуре
      .question__body
        +ul
          +li За&nbsp;2&nbsp;недели до&nbsp;сеанса РФ-лифтинга нельзя загорать и&nbsp;посещать солярий;
          +li За&nbsp;2&nbsp;недели прекращают прием аспириносодержащих и&nbsp;влияющих на свертываемость крови препаратов;
          +li За&nbsp;3&nbsp;дня прекращают использовать кремы и&nbsp;сыворотки с&nbsp;ретиноидами;
          +li За&nbsp;сутки до&nbsp;и&nbsp;после процедуры не&nbsp;курят и&nbsp;не&nbsp;употребляют алкоголь.

    .question
      .question__name
        h3 Этапы радиочастотного омоложения
      .question__body
        +ol
          +li Очищение и&nbsp;обеззараживание обрабатываемой области;
          +li Нанесение контактного средства для охлаждение эпидермиса в&nbsp;ходе процедуры;
          +li Точечное прогревание проблемных участков специальной насадкой;
          +li Нанесение успокаивающего крема.

  +pageSection
    h2 Период реабилитации
    p Продолжительность восстановительного этапа и&nbsp;последующий уход зависят от типа радиочастотного воздействия и&nbsp;степени инвазивности. Если RF-лифтинг применяется как самостоятельная процедура, то воздействие энергии ощущается как мягкое тепло и&nbsp;не&nbsp;требует реабилитации. Но&nbsp;при сочетании радиочастот с&nbsp;микроиглами заживление займет до&nbsp;5-7&nbsp;дней.
    .question
      .question__name
        h3 Ощущения после радиочастотного омоложения
      .question__body
        p Из-за временно прилива крови к&nbsp;коже может возникнуть легкое покраснение, отечность и&nbsp;ощущение тепла. Однако эти ощущения проходят уже к&nbsp;вечеру или на&nbsp;следующий день без какого-либо вмешательства. Большинство пациентов возвращаются к&nbsp;привычным делам после процедуры. Им рекомендовано избегать льда или противовоспалительных препаратов, которые замедляют заживление и&nbsp;стимуляцию коллагена.
        p Для ускорения восстановления врач порекомендует средства с&nbsp;успокаивающим и&nbsp;увлажняющим действием.

    .question
      .question__name
        h3 Последующие рекомендации
      .question__body
        +ul
          +li В&nbsp;первые часы после сеанса нельзя дотрагиваться до&nbsp;обработанных участков кожи;
          +li 2&nbsp;недели ограничивают посещение парной, пляжа и&nbsp;солярия;
          +li Перед выходом на&nbsp;улицу наносят средство с&nbsp;солнцезащитным фильтром;
          +li Также на&nbsp;1-2&nbsp;недели исключают интенсивные занятия спортом;
          +li Используют мягкие средства для умывания;
          +li Декоративную косметику наносят, когда сойдет отечность и&nbsp;покраснение.

  +pageSection
    h2 RF-лифтинг тела
    p Радиочастотное омоложение проводят не&nbsp;только на&nbsp;лице, но&nbsp;и&nbsp;на любом участке тела. Процедура адаптируется к&nbsp;потребностям каждого пациента. RF-лифтинг тела уплотняет кожу и&nbsp;повышает эластичность, укрепляет провисшие и&nbsp;дряблые ткани. Подходит для устранения локальных морщин, шрамов или растяжек. Это один из ведущих методов комплексного омоложения тела.
    .question
      .question__name
        h3 Показания для RF-лифтинга на&nbsp;теле
      .question__body
        +ul
          +li Бугристость, отечность и&nbsp;синюшность кожи (признаки целлюлита);
          +li Жировые отложения в&nbsp;отдельных областях;
          +li Растяжки;
          +li Обвисание проблемных зон;
          +li Восстановление фигуры после родов и&nbsp;резкого снижения веса;
          +li Реабилитация после липосакции и&nbsp;хирургической подтяжки.

  +pageSection
    h2 Противопоказания
    p Радиочастотное омоложение&nbsp;— действенная альтернатива хирургии. Абсолютные и&nbsp;временные противопоказания выявляются на&nbsp;консультации, разрешение ситуации обсуждается с&nbsp;врачом.
    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Воспаленная и&nbsp;инфицированная кожа;
          +li Беременность и&nbsp;лактация;
          +li Пирсинг;
          +li Респираторные инфекции;
          +li Обострение хронических состояний.

    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Онкология в&nbsp;анамнезе;
          +li Золотые нити и&nbsp;другие вживленные металлические элементы;
          +li Кардиостимулятор;
          +li Аутоиммунные состояния;
          +li Эпилепсия;
          +li Доброкачественные образования на&nbsp;коже.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Радиочастотное омоложение лица: эффект, подтвержденный доказательствами/ Моэтаз Эль-Домиати, Валид Медхат, Усама Бандер Муавад;
          +li Радиочастотная микроигольная терапия: обзор технологии, преимущества, различия в&nbsp;устройствах, исследования и&nbsp;показания/ Стивен&nbsp;Ф. Вайнер;
          +li Омоложение кожи радиочастотной терапией: методы, эффекты и&nbsp;риски/ Соня Грюневальд, Уве Пааш, Марк Оливер Бодендорф и&nbsp;другие;
          +li Омоложение кожи и&nbsp;уменьшение морщин с&nbsp;помощью фракционной радиочастотной системы/ Дж.&nbsp;Груза, Эми Форман Тауб, Сюзанна&nbsp;Л. Колльер.
