extends /blocks/layout/layout

include /blocks/landing-block/landing-block
include /blocks/iframe-responsive/iframe-responsive
include /blocks/banner-advantages/banner-advantages

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content
  +bannerAdvantages(
    'ПРЕИМУЩЕСТВА УДАЛЕНИЯ ЗУБОВ ВО СНЕ В КЛИНИКЕ MEDALL:',
    [
      { type: 'toothDrill', content: 'лечение не оставляет травмирующего неприятного воспоминания о процессе лечения (запах крови, хирургические манипуляции, хруст при удалении);' },
      { type: 'add', content: 'нет болевой реакции на операции;' },
      { type: 'anesthesia', content: 'внутривенное введение препаратов противовоспалительного,  противоотечного и антибактериальных действия , позволяют снизить боль и отек после операции;' },
      { type: 'checkup', content: 'во время лечения в крови пациента не вырабатывается адреналин, что также сокращает срок заживления;' },
      { type: 'checklist', content: 'заживление после операции протекает легче, чем при классическом  одиночном удалении;' },
      { type: 'chair', content: 'удаление во сне позволяет сократить время на посещение стоматолога, сокращает  срок заживления и приема лекарств;' },
      { type: 'microscope', content: 'удаление проводится под увеличением (бинокуляры, микроскоп), что позволяет доктору работать максимально точно, не травмируя мягкие ткани.' },
    ]
  )
  include /blocks/banner-stomach/banner-stomach
  include /blocks/banner-result-stomach/banner-result-stomach
  include /blocks/banner-blefaro/banner-blefaro
  include /blocks/banner-result-blefaro/banner-result-blefaro
  include /blocks/banner-lipomodelling/banner-lipomodelling
  include /blocks/banner-result-lipomodeling/banner-result-lipomodeling
