extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked
include /blocks/works/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/works
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Пластическая хирургия' ], current: 'Подтяжка груди' }).breadcrumbs--landing
  .landing-page
    include /blocks/landing-header/landing-header
    include /blocks/landing-menu/landing-menu

    +pageSection
      h2 1. Блок с развернутым заголовком h3 и изображением справа
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question.question--active
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
    
    +pageSection
      h2 2. Блок с развернутым заголовком h3 и изображением слева
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question.question--active
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.

    +pageSection
      h2 3. Блок со свернутым заголовком h3 и изображением справа
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
    
    +pageSection
      h2 4. Блок со свернутым заголовком h3 и изображением слева
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.

    +pageSection
      h2 5. Блок со свернутым заголовком h3 и слайдером с изображениями справа
      p Подготовка к&nbsp;операции включает ряд важных шагов для успеха и&nbsp;безопасности процедуры. Соблюдение предоперационных инструкций имеет решающее значение для оптимизации результатов, минимизации возможных рисков и&nbsp;осложнений. Пациенту важно быть проинформированным о&nbsp;процессе и&nbsp;следовать рекомендациям врача.
      .question
        .question__name
          h3 Консультация
        .question__body
          +grid.landing-block
            +cell({ s:6 })
              p Первый шаг к&nbsp;подтянутой груди&nbsp;&mdash; консультация с&nbsp;хирургом клиники MEDALL, чтобы убедиться, что мастопексия&nbsp;&mdash; лучший способ получить желаемые результаты. 
              p На&nbsp;беседе с&nbsp;врачом пациенты подробно раскрывают историю болезни, включая принимаемые лекарства и&nbsp;добавки, перенесенные операции и&nbsp;болезни. Хирург осматривает, измеряет и&nbsp;фотографирует бюст. Затем обсуждает с&nbsp;пациенткой варианты хирургического вмешательства. План лечения составляется с&nbsp;учетом формы тела, эстетических целей и&nbsp;личных предпочтений. 
              p Благодаря 3D-моделированию пациентка может заранее оценить результат того, как будет выглядеть грудь после мастопексии.
            +cell({ s:6 }).landing-block__image
              +slider({ fullWidth: true }).landing-block__slider
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-8',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='На консультации вы получите ответы на все ваши вопросы' title='На консультации вы получите ответы на все ваши вопросы').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) На консультации вы получите ответы на все ваши вопросы
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-9',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='3D-моделирование результата' title='3D-моделирование результата').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) 3D-моделирование результата
    
    +pageSection
      h2 6. Блок со свернутым заголовком h3 и слайдером с изображениями слева
      p Подготовка к&nbsp;операции включает ряд важных шагов для успеха и&nbsp;безопасности процедуры. Соблюдение предоперационных инструкций имеет решающее значение для оптимизации результатов, минимизации возможных рисков и&nbsp;осложнений. Пациенту важно быть проинформированным о&nbsp;процессе и&nbsp;следовать рекомендациям врача.
      .question
        .question__name
          h3 Консультация
        .question__body
          +grid.landing-block
            +cell({ s:6 }).landing-block__image
              +slider({ fullWidth: true }).landing-block__slider
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-8',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='На консультации вы получите ответы на все ваши вопросы' title='На консультации вы получите ответы на все ваши вопросы').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) На консультации вы получите ответы на все ваши вопросы
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-9',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='3D-моделирование результата' title='3D-моделирование результата').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) 3D-моделирование результата
            +cell({ s:6 })
              p Первый шаг к&nbsp;подтянутой груди&nbsp;&mdash; консультация с&nbsp;хирургом клиники MEDALL, чтобы убедиться, что мастопексия&nbsp;&mdash; лучший способ получить желаемые результаты. 
              p На&nbsp;беседе с&nbsp;врачом пациенты подробно раскрывают историю болезни, включая принимаемые лекарства и&nbsp;добавки, перенесенные операции и&nbsp;болезни. Хирург осматривает, измеряет и&nbsp;фотографирует бюст. Затем обсуждает с&nbsp;пациенткой варианты хирургического вмешательства. План лечения составляется с&nbsp;учетом формы тела, эстетических целей и&nbsp;личных предпочтений. 
              p Благодаря 3D-моделированию пациентка может заранее оценить результат того, как будет выглядеть грудь после мастопексии.

    +pageSection
      h2 7. В блоке может быть несколько свернутых/развернутых заголовков h3; изображение или слайдер слева/справа; или без изображения
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question--active
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
      .question
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
      .question
        .question__name 
          h3 Основные показания
        .question__body
          ul
            li Опущение молочных желез;
            li Потеря объема груди;
            li Увеличенные ареолы;
            li Соски, опустившиеся ниже подгрудной складки;
            li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
            li Растяжение поддерживающих грудь связок;
            li Несоответствие формы бюста и&nbsp;строения тела. 
          p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
      .question
        .question__name
          h3 Консультация
        .question__body
          +grid.landing-block
            +cell({ s:6 }).landing-block__image
              +slider({ fullWidth: true }).landing-block__slider
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-8',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='На консультации вы получите ответы на все ваши вопросы' title='На консультации вы получите ответы на все ваши вопросы').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) На консультации вы получите ответы на все ваши вопросы
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-9',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='3D-моделирование результата' title='3D-моделирование результата').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) 3D-моделирование результата
            +cell({ s:6 })
              p Первый шаг к&nbsp;подтянутой груди&nbsp;&mdash; консультация с&nbsp;хирургом клиники MEDALL, чтобы убедиться, что мастопексия&nbsp;&mdash; лучший способ получить желаемые результаты. 
              p На&nbsp;беседе с&nbsp;врачом пациенты подробно раскрывают историю болезни, включая принимаемые лекарства и&nbsp;добавки, перенесенные операции и&nbsp;болезни. Хирург осматривает, измеряет и&nbsp;фотографирует бюст. Затем обсуждает с&nbsp;пациенткой варианты хирургического вмешательства. План лечения составляется с&nbsp;учетом формы тела, эстетических целей и&nbsp;личных предпочтений. 
              p Благодаря 3D-моделированию пациентка может заранее оценить результат того, как будет выглядеть грудь после мастопексии.
      .question
        .question__name
          h3 Консультация
        .question__body
          +grid.landing-block
            +cell({ s:6 })
              p Первый шаг к&nbsp;подтянутой груди&nbsp;&mdash; консультация с&nbsp;хирургом клиники MEDALL, чтобы убедиться, что мастопексия&nbsp;&mdash; лучший способ получить желаемые результаты. 
              p На&nbsp;беседе с&nbsp;врачом пациенты подробно раскрывают историю болезни, включая принимаемые лекарства и&nbsp;добавки, перенесенные операции и&nbsp;болезни. Хирург осматривает, измеряет и&nbsp;фотографирует бюст. Затем обсуждает с&nbsp;пациенткой варианты хирургического вмешательства. План лечения составляется с&nbsp;учетом формы тела, эстетических целей и&nbsp;личных предпочтений. 
              p Благодаря 3D-моделированию пациентка может заранее оценить результат того, как будет выглядеть грудь после мастопексии.
            +cell({ s:6 }).landing-block__image
              +slider({ fullWidth: true }).landing-block__slider
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-8',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='На консультации вы получите ответы на все ваши вопросы' title='На консультации вы получите ответы на все ваши вопросы').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) На консультации вы получите ответы на все ваши вопросы
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-9',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='3D-моделирование результата' title='3D-моделирование результата').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) 3D-моделирование результата

    +pageSection({ backgroundColor: [ true, 'light' ] })
      h2 8. Блок с фоновым цветом
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question
        .question__name 
          h3 Основные показания
        .question__body
          ul
            li Опущение молочных желез;
            li Потеря объема груди;
            li Увеличенные ареолы;
            li Соски, опустившиеся ниже подгрудной складки;
            li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
            li Растяжение поддерживающих грудь связок;
            li Несоответствие формы бюста и&nbsp;строения тела. 
          p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
    
    +pageSection
      h2 9. Блок без заголовка h3
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      
    +pageSection
      h2 10. Блок с заголовком h3 и текстом в две колонки
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ m:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
            +cell({ m:6 })
              ul
                li Опущение молочных желез;
                li Потеря объема груди;
                li Увеличенные ареолы;
                li Соски, опустившиеся ниже подгрудной складки;
                li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                li Растяжение поддерживающих грудь связок;
                li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.

    +pageSection
      h2 11. Блок с заголовками h3 и h4
      p Операция по&nbsp;подтяжке груди без имплантов решает проблемы обвисания и&nbsp;потери объема. Процедура дает тонкие и&nbsp;естественные результаты, удаляя излишки кожи и&nbsp;мягких тканей. Усовершенствование методов подтяжки привело к&nbsp;уменьшению внешних рубцов, улучшению формы груди и&nbsp;повышению степени удовлетворенности пациентов.
      .question
        .question__name
          h3 Изображение справа и заголовки h4 в одну колонку
        .question__body
          +grid.p
            +cell({ s:6 })
              p Это маммопексия, восстанавливающая эстетику груди у&nbsp;пациенток с&nbsp;минимальным птозом (перемещение сосково-ареолярного комплекса (СОК) менее чем на&nbsp;2&nbsp;см). Задача хирурга&nbsp;&mdash; подтяжка молочных желез, фиксация сосков в&nbsp;соответствии с&nbsp;пожеланиями пациентки. Из-за кругового разреза вокруг ареолы технику еще называют &laquo;круговая подтяжка груди&raquo;. Для ограничения растяжения ареолярного рубца используется блокирующий шов.
            +cell({ m:6 })
              +img({
                name: 'podtyazhka-2',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Виды операций по подтяжки груди' title='Виды операций по подтяжки груди').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды операций по подтяжки груди
            
          h4 Преимущества
          ul
            li Подтяжка груди без имплантов, возвращение прежнего объема; 
            li Естественное положение и&nbsp;форма сосков;
            li Низкая травматичность;
            li Быстрое восстановление;
            li Сочетание подтяжки груди с&nbsp;уменьшением или увеличением размера бюста.
          h4 Показания
          ul
            li Легкое и&nbsp;умеренное опущение;
            li Асимметрия молочных желез;
            li Незначительная асимметрия сосков.
          p Хирургический доступ через периареолярный разрез расширяет показания к&nbsp;органосохраняющей хирургии при лечении рака груди, позволяя проводить реконструкцию грудной железы с&nbsp;сохранением структуры даже после обширного иссечения.
          h4 Противопоказания
          ul
            li При выраженном обвисании груди метод не&nbsp;подходит из-за риска добиться обратного эффекта.
          h4 Особенности проведения операции
          ul
            li Предоперационная разметка;
            li Введение анестезии;
            li Разрез вокруг ареолы, чтобы получить доступ к&nbsp;тканям и&nbsp;провести дальнейшую коррекцию; 
            li Фиксация приподнятых тканей в&nbsp;новом положении;
            li Зашивание разреза. Швы могут быть внутренними или поверхностными;
            li Накладывание повязки для защиты и&nbsp;поддержки тканей.
           
      .question
        .question__name
          h3 Изображение слева и заголовки h4 в одну колонку
        .question__body
          +grid.p
            +cell({ m:6 })
              +img({
                name: 'podtyazhka-2',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Виды операций по подтяжки груди' title='Виды операций по подтяжки груди').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды операций по подтяжки груди
            +cell({ s:6 })
              p Это маммопексия, восстанавливающая эстетику груди у&nbsp;пациенток с&nbsp;минимальным птозом (перемещение сосково-ареолярного комплекса (СОК) менее чем на&nbsp;2&nbsp;см). Задача хирурга&nbsp;&mdash; подтяжка молочных желез, фиксация сосков в&nbsp;соответствии с&nbsp;пожеланиями пациентки. Из-за кругового разреза вокруг ареолы технику еще называют &laquo;круговая подтяжка груди&raquo;. Для ограничения растяжения ареолярного рубца используется блокирующий шов.
            
          h4 Преимущества
          ul
            li Подтяжка груди без имплантов, возвращение прежнего объема; 
            li Естественное положение и&nbsp;форма сосков;
            li Низкая травматичность;
            li Быстрое восстановление;
            li Сочетание подтяжки груди с&nbsp;уменьшением или увеличением размера бюста.
          h4 Показания
          ul
            li Легкое и&nbsp;умеренное опущение;
            li Асимметрия молочных желез;
            li Незначительная асимметрия сосков.
          p Хирургический доступ через периареолярный разрез расширяет показания к&nbsp;органосохраняющей хирургии при лечении рака груди, позволяя проводить реконструкцию грудной железы с&nbsp;сохранением структуры даже после обширного иссечения.
          h4 Противопоказания
          ul
            li При выраженном обвисании груди метод не&nbsp;подходит из-за риска добиться обратного эффекта.
          h4 Особенности проведения операции
          ul
            li Предоперационная разметка;
            li Введение анестезии;
            li Разрез вокруг ареолы, чтобы получить доступ к&nbsp;тканям и&nbsp;провести дальнейшую коррекцию; 
            li Фиксация приподнятых тканей в&nbsp;новом положении;
            li Зашивание разреза. Швы могут быть внутренними или поверхностными;
            li Накладывание повязки для защиты и&nbsp;поддержки тканей.

      .question
        .question__name
          h3 Изображение слева и заголовки h4 в две колонки
        .question__body
          +grid.p
            +cell({ m:6 })
              +img({
                name: 'podtyazhka-2',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Виды операций по подтяжки груди' title='Виды операций по подтяжки груди').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды операций по подтяжки груди
            +cell({ s:6 })
              p Это маммопексия, восстанавливающая эстетику груди у&nbsp;пациенток с&nbsp;минимальным птозом (перемещение сосково-ареолярного комплекса (СОК) менее чем на&nbsp;2&nbsp;см). Задача хирурга&nbsp;&mdash; подтяжка молочных желез, фиксация сосков в&nbsp;соответствии с&nbsp;пожеланиями пациентки. Из-за кругового разреза вокруг ареолы технику еще называют &laquo;круговая подтяжка груди&raquo;. Для ограничения растяжения ареолярного рубца используется блокирующий шов.
            +cell({ m:6 })
              h4 Преимущества
              ul
                li Подтяжка груди без имплантов, возвращение прежнего объема; 
                li Естественное положение и&nbsp;форма сосков;
                li Низкая травматичность;
                li Быстрое восстановление;
                li Сочетание подтяжки груди с&nbsp;уменьшением или увеличением размера бюста.
              h4 Показания
              ul
                li Легкое и&nbsp;умеренное опущение;
                li Асимметрия молочных желез;
                li Незначительная асимметрия сосков.
              p Хирургический доступ через периареолярный разрез расширяет показания к&nbsp;органосохраняющей хирургии при лечении рака груди, позволяя проводить реконструкцию грудной железы с&nbsp;сохранением структуры даже после обширного иссечения.
            +cell({ m:6 })
              h4 Противопоказания
              ul
                li При выраженном обвисании груди метод не&nbsp;подходит из-за риска добиться обратного эффекта.
              h4 Особенности проведения операции
              ul
                li Предоперационная разметка;
                li Введение анестезии;
                li Разрез вокруг ареолы, чтобы получить доступ к&nbsp;тканям и&nbsp;провести дальнейшую коррекцию; 
                li Фиксация приподнятых тканей в&nbsp;новом положении;
                li Зашивание разреза. Швы могут быть внутренними или поверхностными;
                li Накладывание повязки для защиты и&nbsp;поддержки тканей.

      .question
        .question__name
          h3 Изображение спрва и заголовки h4 в две колонки
        .question__body
          +grid.p
            +cell({ s:6 })
              p Это маммопексия, восстанавливающая эстетику груди у&nbsp;пациенток с&nbsp;минимальным птозом (перемещение сосково-ареолярного комплекса (СОК) менее чем на&nbsp;2&nbsp;см). Задача хирурга&nbsp;&mdash; подтяжка молочных желез, фиксация сосков в&nbsp;соответствии с&nbsp;пожеланиями пациентки. Из-за кругового разреза вокруг ареолы технику еще называют &laquo;круговая подтяжка груди&raquo;. Для ограничения растяжения ареолярного рубца используется блокирующий шов.
            +cell({ m:6 })
              +img({
                name: 'podtyazhka-2',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Виды операций по подтяжки груди' title='Виды операций по подтяжки груди').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды операций по подтяжки груди
            +cell({ m:6 })
              h4 Преимущества
              ul
                li Подтяжка груди без имплантов, возвращение прежнего объема; 
                li Естественное положение и&nbsp;форма сосков;
                li Низкая травматичность;
                li Быстрое восстановление;
                li Сочетание подтяжки груди с&nbsp;уменьшением или увеличением размера бюста.
              h4 Показания
              ul
                li Легкое и&nbsp;умеренное опущение;
                li Асимметрия молочных желез;
                li Незначительная асимметрия сосков.
              p Хирургический доступ через периареолярный разрез расширяет показания к&nbsp;органосохраняющей хирургии при лечении рака груди, позволяя проводить реконструкцию грудной железы с&nbsp;сохранением структуры даже после обширного иссечения.
            +cell({ m:6 })
              h4 Противопоказания
              ul
                li При выраженном обвисании груди метод не&nbsp;подходит из-за риска добиться обратного эффекта.
              h4 Особенности проведения операции
              ul
                li Предоперационная разметка;
                li Введение анестезии;
                li Разрез вокруг ареолы, чтобы получить доступ к&nbsp;тканям и&nbsp;провести дальнейшую коррекцию; 
                li Фиксация приподнятых тканей в&nbsp;новом положении;
                li Зашивание разреза. Швы могут быть внутренними или поверхностными;
                li Накладывание повязки для защиты и&nbsp;поддержки тканей.

      .question
        .question__name
          h3 Текст в две колонки с заголовками h4, без изображений
        .question__body
          p Техника еще известна как полная подтяжка груди у&nbsp;женщин, которая помогает даже в&nbsp;случаях сильно растянутой и&nbsp;лишенной объема молочной железы. Операция позволяет добиться максимального омоложения груди. После якорной подтяжки собственной груди результат выглядит натурально, грудные железы не&nbsp;теряют естественную плотность, эстетичность СОК повышается. 
          +grid.p
            +cell({ s:6 })
              h4 Преимущества
              ul
                li Коррекция формы и&nbsp;контура бюста без имплантов;
                li Стойкий эффект даже при тяжелых степенях птоза;
                li Отсутствие повязок, дренажей и&nbsp;пластырей после операции;
                li Сохранение функции лактации на&nbsp;70&nbsp;%;
                li Использование саморассасывающихся швов.
              h4 Показания
              ul
                li Птоз 3&nbsp;степени;
                li Коррекция ареол;
                li Уменьшение размера молочной железы;
                li Утрата четкого контура бюстом.
            +cell({ s:6 })
              h4 Противопоказания
              ul
                li Стандартные противопоказания при подтяжке груди после родов.
                li Особенности проведения операции
                li Предоперационная разметка;
                li Введение анестезии;
                li Три разреза в&nbsp;форме перевернутого Т;
                li Иссечение лишних тканей;
                li Перенесение СОК на&nbsp;намеченный уровень;
                li Моделирование формы груди;
                li Накладывание швов.
      .question
        .question__name
          h3 Текст в одну колонку с заголовками h4, без изображений
        .question__body
          p Техника еще известна как полная подтяжка груди у&nbsp;женщин, которая помогает даже в&nbsp;случаях сильно растянутой и&nbsp;лишенной объема молочной железы. Операция позволяет добиться максимального омоложения груди. После якорной подтяжки собственной груди результат выглядит натурально, грудные железы не&nbsp;теряют естественную плотность, эстетичность СОК повышается. 
          h4 Преимущества
          ul
            li Коррекция формы и&nbsp;контура бюста без имплантов;
            li Стойкий эффект даже при тяжелых степенях птоза;
            li Отсутствие повязок, дренажей и&nbsp;пластырей после операции;
            li Сохранение функции лактации на&nbsp;70&nbsp;%;
            li Использование саморассасывающихся швов.
          h4 Показания
          ul
            li Птоз 3&nbsp;степени;
            li Коррекция ареол;
            li Уменьшение размера молочной железы;
            li Утрата четкого контура бюстом.
          h4 Противопоказания
          ul
            li Стандартные противопоказания при подтяжке груди после родов.
            li Особенности проведения операции
            li Предоперационная разметка;
            li Введение анестезии;
            li Три разреза в&nbsp;форме перевернутого Т;
            li Иссечение лишних тканей;
            li Перенесение СОК на&nbsp;намеченный уровень;
            li Моделирование формы груди;
            li Накладывание швов.
