extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое липофилинг губ
    p Это увеличение губ жиром с&nbsp;других участков тела. Липофилинг губ придает естественный объем и&nbsp;улучшает контур губ, делая их красивыми и&nbsp;чувственными. Процедура характеризуется малоинвазивностью, так как забор жира осуществляется через небольшие проколы, чаще в&nbsp;области живота и&nbsp;ягодиц. Отсутствие иммуногенности&nbsp;— главное преимущество метода. Липофилинг занимает 1-2&nbsp;часа. Пребывание в&nbsp;стационаре не&nbsp;требуется.
    p В&nbsp;MEDALL для операции используют стерильную систему забора и&nbsp;введения жира, исключающую контакт донорского материала с&nbsp;воздухом. Система сокращает время операции и&nbsp;пребывания пациента под наркозом, увеличивает жизнеспособность и&nbsp;приживаемость жировых тканей.

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Современные технологии и&nbsp;опыт наших хирургов позволяют возвращать молодость и&nbsp;красоту с&nbsp;минимальной травматизацией тканей. Липосакция и&nbsp;липофилинг подходят большинству пациентов независимо от&nbsp;пола и&nbsp;возраста.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Уменьшение полноты губ с&nbsp;возрастом;
          +li Желание улучшить контуры и&nbsp;объем губ;
          +li Непропорциональные размеры губ;
          +li Увядающая кожа на&nbsp;губах;
          +li Размытый контур;
          +li Вертикальные заломы вокруг рта.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Безопасность и&nbsp;удобство процедуры;
          +li Отсутствие иммунного ответа организма на&nbsp;жир;
          +li Долговечность и&nbsp;естественность результата;
          +li Быстрое восстановление;
          +li Двойной эффект: коррекция контуров тела и&nbsp;повышение эстетики губ;
          +li Сочетание с&nbsp;другими эстетическими операциями.

  +pageSection
    h2 Этапы проведения липофилинга
    p Перед липофилингом пациент проходит обязательные виды медицинского обследования. Операцию планируют после заключительного решения терапевта. Процесс включает забор жировой ткани в&nbsp;частях тела с&nbsp;избытком жира, ее очистку и&nbsp;инъекцию в&nbsp;губы. Обычно процедура занимает 1&nbsp;час и&nbsp;проводится под местной анестезией.
    .question
      .question__name
        h3 Подготовительный этап
      .question__body
        +ul
          +li При склонности к&nbsp;герпетическим высыпаниям в&nbsp;профилактических целях заранее проходят курс противовирусных препаратов;
          +li За&nbsp;2&nbsp;недели до&nbsp;липопластики отказываются от&nbsp;курения, алкогольных напитков и&nbsp;кроворазжижающих средств;
          +li За&nbsp;3-5&nbsp;дней до&nbsp;предполагаемой операции желательно исключить из рациона соленые и&nbsp;копченые продукты во&nbsp;избежание отеков;
          +li Воздержитесь от&nbsp;загара в&nbsp;течение недели перед процедурой.

    .question
      .question__name
        h3 Липофилинг губ
      .question__body
        p
          strong Извлечение жировой ткани. 
          | После местной анестезии жир извлекается чаще всего с&nbsp;поверхности пупка, живота или внутренней части бедра с&nbsp;помощью иглы для подкожных инъекций или канюли. Размер инструмента ограничивает повреждение жировых клеток. После забора материала для пересадки процедура может продолжаться как липосакция.
        p
          strong Обработка жира. 
          | После забора жир обрабатывается в&nbsp;центрифуге для очищения от&nbsp;крови, отмерших клеток и&nbsp;других примесей.
        p
          strong Инъекция жира. 
          | Очищенным жиром наполняют губы через канюли с&nbsp;проколом до&nbsp;3&nbsp;мм. Область наполнения и&nbsp;количество жира оговаривается предварительно на&nbsp;консультации.

    .question
      .question__name
        h3 Восстановительный этап
      .question__body
        p 1-2&nbsp;часа пациент остается в&nbsp;клинике под наблюдением медперсонала, после чего отправляется домой, получив рекомендации врача. Как правило, через неделю люди возвращаются к&nbsp;повседневным делам. Первые дни после увеличения губы выглядят распухшими, ощущается незначительная пульсирующая болезненность.
        p Отеки и&nbsp;синяки вокруг губ&nbsp;— обычное явление после липофилинга. Побочные эффекты проходят в&nbsp;течение 4-7&nbsp;дней. Легкий дискомфорт болезненность или чувство стянутости непродолжительное время также считается нормой. Для снижения неприятных ощущения следуют инструкциям врачам по&nbsp;последующему уходу. Охлаждающие компрессы исключены, так&nbsp;как жировые ткани плохо переносят температурный контраст.

  +pageSection
    h2 Как избежать осложнений
    p Не&nbsp;употребляйте горячую пищу и&nbsp;напитки в&nbsp;первый день после процедуры. В&nbsp;процессе инъекций кожа с&nbsp;мягкими тканями многократно травмируется. В&nbsp;ответ организм выделяет медиаторы воспаления, которые расширяют кровеносные сосуды и&nbsp;усиливают микроциркуляцию. Горячие продукты дополнительно усиливают приток крови, а&nbsp;значит отечность. Спите с&nbsp;приподнятой головой, ограничьте движение губами, не&nbsp;пейте через трубочку. Через 4-6&nbsp;недель после того, как отек спадет окончательно, ограничения снимаются.
    .question
      .question__name
        h3 Ограничения
      .question__body
        p 3-4&nbsp;недели избегайте:
        +ul
          +li давления на&nbsp;губы, чтобы не&nbsp;сместить жировые ткани;
          +li интенсивных нагрузок, усиливающих приток крови к&nbsp;губам, например, интенсивных упражнений;
          +li употребления алкоголя, который усилит отек;
          +li экстремальных температур, например, нахождения в&nbsp;саунах;
          +li курения, замедляющего заживление и&nbsp;влияющего на&nbsp;конечный результат.

    .question
      .question__name
        h3 Последующий уход
      .question__body
        p После увеличения губ с&nbsp;помощью пересадки жира последующий уход имеет решающее значение для оптимизации и&nbsp;сохранения результатов. В&nbsp;течение трех месяцев после липофилинга нельзя кардинально худеть. Если масса тела уменьшится, пересаженный жир рассосется первым.

    .question
      .question__name
        h3 Рекомендации
      .question__body
        +ul
          +li На&nbsp;несколько дней после процедуры откажитесь от&nbsp;декоративной косметики, ограничьтесь гипоаллергенными ухаживающими средствами;
          +li Обрабатывайте места доступа в&nbsp;донорской зоне;
          +li Поддерживайте водный баланс, чтобы способствовать скорейшему заживлению и&nbsp;улучшению состояния кожи;
          +li Защищайте губы от&nbsp;воздействия солнца бальзамом с&nbsp;SPF.

  +pageSection
    h2 Долговечность результатов
    p Плотность жировой ткани схожа с&nbsp;плотностью мягких тканей лица, поэтому после липофилинга рот выглядят натурально: естественный цвет, приятная полнота. На&nbsp;ощупь губы мягкие&nbsp;– догадаться о&nbsp;вмешательстве невозможно.
    p Оценить окончательный результат можно через 2-3&nbsp;месяца, так&nbsp;как до&nbsp;30-40&nbsp;% жира постепенно поглощается организмом. Поэтому врач изначально вводит в&nbsp;проблемную зону чуть больше жировой ткани. Оставшиеся жировые клетки остаются в&nbsp;целевой зоне годами. Когда возрастные изменения возьмут свое, и&nbsp;объем со&nbsp;временем сойдет, проводят повторную процедуру. В&nbsp;среднем эффект держится до&nbsp;5&nbsp;лет.

  +pageSection
    h2 Противопоказания
    p Чтобы сократить и&nbsp;облегчить период реабилитации, необходимо тщательно подготовиться к&nbsp;операции, выявив и&nbsp;устранив временные противопоказания.
    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Аутоиммунные состояния;
          +li Сахарный диабет;
          +li Коагулопатия;
          +li Болезни сосудов и&nbsp;сердца;
          +li Онкология любой локализации и&nbsp;другие.

    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Обострение герпесной инфекции;
          +li Беременность и&nbsp;лактация;
          +li Острые респираторные вирусные инфекции.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Оптимизация липофилинга лица&nbsp;— метод определения объема жирового аутотрансплантата для эстетической коррекции/ Орлова&nbsp;Ю.М., Вербо&nbsp;Е.В., Мантурова&nbsp;Н.Е.;
          +li Липофилинг. Обзор методики. Современные возможности и&nbsp;перспективы коррекции кожных рубцов/ Сергеева&nbsp;Ю.А., Каде&nbsp;А.Х., Богланов&nbsp;С.Б., Трофименко&nbsp;А.И.;
          +li Свободная пересадка жировой ткани как способ реконструкции при деформациях губ/ Казанцев&nbsp;И.Б., Цуканов&nbsp;А.И., Васильев&nbsp;В.С.
