extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое круговая подтяжка лица?
    p Лифтинг лица&nbsp;– это сочетание хирургических омолаживающих процедур для удаления избытков кожи, устранения провисаний, уменьшения морщин на&nbsp;лице и&nbsp;шее. Подтяжка лица хирургическим путем также меняет объемы и&nbsp;локально удаляет жир. Операция уменьшает признаки старения как у&nbsp;женщин, так и&nbsp;у&nbsp;мужчин. Омолаживающий эффект держится 8-10&nbsp;лет.
    p Врачи MEDALL в&nbsp;совершенстве владеют малоинвазивной хирургией, используя современные техники прицельного воздействия на&nbsp;ткани. Проводят сочетанные вмешательства&nbsp;— несколько операций за&nbsp;один цикл наркоза.

  +pageSection
    h2 Показания и&nbsp;преимущества круговой подтяжки лица
    p Совершенствование технологий пластической хирургии, соблюдение пред- и&nbsp;послеоперационных рекомендаций гарантирует выраженный омолаживающий и&nbsp;при этом естественный результат&nbsp;— человек выглядит посвежевшим и&nbsp;помолодевшим на&nbsp;10&nbsp;лет.
    .question
      .question__name
        h3 Показания к&nbsp;процедуре
      .question__body
        +ul
          +li Птоз бровей;
          +li Увеличение объема нижнего века;
          +li Нависшее верхнее веко;
          +li Глубокие носогубные и&nbsp;межбровные складки;
          +li Морщины «марионетки»;
          +li Уменьшение объема скул;
          +li Обвисание кожи в&nbsp;области щек, шеи и&nbsp;подбородка;

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Выраженный эффект омоложения;
          +li Воздействие на&nbsp;разные части лица и&nbsp;шею;
          +li Сохранение естественных черт лица;
          +li Долгосрочный результат;
          +li Незаметные швы;
          +li Двойной подбородок и&nbsp;складки на&nbsp;шее.

  +pageSection
    h2 Методы подтяжки
    p В&nbsp;пластической хирургии есть два базовых метода подтяжки&nbsp;– эндоскопический и&nbsp;СМАС. Во&nbsp;время предоперационной консультации хирург обсуждает с&nbsp;пациентом подходящие варианты.
    .question
      .question__name
        h3 Эндоскопический
      .question__body
        p Это наиболее прогрессивная на&nbsp;сегодня хирургическая методика, корректирующая возрастные изменения с&nbsp;минимальным количеством разрезов. Процедура заключается в&nbsp;отслоении и&nbsp;перемещении в&nbsp;нужное место мягких тканей. Эндоскоп с&nbsp;камерой и&nbsp;источником света вводят в&nbsp;зону коррекции через разрезы&nbsp;(не&nbsp;больше 1&nbsp;см) на&nbsp;слизистой или в&nbsp;волосистой части головы. Следы вмешательства остаются незаметными. Эндоскоп позволяет хирургу видеть структуры, с&nbsp;которыми работает, и&nbsp;контролировать ход операции.
        p В&nbsp;MEDALL используется эндоскопическое оборудование немецкого бренда Karl&nbsp;Storz, высокая четкость которого гарантирует максимальную детализацию и&nbsp;ювелирную точность исполнения.

    .question
      .question__name
        h3 SMAS–лифтинг
      .question__body
        p
          | Это пластическая операция по подтяжке лица, предполагающая работу не только с кожей, но и с мышечно-фиброзным слоем. SMAS представляет собой тонкий слой мышц, который покрывает лицо и растягивается с возрастом. Подтяжка мышц дает превосходные результаты и гарантирует тотальное омоложение. 
          a(href='/landing--smas-lifting.html') SMAS-лифтинг
          |   устраняет явно выраженные возрастные изменения.

  +pageSection
    h2 Виды подтяжки лица
    p Анатомически область лица условно делится на&nbsp;верхний, средний и&nbsp;нижний сегмент. Верхняя разделительная линия проходит через брови, а&nbsp;нижняя&nbsp;— через ноздри. В&nbsp;группу эстетических операций по&nbsp;подтяжке лица и&nbsp;шеи входят: подтяжка лба, височный лифтинг, коррекция средней и&nbsp;нижней трети лица, омоложение шеи. Операции проводятся по&nbsp;отдельности или сочетаются для достижения максимального эффекта.
    .question
      .question__name
        h3 Верхний фейслифтинг
      .question__body
        p Это эндоскопический метод коррекции лба и&nbsp;бровей. Проводится при глубоких морщинах на&nbsp;лбу, нависающих веках и&nbsp;опустившихся бровных дугах. Процедуру выполняют, когда признаки старения уже заметны, но&nbsp;для более радикальных операций, например, кругового фейслифтинга для лица еще показаний нет. Часто совмещается с&nbsp;блефаропластикой.

    .question
      .question__name
        h3 Средний фейслифтинг
      .question__body
        p Подтяжка средней зоны выполняется как отдельная процедура или в&nbsp;комплексе со&nbsp;SMAS-лифтингом. Процедура показана, когда человек столкнулся с&nbsp;носогубными складками, обвислыми щеками, опущением уголков глаз. Совмещается с&nbsp;лифтингом нижнего века.

    .question
      .question__name
        h3 Нижний фейслифтинг
      .question__body
        p Пластика овала лица подтягивает и&nbsp;фиксирует обвислые щеки, сглаживает носогубные складки, восстанавливает четкость овала. Проводится эндоскопически и&nbsp;с&nbsp;помощью SMAS-лифтинга. Сочетается с&nbsp;платизмопластикой.

    .question
      .question__name
        h3 Круговая подтяжка&nbsp;(ридэктомия)
      .question__body
        p Ридэктомия устраняет возрастные изменения на&nbsp;трех участках лица за&nbsp;одну процедуру. Круговая подтяжка лица дает видимое омоложение до&nbsp;10&nbsp;лет. Операция подтягивает овал, делает контур лица более четким, избавляет от&nbsp;излишков дряблой кожи и&nbsp;жира, который перемещают в&nbsp;зоны нехватки объемов. Совмещается с&nbsp;блефаро- и&nbsp;платизмопластикой.

    .question
      .question__name
        h3 Подтяжка шеи
      .question__body
        p При морщинистой атоничной коже шеи хирург может дополнить ридэктомию платизмопластикой. В&nbsp;ряде случаев выполняется изолированная подтяжка шеи.

  +pageSection
    h2 Подготовительный этап
    p Вопрос о&nbsp;возможности круговой подтяжки лица и&nbsp;ее объеме решается с&nbsp;пластическим хирургом на&nbsp;предварительной консультации. Врач выясняет эстетические цели пациента и возможные противопоказания, уточняет о&nbsp;приеме лекарственных препаратов и&nbsp;вредных привычках.
    p В&nbsp;MEDALL хирурги используют 3D-сканирование, чтобы показать результаты, достигаемые разными хирургическими техниками.
    .question
      .question__name
        h3 Необходимые анализы и&nbsp;консультации
      .question__body
        p В&nbsp;ходе консультирования врачи предоставляют пациентам информацию о&nbsp;предстоящей операции, объясняют как подготовиться к&nbsp;процедуре, какие анализы сдать и&nbsp;как проходит реабилитация. Также хирург делает фото до&nbsp;и&nbsp;после лифтинга для визуального сравнения результатов. Средняя продолжительность операции 2,5-5&nbsp;часов.
        h4 Стандартные исследования
        +ul
          +li Стандартные тесты крови и&nbsp;мочи;
          +li Коагулограмма;
          +li Флюорография;
          +li Тест на&nbsp;ВИЧ, НВS, HCV, RW;
          +li Уровень глюкозы крови;
          +li Заключение терапевта о&nbsp;допуске к&nbsp;операции.

    .question
      .question__name
        h3 Рекомендации перед операцией
      .question__body
        +ul
          +li За&nbsp;2&nbsp;недели до&nbsp;фейслифтинга отказаться от&nbsp;курения, алкоголя, перестать принимать кроворазжижающие препараты;
          +li Не&nbsp;принимать пищу и&nbsp;не&nbsp;пить после полуночи накануне операции.

  +pageSection
    h2 Проведение операции
    p Стандартная операция по&nbsp;круговой подтяжке проводится в&nbsp;4&nbsp;этапа: перераспределение тканей, избавление от&nbsp;кожных излишков, фиксация тканей, формирование контура лица.
    .question
      .question__name
        h3 Этапы процедуры
      .question__body
        +ol
          +li Анестезия. Ведущим методом обезболивания в&nbsp;клинике является мониторируемая седоанальгезия. Подбирают анестезию индивидуально. Используемые препараты не&nbsp;угнетают дыхание и&nbsp;быстро выводятся из&nbsp;организма. При пробуждении пациент не&nbsp;испытывает неприятных ощущений. Внутривенный наркоз используется при подтяжке отдельных частей лица.
          +li Разрез. Часто процедуру начинают с&nbsp;липосакции подбородочной области. Разрезы кожи делают по&nbsp;предварительной разметке, проходящей по линии роста волос, за&nbsp;ушами.
          +li Подтяжка тканей начинается с&nbsp;коррекции лба, по&nbsp;краю нижней челюсти, в&nbsp;шейной складке. Через выполненные разрезы делают отслойку кожи.&nbsp;(При SMAS-лифтинге делают прецизионное натяжение поверхностного мышечно-фиброзного слоя). Затем мягкие ткани закрывают натянутым кожным лоскутом, излишки кожи иссекаются.
          +li Процедуру завершают подтяжкой мышц шеи, формирующих второй подбородок.
          +li Наложение швов. Разрезы закрываются внутренними скрытыми швами, которые затем удаляются. Хирурги также используют антисептические клеи для герметизации разрезов.
          +li Дренаж устанавливают в&nbsp;области удаления кожи по&nbsp;углу нижней челюсти для предотвращения скопления крови.
          +li Накладывается компрессионная повязка.

  +pageSection
    h2 Восстановительный этап
    p Сутки после операции пациенты проводят в&nbsp;стационаре под наблюдением медперсонала, пока полностью не&nbsp;придут в&nbsp;себя. При необходимости пребывание в&nbsp;стационаре продлевают. Контрольные осмотры проводятся через&nbsp;7, 14&nbsp;дней, 1&nbsp;и&nbsp;6 месяцев.
    p В&nbsp;MEDALL каждому пациенту предоставляется бесплатная консультация врача-реабилитолога для составления индивидуальной восстановительной программы.
    .question
      .question__name
        h3 Послеоперационная хронология
      .question__body
        +ul
          +li Дренажи удаляют в&nbsp;первый день после подтяжки;
          +li Швы снимаются через 7&nbsp;дней;
          +li Видимая отечность держится 3-4&nbsp;дня, затем начинает спадать;
          +li В первые 2-3&nbsp;дня после операции человек испытывает незначительные боли, которые купируются обезболивающими препаратами;
          +li Постоперационный период сопровождается синяками на&nbsp;лице, которые проходят в&nbsp;течение 2-2,5&nbsp;недель.

    .question
      .question__name
        h3 Послеоперационные рекомендации
      .question__body
        +ul
          +li Для минимизации отечности компрессионную повязку носят 7-10&nbsp;дней;
          +li До&nbsp;6&nbsp;месяцев после операции не&nbsp;рекомендовано посещать сауны, солярии и&nbsp;тренажерный зал;
          +li От&nbsp;окрашивания волос воздерживаются 3-4&nbsp;недели;
          +li Макияж наносят не&nbsp;раньше, чем через 1-2&nbsp;недели после вмешательства;
          +li После круговой подтяжки желательно ограничить мимику в&nbsp;течение 20–25&nbsp;дней;
          +li Месяц после операции спят на&nbsp;спине с&nbsp;приподнятой головой.

    .question
      .question__name
        h3 Уход за&nbsp;кожей и&nbsp;швами после операции
      .question__body
        p Заживление швов проходит по-разному. У&nbsp;одних пациентов швы разглаживаются через 2&nbsp;месяца, у&nbsp;других на&nbsp;разглаживание уходит до&nbsp;6&nbsp;месяцев. Через 2&nbsp;месяца рекомендуется закрепить результат инъекциями ботулотоксина и&nbsp;курсом мезотерапии.
        +ul
          +li Первые дни после операции кожу лица обрабатывают хлоргексидином;
          +li Швы также обрабатывают раствором хлоргексидина до&nbsp;3&nbsp;раз в&nbsp;день, затем наносят йодопирон или гель солкосерил;
          +li Если швы покраснели, используют мазь Банеоцин или Левомеколь;
          +li В&nbsp;среднем через месяц швы начинают обрабатывать препаратами, содержащими силикон, пока рубцы не&nbsp;посветлеют.

  +pageSection
    h2 Результаты и&nbsp;их долговечность
    p Фейслифтинг возвращает мягкие ткани в&nbsp;первоначальное положение, придавая контурам былую четкость. Первые видимые результаты появляются, когда отек и&nbsp;синяки спадают. Заключительный результат можно оценить через 3-6&nbsp;месяцев, когда лицо вернется к&nbsp;нормальной форме в&nbsp;плане текстуры и&nbsp;чувствительности. Следуйте инструкциям вашего хирурга, чтобы ощутить максимальный эффект от&nbsp;эстетической коррекции. Стандартно результат сохраняется до&nbsp;10&nbsp;лет, есть пациенты, эффект у&nbsp;которых продлился 12-15&nbsp;лет.

  +pageSection
    h2 Противопоказания
    p Любое хирургическое лечение проводится только после необходимых медицинских обследований и&nbsp;комплексной диагностики организма. Такой подход позволяет выявить противопоказания и&nbsp;избежать осложнений.
    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Онкология;
          +li Сахарный диабет;
          +li Болезни щитовидной железы;
          +li Гипертензия;
          +li Нарушения свертываемости крови и&nbsp;другие болезни системы кровообращения.

    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Хронические состояния в&nbsp;стадии обострения;
          +li Вирусные и&nbsp;бактериальные инфекции в&nbsp;острой форме.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Клинические аспекты процедурной и&nbsp;послеоперационной седации/ Лоскутов&nbsp;О.А.;
          +li Эстетическая хирургия лица/ Хуарес&nbsp;М. Авелар;
          +li Планирование оперативных вмешательств по&nbsp;коррекции возрастных изменений лица и&nbsp;шеи и&nbsp;сравнительная оценка методов их выполнения/ Хрусталева&nbsp;И.Э.





