extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/works/works-item/works-item
include /blocks/reviews/reviews-item/reviews-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
    const isLandingPage = true
    const dummyimage = 'https://dummyimage.com/1920x1080'
  include /data/landing
  include /data/footer
  include /data/category
  include /data/reviews
  include /data/works
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' })
  include /blocks/landing-header/landing-header
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Отзывы
    +slider().page-subsection.home-feedback__slider.reviews-item-list
      each review in reviewsItems
        +slide
          +reviewsItem(review) 
  +categoryDirections(directionsPlastic)
  +landingComfort
  +pageSection({ logo: true, backgroundColor: [true, 'dark'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center Пластические хирурги 
    +slider().page-subsection.home-staff__slider
      each item, key in doctors
        +slide(data-category= item.category).home-staff__slide
          .home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              {
                ext: 'webp',
                mime: 'image/webp'
              },
              {
                ext: 'jpg',
                orig: true
              }
            ],
          }).home-staff__image
  +pageSection
    +pageSubsection({ tag: 'h2' }).text-align-center Блок ссылок
    +pageSubsection(class= grid({ padding: 'y' }))
      each link in links
        +cell({ tag: 'a', l: 3, m: 4, s: 6, xs: 12 })(href='/').link-block
          p.link-block__image
            img(src='https://dummyimage.com/520x520' alt!=link title!=link)
            +button({ tag: 'span' }).link-block__button Подробнее
          p.link-block__name !{link}
  +bannerFacts([
    { name: '15', body: 'лет работы' },
    { name: '20', body: 'высококлассных специалистов' },
    { name: '>30 000', body: 'счастливых пациентов' },
  ], [])
  +bannerFacts([
    { name: '15', body: 'лет работы' },
    { name: '20', body: 'высококлассных специалистов' },
    { name: '>30 000', body: 'счастливых пациентов' },
  ], ['/images/inter.jpg'])
  +bannerFacts([
    { name: '15', body: 'лет работы' },
    { name: '20', body: 'высококлассных специалистов' },
    { name: '>30 000', body: 'счастливых пациентов' },
  ], [`${dummyimage}/f00`, `${dummyimage}/0f0`, `${dummyimage}/00f`])
  +landingBlock({
    images: ['endo-problems'],
    header: 'Какие проблемы решает эндодонтия? ',
    button: { name: 'Хочу спасти зуб' }
  })
    p: strong Эндодонтия призвана сохранять зубы.
    p Вместо того, чтобы удалить больной или повержденный зуб, мы устраняем инфекцию, удаляя пораженные ткани, а также защищаем внутреннюю часть зуба от дальнейшего разрушения.
    h3 Симптомы периодонтита (кисты):
    ul
      li Боль при накусывании и дотрагивании до зуба
      li Ощущение «выросшего зуба»
      li Отек окружающих мягких тканей
    p При хроническом течении периодонтит может протекать бессимптомно, (диагноз устанавливается при осмотре и оценке рентгенограмм).
    h3 Отсутствие своевременного качественного лечения периодонтита может привести к:
    ul
      li Проблемы с ЖКТ
      li Развитию воспалительных процессов в челюстно- лицевой области в т.ч. в гайморовых пазухах
      li Эндокардиту
      li Алопеции
      li Атопическому дерматиту
  +landingBlock({
    images: ['endo-problems'],
    header: 'Какие проблемы решает эндодонтия? ',
    button: { name: 'Хочу спасти зуб' },
    settings: {
      imgPos: 'right',
    },
  })
    p: strong Эндодонтия призвана сохранять зубы.
    p Вместо того, чтобы удалить больной или повержденный зуб, мы устраняем инфекцию, удаляя пораженные ткани, а также защищаем внутреннюю часть зуба от дальнейшего разрушения.
    h3 Симптомы периодонтита (кисты):
    ul
      li Боль при накусывании и дотрагивании до зуба
      li Ощущение «выросшего зуба»
      li Отек окружающих мягких тканей
    p При хроническом течении периодонтит может протекать бессимптомно, (диагноз устанавливается при осмотре и оценке рентгенограмм).
    h3 Отсутствие своевременного качественного лечения периодонтита может привести к:
    ul
      li Проблемы с ЖКТ
      li Развитию воспалительных процессов в челюстно- лицевой области в т.ч. в гайморовых пазухах
      li Эндокардиту
      li Алопеции
      li Атопическому дерматиту
  +landingBlock({
    header: 'Не спешите удалять разрушенный зуб, его еще можно спасти ',
    button: {
      href:'#',
      name: 'Хочу спасти зуб',
    },
    settings: {
      section: { backgroundColor: [ true, 'light' ] }
    },
  })
    p Современные лекарственные препараты, инновационные технологии эндодонтическое оборудование и профессионализм команды позволяют вылечить самые сложные и безнадежные зубы.
  +landingBlock({
    images: [
      'experts',
      '3d-modelling-2',
      '3d-modelling-3',
      '3d-modelling-4',
    ],
    form: true,
  })
    p: strong Руденко Виталий Александрович
    ul
      li Ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия».
      li Автор программы «Школа эндодонтии».
    p Одним из первых начал изучение основ эндодонтии, когда это направление стоматологии только стало зарождаться.
    p Виталий Александрович работает по авторской методике, при которой риск возникновения  вторичного кариеса сводится к нулю.
  +landingBlock({
    images: [
      'experts',
      '3d-modelling-2',
      '3d-modelling-3',
      '3d-modelling-4',
    ],
    form: true,
    settings: {
      section: {
        backgroundColor: [ true, 'dark' ],
      },
    },
  })
    p: strong Руденко Виталий Александрович
    ul
      li Ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия».
      li Автор программы «Школа эндодонтии».
    p Одним из первых начал изучение основ эндодонтии, когда это направление стоматологии только стало зарождаться.
    p Виталий Александрович работает по авторской методике, при которой риск возникновения  вторичного кариеса сводится к нулю.
  +landingBlock({
    images: [
      'experts',
      '3d-modelling-2',
      '3d-modelling-3',
      '3d-modelling-4',
    ],
    form: true,
    settings: {
      section: {
        backgroundColor: [ true, 'light' ],
      },
      imgPos: 'right',
    },
  })
    p: strong Руденко Виталий Александрович
    ul
      li Ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия».
      li Автор программы «Школа эндодонтии».
    p Одним из первых начал изучение основ эндодонтии, когда это направление стоматологии только стало зарождаться.
    p Виталий Александрович работает по авторской методике, при которой риск возникновения  вторичного кариеса сводится к нулю.
  +landingBlock({
    form: true,
    settings: { imgPos: 'right', },
  })
    p: strong Руденко Виталий Александрович
    ul
      li Ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия».
      li Автор программы «Школа эндодонтии».
    p Одним из первых начал изучение основ эндодонтии, когда это направление стоматологии только стало зарождаться.
    p Виталий Александрович работает по авторской методике, при которой риск возникновения  вторичного кариеса сводится к нулю.
  +landingBlock({
    images: [
      'experts',
      '3d-modelling-2',
      '3d-modelling-3',
      '3d-modelling-4',
    ],
    header: 'высокая экспертность наших специалистов — учим других врачей ',
  })
    p: strong Руденко Виталий Александрович
    ul
      li Ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия».
      li Автор программы «Школа эндодонтии».
    p Одним из первых начал изучение основ эндодонтии, когда это направление стоматологии только стало зарождаться.
    p Виталий Александрович работает по авторской методике, при которой риск возникновения  вторичного кариеса сводится к нулю.
  +landingBlock({
    header: 'Сохранить свой зуб дешевле, чем удалять и ставить имплантат',
    button: {
      href:'#',
      name: 'Хочу спасти зуб',
    },
    settings: {
      section: { backgroundColor: [ true, 'dark' ] }
    },
  })
  +landingBlock({
    header: 'Сохранить свой зуб дешевле, чем удалять и ставить имплантат',
    button: {
      href:'#',
      name: 'Хочу спасти зуб',
    },
    settings: {
      section: { backgroundColor: [ true, 'light' ] }
    },
  })
  +landingBlock({
    header: 'Сохранить свой зуб дешевле, чем удалять и ставить имплантат',
    button: {
      href:'#',
      name: 'Хочу спасти зуб',
    },
  })
  +landingBlock({
    images: [
      'experts',
      '3d-modelling-2',
      '3d-modelling-3',
      '3d-modelling-4',
    ],
    header: 'Хотите увидеть будущий результат до начала операции?',
    settings: {
      imgPos: 'right',
      section: {backgroundColor: [true, 'dark']}
    },
    button: {
      href:'#',
      name: 'Хочу получить 3D консультацию',
    },
  })
    p Клиника MEDALL предоставит такую возможность!
    p С помощью инновационной программы 3D моделирования Crisalix доктор создаст визуальный образ будущего результата.
    p Благодаря реалистичному моделированию, Вы сможете точно подобрать импланты, которые будут соответствовать  желаемому результату и особенностям тела.
  +pageSection({tag: 'section', 'text-align':'center'})#section-sequence
    +pageSubsection({ tag: 'h2' }).text-align-center Этапы лечения
    +landingSequence(seq)(class= 'page-subsection')
    +pageSubsection(class= grid({'justify': 'center'})): +button({ tag: 'a' })(href='#' class= cell()) Хочу спасти зуб
  +pageSection({tag: 'section', 'text-align':'center'})#section-sequence
    +pageSubsection({ tag: 'h2' }).text-align-center До идеальной груди<br>всего 9 шагов
    +pageSubsection(class= grid({'justify': 'center'}))
      +landingSequence(seqSimple)(class= cell({ m: 10, xs: 12 }))
    +landingResult(class='page-subsection')
  +pageSection({tag: 'section', empty: true})#section-results
    +pageSubsection.container.text-align-center
      +content
        h2 Истории наших пациентов
        p За годы практики наши специалисты показали успешные результаты лечения. Реальные истории пациентов и их отзывы Вы можете посмотреть в видео.
    +pageSubsection
      +landingStories([
        {
          src: '/images/stories.jpg',
          href: 'https://www.youtube.com/embed/jNQXAC9IVRw',
          name: 'Мария',
          desc: 'Постоянная пломбировка, эстетическая реставрация зуба под микроскопом ',
        },
        {src: '/images/feedback-1.jpg'},
        {src: '/images/feedback-2.jpg'},
        {src: '/images/feedback-3.jpg'},
      ])
    +pageSubsection(class= grid({'justify': 'center'})): +button({ tag: 'a' })(href='#' class= cell()) Хочу спасти зуб
  +pageSection({ tag: 'section'})#section-works
    +pageSubsection({ tag: 'h2' }).text-align-center Работы специалистов клиники
    //- +landingWorks(works).page-subsection
    .landing-works.page-subsection
      +slider
        each item in worksImages
          +slide.landing-works__slide
            +worksItem(item)
    //- +pageSubsection(class= grid({ 'justify': 'center' })): +button({ tag: 'a' })(href='#') Хочу спасти зуб
  +pageSection({tag: 'section', 'text-align':'center'})#section-price
    .container
      .content
        +pageSubsection: h2 Стоимость увеличения груди по системе «Все включено»
        +pageSubsection
          p Каждое пакетное предложение включает в себя: консультацию, 3D моделирование, операцию, общий наркоз,<br>премиальные круглые импланты MENTOR/MOTIVA, компрессионное белье, маму пластики (персональный куратор),<br>пребывание в одноместной палате на сутки, такси после операции, годовое медицинское сопровождение (перевязки и осмотры).
        +pageSubsection: +landingPrices(prices)
        +pageSubsection
          +tablePrice(pricesTable)
        +pageSubsection
          h3 Вы можете дополнить пакетное предложение:
          p.top-marker Заменить круглые импланты на импланты анатомической формы + 20 000 рублей.
          p.top-marker Добавить к операции подтяжку груди от 40 000 до 80 000 рублей.
          p.top-marker Добавить коррекцию ареолярного комплекса +25 000 рублей.
        +pageSubsection(class= grid({ 'justify': 'center' })): +button({ tag: 'a' })(href='#') Хочу спасти зуб
  +pageSection({'gradient': [true, 'to-bottom'], tag: 'section', 'credit': true})#section-credit
    +pageSubsection.text-align-center
      h2 Рассрочка от 15900 руб. в месяц!
      p Для своих пациентов мы предлагаем специальную программу оплаты услуг —
        strong рассрочка с ежемесячным платежом от 4 800 ₽.
      p: strong  Рассрочка может быть оформлена на ваших близких.
    +pageSubsection(class= grid())
      each item in installments
        +blockIcon(item)(class= cell({ m: 3, s: 6, xs: 12 }))
        
  +pageSection({ empty: true, noMargin: 'after-background' })#section-questions
    +questionsHeader({ backgroundColor: 'dark' }) Ответы на эти вопросы помогут вам принять правильное решение 
    +container: +content(class= grid())
      +cell({ m: 8, xs: 12 })
        +pageSubsection
          each item in questions
            +question(item)
        +button({ tag:'a' })(href='#section-contact').page-subsection Задать свой вопрос
      +img(alt='' src='https://dummyimage.com/430x717' class= cell({ m: 4 })).border-radius-xl.hidden-xs.hidden-s
  
  +pageSection({ empty: true, noMargin: 'after-background' })#section-questions
    +questionsHeader({ backgroundColor: 'light' }) Ответы на эти вопросы помогут вам принять правильное решение 
    +container: +content(class= grid())
      +cell({ m: 8, xs: 12 })
        +pageSubsection
          each item in questions
            +question(item)
        +button({ tag:'a' })(href='#section-contact').page-subsection Задать свой вопрос
      +img(alt='' src='https://dummyimage.com/430x717' class= cell({ m: 4 })).border-radius-xl.hidden-xs.hidden-s
  
  +pageSection({ empty: true, noMargin: 'after-background' })#section-questions
    +questionsHeader Ответы на эти вопросы помогут вам принять правильное решение 
    +container: +content(class= grid())
      +cell({ m: 8, xs: 12 })
        +pageSubsection
          each item in questions
            +question(item)
        +button({ tag:'a' })(href='#section-contact').page-subsection Задать свой вопрос
      +img(alt='' src='https://dummyimage.com/430x717' class= cell({ m: 4 })).border-radius-xl.hidden-xs.hidden-s
  
  +pageSection({tag: 'section', 'text-align':'center'})
    +pageSubsection: h2 История одного преображения
      br
      small от нашей пациентки
    +pageSubsection: +grid({'justify': 'center'})
      +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
      +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
      +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
    <script async src="https://www.instagram.com/embed.js"></script>
  +pageSection({tag: 'section'})#section-contact
    +pageSubsection(class= grid({ alignItems: 'center', justify: 'center' }))
      +cell({xs: 12})
        h2.gift Дарим подарок
          small за подписку на наш Instagram аккаунт
            a(href='https://instagram.com/medall.clinic ') @medall.clinic
      +cell({s:6, xs: 12})
        +img({
          name: 'gift',
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true }
          ]
        })(alt='').hidden-s.hidden-xs
      +cell({ tag: 'form', m: 6, s: 8, xs: 12 }).form.contacts_to_bitrix24
        h3.h4.form__header Оставьте контактные данные и мы обязательно свяжемся с вами.
        +formInput({type:'text', name: 'name', placeholder: 'Имя *', required: true}).form__input
        +formInput({type:'text', name: 'surname', placeholder: 'Фамилия *', required: true}).form__input
        +formInput({type:'tel', name: 'name', placeholder: 'Телефон *', required: true}).form__input
        +formInput({type:'email', name: 'email', placeholder: 'E-mail', required: true}).form__input
        +formInput({type:'textarea', name: 'name', placeholder: 'Комментарий', required: false}).form__input
        p.form__agreement Нажимая кнопку «Отправить» я даю согласие на 
          a(href='/') обработку персональных данных
          | .
        +button(type='submit').p Отправить
  //+pageSection({tag: 'section'})#section-contact
  //  +pageSubsection: h2.text-align-center Остались вопросы? Оставьте свои контактные данные и мы обязательно свяжемся с Вами.
  //  +pageSubsection
  //      +grid({ tag: 'form', padding: 'y' }).contacts_to_bitrix24
  //        +formInput({type:'text', name: 'name', placeholder: 'Имя *', required: true})(class= cell({ l: 6, m: 6, xs: 12 }))
  //        +formInput({type:'text', name: 'surname', placeholder: 'Фамилия *', required: true})(class= cell({ l: 6, m: 6, xs: 12 }))
  //        +formInput({type:'tel', name: 'name', placeholder: 'Телефон *', required: true})(class= cell({ l: 6, m: 6, xs: 12 }))
  //        +formInput({type:'email', name: 'email', placeholder: 'E-mail' })(class= cell({ l: 6, m: 6, xs: 12 }))
  //        +formInput({type:'textarea', name: 'name', placeholder: 'Комментарий' })(class= cell({ xs: 12 }))
  //        +cell({ xs: 12 }): .form__agreement Нажимая кнопку «Отправить» я даю согласие на 
  //          a(href='/') обработку персональных данных
  //          | .
  //        +button(type='submit' class= cell({ xs: 12 })) Отправить
  +pageSection({'reasons': true, tag: 'section'})#section-reasons
    +pageSubsection({ tag: 'h2' }).text-align-center Показания к увеличению груди
    +pageSubsection(class= grid())
      +cell({l:6, s:12})
        p Улучшить эстетику тела стремится каждая девушка. Липомоделирование позволяет смоделировать очертания, внешний вид фигуры и скорректировать необходимые зоны.
        p Для эстетического моделирования формы тела используют собственный жир. Использование собственного жира дает естественный и безопасный результат. Не все проблемные зоны тела можно проработать интенсивными тренировками, поэтому получить подтянутую гармоничную фигуру поможет липомоделирование.
        p Используя устаревшие методы липосакции, зачастую нельзя достичь поставленной эстетической цели, например таких, как рельефный живот или выраженные изгибы тела.
      +cell({l:6, s:12})
        p С помощью новой методики в пластической хирургии HDL (High Definition Liposculpture) липоскульптура высокого разрешения позволяет обеспечить трехмерность, так как во внимание принимается взаимодействие различных групп мышц формирующих грудь, живот, ноги и спину.
        p Методика High Definition позволяет подчеркнуть мускулатуру тела и сделать тело рельефней, то есть это не просто удаление жира, как при липосакции, а современная технология художественной коррекции формы человеческого тела.
        p Вы можете создать безупречную фигуру вместе с командой клиники Medall уже сейчас.
    +pageSubsection
      p Нравиться себе и восхищаться своим телом — с этого начинается успех женщины во всех сферах жизни.
      p Женская грудь является одной из самых значимых и выразительных зон, поэтому недостаточный объем, изменения формы, асимметрия или возрастные изменения груди часто вызывают неуверенность в себе, дискомфорт в повседневной жизни и множество других проблем.
      p Вы можете создать новую идеальную грудь вместе с командой клиники MEDALL уже сейчас.
    +landingReasons(reasons).page-subsection
    +pageSubsection(class= grid({'justify': 'center'})): +button({ tag: 'a' })(href='#' class= cell()) Хочу спасти зуб
  +pageSection({gradient: [true, 'to-bottom'], tag: 'section'})#section-advantages
    +pageSubsection({ tag: 'h2' }).text-align-center Почему более 30 000 пациентов выбирают клинику MEDALL?
    +landingAdvantages(advantages).page-subsection
    +pageSubsection(class= grid())
      +cell({m:6,xs:12})
        h3.h4 Не экономим на вашей безопасности
        p Мы применяем исключительно современное диагностическое и лечебное оборудование, а также новейшие медицинские технологии и материалы.
      +cell({m:6,xs:12})
        h3.h4 Надежная клиника с большой историей
        p Уже более 15 лет соответствуем мировым и российским стандартам эстетической медицины, требованиям нового законодательства в области пластической хирургии.  В клинике работают более 120 сотрудников.
      +cell({m:6,xs:12})
        h3.h4 Высокий уровень сервиса и комфорта
        p Наша главная задача — оказать Вам теплый прием и обеспечить самый лучший медицинский уход: комфортабельная одноместная палата, персональный куратор (мама пластики), трехразовое питание, онлайн-кинотеатр и другие удобства для комфортного пребывания в клинике.
    +pageSubsection(class= grid({'justify': 'center'})): +button({ tag: 'a' })(href='#' class= cell()) Хочу спасти зуб
