extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked
include /blocks/works/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
    const isLandingPage = true
  include /data/landing
  include /data/footer
  include /data/works
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  .landing-page
    include /blocks/landing-header/landing-header
    include /blocks/landing-menu/landing-menu
    +pageSection({ tag: 'section'})#section-works
      +pageSubsection({ tag: 'h2' }).text-align-center Работы специалистов клиники
      .landing-works.page-subsection
        +slider
          each item in worksImages
            +slide.landing-works__slide
              +worksItem(item)
    +pageSection#section-about
      h2 Показания к подтяжке груди
      p Беременность, колебания веса, старение и&nbsp;просто гравитация меняют форму и&nbsp;положение бюста, а&nbsp;кожа теряет эластичность. Подтяжка груди&nbsp;&mdash; это вид маммопластики, поднимающий и&nbsp;изменяющий форму обвисшей грудной железы путем удаления избытка кожи и&nbsp;подтягивания поддерживающей ткани. Операцию еще называют мастопексия. Поскольку подтяжка не&nbsp;влияет на&nbsp;размер, процедуру при необходимости сочетают с&nbsp;увеличением бюста.
      .question.question--active
        .question__name 
          h3 Основные показания
        .question__body
          +grid
            +cell({ s:6 })
              +ul
                +li Опущение молочных желез;
                +li Потеря объема груди;
                +li Увеличенные ареолы;
                +li Соски, опустившиеся ниже подгрудной складки;
                +li Асимметрия молочных желез врожденная или из-за птоза одной из&nbsp;них;
                +li Растяжение поддерживающих грудь связок;
                +li Несоответствие формы бюста и&nbsp;строения тела. 
              p Врачи MEDALL в совершенстве владеют малоинвазивной хирургией, используя современные методики и техники прицельного воздействия на ткани. Пластические операции проводятся с соблюдением европейских стандартов медицинской безопасности.
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-1',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Асимметрия молочных желез' title='Асимметрия молочных желез').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Асимметрия молочных желез
    
    +pageSection.home-staff#section-doctors
      +h2.page-section__title.page-subsection.text-align-center Пластические хирурги 
      +slider().page-subsection.home-staff__slider
        each item, key in doctors
          +slide(data-category= item.category).home-staff__slide
            .home-staff__name !{item.name}
            .home-staff__description !{item.description}
            +button({ tag: 'a' })(href='#').home-staff__button Подробнее
            +img({
              name: `doctor-${key + 1}`,
              path: '/images/',
              formats: [
                {
                  ext: 'webp',
                  mime: 'image/webp'
                },
                {
                  ext: 'jpg',
                  orig: true
                }
              ],
            }).home-staff__image

    +pageSection({ margin: 'small' })
      h2 Подтяжка груди без имплантов
      p Операция по&nbsp;подтяжке груди без имплантов решает проблемы обвисания и&nbsp;потери объема. Процедура дает тонкие и&nbsp;естественные результаты, удаляя излишки кожи и&nbsp;мягких тканей. Усовершенствование методов подтяжки привело к&nbsp;уменьшению внешних рубцов, улучшению формы груди и&nbsp;повышению степени удовлетворенности пациентов.
      .question
        .question__name
          h3 Периареолярная мастопексия
        .question__body
          +grid
            +cell({ s:6 })
              p Это маммопексия, восстанавливающая эстетику груди у&nbsp;пациенток с&nbsp;минимальным птозом (перемещение сосково-ареолярного комплекса (СОК) менее чем на&nbsp;2&nbsp;см). Задача хирурга&nbsp;&mdash; подтяжка молочных желез, фиксация сосков в&nbsp;соответствии с&nbsp;пожеланиями пациентки. Из-за кругового разреза вокруг ареолы технику еще называют &laquo;круговая подтяжка груди&raquo;. Для ограничения растяжения ареолярного рубца используется блокирующий шов.
              h4 Преимущества
              +ul
                +li Подтяжка груди без имплантов, возвращение прежнего объема; 
                +li Естественное положение и&nbsp;форма сосков;
                +li Низкая травматичность;
                +li Быстрое восстановление;
                +li Сочетание подтяжки груди с&nbsp;уменьшением или увеличением размера бюста.
              h4 Показания
              +ul
                +li Легкое и&nbsp;умеренное опущение;
                +li Асимметрия молочных желез;
                +li Незначительная асимметрия сосков.
              p Хирургический доступ через периареолярный разрез расширяет показания к&nbsp;органосохраняющей хирургии при лечении рака груди, позволяя проводить реконструкцию грудной железы с&nbsp;сохранением структуры даже после обширного иссечения.
              h4 Противопоказания
              +ul
                +li При выраженном обвисании груди метод не&nbsp;подходит из-за риска добиться обратного эффекта.
            +cell({ s:6 })
              +pageSubsection
                h4 Особенности проведения операции
                +ul
                  +li Предоперационная разметка;
                  +li Введение анестезии;
                  +li Разрез вокруг ареолы, чтобы получить доступ к&nbsp;тканям и&nbsp;провести дальнейшую коррекцию; 
                  +li Фиксация приподнятых тканей в&nbsp;новом положении;
                  +li Зашивание разреза. Швы могут быть внутренними или поверхностными;
                  +li Накладывание повязки для защиты и&nbsp;поддержки тканей.
              +pageSubsection({ margin:'small' })
                +img({
                  name: 'podtyazhka-2',
                  path: '/images/landings/podtyazhka-grudi/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt='Виды операций по подтяжки груди' title='Виды операций по подтяжки груди').border-bottom-right-radius
                +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды операций по подтяжки груди
      .question
        .question__name
          h3 Вертикальная мастопексия
        .question__body
          +grid
            +cell({ s:6 })
              +pageSubsection
                p Это щадящая техника подтяжки груди без увеличения. Операция получила название из-за направления рассечения тканей&nbsp;&mdash; от&nbsp;нижней кромки ареолы до&nbsp;кожной складки под грудью. Кроме лифтинга, процедура устраняет асимметрию и&nbsp;тубулярную деформацию. Результат вертикальной пластики обвисшей груди&nbsp;&mdash; наполненный и&nbsp;упругий верхний полюс.
              +pageSubsection({ margin:'small' })
                +img({
                  name: 'podtyazhka-3',
                  path: '/images/landings/podtyazhka-grudi/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt='Результаты вертикальной мастопексии: фото до и после' title='Результаты вертикальной мастопексии: фото до и после').border-bottom-right-radius
                +textMarked({ tag:'p', size: 'm', color:'grey' }) Результаты вертикальной мастопексии: фото до и после
              +pageSubsection
                h4 Преимущества
                +ul
                  +li Исправляет асимметрию, форму, размер соска и&nbsp;другие эстетические дефекты молочной железы;
                  +li Сочетается с&nbsp;уменьшением или увеличением бюста;
                  +li Минимальная травматизация тканей&nbsp;&mdash; длина разреза не&nbsp;больше 17&nbsp;см;
                  +li Быстрое восстановление;
                  +li Эстетичность результата.
                h4 Показания
                +ul
                  +li Умеренное опущение груди и&nbsp;растяжение ареолы;
                  +li Ослабление грудных связок;
                  +li Видимая асимметрия и&nbsp;деформация грудных желез;
                  +li Растяжки на&nbsp;коже груди;
                  +li Направление СОК вниз.
          
            +cell({ s:6 })
              +pageSubsection
                h4 Противопоказания
                +ul
                  +li Стандартные противопоказания к&nbsp;коррекции груди без имплантов;
                  +li Птоз 3&nbsp;степени.
              +pageSubsection({ margin:'small' })
                +img({
                  name: 'podtyazhka-4',
                  path: '/images/landings/podtyazhka-grudi/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt='Виды птоза' title='Виды птоза').border-bottom-right-radius
                +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды птоза
              +pageSubsection
                h4 Особенности проведения операции	
                +ul
                  +li Предоперационная разметка;
                  +li Введение пациентки в&nbsp;наркоз;
                  +li Вертикальный разрез и&nbsp;рассечение ареолы по&nbsp;контуру;
                  +li Циркулярный разрез и&nbsp;натяжение кожи для формирования красивого соска;
                  +li Установливление дренажа и&nbsp;надевание послеоперационного поддерживающего белья.
              +pageSubsection({ margin:'small' })
                +img({
                  name: 'podtyazhka-5',
                  path: '/images/landings/podtyazhka-grudi/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt='Послеоперационная поддержка груди' title='Послеоперационная поддержка груди').border-bottom-right-radius
                +textMarked({ tag:'p', size: 'm', color:'grey' }) Послеоперационная поддержка груди
      
      .question
        .question__name
          h3 Якорная мастопексия
        .question__body
          +grid
            +cell
              p Техника еще известна как полная подтяжка груди у&nbsp;женщин, которая помогает даже в&nbsp;случаях сильно растянутой и&nbsp;лишенной объема молочной железы. Операция позволяет добиться максимального омоложения груди. После якорной подтяжки собственной груди результат выглядит натурально, грудные железы не&nbsp;теряют естественную плотность, эстетичность СОК повышается. 
            +cell({ s:6 })
              h4 Преимущества
              +ul
                +li Коррекция формы и&nbsp;контура бюста без имплантов;
                +li Стойкий эффект даже при тяжелых степенях птоза;
                +li Отсутствие повязок, дренажей и&nbsp;пластырей после операции;
                +li Сохранение функции лактации на&nbsp;70&nbsp;%;
                +li Использование саморассасывающихся швов.
              h4 Показания
              +ul
                +li Птоз 3&nbsp;степени;
                +li Коррекция ареол;
                +li Уменьшение размера молочной железы;
                +li Утрата четкого контура бюстом.
            +cell({ s:6 })
              h4 Противопоказания
              +ul
                +li Стандартные противопоказания при подтяжке груди после родов.
                +li Особенности проведения операции
                +li Предоперационная разметка;
                +li Введение анестезии;
                +li Три разреза в&nbsp;форме перевернутого Т;
                +li Иссечение лишних тканей;
                +li Перенесение СОК на&nbsp;намеченный уровень;
                +li Моделирование формы груди;
                +li Накладывание швов.
      
    +pageSection({ backgroundColor: [ true, 'light' ], margin: 'small' })
      h2 Подтяжка груди с&nbsp;имплантами
      p Это комбинированная процедура для создания округлой и&nbsp;полной груди. Любой тип мастопексии совместим с&nbsp;установкой имплантов. Сочетание коррекции грудных желез с&nbsp;увеличением устраняет провисание и&nbsp;асимметрию, придает бюсту желаемую форму, размер и&nbsp;положение. При желании процедуру совмещают с&nbsp;липосакцией, чтобы улучшить контуры тела.
      .question
        .question__name
          h3 Преимущества
        .question__body
          +grid
            +cell({ s:6 })  
              +ul
                +li Одна операция решает ряд косметических проблем: грудные протезы увеличивают объем молочных желез, улучшая форму и&nbsp;проекцию, а&nbsp;мастопексия подтягивает грудь, поднимает выше, устраняет избыток ткани.
                +li Процедура омолаживает соски и&nbsp;ареолы, корректируя размер, форму и&nbsp;положение.
                +li Одновременное проведение двух процедур экономит время операции и&nbsp;реабилитации.
              p Согласно сравнительному исследованию 2018 года о&nbsp;качестве жизни после увеличения груди, пациентки, которым установили грудные импланты с&nbsp;подтяжкой груди, высказали большую удовлетворенность результатом, чем пациентки с&nbsp;мастопексией.
            +cell({ s:6 })  
              +img({
                name: 'podtyazhka-6',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Импланты придают груди желаемый объем и форму' title='Импланты придают груди желаемый объем и форму').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Импланты придают груди желаемый объем и форму
      .question
        .question__name
          h3 Показания
        .question__body
          +ul
            +li Потеря объема груди после родов, лактации, в&nbsp;период менопаузы и&nbsp;т.д.;
            +li Неудовлетворенность размером и&nbsp;формой молочных желез;
            +li Удаление тканей при онкологии.
      .question
        .question__name     
          h3 Используемые импланты
        .question__body
          +grid
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-7',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Силиконовые импланты' title='Силиконовые импланты').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Силиконовые импланты
            +cell({ s:6 })
                p Силикон&nbsp;&mdash; безопасный и&nbsp;надежный тип имплантов для подтяжки собственной груди с&nbsp;увеличением объема, по&nbsp;структуре схожий с&nbsp;естественной железой. Полимер состоит из&nbsp;кремния, кислорода, углерода, водорода и&nbsp;прочих веществ. Именно состав обеспечивает натуральность, безопасность и&nbsp;универсальность силикона в&nbsp;маммопластике.
      .question
        .question__name
          h3 Особенности проведения операции
        .question__body
          p После пластической хирургии по&nbsp;подтяжке груди устанавливаются грудные имплантаты в&nbsp;зависимости от&nbsp;принятого решения пациенткой на&nbsp;консультации. Затем накладываются внутренние швы для поддержки тканей груди. В&nbsp;случаях сильной дряблости атрофических тканей используется внутренняя рассасывающаяся сетка, чтобы укрепить и&nbsp;сохранить новое положение тканей груди и/или импланта.
      
    +pageSection({tag: 'section', 'text-align':'center'})#section-price
      +pageSubsection.text-align-center
        h2 Стоимость подтяжки груди
      +pageSubsection: +landingPrices(prices)

    +pageSection
      h2 Подготовка к&nbsp;операции
      p Подготовка к&nbsp;операции включает ряд важных шагов для успеха и&nbsp;безопасности процедуры. Соблюдение предоперационных инструкций имеет решающее значение для оптимизации результатов, минимизации возможных рисков и&nbsp;осложнений. Пациенту важно быть проинформированным о&nbsp;процессе и&nbsp;следовать рекомендациям врача.
      .question
        .question__name
          h3 Консультация
        .question__body
          +grid.landing-block
            +cell({ s:6 })
              p Первый шаг к&nbsp;подтянутой груди&nbsp;&mdash; консультация с&nbsp;хирургом клиники MEDALL, чтобы убедиться, что мастопексия&nbsp;&mdash; лучший способ получить желаемые результаты. 
              p На&nbsp;беседе с&nbsp;врачом пациенты подробно раскрывают историю болезни, включая принимаемые лекарства и&nbsp;добавки, перенесенные операции и&nbsp;болезни. Хирург осматривает, измеряет и&nbsp;фотографирует бюст. Затем обсуждает с&nbsp;пациенткой варианты хирургического вмешательства. План лечения составляется с&nbsp;учетом формы тела, эстетических целей и&nbsp;личных предпочтений. 
              p Благодаря 3D-моделированию пациентка может заранее оценить результат того, как будет выглядеть грудь после мастопексии.
            +cell({ s:6 }).landing-block__image
              +slider({ fullWidth: true }).landing-block__slider
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-8',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='На консультации вы получите ответы на все ваши вопросы' title='На консультации вы получите ответы на все ваши вопросы').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) На консультации вы получите ответы на все ваши вопросы
                +slide.landing-block__slide
                  +img({
                    name: 'podtyazhka-9',
                    path: '/images/landings/podtyazhka-grudi/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt='3D-моделирование результата' title='3D-моделирование результата').border-bottom-right-radius
                  +textMarked({ tag:'p', size: 'm', color:'grey' }) 3D-моделирование результата

      .question
        .question__name
          h3 Необходимые медицинские обследования
        .question__body
          p Подготовка к&nbsp;пластической операции состоит из&nbsp;ряда стандартных медицинских обследований и&nbsp;внесения небольших корректив в&nbsp;образ жизни.
          +grid.p
            +cell({ s:6 })
              h4 Перечень анализов
              +ul
                +li Клинический анализ мочи;
                +li Исследования крови на&nbsp;RW, гепатиты&nbsp;В и&nbsp;С, ВИЧ;
                +li Анализы крови: биохимия, клиническое, коагулограмма.
              p Практически все диагностические мероприятия проводятся в сертифицированном по мировым стандартам диагностическом лабораторном комплексе. Большинство результатов будет готово уже в день обращения.
              h4 Консультации профильных специалистов
              +ul
                +li Анестезиолог изучает медицинские документы, результаты исследования для выявления противопоказаний к&nbsp;анестезии и&nbsp;определения подходящего типа наркоза;
                +li Терапевт выдает заключение о&nbsp;допуске к&nbsp;операции.
            +cell({ s:6 })
              h4 Инструментальная диагностика
              +ul
                +li Маммография для определения возможных патологий;
                +li УЗИ для уточнения результатов рентгеновской диагностики (при выявлении патологических изменений требуется консультация онколога-маммолога);
                +li ЭКГ (при отклонении от&nbsp;нормы потребуется консультация кардиолога);
                +li КТ&nbsp;грудной клетки;
                +li УЗДГ вен ног (при отклонениях получают консультацию флеболога). 
              p Рекомендация: При сохранении репродуктивной функции молочную железу исследуют на&nbsp;6-12 день менструального цикла.
      
      .question
        .question__name
          h3 Рекомендации перед операцией
        .question__body
          p Чтобы маммопексия прошла без осложнений, а&nbsp;период реабилитации был короткий, соблюдают ряд рекомендаций.
          +ul
            +li За&nbsp;4-6 недель до&nbsp;операции отказываются от&nbsp;никотина и&nbsp;алкоголя из-за торможения регенерирующих процессов;
            +li Если предстоит общая анестезия, пациентку просят воздержаться от&nbsp;еды и&nbsp;питья после полуночи накануне операции;
            +li Из&nbsp;меню исключают фастфуд, острые, жирные и&nbsp;сладкие блюда;
            +li За&nbsp;2&nbsp;недели до&nbsp;вмешательства прекращают прием гормональных контрацептивов, НПВП, препаратов на&nbsp;основе аспирина;
            +li По&nbsp;возможности избегают физических и&nbsp;эмоциональных стрессов и&nbsp;больше времени проводят на&nbsp;свежем воздухе.
      .question
        .question__name
          h3 Нанесение разметки
        .question__body
          +grid
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-10',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Нанесение разметки при подготовке к операции' title='Нанесение разметки при подготовке к операции').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Нанесение разметки при подготовке к операции
            +cell({ s:6 })
              p Разметка&nbsp;&mdash; финальный этап подготовки к&nbsp;операции. Это план, в&nbsp;соответствии с&nbsp;которым хирург проводит манипуляции, чтобы получить красивый, симметричный и&nbsp;пропорциональный результат. Разметка дает понимание, где провисают и&nbsp;изменяются ткани в&nbsp;положении лежа и&nbsp;стоя, где больший объем, где возвышенности, углубления и&nbsp;неровности.

      .question
        .question__name
          h3 Анестезия
        .question__body
          p Выбор метода анестезии требует персонального подхода. Пациентку перед операцией обязательно консультирует анестезиолог, чтобы подобрать оптимальную схему и&nbsp;дозу наркоза, учитывая состояние здоровья, чувствительность к&nbsp;препаратам, индивидуальную непереносимость и&nbsp;т.д.
          p Ведущий метод обезболивания в&nbsp;клинике&nbsp;&mdash; мониторируемая седоанальгезия (&laquo;медикаментозный сон&raquo;). Используемые препараты не&nbsp;угнетают дыхания, быстро выводятся из&nbsp;организма (в&nbsp;сознание пациент приходит через 5-10 минут после операции).
      .question
        .question__name
          h3 Ход операции
        .question__body
          +grid
            +cell({ s:6 })
              p Продолжительность вмешательства зависит от&nbsp;вида и&nbsp;объема вмешательства, и&nbsp;в&nbsp;среднем составляет 1,5-3&nbsp;часа.
              +ol
                +li Разрез: в&nbsp;зависимости от&nbsp;используемой техники хирург с&nbsp;помощью скальпеля делает 1-3 разреза на&nbsp;груди.
                +li Изменение формы ткани груди: после проколов, удаления избытка кожи грудная ткань приподнимается и&nbsp;меняется для достижения плотного и&nbsp;четкого профиля. Швы закладывают глубоко в&nbsp;ткани для дополнительной поддержки положение грудных желез.
                +li Изменение положения соска и&nbsp;ареолы: СОК перемещают на&nbsp;более высокие позиции. Размер ареолы может быть уменьшен путем хирургического разреза кожи по&nbsp;периметру.
                +li Установка дренажа: в&nbsp;ряде случаев тонкая трубка временно помещается под кожу около места разреза для отвода избытка жидкости.
                +li Закрытие: Места разрезов закрываются швами, кожным клеем и/или хирургической лентой и&nbsp;покрываются марлевой или другой повязкой. Затем надевается хирургический бюстгальтер.
                +li Подготовка к&nbsp;восстановлению: подачу анестезии прекращают, дыхательная трубка извлекается, пациентку отвозят в&nbsp;палату восстановления, где медперсонал продолжит наблюдение за&nbsp;ее&nbsp;состоянием.
                +li Наблюдение и&nbsp;выписка: Как только пациентка стабилизируется, а&nbsp;хирургическая бригада будет удовлетворена ее&nbsp;состоянием, хирург разрешает вернуться домой.
            +cell({ s:6 })
              +img({
                name: 'podtyazhka-11',
                path: '/images/landings/podtyazhka-grudi/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt='Виды разрезов' title='Виды разрезов').border-bottom-right-radius
              +textMarked({ tag:'p', size: 'm', color:'grey' }) Виды разрезов

    +pageSection
      h2 Противопоказания и&nbsp;ограничения
      .question
        .question__name
          h3 Противопоказания
        .question__body
          +ul
            +li Возраст до&nbsp;18&nbsp;лет;
            +li Беременность и&nbsp;лактация;
            +li Злокачественные новообразования;
            +li Гормональный дисбаланс;
            +li Сахарный диабет;
            +li Разрастание соединительной ткани (мастопатия);
            +li Коагулопатии;
            +li Множественные рубцы в&nbsp;области груди.
      .question
        .question__name
          h3 Ограничения
        .question__body
          +ul
            +li Пластическая операция по&nbsp;подтяжке груди откладывается при:
            +li обострении хронических состояний;
            +li планировании беременности;
            +li менструации;
            +li попытке похудеть;
            +li нестабильном весе.
        
    +pageSection({ backgroundColor: [ true, 'light' ], margin: 'small' })
      h2 Реабилитация и&nbsp;восстановление
      p Послеоперационный период&nbsp;— завершающий этап операции, когда тело восстанавливается и&nbsp;приспосабливается к&nbsp;произошедшим изменениям. Строгое соблюдение указаний, данных врачом-реабилитологом, имеет решающее значение для поддержания комфортного восстановления и&nbsp;получения желаемого результата.
      .question
        .question__name
          h3 Ранний послеоперационный период
        .question__body
          p Скорость восстановления зависит от&nbsp;метода вмешательства и&nbsp;объема операции. Для работы наших пластических хирургов характерно отсутствие или почти полное отсутствие видимых следов вмешательств. В последующем шрамы легко поддаются шлифовке лазером. Синяки, боль и&nbsp;отеки исчезают через 2&nbsp;недели. Чтобы процесс восстановления шел по&nbsp;плану, соблюдают рекомендации хирурга.
          +ul
            +li Отдых и&nbsp;восстановление: меньше двигаться, не&nbsp;поднимать тяжести и&nbsp;избегать занятий, которые напрягают грудные мышцы.
            +li Ограничение подвижности рук: первое время не&nbsp;поднимать руки над головой, чтобы минимизировать нагрузку на&nbsp;разрезы.
            +li Швы снимают через 14&nbsp;дней, а&nbsp;до&nbsp;этого их&nbsp;ежедневно обрабатывают антисептиком и&nbsp;меняют повязки. Спят после операции только на&nbsp;спине.
            +li Последующие приемы: плановые приемы у&nbsp;хирурга важны для отслеживания заживления и&nbsp;снятия нерассасывающихся швов.
          p По&nbsp;принятию душа нужна консультация с&nbsp;хирургом, но&nbsp;большинство пациентов принимают душ в&nbsp;течение 1-2 дней после операции. Исключение&nbsp;&mdash; наличие дренажей. В&nbsp;этом случае врач просит не&nbsp;принимать душ 48&nbsp;часов после удаления дренажей.
      .question
        .question__name
          h3 Поздний послеоперационный период
        .question__body
          +ul
            +li Возвращение к&nbsp;нормальной деятельности: по&nbsp;мере выздоровления и&nbsp;получения разрешения хирурга пациентка постепенно возобновляет привычную деятельность.
            +li Ощущения: поначалу наблюдается повышенная чувствительность или изменение чувствительности сосков, что проходит по&nbsp;мере заживления.
            +li Результаты: хотя женщины сразу замечают улучшения формы и&nbsp;положения бюста, окончательные результаты проявиться через 9-12&nbsp;месяцев, когда отек спадет, а&nbsp;ткани подстроятся.
      .question
        .question__name
          h3 Возможные осложнения
        .question__body
          +ul
            +li Асимметрия груди;
            +li Неровная форма;
            +li Гематомы;
            +li Инфицирование швов.
          p Поздние последствия чаще связаны с&nbsp;особенностями организма, пренебрежением предоперационной подготовкой и&nbsp;послеоперационной реабилитацией. Для предсказуемого результата мастопексии выбирают высококвалифицированных хирургов.
    
    +pageSection({ margin: 'small' })
      .question.question--no-border
        .question__name
          h3 Источники
        .question__body 
          +ol
            +li Птоз груди: определение и лечение/ Реньо П.;
            +li Вертикальное рубцовое уменьшение груди и мастопексия без подрыва. Хирургия молочной железы: принципы и искусство/ Лассус К.;
            +li Мастопексия. Пластическая хирургия: показания, операции и результаты/ Мишелоу Б., Нахай Ф.;
            +li Периареолярная маммопластика: метод двойной кожи с применением полиглактина или смешанной сетки/ Гоэс Х.К.
      