extends /blocks/layout/layout

include /blocks/landing-block/landing-block
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content
  include /blocks/banner-complex-all-on-4/banner-complex-all-on-4
  include /blocks/banner-nobel/banner-nobel
  include /blocks/banner-rounds/banner-rounds
  include /blocks/banner-protocol-all-on-4/banner-protocol-all-on-4
  include /blocks/banner-indications-all-on-4/banner-indications-all-on-4
  include /blocks/banner-systems/banner-systems
  include /blocks/banner-all-on-4/banner-all-on-4
  +landingBlock: +youtubeResponsive('pPh12dm3wKc')
