extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-banner-slider/landing-banner-slider
include /blocks/landing-banner/landing-banner
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/questions-list/questions-list
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/works/works-item/works-item
include /blocks/reviews/reviews-item/reviews-item
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item
include /blocks/banner-plastics-gift/banner-plastics-gift-new
include /blocks/banner-taxi/banner-taxi

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
    const imagesPath = '/images/category/plastic/'
    const isLandingPage = true
  include /data/landing
  include /data/footer
  include /data/reviews
  include /data/works
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Пластическая хирургия' ], current: 'Подтяжка груди' })
  include /blocks/landing-header/landing-header
  include /blocks/landing-menu/landing-menu
  //- +pageSection({ backgroundColor: true, noContent: true }).home-reasons.inverted
  //-   +h2.home-reasons__title.page-section__title.text-align-center.content Пластическая хирургия MEDALL это:
  //-   +slider({ fullWidth: true }).home-reasons__slider
  //-     -
  //-       const image = {
  //-         path: imagesPath,
  //-         formats: [
  //-           { ext: 'webp', mime: 'image/webp' }, 
  //-           { ext: 'jpg', orig: true },
  //-         ],
  //-         density: [
  //-           { values: [ 1, 2 ] },
  //-         ]
  //-       }
  //-     each item in reasonsPlastic
  //-       +slide.home-reasons__slide
  //-         -
  //-           const itemImage = image
  //-           itemImage.name = item.image
  //-         +img(itemImage)(width=1920 height=885).home-reasons__image
  //-         .home-reasons__name !{item.name}
  //-         +button({ tag: 'a' })(href='#').home-reasons__button !{item.button}
  //-         .home-reasons__description !{item.description}
  <div class="container page-section landing-block page-section--background-color page-section--background-color--dark" id="section-about"><div class="content grid grid--justify--space-between"><div class="landing-block__image grid__cell grid__cell--l--5 grid__cell--m--6 grid__cell--s--6 grid__cell--xs--9"><picture><source srcset="/upload/iblock/a4d/tc0axf3rjy0134n63r8o369f5111ytt1.webp" type="image/webp"><img src="/upload/iblock/a4d/tc0axf3rjy0134n63r8o369f5111ytt1.JPG" loading="lazy" decoding="async" alt="" title=""></picture></div><div class="grid__cell grid__cell--l--6 grid__cell--m--6 grid__cell--s--6 grid__cell--xs--12 landing-block__info"><div class="grid grid--justify--center page-subsection"><div class="landing-block__body">Подтяжка груди (мастопексия) - это пластическая операция, направленная на коррекцию формы и положения груди. Она подходит для женщин, столкнувшихся с обвисанием груди из-за возрастных изменений, беременности, кормления грудью или значительной потери веса. Цель операции — восстановить более молодой и эстетически привлекательный вид груди, улучшая её форму и упругость.</div></div></div></div></div>
  //- +landingBlock({
  //-   images: ['podtyazhka-1'],
  //-   path: '/images/landings/landing-new/',
  //-   header: 'ПОДТЯЖКА ГРУДИ (МАСТОПЕКСИЯ) – ЭТО',
  //-   settings: {
  //-     section: { backgroundColor: [ true, 'dark' ] },
  //-   },
  //- })
  //-   p Хирургическая процедура, направленная на коррекцию формы и положения груди. Она подходит для женщин, которые испытывают обвисание груди из-за возрастных изменений, беременности, кормления грудью или значительной потери веса.
  //-   p Цель процедуры — восстановить более молодой и эстетически привлекательный вид груди, улучшая её форму и упругость.

  +pageSection({ tag: 'section'})#section-works
    +pageSubsection({ tag: 'h2' }).text-align-center Работы специалистов клиники
    .landing-works.page-subsection
      +slider
        each item in worksImages
          +slide.landing-works__slide
            +worksItem(item)

  +landingBlock({
    header: 'ПОКАЗАНИЯ К ПОДТЯЖКЕ ГРУДИ',
  })
    +grid({ justify:'center', alignItems: 'flex-start' })
      +cell({ tag:'ul', m:10 }).landing-block__list
        li.landing-block__item Изменения после беременности и грудного вскармливания;
        li.landing-block__item Изменения после потери веса;
        li.landing-block__item Потеря объема груди с возрастом;
        li.landing-block__item Неудовлетворенность формой молочных желез;
        li.landing-block__item Обвисание (птоз) молочных желез;
        li.landing-block__item Ассиметрия груди.

  +landingBlock({
    header: 'ВИДЫ ПОДТЯЖКИ ГРУДИ',
    settings: {
      section: { backgroundColor: [ true, 'light' ] },
    },
  })
    .page-subsection.text-align-center
      p В современной пластической хирургии существует несколько методик подтяжки груди, каждая из которых подходит для различных степеней птоза и индивидуальных особенностей пациента и выбирается совместным решением с пластическим хирургом.
    .page-subsection.landing-block-section-h3
      h3.text-align-center.landing-block-section-h3__title Подтяжка груди без имплантов
      +slider({ arrows:false }).landing-block-section-h3__body
        +slide(class= grid({ justify: 'space-between'})).landing-block-section-h3__slide
          +cell({ m:5, s:6, xs:9 }).landing-block-section-h3__image
            +img({
              name: 'podtyazhka-2',
              path: '/images/landings/landing-new/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ]
            })(alt= 'Периареолярная подтяжка груди (круговая)')
          +cell({ s:6 }).landing-block-section-h3__text
            h4 Периареолярная подтяжка груди (круговая)
            p Этот метод эффективен при небольшом опущении груди. Он не оставляет заметных рубцов, так как швы располагаются по краю ареолы и становятся почти невидимыми после заживления. В ходе операции выполняются два надреза: один по краю ареолы и второй на несколько сантиметров от него.
        +slide(class= grid({ justify: 'space-between'})).landing-block-section-h3__slide
          +cell({ m:5, s:6, xs:9 }).landing-block-section-h3__image
            +img({
              name: 'podtyazhka-3',
              path: '/images/landings/landing-new/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ]
            })(alt= 'Вертикальная подтяжка груди')
          +cell({ s:6 }).landing-block-section-h3__text
            h4 Вертикальная подтяжка груди
            p Рекомендуется при среднем птозе. Разрез проходит от края ареолы до складки под грудью, что позволяет удалить лишнюю кожу и железистую ткань. Этот метод часто применяется при птозе I и II стадии.
        +slide(class= grid({ justify: 'space-between'})).landing-block-section-h3__slide
          +cell({ m:5, s:6, xs:9 }).landing-block-section-h3__image
            +img({
              name: 'podtyazhka-4',
              path: '/images/landings/landing-new/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ]
            })(alt= 'Вертикальная подтяжка груди')
          +cell({ s:6 }).landing-block-section-h3__text
            h4 Якорная (Т-образная) подтяжка груди
            p Используется при значительной деформации молочных желез и тяжелом птозе. Название связано с формой шва, напоминающего якорь. Рубец проходит вокруг ареолы и спускается вертикально до линии под грудью.
      
    .page-subsection.landing-block-section-h3
      h3.text-align-center.landing-block-section-h3__title Подтяжка груди с имплантами
      +slider({ arrows:false }).landing-block-section-h3__body
        +slide(class= grid({ justify: 'space-between'})).landing-block-section-h3__slide
          +cell({ m:5, s:6, xs:9 }).landing-block-section-h3__image
            +img({
              name: 'podtyazhka-5',
              path: '/images/landings/landing-new/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ]
            })(alt= 'Подтяжка груди с имплантами')
          +cell({ s:6 }).landing-block-section-h3__text
            p Этот метод сочетает удаление избыточной птозированной ткани с увеличением объема груди с помощью имплантов. В ходе операции удаляется лишняя кожа, перемещается сосково-ареолярный комплекс, и устанавливаются импланты для достижения желаемого объема и формы.
  
  +landingBanner({
    header: 'ХОТИТЕ УВИДЕТЬ БУДУЩИЙ РЕЗУЛЬТАТ ДО НАЧАЛА ОПЕРАЦИИ?',
    body: 'Клиника MEDALL предоставит такую возможность! <br> С помощью инновационной программы 3D моделирования Crisalix доктор создаст визуальный образ будущего результата. Благодаря реалистичному моделированию, вы сможете точно увидеть будущие формы, которые будут соответствовать желаемому результату и особенностям тела.',
    image: 'landing-banner-1',
    button: 'Записаться на 3D-консультацию',
  })

  +landingBlock({
    header: 'ПРЕИМУЩЕСТВА ПОДТЯЖКИ ГРУДИ',
  })
    +grid({ justify:'center', alignItems: 'flex-start' })
      +cell({ tag:'ul', m:10 }).landing-block__list
        li.landing-block__item устранение последствий беременности и кормления грудью;
        li.landing-block__item коррекция возрастных изменений;
        li.landing-block__item восстановление упругости груди;
        li.landing-block__item возможность моделирования формы груди;
        li.landing-block__item улучшение внешнего вида;
        li.landing-block__item возможность сочетания операции с эндопротезированием (имплантами).

  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center с вами работает лучшая команда
    .page-subsection
      p Мы понимаем, как важно найти своего доктора: опытного профессионала и человека, которому  Вы доверите Ваше здоровье и красоту. Познакомьтесь с пластическими хирургами клиники MEDALL и задайте им вопрос прямо сейчас.
    +slider().page-subsection.home-staff__slider
      each item, key in doctors
        +slide(data-category= item.category).home-staff__slide
          a(href='/').home-staff__inner
            .home-staff__name !{item.name}
            .home-staff__description !{item.desc}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              {
                ext: 'webp',
                mime: 'image/webp'
              },
              {
                ext: 'jpg',
                orig: true
              }
            ],
          }).home-staff__image

  +pageSection({tag: 'section', 'text-align':'center'})#section-price
    h2.page-subsection.text-align-center Стоимость
    +pageSubsection.text-align-center
      p Точную стоимость операции может посчитать только Ваш пластический хирург после онлайн или офлайн-консультации.  Это зависит от Ваших индивидуальных особенностей и сложности операции, количества часов наркоза и времени нахождения  в палате. В указанную стоимость не входят: наркоз, пребывание в палате и перевязки.
    +pageSubsection
      +tablePrice(pricesTable)
    .page-subsection.grid.grid--justify--center
      a(href='/').button Записаться на прием

  +pageSection({ backgroundColor: true }).landing-stages
    h2.page-subsection.text-align-center НЕСКОЛЬКО ШАГОВ НА ПУТИ К ПОДТЯНУТОЙ ГРУДИ
    .landing-stages__list.page-subsection
      each item in landingStages
        .landing-stages__item
          +img({
            name: item.image,
            path: '/images/landings/landing-new/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true },
            ]
          })(alt= item.header).landing-stages__image
          .landing-stages__inner
            h3.landing-stages__header !{item.header}
            .landing-stages__body !{item.body}

  +landingBannerSlider({ 
    header: 'У НАС ВАМ БУДЕТ КОМФОРТНО!',
    body: 'Для каждого пациента предусмотрена индивидуальная палата с круглосуточным медицинским наблюдением, ортопедической кроватью, мобильной кнопкой вызова персонала, туалетной комнатой с гигиеническим душем и необходимыми принадлежностями (халат, тапочки, полотенца), сейфом, Wi-Fi, телевизором с онлайн-кинотеатром, набором для чая/ кофемашиной.',
    images: ['landing-banner-2', 'landing-banner-3', 'landing-banner-4', 'landing-banner-5', 'landing-banner-6', 'landing-banner-7'],
  })

  +landingBlock({
    header: 'РЕКОМЕНДАЦИИ ПЕРЕД ПОДТЯЖКОЙ ГРУДИ',
  })
    .page-subsection
      p Чтобы операция по подтяжке груди прошла без осложнений и период восстановления был быстрым, следуйте рекомендациям врача. 
    +grid({ justify:'center', alignItems: 'flex-start' }).page-subsection 
      +cell({ tag:'ul', m:10 }).landing-block__list
        li.landing-block__item За 2 недели до операции полностью откажитесь от употребления спиртных напитков и курения. 
        li.landing-block__item За 3 дня исключите физические нагрузки. 
        li.landing-block__item За 8 часов до операции воздержитесь от приема пищи и жидкости (уточнит анестезиолог). 
        li.landing-block__item Необходимо снять маникюрный лак или гель-лак, хотя бы с указательного или большого пальца правой руки. 
    .page-subsection
      p Операция не проводится с 1 по 4 день менструального цикла, а также при наличии признаков простудных заболеваний.

  +bannerTaxi
  +bannerPlasticsGiftNew

  +landingBlock({
    header: 'РЕКОМЕНДАЦИИ ПОСЛЕ ПОДТЯЖКИ ГРУДИ',
  }).landing-block--drop-down
    .landing-block__top
      p Реабилитационный период после хирургической операции – это время, когда относиться к себе нужно особенно бережно, внимательно и осторожно. Ограничения после пластических операций связаны прежде всего с физической активностью. 
    .landing-block__bottom
      p Ее ограничивают для предупреждения активного притока крови к прооперированной части тела или лица и предупреждения инфекционных осложнений. После операции рекомендуется соблюдать покой (в том числе половой), избегать физического и психоэмоционального перенапряжения. 
      p Следующий важный пункт - это ношение компрессионного белья или компрессионных повязок с целью уменьшения отечности в области воздействия, а также для того, чтобы не допустить расхождения швов. Фиксация участка тела, подвергшегося хирургической резекции, позволяет снизить давление и лишнюю нагрузку. Также компрессионное белье поможет избежать тромбоза.
      p В большинстве случаев запрещено употреблять алкогольные напитки, посещать баню, сауну и загорать на солнце.
      p Питание после пластики должно быть полноценным. Лучше употреблять блюда, которые приготовлены на пару и легко усваиваются. Для поддержания активности иммунитета рекомендуется употреблять больше свежих овощей, фруктов, зелени. А вот от алкоголя придется отказаться на месяц после операции. 
      p На этапе реабилитации после пластических операций кроме лекарственных препаратов могут применяться другие методы восстановления. Они ускоряют регенерацию тканей и поддерживают нормальные обменные процессы. Узнать о них вы можете на бесплатной консультации косметолога-реабилитолога в клинике MEDALL.

  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Отзывы       
    +slider().page-subsection.home-feedback__slider.reviews-item-list
      each review in reviewsItems
        +slide
          +reviewsItem(review) 

  +pageSection({ empty: true, backgroundColor: [true, 'dark'] })
    +questionsHeader({ backgroundColor: 'dark' }) Ответы на эти вопросы помогут вам принять правильное решение 
    +questionsList(questionsList1)

  +pageSection
    +pageSubsection#consult
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +landingBlock({
    header: 'ВАМ МОГУТ БЫТЬ ИНТЕРЕСНЫ ЭТИ ВИДЕО',
  }).landing-video
    +slider({ pagination:false })
      +slide.landing-video__slide
        .iframe-responsive__iframe.landing-video__item
          iframe(data-youtube='https://vk.com/video_ext.php?oid=-175709591&id=456239522&hd=2&js_api=1' src='' allowfullscreen="allowfullscreen")
      +slide.landing-video__slide
        .iframe-responsive__iframe.landing-video__item
          iframe(data-youtube='https://vk.com/video_ext.php?oid=-175709591&id=456239522&hd=2&js_api=1' src='' allowfullscreen="allowfullscreen")
    a(href='#').landing-video__button Показать еще
