extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое липофилинг лица
    p Липофилинг лица&nbsp;— это малоинвазивная косметическая процедура, в&nbsp;ходе которой жиром пациента заполняют проблемные участки лица. Натуральный наполнитель эффективно борется с&nbsp;возрастными изменениями, возвращая коже утраченную упругость, а&nbsp;лицу&nbsp;— объем. Методику еще называют фэтграфтинг лица или способ объемного омоложения. После вмешательства шрамов не&nbsp;остается.
    p Для липофилинга в&nbsp;MEDALL стерильную систему забора и&nbsp;введения жировой ткани без контакта с&nbsp;воздухом. Уникальное новшество, представленное в&nbsp;единичных клиниках России и&nbsp;доступное пациентам нашей клиники. Такая система сокращает время операции и&nbsp;пребывания пациента под наркозом, сохраняет максимальную жизнеспособность жировых клеток и&nbsp;приживаемость жировой ткани более, чем на&nbsp;90&nbsp;%. 

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Липофилинг лица&nbsp;— неинвазивная процедура, это означает быстрое восстановление и&nbsp;отсутствие рубцов после вмешательства. Пересадка жира меняет формы, увеличивает объем, возвращая лицу молодые очертания. Жир повышает эластичность кожи и&nbsp;разглаживает морщины. Фактический уровень удовлетворенности пациентов после операции по пересадке жира составляет 100&nbsp;%.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Выраженные носогубные складки;
          +li Непропорциональность или асимметрия лица;
          +li Дефекты лица, которые можно исправить без радикальной операции;
          +li Возрастные изменения: потеря объема в&nbsp;отдельных областях (щеки, нижние веки) и&nbsp;снижение эластичности кожи;
          +li Выделение анатомических структур (брови, скуловые дуги);
          +li Глубокие морщины и&nbsp;складки.

    .question
      .question__name
        h3 Преимущества липофилинга
      .question__body
        +ul
          +li Создание и&nbsp;восстановление былого объема лица;
          +li Продолжительные результаты;
          +li Быстрое восстановление;
          +li Процент отторжения равен&nbsp;0;
          +li Естественные результаты;
          +li Жир не&nbsp;притягивает воду, поэтому в&nbsp;зоне коррекции не&nbsp;возникает отеков;
          +li Аутожир остается на&nbsp;месте и&nbsp;не&nbsp;мигрирует;
          +li За&nbsp;счет увеличения жировой ткани улучшается кровообращение кожи в&nbsp;зоне коррекции. 

  +pageSection
    h2 Подготовка к&nbsp;процедуре
    p За&nbsp;10-14&nbsp;дней до&nbsp;вмешательства прекращают принимать разжижающие кровь препараты (аспирин, АСС и&nbsp;т.д.), курить и&nbsp;ограничивают алкоголь.
    .question
      .question__name
        h3 Консультация с&nbsp;хирургом
      .question__body
        p На&nbsp;приеме врач обсуждает с&nbsp;пациентом ожидания, собирает анамнез, выясняет наличие аллергии, хронических болезней, какие лекарственные и&nbsp;витаминные препараты принимает человек. Хирург детально осматривает ткани лица, выявляя проблемные зоны и&nbsp;объем вмешательства. В&nbsp;заключении пациенту выдается список анализов и&nbsp;исследований, которые следует пройти перед вмешательством.

    .question
      .question__name
        h3 Медицинские анализы и&nbsp;обследования
      .question__body
        +ul
          +li Базовый анализ крови и&nbsp;мочи;
          +li Тест на&nbsp;сахар;
          +li Коагулограмма;
          +li Кровь на&nbsp;сифилис, ИФА и&nbsp;гепатиты;
          +li Флюорография;
          +li ЭКГ;
          +li Прием у&nbsp;терапевта для получения вердикта.
        p Список исследований дополняется по&nbsp;усмотрению врача.

  +pageSection
    h2 Процесс липофилинга
    p Процедура состоит из трех этапов и&nbsp;длится 1,5-3&nbsp;часа в&nbsp;зависимости от&nbsp;объема пересаживаемого жира. Выписка из стационара в&nbsp;день операции. До&nbsp;этого пациент находится в&nbsp;палате под контролем медперсонала. Чтобы избежать осложнения, назначаются контрольные осмотры.
    .question
      .question__name
        h3 Области лица, куда пересаживают жир
      .question__body
        p 
          strong Область лба. 
          | Аутожир возвращает молодость лицу, уменьшает появление морщин на&nbsp;лбу. Точка ввода жира на&nbsp;краю фронтальной линии роста в&nbsp;верхней части лба.
        p 
          strong Липофилинг височной зоны. 
          | Восстанавливает объем по&nbsp;обеим сторонам висков, разглаживает морщины, приподнимает внешние уголки бровей. Точка входа для инъекции жира на&nbsp;краю линии роста волос по&nbsp;бокам лба.
        p 
          strong Пересадка жира в&nbsp;область верхнего века. 
          | Устраняет опущение или впалость верхних век, решает проблему множественных складок на&nbsp; веках. Точка входа для инъекции жира&nbsp;— брови.
        p 
          strong Липофилинг области под глазами. 
          | Устраняет впадины и&nbsp;запавшие области под глазами, заполняет носослезные борозды. Липомоделирование помогает избавиться от темных кругов под глазами, появившимися из-за дефицита жировой прослойки в&nbsp;этой области. Точка входа для инъекции&nbsp;– на&nbsp;передней поверхности щек.
        p 
          strong Пересадка аутожира в&nbsp;область скул. 
          | Создает объем на&nbsp;скулах, устраняет асимметрию лица. Решает проблемы впалых или полых слезных бороздок. Корректирует старение и&nbsp;сухость кожи. Точка входа для инъекций жира&nbsp;— щеки.
        p 
          strong Фэтграфтинг области щек. 
          | Уменьшает впадины под скулами, контурирует щеки, делая лицо визуально полнее и&nbsp;моложе. Также разглаживаются морщины. Точка входа&nbsp;– на&nbsp;боковой части лица (область бакенбардов) или на&nbsp;щеках.
        p 
          strong Трансплантация жира в&nbsp;носогубные складки. 
          | Решает проблемы выраженных складок в&nbsp;носогубном треугольнике, восполняет недостаток жировой ткани в&nbsp;нижней части лица, устраняет асимметрию носогубных складок. Точка входа жировой инъекции&nbsp;— уголки губ.
        p 
          strong Заполнение морщин-марионеток. 
          | Процедура смягчает глубокие складки, поддерживает эластичность и&nbsp;упругость кожи в&nbsp;зоне инъекции. Точка ввода жира&nbsp;— уголки губ.
        p 
          strong Липофилинг подбородка 
          | придает лицу более гармоничный вид. Уменьшает проявление двойного подбородка, эстетические недостатки.
        p Большинство людей выбирают липофилинг всего лица. В&nbsp;ряде случаев желаемого результата добиваются увеличением объема 1-3&nbsp;областей.

    .question
      .question__name
        h3 Этапы процедуры
      .question__body
        p В MEDALL, чтобы упростить реабилитацию, к&nbsp;работе подключаются специалисты отделения косметологии. В&nbsp;клинике практикуются сочетанные вмешательства&nbsp;– несколько операций за&nbsp;одну процедуру.

        h4 Микротрансплантация жира
        +ul
          +li Выбирается область забора жировой ткани.
          +li Делается местная анестезия или пациент вводится в&nbsp;медикаментозный сон.
          +li Жировые клетки откачиваются максимально аккуратно с&nbsp;внутренних сторон коленей или с&nbsp;внешних сторон бедер.

        h4 Центрифугирование
        p После извлечения жиры обрабатываются в&nbsp;центрифуге для отфильтровывания чистых жиров для пересадки. Очистка повышает приживаемость материала.

        h4 Введение жира
        p Очищенный жир вводится с&nbsp;помощью тонкой канюли в&nbsp;зоны, требующие коррекции. Затем обработанные области покрываются тейп-бинтом, который остается на&nbsp;месте 3-4&nbsp;дня.

  +pageSection
    h2 Реабилитационный период
    p Скорость заживления пересаженной ткани в&nbsp;разных частях лица различается. Например, при инъекции вокруг глаз большая часть объема пересаженной жировой ткани сохраняется. Чтобы ускорить восстановление, важно соблюдать указания врача, на&nbsp;время отказаться от продолжительного пребывания под палящим солнцем, бани, солярия и&nbsp;бассейна.
    .question
      .question__name
        h3 Когда виден результат
      .question__body
        p В&nbsp;раннем постоперационном периоде наблюдается небольшая отечность и&nbsp;синяки в&nbsp;зонах забора и&nbsp;введения жира, которые проходят к&nbsp;7-10&nbsp;дню. Возможные неровности проходят через 14&nbsp;дней.
        p Оценить конечный результат липофилинга можно через 2-3&nbsp;месяца. Поэтому повторная процедура не&nbsp;проводится раньше, чем через 5-6&nbsp;месяцев после первой пересадки.

    .question
      .question__name
        h3 Рекомендации по&nbsp;восстановлению
      .question__body
        +ul
          +li 7&nbsp;дней лежите и&nbsp;спите на&nbsp;спине, приподняв верхнюю часть тела.
          +li Избегайте активной мимики. Минимизируйте разговоры.
          +li Две недели после операции не&nbsp;посещайте спортзал и&nbsp;сауну, избегайте интенсивных физических нагрузок.
          +li Минимум 3&nbsp;месяца защищайте лицо от прямых солнечных лучей, и&nbsp;не&nbsp;посещайте солярий.

    .question
      .question__name
        h3 Уход за&nbsp;лицом
      .question__body
        +ul
          +li Первые 3&nbsp;дня после процедуры умывайтесь очищенной водой, не&nbsp;делайте макияж;
          +li Для мытья волос используйте только чистую воду или мягкий шампунь;
          +li На&nbsp;3-4&nbsp;день в&nbsp;уход за&nbsp;лицом включают увлажняющие маски;
          +li Пользуйтесь солнцезащитными кремами.

    .question
      .question__name
        h3 Долгосрочность результатов
      .question__body
        p Продолжительность результата липомоделирования после частичной резорбции&nbsp;– всасывания жира организмом, варьируется от&nbsp;человека к&nbsp;человеку. Расщепляется пересаженный жир или остается на&nbsp;месте зависит от&nbsp;двух факторов.
        +ul
          +li Правильная очистка и&nbsp;введение жировой ткани. Центрифугирование сохраняется максимальную жизнеспособность жировых клеток.
          +li Область тела. Аутогенный жир лучше сохраняется, например, в&nbsp;области щек и&nbsp;нижних век, чем в&nbsp;области губ.
        p В&nbsp;среднем результаты сохраняются 8-10&nbsp;лет, если делать 2&nbsp;сеанса и&nbsp;в&nbsp;зависимости от&nbsp;скорости усвоения жира организмом. Негативно на&nbsp;полученные пропорции лица влияет резкий набор веса или похудение, курение.

  +pageSection
    h2 Противопоказания к&nbsp;процедуре
    p Лицевая жировая трансплантация&nbsp;— это косметическая процедура с&nbsp;относительно низким уровнем риска и&nbsp;стандартными противопоказаниями.
    .question
      .question__name
        h3 Абсолютные
      .question__body
        +ul
          +li Болезни сердечно-сосудистой системы;
          +li Эндокринные нарушения;
          +li Атеросклероз сосудов;
          +li Онкологические заболевания любой локализации;
          +li Коагулопатия;
          +li Психические болезни и&nbsp;другое.

    .question
      .question__name
        h3 Временные
      .question__body
        +ul
          +li Беременность и&nbsp;лактация;
          +li Филлеры гиалуроновые кислоты (рассасываются 1,5&nbsp;года);
          +li Обострение герпетической инфекции с&nbsp;высыпаниями на&nbsp;губах и&nbsp;коже лица;
          +li Лихорадочные состояния, острые инфекции.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Инъекционные процедуры для стареющей кожи лица. Пластическая хирургия лица. Уайз&nbsp;Дж.Б., Греко&nbsp;Т.;
          +li Пересадка жира на&nbsp;лицо: техника и&nbsp;новые концепции/ Мелвин&nbsp;А. Шиффман, Митчел&nbsp;В. Камински;
          +li Оптимизация липофилинга лица&nbsp;— метод определения объема жирового аутотрансплантата для эстетической коррекции/ Орлова&nbsp;Ю.М., Вербо&nbsp;Е.В., Мантурова&nbsp;Н.Е.


