extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое нижняя блефаропластика
    p Блефаропластика нижних век&nbsp;— это пластическая операция, которая эффективно корректирует возрастные изменения и&nbsp;эстетические дефекты в&nbsp;области кожи нижнего века. Нижняя блефаропластика решает проблему уставшего взгляда, вялой, дряблой, морщинистой кожи, стирая с&nbsp;лица следы возраста.

  +pageSection
    h2 Показания для нижней блефаропластики
    p Блефаропластика нижних век глаз актуальна в&nbsp;случаях, когда кожа в&nbsp;этой области теряет эластичность, провисает, а&nbsp;орбитальный жир неправильно перераспределяется, формируя участки выпячивания и&nbsp;другие проявления. Показаниями для операции будут также врожденные дефекты и&nbsp;прочие изменения внешности, вызывающие недовольство.
    .question
      .question__name
        h3 Возрастные изменения и&nbsp;эстетические показания
      .question__body
        +ul
          +li Морщины;
          +li Утрата жировой подкожной клетчатки с&nbsp;возрастом;
          +li Складки, вызванные провисанием кожи;
          +li Необходимость удаления грыж под глазами;
          +li Дряблость кожи;
          +li Темные круги под глазами;
          +li Желание убрать мешки под глазами.

    .question
      .question__name
        h3 Медицинские показания для процедуры
      .question__body
        +ul
          +li Унаследованная патологическая слабость кожи нижних век;
          +li Опущение век;
          +li Частая слезоточивость и&nbsp;сужение поля зрения из-за атрофии кожи век;
          +li Спазм круговой мышцы глаза
          +li Заворот век.

  +pageSection
    h2 Преимущества нижней блефаропластики
    p Избавляет от проблем, которые не&nbsp;решить аппаратными методиками: блефаропластика устраняет мешки под глазами, грыжи. Дарит уверенность в&nbsp;себе, способствует преодолению психологических комплексов, связанных с&nbsp;внешностью, повышает самооценку. В&nbsp;целом операция позволяет выйти на&nbsp;выраженный и&nbsp;долговременный омолаживающий эффект, устранить изменения в&nbsp;области вокруг глаз, которые выдают возраст.
    .question
      .question__name
        h3 Долговременные результаты
      .question__body
        +ul
          +li Устойчивый результат, по&nbsp;сравнению с&nbsp;классическими косметологическими процедурами, которые корректируют эстетические несовершенства на&nbsp;6-12&nbsp;месяцев, в&nbsp;то&nbsp;время как стойкий эффект после классической блефаропластики нижних век сохраняется на&nbsp;срок до&nbsp;15 и&nbsp;более лет или бессрочен.
          +li Омоложение взгляда даже при выраженных возрастных изменениях: устранение морщин, складок разной глубины и&nbsp;степени, грыж, в&nbsp;то&nbsp;время как косметологические процедуры действуют более поверхностно, подходят при начальных возрастных изменениях.
          +li Устранение врожденных и&nbsp;приобретенных аномалий век.

    .question
      .question__name
        h3 Минимальные риски и&nbsp;осложнения
      .question__body
        +ul
          +li Малотравматичная процедура, не&nbsp;оставляющая следов, в&nbsp;том числе и&nbsp;из-за возможности нанести разрез под линией ресниц.
          +li Отсутствие наркозной нагрузки на&nbsp;организм: в&nbsp;клинике MEDALL в&nbsp;СПб даже операцию по&nbsp;удалению мешков под глазами выполняем под местной анестезией, поскольку пластические хирурги работают только на&nbsp;уровне жировой клетчатки и&nbsp;кожных покровов.
          +li Нет необходимости оставаться в&nbsp;стационаре: покинуть клинику можно в&nbsp;день операции.
          +li Ускоренная реабилитация. Обусловлена минимальной травматичностью, активацией кровоснабжения век, созданием условий для быстрого заживления, поскольку назначаем индивидуально разработанный курс восстановительных процедур.

  +pageSection
    h2 Подготовка к&nbsp;нижней блефаропластике
    p От правильной, всесторонней и&nbsp;последовательной подготовки зависит сложность оперативного вмешательства, отсутствие риска осложнений и&nbsp;скорость реабилитационного периода. Перед пластической операцией нужно сдать рекомендованные анализы, пройти обследования, проконсультироваться у&nbsp;врача.
    .question
      .question__name
        h3 Обязательные анализы и&nbsp;обследования перед операцией
      .question__body
        p Чтобы исключить риск осложнений, пациенту нужно:
        +ul
          +li сдать анализ мочи и&nbsp;крови&nbsp;(биохимический, общий, на&nbsp;свертываемость);
          +li пройти обследование на&nbsp;ЗППП, гепатиты, ВИЧ;
          +li сделать ЭКГ и&nbsp;флюорографию;
          +li проконсультироваться у&nbsp;терапевта, а&nbsp;в&nbsp;некоторых случаях и&nbsp;у&nbsp;офтальмолога.

    .question
      .question__name
        h3 Консультация пластического хирурга
      .question__body
        p Врач осматривает состояние тканей вокруг глаз, выслушивает пожелания пациента, подбирает оптимальный метод пластической операции, визуализирует будущий результат с&nbsp;помощью 3D-моделирования, назначает дату блефаропластики.

    .question
      .question__name
        h3 Как проходит операция
      .question__body
        p Операцию проводим в&nbsp;современно оборудованной операционной, оснащенной высокотехнологичным оборудованием последнего поколения, которое выпущено ведущими брендами в&nbsp;сфере красоты и&nbsp;здоровья. Хирургическое вмешательство выполняем с&nbsp;соблюдением европейских стандартов медицинской безопасности. Над совершенством взгляда работают пластические хирурги, которые практикуют современные методики прицельного воздействия на&nbsp;ткани, что обеспечивает минимальную травматичность, максимальную точность и&nbsp;быстрое восстановление.

    .question
      .question__name
        h3 Описание процедуры шаг за&nbsp;шагом
      .question__body
        +ol
          +li Пластический хирург клиники наносит разметку на&nbsp;лицо.
          +li Использует препараты местного обезболивающего воздействия, а&nbsp;в&nbsp;сложных случаях&nbsp;— вводит пациента в&nbsp;состояние наркоза.
          +li Обрабатывает операционное поле антисептическим раствором.
          +li Защищает глазные яблоки специальными линзами, фиксирует веко зажимом.
          +li Наносит разрезы по&nbsp;той стороне глаз, которые предполагает выбранная техника операции.
          +li Выполняет цели оперативного вмешательства.
          +li Накладывает швы&nbsp;(если предполагает техника операции).
          +li Закрывает прооперированные участки повязками.

    .question
      .question__name
        h3 Методы нижней блефаропластики: традиционный и&nbsp;трансконъюнктивальный подход
      .question__body
        +ul
          +li Трансконъюктивальную технику операции практикуем для коррекции умеренных эстетических дефектов, поскольку она не&nbsp;предполагает удаление излишков кожи. Разрезы пластический хирург наносит по&nbsp;внутренней поверхности слизистой нижнего века. Швы не&nbsp;накладывает.
          +li Классическую технику хирургического вмешательства выполняем, когда нужно скорректировать основательные эстетические несовершенства. Разрез специалист наносит по&nbsp;линии роста ресниц. Накладывает косметический шов, потому ранка заживает бесследно.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Грищенко&nbsp;С.В. Эстетическая хирургия возрастных изменений век / С.В&nbsp;Грищенко.&nbsp;– М.:Медицина.&nbsp;– 2007. – С.&nbsp;26-31, 46-54.
          +li Зайкова&nbsp;М.В. Пластическая офтальмохирургия / М.В.&nbsp;Зайкова.&nbsp;– М.: Медицина.&nbsp;– 1980.– С.&nbsp;151-154.
          +li Каллахан&nbsp;А. Хирургия глазных болезней / А.&nbsp;Каллахан. – МЕДГИЗ, Москва.&nbsp;– 1963. – С.78-113.
          +li Обрубов&nbsp;С.А. Эстетическая блефаропластика (офтальмологические и хирургические аспекты). / С.А.&nbsp;Обрубов, В.А.&nbsp;Виссарионов.&nbsp;– Руководство для врачей.&nbsp;– М.:Медицина.&nbsp;– 2006. – С.&nbsp;11-21, 31-42.
          +li Пейпл&nbsp;А.Д. Пластическая и&nbsp;реконструктивная хирургия лица / под ред. А.Д.&nbsp;Пейпла; пер. 2-го англ. изд.&nbsp;– М.:БИНОМ. Лаборатория знаний, 2007. – С.&nbsp;261-267, 282-283.
          +li Фришберг&nbsp;И.А. Особенности современной эстетической блефаропластики. Актуальные вопросы пластической, эстетической хирургической хирургии и&nbsp;дерматокосметологии / И.А.&nbsp;Фришберг // М.,&nbsp;2001. – С.&nbsp;52-53.
          +li Финчер&nbsp;Э.Ф. Блефаропластика / под ред. Р.Л.&nbsp;Моя, Э.Ф.&nbsp;Финчера; ред. серии Дж.&nbsp;C.Доувер; пер. с&nbsp;англ. под общей редакцией В.А.&nbsp;Виссарионова&nbsp;– М.: ООО&nbsp;"Рид Элсивер", 2009.&nbsp;– С.&nbsp;135.
