extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-icon/block-icon
include /blocks/questions-header/questions-header
include /blocks/question/question
include /blocks/form-input/form-input
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/button/button
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item
include /blocks/indications/indications
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content 
  include /blocks/banner-moment-implantation/banner-moment-implantation
  +pageSection()
    +pageSubsection.text-align--center: h2 Показания и противопоказания к одномоментной имплантации
    +pageSubsection.text-align--center
      p Отсутствие зубов приводит к неприятным последствиям, даже если визуально вы их не замечаете.
      p Происходит смещение соседних зубов, нагрузка распределяется неравномерно, зубы быстрее стачиваются и в конечном итоге все приводит к их полному разрушению.
    +pageSubsection()
      -
        const contr = {
          settings: {'contraindications': true},
          title: 'Противопоказания',
          list: [
            'Злокачественные новообразования;',
            'Туберкулез;',
            'Тяжелые заболевания сердечно- сосудистой, нервной и эндокринной систем;',
            'Психические заболевания, алкогольная и наркотическая зависимости.',
          ]
        }
        const ind = {
          title: 'Показания',
          list: [
            'Утрата, травма или скол зуба;',
            'Атрофия костной ткани;',
            'Смещение зубного ряда;',
            'Деформация черт лица за счет отсутствия зубов.',
          ]
        }
      +slider({ fullWidth: true }).slider-indications
        +slide: +indications(ind)
        +slide: +indications(contr)
  +pageSection({backgroundColor: [true, 'dark']})#section-comfort
    +pageSubsection.text-align--center: h2 Цифровое планирование и навигационный шаблон
    +pageSubsection: +grid({'padding-y': true, 'align': 'center'})
      +cell({m: 6, xs: 12}): +blockMarked
        p Цифровое планирование необходимо для деликатного и точного выполнения хирургического этапа и дальнейшего качественного протезирования. Осуществляется совместно с  ортопедом, хирургом, ортодонтом, терапевтом и парадонтологом. 
        p: small * (при необходимости участие принимают остеопат, лор, невролог) 
      +cell({m: 6, xs: 12}): +img()(src='https://dummyimage.com/600x400').border-radius-m
      +cell({m: 6, xs: 12}): +blockMarked: p Имплантат является фундаментом для коронки, поэтому крайне важно заранее спланировать форму протеза, учитывая прикус и эстетических параметры.
      +cell({m: 6, xs: 12}): +blockMarked
        p Для точного результата необходим:
        +ul.list-marked.list-marked--w-prev-par
          +li КТ исследование;
          +li Внутриротовое сканирование;
          +li фотографии ротовой полости.
      +cell({m: 6, xs: 12}): +img()(src='https://dummyimage.com/600x400').border-radius-m
      +cell({m: 6, xs: 12}): +blockMarked
        p Следующим этапом проводят:
        +ul
          +li 3D моделирование формы коронок;
          +li проверку по прикусу в виртуальном артикуляторе;
          +li виртуальную расстановку имплантатов в оптимальные позиции, исходя из индивидуальных особенностей;
          +li 3D моделирование навигационного хирургического шаблона и его печать.
    +pageSubsection.text-align--center: +grid({ 'justify': 'center' }): +cell({ l: 8, m: 12, xs: 12 })
      p Шаблон позволяет установить имплантат точно по предварительно составленному плану, даже в условиях атрофии костной ткани.
      p Микроинвазивная операция без разрезов, минимальный срок реабилитации, отсутствие болевого синдрома и отеков.
    +pageSubsection(class= grid({ 'justify': 'center' }))
      +button({ tag: 'a' })(class= cell({ l:4, m: 4, s: 6, xs: 12 }) href='#section-contact') Записаться на консультацию
  include /blocks/banner-dental-checkup/banner-dental-checkup
