extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое микроигольчатый RF-лифтинг?
    p Это прогрессивная омолаживающая процедура, сочетающая микронидлинг с&nbsp;радиочастотной энергией. Радиоволны распространяются по&nbsp;длине иглы и&nbsp;концентрируются на&nbsp;кончике, где температура повышается до&nbsp;значений, стимулирующих обменные процессы и&nbsp;улучшающих синтез эластина и&nbsp;коллагена. За&nbsp;один сеанс игольчатый РФ-лифтинг лица сглаживает морщины и&nbsp;следы постакне, возвращает упругость и&nbsp;плотность дряблой коже.
    .question.question--active
      .question__name
        h3 Микронидлинг
      .question__body
        p Это малоинвазивная методика, которая используя тонкие иглы для создания крошечных проколов в&nbsp;эпидермисе, активизирует естественную регенерацию, что приводит к&nbsp;увеличению выработки коллагена и&nbsp;эластина. Изначально была разработана как терапия индукции коллагена, направленная на&nbsp;омоложение стареющей кожи.

    .question
      .question__name
        h3 РФ-лифтинг
      .question__body
        p Это безопасная нехирургическая альтернатива подтяжки с&nbsp;минимальным временем восстановления. Энергетические волны используются для передачи тепла в&nbsp;дерму. Тепловая энергия создает контролируемую микротравму и&nbsp;ускоряет выработку коллагена и&nbsp;эластина.

    .question
      .question__name
        h3 Основы RF-микронидлинга
      .question__body
        p Микроигольчатый РФ-лифтинг лица совмещает две мощные технологии&nbsp;— микронидлинг и&nbsp;радиочастоту для создания синергетического эффекта, который гарантирует потрясающие результаты. Во&nbsp;время лечения крошечные иглы вводятся в&nbsp;кожу, а&nbsp;РЧ-энергия нагревает глубокие кожные слои.

    .question
      .question__name
        h3 Ожидаемый эффект после процедуры
      .question__body
        +ul
          +li 
            strong Однородная и&nbsp;упругая кожа. 
            | Микротравматизация и&nbsp;прогрев тканей разрушают старую структуру клеток и&nbsp;способствуют их обновлению. Постепенно дерма уплотняется, морщины сглаживаются, а&nbsp;рубцы и&nbsp;пятна рассасываются.
          +li 
            strong Чистая кожа без купероза. 
            | Усиливается микроциркуляция, в&nbsp;результате восстанавливается здоровый лимфо- и&nbsp;кровоток, укрепляются стенки сосудов, исчезают проявления купероза (сосудистая сеточка на&nbsp;лице).
          +li 
            strong Четкие контуры 
            | формируются в&nbsp;результате локального разрушения жировых клеток.
          +li 
            strong Здоровый цвет лица. 
            | Поры сужаются, рельеф лица становится более ровным, повышается тургор и&nbsp;улучшается цвет.
          +li 
            strong Подтянутая кожа. 
            | Уплотнение тканей приводит к&nbsp;исчезновению дряблости и&nbsp;провисаний.
        p Микроигольчатый RF-лифтинг используют как самостоятельную процедуру, так и&nbsp;в&nbsp;комплексе с&nbsp;биоревитализацией или мезотерапией. Комплексный подход позволяет справиться с&nbsp;выраженными возрастными изменениями, добиться видимого омоложения за&nbsp;короткие сроки.

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Игольчатый RF-лифтинг лица меняет правила омолаживающих процедур, давая максимальный эффект при минимальном времени восстановления. У&nbsp;метода множество преимуществ, включая улучшение тона кожи, текстуры и&nbsp;эластичности кожных покровов за&nbsp;счет увеличения выработки коллагена в&nbsp;дермальном слое.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Фотостарение;
          +li Возрастные изменения;
          +li Изменения контуров лица;
          +li Рубцы, растяжки и&nbsp;следы после акне;
          +li Широкие поры;
          +li Пигментация и&nbsp;гиперкератоз;
          +li Мешки и&nbsp;отеки под глазами;
          +li Неровный тон;
          +li Гипергидроз.

    .question
      .question__name
        h3 Преимущества
      .question__body
        +ul
          +li Видимая подтяжка без операции;
          +li Малотравматичность;
          +li Двойной эффект;
          +li Воздействие на&nbsp;контролируемой глубине;
          +li Минимальный период восстановления;
          +li Долгосрочный результат.

  +pageSection
    h2 Как проводится процедура?
    p Микроигольчатая РФ-подтяжка проводится под местной анестезией (инъекционная или аппликационная). Во&nbsp;время сеанса врач использует RF-насадку с&nbsp;микроиглами с&nbsp;силиконовой оболочкой, продуцирующую высокочастотные радиоволны. Кончики игл не&nbsp;покрыты силиконом, на них концентрируется тепловая энергия. Температура прогрева тканей 60-80°&nbsp;C. В&nbsp;зависимости от обрабатываемой площади сеанс длится 15-60&nbsp;минут.
    .question
      .question__name
        h3 Используемый аппарат	
      .question__body
        p Venus Versa: один аппарат&nbsp;— множество задач. Прибор заменяет собой 3-4&nbsp;косметологических устройства. Функциональность обеспечивается множеством насадок, адаптирующих агрегат под конкретные задачи. Чтобы добиться максимальных результатов, устройство также подает в&nbsp;кожу импульсы электромагнитной энергии, которая стимулирует выработку новых кровеносных сосудов, что является жизненно важным аспектом цветущей молодой кожи.
        p Особенность, которая делает устройство фаворитом среди других приборов,&nbsp;— встроенный контроль температуры. Аппарат увеличивает выработку коллагена и&nbsp;разрушение жира, не&nbsp;перегревая обрабатываемую область и&nbsp;не&nbsp;повреждая кожу. Venus Versa сертифицирован в&nbsp;России.

    .question
      .question__name
        h3 Подготовка к&nbsp;процедуре
      .question__body
        +ul
          +li За&nbsp;2&nbsp;недели начинают защищать кожу от интенсивного воздействия ультрафиолета, не&nbsp;загорают;
          +li За&nbsp;2&nbsp;недели прекращают прием препаратов, разжижающих кровь;
          +li За&nbsp;неделю до&nbsp;лечения исключают косметические средства с&nbsp;ретинолом, альфа-гидрокислотами и&nbsp;витамином&nbsp;С;
          +li За&nbsp;сутки не&nbsp;курят и&nbsp;принимают алкоголь.

    .question
      .question__name
        h3 Этапы процедуры
      .question__body
        +ol
          +li 
            strong Обезболивание. 
            | В&nbsp;зависимости от&nbsp;типа анестезии пациенту наносят крем с&nbsp;анестетиком или подкожно вводят обезболивающий препарат.
          +li
            strong Обработка выбранной зоны. 
            | Глубина проникновения варьируется от обрабатываемой зоны: кожа вокруг глаз&nbsp;— 1&nbsp;мм, лицо&nbsp;— 2-3&nbsp;мм, тело&nbsp;— до&nbsp;7&nbsp;мм. В&nbsp;зависимости от решаемой проблемы делают два–три прохода по&nbsp;коже.
          +li
            strong Завершение процедуры. 
            | Обработанные зоны протираются антисептиком, затем наносится охлаждающая маска, а&nbsp;после&nbsp;— успокаивающее средство.
        p
          i Во&nbsp;время процедуры пациент может чувствовать легкое покалывание или тепло.

    .question
      .question__name
        h3 Восстановительный период
      .question__body
        p РФ-микронидлинг хорошо переносится пациентами и&nbsp;не&nbsp;вызывает сильного дискомфорта. Крохотные проколы не&nbsp;заметны постороннему глазу, но&nbsp;требуют ухода, поэтому пациентам первые 3&nbsp;дня рекомендовано оставаться дома. Первые сутки нельзя прикасаться к&nbsp;лицу. Легкий отек и&nbsp;следы проколов исчезают через 3-5&nbsp;дней. Полное восстановление занимает 9-14&nbsp;дней.

    .question
      .question__name
        h3 Рекомендации для предотвращения осложнений
      .question__body
        +ul
          +li До&nbsp;восстановления защитного слоя кожи не&nbsp;используйте декоративную косметику;
          +li Не&nbsp;расчесывайте образовавшиеся корочки;
          +li На&nbsp;14&nbsp;дней исключите посещение сауны, бассейна и&nbsp;не&nbsp;загорайте;
          +li В&nbsp;летний период используйте кремы с&nbsp;SPF-30 для защиты от&nbsp;ультрафиолета;
          +li До полного восстановления откажитесь от агрессивных косметологических процедур;
          +li Временно снизьте физическую нагрузку, чтобы не&nbsp;стимулировать приток крови к&nbsp;лицу.
        p Также очень важно пить не&nbsp;менее 2&nbsp;литров воды в&nbsp;сутки для восстановления гидробаланса кожи.

  +pageSection
    h2 Противопоказания и&nbsp;возможные побочные эффекты
    p Радиочастотная микроигольчатая терапия относится к&nbsp;малотравматичным процедурам&nbsp;— риски и&nbsp;время восстановления минимальны. Дискомфорт во&nbsp;время и&nbsp;после сеанса практически отсутствует. Но&nbsp;есть ряд состояний, при которых процедура невозможна или переносится до&nbsp;устранения временных противопоказаний.
    .question
      .question__name
        h3 Противопоказания
      .question__body
        +ul
          +li Обострение хронических состояний;
          +li Кожные болезни;
          +li Онкология;
          +li Беременность/ лактация;
          +li Тяжелое течение сердечно-сосудистых болезней;
          +li Аутоиммунные состояния;
          +li Кардиостимулятор.

    .question
      .question__name
        h3 Побочные эффекты
      .question__body
        +ul
          +li Незначительная отечность;
          +li Легкая гиперемия;
          +li Болезненность.
        p Как правило, неприятные симптомы проходят самостоятельно дня за&nbsp;три. Чтобы избежать негативных последствий, следуют рекомендациям врача.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Сравнение радиочастотного воздействия фракционными микроиглами и&nbsp;биполярного воздействия радиочастотным излучением на&nbsp;угри и&nbsp;шрамы от угревой сыпи и&nbsp;исследование механизма: Сравнительное рандомизированное контролируемое клиническое исследование/ Ким&nbsp;Д.Х. и&nbsp;соавторы;
          +li Радиочастотная микроиголка: всесторонний и&nbsp;критический обзор/ Маркус&nbsp;Г. Тан, Кристина&nbsp;Э. Джо, Энн Чапас и&nbsp;другие;
          +li Перспективное доклиническое сравнение эффективности радиочастотной микроигольной терапии и&nbsp;микроигольной терапии отдельно в&nbsp;борьбе с&nbsp;фотостарением кожи/ Джи Енг Хонг, Тэ-Рин Квон, Бенг Чул Ли;
          +li Радиочастотный микронидлинг: технологии, устройства и&nbsp;показания в&nbsp;практике современной пластической хирургии/ Орр Шаули, Трой Марксен, Амбика Минон.