extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-icon/block-icon
include /blocks/block-borders/block-borders
include /blocks/text-marked/text-marked
include /blocks/before-after/before-after
include /blocks/emtone-detail/emtone-detail
include /blocks/list-ordered/list-ordered
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/footer
block content
  +pageSection().container: .content
    +pageSubsection: h2.text-align-center АППАРАТ EMTONE - НЕИНВАЗИВНЫЙ СПОСОБ БОРЬБЫ С ЦЕЛЛЮЛИТОМ
    +pageSubsection: +grid({ 'par-like': true,  padding: 'y', align: 'center', justify: 'center' })
      +cell({ l: 5, m: 4, xs: 10 }): img(src='/images/landings/emtone/emtone.jpg' alt='')
      +cell({ l: 7, m: 8, xs: 12 })
        p
          strong EMTONE 
          | — первый и единственный аппарат, обеспечивающий одновременно тепловое и механическое воздействие для эффективного и неинвазивного устранения всех основных причин возникновения целлюлита и снижения тургора кожи.
        +blockBorders
          p: strong Как это работает?
          p Синергия воздействия монополярной радиочастоты и энергии акустических волн позволяет воздействовать на причины появления проблемы вместо устранения симптоматики.
        p: strong Что достигается в результате процедуры на аппарате EMTONE?
        ul.list-marked
          li уменьшение проявлений целлюлита
          li повышение эластичности кожи
          li улучшение тургора кожи
  +pageSection()
    +pageSubsection: h2.text-align-center Революционная комбинация двух эффективных технологий в одном аппликаторе
    +pageSubsection(class= grid({ 'justify': 'center' })): +emtoneDetail(class= cell({ l: 8, m: 10, xs: 12 }))
  +pageSection()
    +pageSubsection: h2.text-align-center ЗОНЫ, НА КОТОРЫЕ<br>ВОЗДЕЙСТВУЕТ АППАРАТ: 
    +pageSubsection: +grid()
      +cell({ m: 6, xs: 12 })
        +img({
          name: 'emtone-zones-front',
          path: '/images/landings/emtone/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true }
          ]
        })(alt='').emtone-zones__image
        +grid({ justify: 'center' }): +ol(class= cell({l: 8, xs: 12})).emtone-zones__list
          +li Живот
          +li Бока
          +li Передняя поверхность бедра
          +li Внутренняя поверхность бедра
      +cell({ m: 6, xs: 12 })
        +img({
          name: 'emtone-zones-back',
          path: '/images/landings/emtone/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true }
          ]
        })(alt='').emtone-zones__image
        +grid({ justify: 'center' }): +cell({l: 8, xs: 12}): +ol(start='5').emtone-zones__list
          +li Внутренняя поверхность плеча 
          +li Ягодицы
          +li Подъягодичные складки
          +li Задняя поверхность бедра
  +pageSection().emtone-comparison
    +pageSubsection().emtone-comparison__header
      h2.text-align-center EMTONE
      p.text-align-center Единственный аппарат, воздействующий сразу на все 5 причин возникновения целлюлита и дряблости кожи.
    +pageSubsection(class= grid({ justify: 'center' }))
      +cell({l: 4, m: 5, xs: 12})
        h3.emtone-comparison__item-title «Апельсиновая корка»
        +img({
          name: 'emtone-comparison-before',
          path: '/images/landings/emtone/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true }
          ]
        })(alt='').emtone-comparison__image
        ol.list-numbered.list-numbered--color.emtone-comparison__list
          li Накопление жировой ткани.
          li Поврежденные коллагеновые волокна. 
          li Потеря тонуса кожи.
          li Нарушение микроциркуляции.
          li Накопление токсинов.
      +cell({l: 4, m: 5, xs: 12})
        h3.emtone-comparison__item-title Гладкая кожа без выраженного целлюлита
        +img({
          name: 'emtone-comparison-after',
          path: '/images/landings/emtone/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true }
          ]
        })(alt='').emtone-comparison__image
        ol.list-numbered.list-numbered--color.emtone-comparison__list
          li Уменьшение жировых отложений
          li Ремоделирование коллагена 
          li Восстановление эластичности кожи 
          li Улучшение местного кровообращения 
          li Ускорение выведения токсинов
  +pageSection({ backgroundColor: [ true, 'dark' ] }).container: .content
    +pageSubsection: h2.text-align-center преимущества EMTONE
    +pageSubsection: +grid({ justify: 'center' }): +cell({ l: 8, m: 10, xs: 12 }): +grid({ padding: 'y' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: '80-min', desc: 'всего 80 минут' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: 'thermal-mechanic', desc: 'термическая и механическая энергии' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: 'no-rehab', desc: 'не требует реабилитации и абсолютно комфортна' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: 'cellulit-all-stages', desc: 'все формы и стадии целлюлита' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: 'all-body-types', desc: 'все типы кожи и телосложения' })
      +cell({ m: 4, xs: 6 }): +blockIcon({ type: 'no-anestesia', desc: 'не требует анестезии, уколов' })
  +pageSection().container: .content.emtone-efficiency
    +pageSubsection: h2.text-align-center ЭФФЕКТИВНОСТЬ ТЕХНОЛОГИИ EMTONE КЛИНИЧЕСКИ ДОКАЗАНА
    +pageSubsection: +grid({ justify: 'center' }): +cell({ l: 10, xs: 12 })
      +grid({ padding: 'y' })
        +cell({ l: 9, m: 10, xs: 12 }): +h3.emtone-efficiency__name Исследование 1
        +cell({ l: 9, m: 10, xs: 12 }): +textMarked().emtone-efficiency__subtitle Исследование заключалось в оценке  действия аппарата на целлюлит в зонах ягодиц и бедер:
        +cell({ xs: 12 })
          +ul
            +li На 93% - визуальное уменьшение проявлений целлюлита.
            +li На 2.2 см - среднее уменьшение обхвата бедер.
            +li 30 пациенток, 4 процедуры, 3 месяца наблюдений.
            +li(class= grid({ align: 'flex-start' }))
              +cell({ l: 5, m: 6, xs: 12 }): .before-after-description Ультразвуковое исследование продемонстрировало уплотнение кожи, снижение толщины жировой прослойки и разглаживание контуров между дермой и гиподермой.
              +cell({ l: 5, m: 4, xs: 12 }): +beforeAfter({
                before: { name: 'до', image: {
                    name: 'emtone-efficiency-1-before',
                    path: '/images/landings/emtone/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', orig: true }
                    ]
                  }},
                after: { name: 'через 3 мес', image: {
                    name: 'emtone-efficiency-1-after',
                    path: '/images/landings/emtone/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', orig: true }
                    ]
                  } },
              })
            +li(class= grid())
              +cell({l: 5, m: 6, xs: 12}): .before-after-description Термография подтвердила равномерное усиление локальной микроциркуляции. 
              +cell({l: 7, m: 4, xs: 12}): +beforeAfter({
                before: {name: 'до', image: {
                    name: 'emtone-efficiency-2-before',
                    path: '/images/landings/emtone/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', orig: true }
                    ]
                  }},
                after: {name: 'через 3 мес', image: {
                    name: 'emtone-efficiency-2-after',
                    path: '/images/landings/emtone/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', orig: true }
                    ]
                  }},
                settings: { 'mobile-wide': true },
              })
    +pageSubsection: +grid({ justify: 'center' }): +cell({ l: 10, xs: 12 })
      +grid({ padding: 'y' })
        +cell({ l: 9, m: 10, xs: 12 }): +h3.emtone-efficiency__name Исследование 2
        +cell({ l: 10, m: 10, xs: 12 }): +textMarked().emtone-efficiency__subtitle Исследование заключалось в оценке действия аппарата на сокращение кожного лоскута у рожавших женщин в области живота.
        +cell({ xs: 12 })(class= grid())
          +cell({ m: 6, xs: 12 })(class= grid({noGap: 'y'}))
            +cell({ xs: 6 })
              p ДО
              p: +img({
                name: 'emtone-efficiency-3-before',
                path: '/images/landings/emtone/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true }
                ]
              })(alt='')
            +cell({ xs: 6 })
              p ПОСЛЕ EMTONE
              p: +img({
                name: 'emtone-efficiency-3-after',
                path: '/images/landings/emtone/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true }
                ]
              })(alt='')
            p(style='font-size: 7px; line-height: 1.5') Через 3 месяца после 4-ой процедуры. фото предоставлены:клаус фриц,M.D. Врач.
          +cell({ m: 6, xs: 12 })(class= grid({noGap: 'y'}))
            +cell({ xs: 6 })
              p ДО
              p: +img({
                name: 'emtone-efficiency-4-before',
                path: '/images/landings/emtone/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true }
                ]
              })(alt='')
            +cell({ xs: 6 })
              p ПОСЛЕ EMTONE
              p: +img({
                name: 'emtone-efficiency-4-after',
                path: '/images/landings/emtone/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true }
                ]
              })(alt='')
            p(style='font-size: 7px; line-height: 1.5') После 4-ой процедуры. фото предоставлены:клаус фриц,M.D. Врач.
        +cell({ xs: 12 })
          +ul
            +li Контрольное исследование, 43 пациентки, 4 процедуры, 3 месяца наблюдений.
            +li 91 % улучшение эластичности кожи.
            +li 86% визуальное улучшение эластичности кожи 
            +li 1.43 см - среднее уменьшение обхвата талии. 
          p.font-s.color-secondary Исследования проводили:  врач-профессор Клаус Фриц Профессор, врач- профессор Кармен Салавастру, врач Магдалина Гюрова, врач, M.D.
          +ol.font-s.color-secondary
            +li Центр дерматологии и лазерной косметологии, Ла́ндау-ин-дер-Пфальц, Германия
            +li Университет медицины и фармации Кэрол Давила, Бухарест, Румыния
            +li Клиническая больница Колентина, Бухарест, Румыния
            +li Dermaplus - Клиника дерматологии, лазерной и эст етической медицины, Пловдив, Болгария
            +li Отделение дерматологии и венерологии, Медицинский университет Пловдива, Болгария
