extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое SMAS-лифтинг?
    p СМАС-лифтинг&nbsp;— это нехирургический безболезненный метод омоложения с&nbsp;помощью сфокусированного ультразвука, проникающего сквозь кожу в&nbsp;поверхностную мышечно-фасциальную систему&nbsp;(SMAS) и&nbsp;фокусирующегося на&nbsp;целевой области. Нагревая ткани, ультразвуковая энергия активизирует выработку коллагена, сокращение мышечных волокон и&nbsp;регенерацию поврежденных тканей.
    p Процедура уменьшает объем жировых тканей, поэтому рекомендована для коррекции второго подбородка. После СМАС-подтяжки лица и&nbsp;шеи нет необходимости в&nbsp;последующем уходе, человек сразу возвращается к&nbsp;повседневной деятельности.

  +pageSection
    h2 Показания и&nbsp;преимущества процедуры
    p Аппаратный СМАС-лифтинг лица укрепляет связки, разрушает жировые клетки, повышает тонус кожи, решает проблему птоза. После процедуры уходят отеки, исчезает дряблость. Нависающие надбровные зоны, глубокие носогубные складки тоже успешно корректируются.
    .question.question--active
      .question__name 
        h3 Показания
      .question__body
        +ul
          +li Морщины и мешки под глазами;
          +li Слабо выраженная отечность лица;
          +li Птоз щек, век, губ и подбородка;
          +li Мимические морщины;
          +li Глубокие носогубные складки;
          +li Атоническая кожа шеи, декольте и лица.

    .question
      .question__name 
        h3 Преимущества SMAS-лифтинга лица
      .question__body
        +ul
          +li Безопасность и&nbsp;атравматичность;
          +li Круговой лифтинг за&nbsp;одну процедуру без разрезов;
          +li Результат&nbsp;— 1,5-2&nbsp;года; 
          +li Нет строгой реабилитации;
          +li Минимальные риски осложнений и&nbsp;побочных эффектов;
          +li Нет сезонной зависимости;
          +li Сочетается с&nbsp;другими аппаратными и&nbsp;инъекционными методами.

  +pageSection
    h2 Подготовка к&nbsp;СМАС-подтяжке
    p К одному из&nbsp;главных преимуществ SMAS-лифтинга относится отсутствие продолжительной подготовки. Часто ультразвуковую подтяжку проводят сразу после консультации.
    .question
      .question__name 
        h3 Анализы
      .question__body
        p На&nbsp;консультации врачу сообщают о&nbsp;применяемых препаратах, витаминных добавках и&nbsp;аллергии. Для исключения возможных противопоказаний и&nbsp;своевременной их коррекции, рекомендуется пройти следующие исследования:
        +ul
          +li клинический и&nbsp;биохимический анализы крови;
          +li комплексный гематологический тест;
          +li электрокардиограмму;
          +li тесты на&nbsp;сифилис, ВИЧ и&nbsp;гепатит;
          +li при необходимости: копрограмму.

    .question
      .question__name 
        h3 Что надо знать перед сеансом
      .question__body
        p Для получения максимального эффекта предварительно проходят курс биоревитализации, мезо- или коллагенотерапии.
        +ul
          +li За&nbsp;3&nbsp;недели прекращают прием препаратов для разжижения крови;
          +li Желательно за&nbsp;3&nbsp;месяца отказаться от&nbsp;курения;
          +li Не употреблять алкоголь за&nbsp;24&nbsp;часа до&nbsp;СМАС-коррекции;
          +li Мужчинам следует сбрить растительность в&nbsp;зоне воздействия;
          +li Пирсинг, украшения и&nbsp;аксессуары снимают перед манипуляцией.

  +pageSection
    h2 Об&nbsp;аппарате Doublo Hifu
    p Это единственный в&nbsp;России HIFU-аппарат продуктивность и&nbsp;безопасность которого клинически доказана сотрудниками ФГБУ ДПО «Центральная государственная медицинская академия» Управления делами Президента&nbsp;РФ.
    .question
      .question__name 
        h3 Преимущества СМАС-лифтинга на&nbsp;аппарате Doublo
      .question__body
        +ul
          +li Образование ровных крупных точек коагуляции сокращает время проведения процедуры, снижает болевые ощущения пациента;
          +li Ультразвуковая диагностика позволяет врачу контролировать глубину проникновения, повышая безопасность процедуры в&nbsp;сравнении с&nbsp;аналогами без диагностических функций;
          +li SMAS-подтяжку на&nbsp;аппарате Doublo проводят вне зависимости от&nbsp;сезона и&nbsp;типа кожи;
          +li Первый эффект виден сразу&nbsp;– с&nbsp;последующим нарастанием в&nbsp;течение 4&nbsp;месяцев;
          +li Для продолжительного эффекта достаточно одной процедуры.

  +pageSection
    h2 Процедура СМАС-лифтинга
    p Лечение HIFU-аппаратом начинается с&nbsp;обследования области, подлежащей лечению, и&nbsp;нанесения разметки. Устройство настраивается в&nbsp;зависимости от&nbsp;толщины кожи проблемных зон. В&nbsp;ходе процедуры головка аппарата помещается на&nbsp;кожу. Сфокусированные ультразвуковые энергетические волны направляются в&nbsp;глубокие ткани под кожей. Эти волны термически воздействуют на&nbsp;волокна коллагена, сокращая их, и&nbsp;стимулируя формирование нитей натяжения кожно-мышечных слоев.
    .question
      .question__name 
        h3 Анестезия
      .question__body
        p Применение аппарата HIFU считается безболезненной процедурой. Поэтому, как правило, местная анестезия не&nbsp;используется. При повышенной чувствительности пациента к&nbsp;боли на&nbsp;зону воздействия наносят анестезирующий крем.

    .question
      .question__name 
        h3 Шаги лазерной подтяжки
      .question__body
        +ol
          +li Фотофиксация до&nbsp;процедуры;
          +li Перед процедурой врач-косметолог убирает остатки косметических средств с&nbsp;лица пациента, очищает кожу;
          +li Врач проводит аппаратом по&nbsp;размеченным линиям, который посылает сфокусированные ультразвуковые энергетические волны в&nbsp;глубокие ткани под кожей, вызывая целевой нагрев;
          +li Продолжительность сеанса варьируется в&nbsp;зависимости от&nbsp;размера обрабатываемой зоны и&nbsp;толщины кожи, в&nbsp;среднем занимает 30-40&nbsp;минут;
          +li Фотофиксация после процедуры.

    .question
      .question__name 
        h3 Что ожидать во&nbsp;время и&nbsp;после сеанса
      .question__body
        p При манипуляциях аппаратом HIFU пациент ощущает покалывание и&nbsp;мягкое тепло. После на&nbsp;обработанных участках возникает кратковременное покраснение или легкое раздражение, которое проходит в&nbsp;течение 0,5-1&nbsp;часа.

  +pageSection
    h2 Результаты и&nbsp;реабилитация
    p Процедура улучшает питание тканей, которые запускают регенеративные процессы в&nbsp;клетках и&nbsp;структурах кожи, как следствие обогащается питание коллагеново-эластических структур. Повышается тургор и&nbsp;эластичность кожи, уходит второй подбородок. Лицо выглядит подтянутым и&nbsp;посвежевшим.
    .question
      .question__name
        h3 Когда ждать эффект и&nbsp;сколько он продлится
      .question__body
        p Первые изменения заметны сразу после процедуры. Восстановление тканей в&nbsp;ответ на&nbsp;термическое повреждение и&nbsp;стимуляция выработки коллагена растягиваются до&nbsp;3-4&nbsp;месяцев. В&nbsp;этот период нарастает эффект и&nbsp;держится 1,5-2&nbsp;года.
        p Сколько продержится результат, зависит от&nbsp;возраста, изначального состояния кожи и&nbsp;генетических особенностей.

    .question
      .question__name
        h3 Рекомендации по&nbsp;уходу
      .question__body
        +ul
          +li Не&nbsp;пользоваться косметикой несколько дней после СМАС-подтяжки;
          +li На&nbsp;2&nbsp;недели отказаться от&nbsp;посещения парных;
          +li Перед выходом на&nbsp;улицу использовать средства с&nbsp;SPF;
          +li Исключить агрессивные косметологические процедуры;
          +li На&nbsp;6&nbsp;месяцев исключить массаж лица;
          +li Придерживаться усиленного белкового питания, принимать OMEGA-3, витамин&nbsp;C и&nbsp;коллаген для того, чтобы поддержать процесс построения нового внеклеточного матрикса дермы.

  +pageSection
    h2 Возможные противопоказания и&nbsp;осложнения
    p Как и&nbsp;любого медицинского вмешательства у&nbsp;HIFU есть потенциальные побочные эффекты, которые чаще носят временный характер.
    .question
      .question__name 
        h3 Когда стоит избегать ультразвуковой подтяжки
      .question__body
        +ul
          +li Открытое поражение кожи;
          +li Металлические импланты в&nbsp;зоне воздействия;
          +li Беременность и&nbsp;лактация;
          +li Имплантированный кардиостимулятор;
          +li Нарушения свертываемости крови;
          +li Злокачественные эпителиомы кожи;
          +li Воспалительные болезни кожи;
          +li Системные патологии соединительной ткани.

    .question
      .question__name 
        h3 Побочные эффекты
      .question__body
        +ul 
          +li Покраснение&nbsp;– сходит в&nbsp;этот&nbsp;же день, на&nbsp;чувствительных местах сохраняется 1-2&nbsp;дня;
          +li Небольшая отечность&nbsp;– сходит за&nbsp;1-3&nbsp;дня;
          +li Легкая чувствительность кожи&nbsp;– держится до&nbsp;7&nbsp;дней, обезболивание не&nbsp;требуется.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body 
        +ol
          +li Ультразвуковая подтяжка лица/ Хосе Абель де&nbsp;ла&nbsp;Пенья, Мигель Анхель Сото-Миранда и&nbsp;др.;
          +li Клиническая эффективность высокоинтенсивного сфокусированного ультразвука при подтяжке кожи/ Джихун&nbsp;Ким, Бен&nbsp;Джун&nbsp;Со;
          +li Количественное омоложение лица с&nbsp;использованием высокоинтенсивного фокусированного ультразвука с&nbsp;множественной глубиной проникновения/ Ман-Лок Лио, Чанг-Ченг Чанг, Энди Дэн-Чи Чуан.
