extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое блефаропластика?
    p В&nbsp;пластической хирургии блефаропластика&nbsp;– простейшая операция для коррекции век, позволяющая, убрав видимые несовершенства, придать взгляду большую открытость и&nbsp;молодость.
    .question
      .question__name 
        h3 Возможности блефаропластики глаз
      .question__body
        p С&nbsp;помощью операции на&nbsp;веках удается решить эстетические проблемы, исправить врожденные дефекты, изменить разрез, форму глаз, убрать первые возрастные признаки.
        p Основные возможности операции:
        +ul
          +li Удаление избытка кожи: когда веки нависают на&nbsp;глаза, операция становится единственным результативным решением.
          +li Разглаживание морщин: избавление от&nbsp;так называемых «гусиных лапок».
          +li Коррекция разреза, формы глаз, асимметрии, чтобы сделать взгляд более совершенным и&nbsp;выразительным.
          +li Позволяет убрать грыжи под глазами, сформированные избытком жировой прослойки.
          +li Подтягивание век и&nbsp;улучшение контура глаз.
          +li Решение проблемы «тяжелого» взгляда и&nbsp;возрастного лица: в&nbsp;ходе операции поднимают опущенные уголки глаз, избавляются от&nbsp;излишка кожи.

    .question
      .question__name
        h3 Почему блефаропластику лучше сделать в&nbsp;клинике MEDALL в&nbsp;СПб?
      .question__body
        +ol
          +li Первые эстетические результаты можно оценить спустя несколько суток после операции.
          +li Полное заживление тканей наступает спустя 2-3&nbsp;недели: пациенты отмечают натуральность и&nbsp;естественность внешнего вида кожи в&nbsp;области вокруг глаз.
          +li Минимальная длительность оперативного вмешательства.
          +li Процедуру можно выполнять под местной анестезией, что делает операцию более легкопереносимой и ускоряет период восстановаления.

  +pageSection
    h2 Показания и&nbsp;преимущества операции
    p У&nbsp;оперативного вмешательства убедительный перечень весомых преимуществ, которые облегчают принятие решения, дают уверенность в&nbsp;безопасности и&nbsp;эффективности метода. Операции проводят строго по&nbsp;показаниям, чтобы исключить риск осложнений, понять возможность применение этого способа коррекции внешности в&nbsp;области глаз и&nbsp;готовность организма пациентки перенести оперативное вмешательство.
    .question
      .question__name
        h3 Преимущества пластической операции на&nbsp;веки
      .question__body
        +ul
          +li Минимальная травматичность: пластические хирурги клиники практикуют современные методы, которые минимизируют объем хирургического вмешательства, а&nbsp;потому и&nbsp;риск осложнений.
          +li Долговременный результат: эффект сохраняется десятилетия, исключение&nbsp;– выраженные изменения кожи век&nbsp;(в&nbsp;таком случае возможна дополнительная коррекция).
          +li Естественный внешний вид: врачи клиники создают гармоничный взгляд пациента, когда отсутствует эффект «перетянутости».
          +li Минимальная длительность блефаропластики: прооперировать пациента удается за&nbsp;минимум времени.
          +li Ничто не&nbsp;будет препятствовать быстрому возвращению к&nbsp;привычному образу жизни: такая возможность доступна за&nbsp;счет короткого реабилитационного периода, способствующего быстрому восстановлению.

    .question
      .question__name
        h3 Показания к&nbsp;проведению блефаропластики
      .question__body
        p В&nbsp;каких случаях проводят блефаропластику:
        +ul
          +li мешки под глазами;
          +li непропорциональная величина век;
          +li темные круги под глазами;
          +li складки и&nbsp;морщины разной глубины;
          +li жировые грыжи;
          +li удаление нависшего века;
          +li обвисшая кожа.

  +pageSection
    h2 Виды блефаропластики
    p В&nbsp;MEDALL выполняем широкий спектр оперативных вмешательств по&nbsp;подтяжке глаз: блефаропластику нижних и&nbsp;верхних век, трансконъюнктивальную, круговую, ориентальную, кантопластику и&nbsp;другие методы. Возможна даже блефаропластика на&nbsp;одно веко.
    .question
      .question__name 
        h3 Пластика верхнего века
      .question__body
        p Нужна такая операция, чтобы убрать нависшее веко, глубокие морщины, приподнять внешние уголки глаз.
        p Операцию при нависшем веке и&nbsp;по&nbsp;другим показаниям выполняют по&nbsp;линии естественной складки верхнего века.
        p Пластический хирург удаляет лишний подкожный жир и&nbsp;частички кожи, накладывает тончайший косметический шов, что создает условия для формирования максимально незаметного рубчика.
        p В&nbsp;некоторых случаях верхнюю блефаропластику сочетают с&nbsp;подтяжкой лба, что тоже корректирует избыток кожи над верхним веком, а&nbsp;также приподнимает бровь.

    .question
      .question__name 
        h3 Пластика нижнего века
      .question__body
        p Этот вариант операции позволяет решить проблему отека, мешков под глазами, удалить жировые грыжи, растянувшуюся кожу, провоцирующую складки под глазами, и&nbsp;избыток тканей.
        p Поскольку разрез наносят по&nbsp;нижнему краю ресниц, образуется совершенно незаметный послеоперационный рубчик. Достигается видимый эстетический результат: лицо приобретает более молодой, отдохнувший, свежий вид.

    .question
      .question__name 
        h3 Трансконъюнктивальная
      .question__body
        p Практикуют для коррекции незначительных дефектов, когда излишки жировой ткани удаляют, выполняя микроскопические проколы в&nbsp;конъюнктиве, которые наносят по&nbsp;внутренней стороне века.
        p Ключевое преимущество метода&nbsp;– отсутствие рубцов, поскольку швы не&nbsp;накладывают, а&nbsp;слизистая века самостоятельно восстанавливается.

    .question
      .question__name 
        h3 Круговая
      .question__body
        p Это блефаропластика вокруг глаз, которую выполняют в&nbsp;отношении нижнего и&nbsp;верхнего века. Хирургическое вмешательство проводят при выраженных возрастных изменениях, а&nbsp;также для коррекции разреза, формы глаз и&nbsp;врожденных дефектов.
        p Пластический хирург удаляет избыток тканей, подтягивает кожу, чтобы восстановить выразительность взгляда, вернуть его молодость и&nbsp;свежесть.

    .question
      .question__name 
        h3 Ориентальная
      .question__body
        p Предполагает европеизацию век, которую проводят при азиатском разрезе глаз. Суть метода заключается в&nbsp;удалении «монгольской складки», чтобы открыть внутренний угол каждого глаза, сформировать складку верхнего века. 
        p Этим способом удается уменьшить расстояние между глазами, увеличить разрез глаз, сделать взгляд более открытым, в&nbsp;целом изменить образ пациента.

    .question
      .question__name
        h3 Кантопластика
      .question__body
        p Актуально, когда нужно изменить размер глазной щели, скорректировать форму глаз. Также проводят при опущении уголков глаз, необходимости решить проблему выворота нижних век.
        p Пластический хирург работает с&nbsp;естественной складкой верхнего века: наносит разрез по&nbsp;ее внешнему краю, чтобы скорректировать расположение уголка века. Он&nbsp;натягивает сухожилие, фиксируя его в&nbsp;желаемом положении.
        p Эффект после операции по&nbsp;подтяжке век&nbsp;– открытый, более жизнерадостный взгляд и&nbsp;большая эстетика формы глаз.

  +pageSection
    h2 Этапы операции
    p Операцию проводим в&nbsp;несколько этапов: подготовительный, непосредственно оперативное вмешательство и&nbsp;реабилитационный. В&nbsp;результате нам удается выйти на&nbsp;желаемый эстетический эффект и&nbsp;закрепить его современными подходами к&nbsp;восстановлению области вокруг глаз.
    .question
      .question__name
        h3 Подготовка к&nbsp;операции
      .question__body
        p Прежде чем блефаропластика век будет выполнена, нужно придерживаться регламентов. От&nbsp;качественной подготовки зависит успешный исход операции, отсутствие или минимизация осложнений, сокращение восстановительного этапа.
        p Рекомендации пластических хирургов перед операцией:
        +ul
          +li За&nbsp;30&nbsp;дней отказаться от&nbsp;агрессивных косметологических воздействий. Не&nbsp;посещать солярий, надевать солнцезащитные очки.
          +li За&nbsp;14&nbsp;дней прекратить прием препаратов, разжижающих кровь, контрацептивов и&nbsp;гормонов, отказаться от&nbsp;курения и&nbsp;спиртного.
          +li За&nbsp;7&nbsp;дней прекратить приев БАДов, витаминов. Сделать паузу в&nbsp;посещении тренировок. Уменьшить количество соли и&nbsp;воды в&nbsp;рационе.
          +li За&nbsp;1&nbsp;день прекратить прием еды и&nbsp;воды. Не&nbsp;наносить уходовую и&nbsp;декоративную косметику на&nbsp;лицо. В&nbsp;день операции можно принять теплый душ, не&nbsp;используя косметические средства.

    .question
      .question__name
        h3 Ход операции
      .question__body
        p Ход операции зависит от&nbsp;выбранного вида блефаропластики и&nbsp;метода, который практикует пластический хирург.
        p Примерная схема хирургического вмешательства:
        +ul
          +li Анестезиолог вводит пациентку в&nbsp;состояние общего наркоза или использует местную анестезию.
          +li Пластический хирург наносит разметку на&nbsp;кожу: линию разреза, объем тканевых структур, которые удалит.
          +li Зону операции обеззараживают.
          +li Удаляют лишние ткани, кожу и&nbsp;жировую прослойку.
          +li На&nbsp;ранку накладывают швы.

    .question
      .question__name
        h3 Реабилитация после блефаропластики
      .question__body
        p Первые 4&nbsp;дня возможна отечность век, а&nbsp;гематомы сохраняются до&nbsp;двух недель&nbsp;(зависит от&nbsp;индивидуальных особенностей организма).
        p Но&nbsp;чтобы ускорить заживление, активизировать восстановительный процесс, назначаем курс процедур, разработанный командой пластических хирургов и&nbsp;косметологов клиники. В&nbsp;результате ускоряется обмен веществ в&nbsp;тканях вокруг глаз, улучшается цвет и&nbsp;тонус кожи.
        p Швы снимаем на&nbsp;3-4 сутки, а&nbsp;предварительный эффект оцениваем уже спустя месяц. На&nbsp;его качество влияет соблюдение рекомендаций: избегание интенсивных физических нагрузок, ультрафиолетового излучения, высоких температур, правильный уход за&nbsp;областью вокруг глаз.

  +pageSection
    h2 Противопоказания
    p Существует ряд заболеваний, состояний и&nbsp;процессов в&nbsp;организме, которые не&nbsp;позволяют провести оперативное вмешательство. Важно придерживаться рекомендаций, чтобы не&nbsp;нанести вред.
    .question
        .question__name
          h3 Абсолютные противопоказания
        .question__body
          p Даже классическую блефаропластику не&nbsp;проводят, когда диагностированы:
          +ul
            +li болезни глаз;
            +li патологии щитовидной железы;
            +li сахарный диабет.

    .question
        .question__name
          h3 Временные противопоказания
        .question__body
          p Отложить операцию нужно во&nbsp;время беременности, грудного вскармливания. Также ее не&nbsp;проводят, пока не&nbsp;решены проблемы со&nbsp;свертываемостью крови и&nbsp;не&nbsp;вылечены инфекционные процессы.

  +pageSection
    h2 Популярные вопросы и&nbsp;ответы
    .question
      .question__name
        h3 С&nbsp;какого возраста можно делать блефаропластику?
      .question__body
        p Подтяжку века можно выполнять в&nbsp;любом возрасте, но&nbsp;обычно избыток кожи вокруг глаз и&nbsp;другие возрастные изменения проявляются после 35-40&nbsp;лет.

    .question
      .question__name
        h3 Можно&nbsp;ли делать блефаропластику повторно?
      .question__body
        p Да, но&nbsp;обычно ее проводят в&nbsp;случае, когда возрастные изменения оказались сильнее прогрессивной методики пластической операции.

    .question
      .question__name
        h3 Не&nbsp;выпадут&nbsp;ли ресницы после блефаропластики?
      .question__body
        p Нет, хирургическое вмешательство, выполненное высококлассными пластическими хирургами клиники, не&nbsp;влияет на&nbsp;состояние ресниц: они сохраняют прежнюю длину и&nbsp;густоту.

    .question
      .question__name
        h3 Будут&nbsp;ли видны рубцы?
      .question__body
        p Нет, поскольку разрезы делают в&nbsp;естественных складках век или вдоль линии роста ресниц. А&nbsp;в&nbsp;некоторых случаях практикуют бесшовную операцию, когда манипуляции проводят через крошечные проколы, которые быстро заживают, не&nbsp;оставляя следов.

    .question
      .question__name
        h3 Правда&nbsp;ли, что после операции форма глаза полностью изменится?
      .question__body
        p Только когда это было целью операции. В&nbsp;остальных&nbsp;же случаях структурная форма глаз сохраняется.

    .question
      .question__name
        h3 Как долго сохраняется результат блефаропластики?
      .question__body
        p Все индивидуально: у&nbsp;некоторых пациентов результат блефаропластики сохраняется навсегда, в&nbsp;то&nbsp;время как у&nbsp;других&nbsp;– 10&nbsp;лет и&nbsp;более.
        p Во&nbsp;втором случае операцию проводят по&nbsp;показаниям, если эстетический дефект невозможно скорректировать и&nbsp;поддерживать методами современной косметологии.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li Грищенко&nbsp;С.В. Эстетическая хирургия возрастных изменений век.&nbsp;–&nbsp;М. : Медицина, 2007.
          +li Добрякова&nbsp;О.Б., Носов&nbsp;А.П. Эстетический анализ лица и&nbsp;носа в&nbsp;пластической хирургии: учеб.-метод. пособие.&nbsp;– Новосибирск:&nbsp;НГУ, 2012.
          +li Особенности хирургической техники при проведении блефаропластики у&nbsp;лиц молодого возраста&nbsp;– Менчишева&nbsp;Ю.А., Мирзакулова&nbsp;У.Р., Менжанова&nbsp;Д.Д., 2020.
          +li Пшениснов&nbsp;К.П. Курс пластической хирургии. Ярославль: Изд-во ОАО «Рыбинский Дом печати»; 2010.





