extends /blocks/layout/layout

include /blocks/block-icon/block-icon
include /blocks/discounts-item/discounts-item
include /blocks/discounts-section/discounts-section
include /blocks/landing-advantages/landing-advantages
include /blocks/landing-block/landing-block
include /blocks/landing-comfort/landing-comfort
include /blocks/landing-facts/landing-facts
include /blocks/landing-prices/landing-prices
include /blocks/landing-reasons/landing-reasons
include /blocks/landing-result/landing-result
include /blocks/landing-sequence/landing-sequence
include /blocks/landing-stories/landing-stories
include /blocks/landing-works/landing-works
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/questions-header/questions-header
include /blocks/table-price/table-price
include /blocks/breadcrumbs/breadcrumbs
include /blocks/category-directions/category-directions
include /blocks/list-unordered/list-unordered
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'landing'
  include /data/landing
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная', 'Стоматология' ], current: 'Экспертная эндодонтия' }).breadcrumbs--landing
  include /blocks/landing-header/landing-header
  +pageSection
    h2 Что такое плацентарная терапия?
    p Плацентарная терапия&nbsp;– это процедура эстетической косметологии с&nbsp;выраженным омолаживающим эффектом, которая предполагает инъекции плаценты в&nbsp;акупунктурные точки на&nbsp;лице.
    .question.question--active
      .question__name
        h3 Основные принципы и&nbsp;суть процедуры
      .question__body
        p Плацентарный препарат способствует активации иммунитета, а&nbsp;также помогает организму эффективно бороться со&nbsp;стрессами, бессонницей и&nbsp;аллергией.
        p Эффект лифтинга заключается в&nbsp;активации процессов синтеза коллагена, насыщении кожи лица необходимым количеством влаги и&nbsp;обеспечении клеток всеми необходимыми питательными веществами.

    .question
      .question__name
        h3 Препараты, используемые в&nbsp;плацентарной терапии
      .question__body
        p Плацентарную терапию в&nbsp;клинике MEDALL проводим с&nbsp;помощью препарата «Лаеннек».

  +pageSection
    h2 Как работает плацентарная терапия?
    p После введения препарат сразу начинает действовать. Его активные вещества замедляют процессы старения, ускоряют регенерацию клеток, разрушают лишнюю жировую ткань, нормализуют метаболизм и&nbsp;обеспечивают антиоксидантную защиту. В&nbsp;результате увеличивается устойчивость к&nbsp;неблагоприятным факторам внешней среды, а&nbsp;кожа выглядит более молодой. Наблюдают и&nbsp;другие положительные эффекты: запуск процессов регенерации; стимулирование образования новых волокон коллагена и&nbsp;эластина; восстановление защитных свойств кожи и&nbsp;стабилизация водного баланса.
    .question
      .question__name
        h3 Влияние на&nbsp;кожу и&nbsp;ткани
      .question__body
        +ul
          +li Кожные клетки обновляются, повышается степень увлажненности, улучшается цвет и&nbsp;текстура кожа.
          +li Степень интенсивности пигментных пятен уменьшается, как и&nbsp;другие признаки фотостарения, а&nbsp;также осветляется возрастное потемнение кожи.
          +li Поскольку плацентарная терапия стимулирует рост клеток, кожа быстрее восстанавливается, лучше заживают рубцы.
          +li Она позволяет снизить интенсивность воспалительных реакций, особенно при розацеа, акне.
          +li Уменьшается выраженность морщин и&nbsp;других признаков старения.

    .question
      .question__name
        h3 Стимуляция коллагена и&nbsp;обновление клеток
      .question__body
        p Поскольку препарат положительно воздействует на&nbsp;фибробласты, (клетки, отвечающие за&nbsp;восстановление кожи), то они активнее синтезируют коллаген. Также «Лаеннек» стимулирует процессы обновления клеток кожи.

  +pageSection
    h2 Показания и&nbsp;преимущества плацентарной терапии
    p У&nbsp;«Лаеннек» множество показаний к&nbsp;применению, что подчеркивает его универсальность, комплексность воздействия, высокую эффективность. Предпочитают&nbsp;же плацентарную терапию в&nbsp;косметологии за&nbsp;ряд убедительных преимуществ.
    .question
      .question__name
        h3 Показания
      .question__body
        +ul
          +li Пигментация.
          +li Герпес.
          +li Эффективное сохранение влаги в&nbsp;клетках.
          +li Потеря тонуса и&nbsp;упругости.
          +li Морщины.
          +li Угревая сыпь.
          +li Выпадение волос.
          +li Целлюлит.
          +li Подготовка к&nbsp;пластическим операциям или контурной пластике.

    .question
      .question__name
        h3 Преимущества
      .question__body
        p Плацентарная терапия в&nbsp;косметологии отличается такими преимуществами:
        +ul
          +li Безопасность. Не&nbsp;вызывает аллергическую реакцию и&nbsp;прочие побочные эффекты, поскольку в&nbsp;состав препарата входят компоненты, совместимые с&nbsp;организмом.
          +li Нет необходимости в&nbsp;реабилитации. Следы инъекции исчезают в&nbsp;течение часа.
          +li Выраженный и&nbsp;устойчивый результат. Высокая эффективность за&nbsp;счет комплексного воздействия на клетки кожи.
          +li Доступность. Стоимость плацентарной терапии в&nbsp;СПб доступная, а&nbsp;длительность курса короткая, но достаточная для качественного результата.

  +pageSection
    h2 Эффект от плацентарной терапии
    p Плацентарная терапия действует комплексно, способствуя гармоничному эстетическому преображению внешности.
    .question
      .question__name
        h3 Улучшение тонуса кожи и&nbsp;борьба с&nbsp;морщинами
      .question__body
        p «Лаеннек» обеспечивает:
        +ul
          +li Глубокое насыщение тканей питательными веществами. Поскольку состав обогащен микроэлементами, аминокислотами, фосфолипидами, витаминами, ферментами, факторами роста и&nbsp;прочими полезными веществами, они оказывают впечатляющий омолаживающий эффект.
          +li Комплексное омоложение за счет выраженных регенеративных возможностей. Нормализуется питание тканей, кровообращение кожи, выводятся токсины, в&nbsp;результате она приобретает свежий и&nbsp;обновленный вид.

    .question
      .question__name
        h3 Увлажнение и&nbsp;омоложение кожи
      .question__body
        p Препарат улучшает метаболизм в&nbsp;коже, выработку компонентов, отвечающих за&nbsp;увлажнение. Поскольку стимулируется активность клеток, они быстрее обновляются, за&nbsp;счет чего кожа омолаживается. А&nbsp;учитывая, что активизируются метаболические процессы, запускаются и&nbsp;механизмы биоревитализации.

    .question
      .question__name
        h3 Лечение угрей и&nbsp;воспалений
      .question__body
        p Комплексно воздействует на&nbsp;воспалительный процесс. Устраняет воспалительные элементы, снижает кожную чувствительность, а&nbsp;также препятствует образованию пигментных пятен на&nbsp;месте высыпаний.

    .question
      .question__name
        h3 Укрепление волос и&nbsp;ногтей
      .question__body
        p Терапия плацентарным препаратом стимулирует рост волос, останавливает выпадение. Помогает при псориазе, дерматите, некоторых видах алопеции. А&nbsp;также укрепляет ногти, поскольку препарат богат широким набором питательных компонентов.

  +pageSection
    h2 Процедура проведения плацентарной терапии
    p Врач клиники консультирует пациента, назначает дату сеанса, подобрав необходимую дозировку средства. В&nbsp;день процедуры очищает кожу, обрабатывает антисептическим раствором. Наносит крем с&nbsp;обезболивающим эффектом, ожидает, пока анестетик подействует. Вводит препарат, следуя индивидуально разработанной схеме терапии. Места инъекций обрабатывает бактерицидным раствором. Делится рекомендациями по&nbsp;дальнейшему уходу за&nbsp;кожей, а&nbsp;также назначает дату следующего визита.
    .question
      .question__name
        h3 Способы введения препарата
      .question__body
        p Препарат разрешено вводить внутримышечно, внутривенно, подкожно, ориентируясь на&nbsp;результат, который желают достичь.
        p В&nbsp;косметологии практикуют метод фармакопунктуры, то&nbsp;есть воздействие на биологически активные точки. На&nbsp;лице таких восемь, куда «Лаеннек» и&nbsp;вводят небольшими дозами (от&nbsp;0,1 до&nbsp;0,5&nbsp;мм).

    .question
      .question__name
        h3 Длительность курса и&nbsp;частота процедур
      .question__body
        p Плацентарную терапию рекомендовано проходить курсом. Частота проведения: 5-12&nbsp;процедур до&nbsp;2-х&nbsp;раз в&nbsp;неделю.

  +pageSection
    h2 Противопоказания и&nbsp;возможные побочные эффекты
    p Противопоказания: возраст до&nbsp;18&nbsp;лет; беременность и&nbsp;лактация; индивидуальная непереносимость компонентов.
    p После инъекций на&nbsp;коже, в&nbsp;участках воздействия, остаются небольшие уплотнения, которые быстро рассасываются. Побочные эффекты отсутствуют.

  +pageSection({ margin: 'small' })
    .question.question--no-border
      .question__name
        h3 Источники
      .question__body
        +ol
          +li О.А. Громова, И.Ю.&nbsp;Торшин, Е.А.&nbsp;Диброва, И.М.&nbsp;Каримова, А.В.&nbsp;Гилельс, Е.В.&nbsp;Кустова; Мировой опыт применения препаратов, приготовляемых из плаценты человека: результаты клинических и&nbsp;экспериментальных исследований», Журнал пластической хирургии и&nbsp;косметологии, 3:1-12, 2011.
          +li А.В. Рассохин. Тканевая плацентарная терапия. Санкт-Петербург. ЭЛБИ-СПб. 2014, С.10.
          +li О.А. Громова, И.Ю.&nbsp;Торшин, А.Ю.&nbsp;Волков, С.Н.&nbsp;Смарыгин, О.А.&nbsp;Назаренко Препарат Лаеннек: элементарный состав и&nbsp;фармакологическое действие. Инъекционные методы в&nbsp; косметологию 2010. №4, С.7-11.
          +li О.А. Громова, А.В.&nbsp;Гилельс, И.Ю.&nbsp;Торшин, А.Ю.&nbsp;Волков, И.В.&nbsp;Томилова. Пептидный состав препаратов из плаценты человека. Лаеннек и&nbsp;молекулярные механизмы его воздействия на организм человека. Эстетическая медицина. 2010. №4, С.7-11.
          +li О.А. Громова, А.В.&nbsp;Гилельс, И.Ю.&nbsp;Торшин, А.Ю.&nbsp;Волков, И.В.&nbsp;Томилова Экспериментальный анализ витаминного состава препарата Лаеннек. Вестник эстетической медицины, 2013. №3, С.5-7.