include /blocks/page-section/page-section

+pageSection({ noContent: true, backgroundColor: [ true, 'light' ] }).banner-result-stomach: +content(class= grid({alignItems: 'center'}))
  +cell({l: 7, xs: 12}).banner-result-stomach__image
  +cell({l: 5, xs: 12}).banner-result-stomach__info ГОТОВО!<br>Ваша форма<br>восхитительна!
