.banner-result-stomach
  $font-5xl()
  text-align left
  text-transform none
  color var(--color-mark)
  +media-max(m)
    background-color transparent

  &__info
    padding-y basePadding
     +media-max(l)
      font-size 32px
      text-align center
  &__image
    position relative
    display flex
    align-items center
    overflow hidden
    height 470px
     +media-max(l)
      height 434px
    &::before
      content ''
      display block
      width 100%
      max-width 710px
      padding-top 100%
      background-color var(--color-mark)
      background-image url(../images/banner-result-stomach.webp)
      background-repeat no-repeat
      background-position center
      background-size auto 470px
      border-radius 50%
      +media-max(l)
        position absolute
        bottom 0
        left 50%
        width 516px
        height 516px
        padding-top 0
        background-position bottom center
        background-size auto 434px
        transform translate(-50%, 0)
  img
    display block
  .accessibility-mode &
    color var(--color-text)
    &__image
      display none
    &__info
      width 100%
      text-align center
