extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/article-item/article-item
include /blocks/pagination/pagination

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'article'
  include /data/footer
  include /data/article
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Статьи' })
  +pageSection
    +pageSubsection
      +h1 Статьи
      p.text-marked ВСЕ САМОЕ ИНТЕРЕСНОЕ И ПОЛЕЗНОЕ
    .articles-layout.page-subsection
      -
        const categories = [
            { name: 'Все направления', value: '' },
            { name: 'Пластическая хирургия', value: 'Пластика' },
            { name: 'Стоматология', value: 'Стоматология' },
            { name: 'Косметология', value: 'Косметология' },
            { name: 'Пересадка волос', value: 'Пересадка волос' },
          ]
      .articles-layout__filter.page-subsection 
        //- +formInput({ type: 'checkbox', label: 'Статьи', checked:true }).articles-layout__checkbox
        //- +formInput({ type: 'checkbox', label: 'Справочник заболеваний', checked:true }).articles-layout__checkbox
        //- +formInput({ type: 'checkbox', label: 'Полезная информация', checked:true }).articles-layout__checkbox
        //- +formInput({ type: 'checkbox', label: 'Плитки услуг Анимация', checked:true }).articles-layout__checkbox
        +formInput({ type: 'select', label: 'Все направления', secondary: true, options: categories }).articles-layout__select

      +grid.page-subsection.articles-layout__list
        each article in articleItems
          +articleItem(article)(class= cell({ m:4, s:6 })).articles-layout__item
    +pagination.page-subsection
