extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/article-item/article-item
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'article'
  include /data/footer
  include /data/article
block content
  +breadcrumbs({ parents: [ 'Главная', 'Статьи' ], current: 'Методы увеличения груди имплантатами' })
  +pageSection
      +h1 Методы увеличения груди имплантатами
      +grid({ justify: 'space-between'}).page-subsection.article
        +cell({ m:8 }).article__inner
          .article__header
            .article__header-top
              .article__author
                +img({
                  name: 'doctor-3',
                  path: '/images/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'jpg', orig: true },
                  ],
                })(alt= 'Мохамед Ева Юсуфовна').article__author-image 
                a(href='/doctor/mokhamed/').article__author-name Мохамед Ева Юсуфовна
              .article__date 21 июня 2024
            .article__header-text
              p Красивая, пышная грудь – предмет гордости ее обладательницы, но что делать, если природа обделила аппетитными формами? Изменить ситуацию может увеличивающая маммопластика. Это пластическая операция для коррекции объема и формы молочной железы. Часто девушки переживают по поводу послеоперационных рубцов, которые могут быть заметны, поэтому в этой статье мы расскажем о методах проведения данной операции, о доступах, которые возможны для установки имплантата, и о результатах.
            +img({
              name: 'article-1',
              path: '/images/articles/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
            })(alt= 'Методы увеличения груди имплантатами').article__image 
          .article__body
            p Аугментационная маммопластика проводится под общей анестезией. Длительность данной операции редко превышает 3 часа, обычно достаточно 1-2 часов. Итак, какими методами проводится данная операция, и в каких местах будет осуществляться разрез для установки имплантата:
            p 1.Субмаммарный доступ или доступ под грудью. Для установки импланта разрез делается в естественной складке под грудью, формируется карман, и хирург аккуратно устанавливает имплантат. При выборе субмаммарного доступа имплантат может быть установлен как под мышцу, так и под молочную железу. 
            p Преимуществами данного метода являются:
            ul 
              li простота техники;
              li можно установить имплантат большого размера;
              li довольно легкий реабилитационный период;
              li отсутствие воздействия на ткани молочной железы;
              li постоперационный рубчик незаметен в естественной складке под грудью.
            p Данный метод проведения аументации не рекомендуется проводить пациенткам с не выраженным нижним склоном груди или в случае констриктивного типа молочной железы (при очень маленьком расстоянии от ареолы до субмаммарной складки), поскольку существует вероятность того, что послеоперационный след будет виден.
            p 2. Периареолярный доступ или доступ через ареолу соска. Для установки импланта разрез проходит по границе пигментированной кожи ареолы. Данный доступ подходит для установки любых типов грудных имплантов (анатомических или круглых) как под мышцу, так и под молочную железу.
            p Преимуществами данного метода являются:
            ul 
              li за счет того, что разрез делается вдоль границы ареолы, а кожа в данной зоне тонкая, рубчик после заживления тканей становится едва заметным;
              li небольшой разрез, вследствие этого, быстрое заживление тканей;
              li во время данной операции, при необходимости, врач может выполнить сочетанные коррекции: подтяжку груди (мастопексию), коррекцию ареолы соска или устранить асимметрию молочных желез. Если операция проведена правильно, то на лактационную функцию данное вмешательство никак не повлияет. После операции возможна временная потеря чувствительности сосково – ареолярного комплекса, но со временем она полностью восстановится.
            p 3. Аксиллярный доступ или доступ через подмышечную впадину. Для установки импланта разрез делается вдоль заднего края большой мышцы груди и составляет примерно 4 см. При установке импланта через доступ в подмышечной впадине совершенно не затрагиваются ткани молочной железы, а значит и не травмируются. Имплант можно разметить как под мышцей, так и под молочной железой. Данный вид маммопластики рекомендуется проводить под контролем эндоскопа.
            p Преимуществами данного метода являются:
            ul 
              li постоперационный рубчик незаметен, поскольку располагается подмышкой;
              li имплант полностью изолирован от тканей молочной железы.
            p Но, как и в ситуации с другими доступами, существует ряд противопоказаний для данного метода коррекции. Маммопластика с доступом через подмышечную впадину противопоказана, если у пациентки существует явная асимметрия молочных желез, есть необходимость смещения субмаммарной складки, если присутствует птоз молочных желез или необходима коррекция соска. Во время операции существует риск повреждения лимфоузлов, а вследствие проведенной операции усложняется диагностика злокачественных опухолей молочной железы. Также данный доступ создает трудности для установки больших или анатомических имплантов, а сама операция должна проводится эндоскопическим методом.
            p Метод проведения операции подбирается на очной консультации с пластическим хирургом, исходя из индивидуальных особенностей пациентки в каждом конкретном случае.
            +blockMarked({ color: 'light' }).text-align-center.p
              p #[strong И главное, не доверяйте свое здоровье и красоту дилетантам, аугментация груди – сложная и серьезная операция. Перед консультацией обязательно изучите квалификацию врача и информацию о Клинике. Выбирая, опирайтесь не на стоимость процедуры, а на репутацию учреждения, персонала и отзывы пациентов. И помните, какую бы грудь Вы ни пожелали, в Медалл она будет сделана идеально.] 
              p #[strong Записаться на прием к пластическому хирургу Клиники «MEDALL»] 
              p #[strong можно по телефону (812) 223-79-27 или через форму онлайн записи.] 
              p #[strong Мы работаем ежедневно с 9.00 до 21.00] 
          .article__footer
            a(href='/').article__back Назад
            a(href='/search/index.php?tags=Пластика' target='_blank').article__hashtag # Пластика
        +cell({ m:4 }).article__aside
          h2.article__aside-title Другие статьи
          +grid.page-subsection
            each article in articleDetail
              +articleItem(article)(class= cell({ m:12, s:6, xs:12 }))
