.link-block
  position relative
  +isHover()
    &:hover &__button
      background-color var(--button-background-color-hover)
      transition background-color .1s
  &__image
    position relative
    & img
      display block
  &__button
    position absolute
    bottom 1.5rem
    left 50%
    padding-y 12px
    font-size 16px
    transform translateX(-50%)
  &__name
    position absolute
    inset 0
    margin-top 1.5rem
    font-weight 500
    $font-xl()
    text-transform uppercase
    color var(--color-white)
    text-align center
