+pageSection({ noContent:true }).landing-menu
  +content.landing-menu__inner 
    .landing-menu__list
      a(href='#section-about').landing-menu__item Об операции
      a(href='#section-doctors').landing-menu__item Врачи
      a(href='#section-works').landing-menu__item Фото до и после
      a(href='#section-reviews').landing-menu__item Отзывы
      a(href='#section-price').landing-menu__item Цена
