.landing-menu
  padding-block 33px 30px
  & + .page-section
  .page-section + &
    --page-section-margin-top 0
  &__list
    display flex
    flex-direction column
    align-items center
    row-gap 22px
    +media(s)
      column-gap 8vw
      flex-direction row
    +media(m)
      column-gap 180px
  &__item
    position relative
    $font-s()
    font-weight 500
    text-transform uppercase
