mixin pagination()
  ul.pagination&attributes(attributes)
    li.pagination__item.pagination__item--prev: a(href='#')
    - i = 1
    while i <= 5
      - itemClass = i === 2 ? 'pagination__link pagination__link--active' : 'pagination__link'
      li.pagination__item: a(class=itemClass, href='#') !{i}
      - i += 1
    li.pagination__item.pagination__item--next: a(href='#')
    
