.pagination
  display flex
  align-items center
  justify-content center
  min-width 100%
  &__item
    position relative
    & + &
      padding-left 0.625rem
    &--prev, &--next
      a
        display block
        width 2rem
        height 1rem
        mask-image maskImage(arrow)
        mask-repeat no-repeat
        mask-size cover
        mask-position center
        background-color currentColor
    &--prev
      a
        transform: rotate(180deg)

  &__link
    padding 0.375rem 0.625rem
    text-decoration none
    &--active
      font-weight 700
