.questions-header
  margin-bottom 20px
  +media(s)
    margin-bottom 72px
  h2
    max-width 1056px
  &--background-color
    &--dark
      @extends .inverted
    &--light
      background-color var(--color-mark-light)
  .accessibility-mode &
    padding 0
    background-color transparent
    h2
      max-width none
