.congress-target
  $font-xs()
  --color-text var(--color-mark)
  display flex
  flex-direction column
  align-items center
  gap var(--gap)
  text-align center
  +media(s)
    $font-l()
  +media(m)
    $font-3xl()
  &__image
    max-width 75%
