.banner-lipomodeling
  text-align center
   +media(l)
    background-image url(../images/banner-lipomodeling.webp), $backgroundImage('banner-stomach', inner)
    background-repeat no-repeat, no-repeat
    background-position bottom left, top
    background-size contain, 100% 92.260061%
   +media-max(l)
    background-image url(../images/banner-lipomodeling-mobile.webp), $backgroundImage('banner-lipomodeling-mobile', inner)
    background-repeat no-repeat, no-repeat
    background-position top left, top
    background-size auto 502px, 100% 304px
  &__info
    padding-top 90px
    padding-bottom 51px
    padding-left 320px
     +media-max(l)
      padding-top 502px
      padding-left 0
    p
      $font-s()
      +media(m)
        $font-l()
  &__title
  &__price
    color var(--color-mark)
    +media(m)
      color var(--color-background)
  &__title
    +media-max(m)
      font-size 24px
    @media (max-width point-s - 1)
      font-size 18px
  &__price
    $font-3xl()
    margin-bottom 32px
    +media(m)
      $font-6xl()
      margin-bottom 120px
    strong
      font-weight normal
      color inherit
      word-spacing -10px
       +media-max(l)
        $font-4xl()
  &__button
    display inline-block
    margin-top 32px
    @media screen and (min-width point-m)
      margin-top 48px
  .accessibility-mode &
    text-align center
    &__info
      display grid
      justify-items center
    &__title
    &__price
      color var(--color-text)
    &__price
      margin-bottom var(--gap)
