include /blocks/page-section/page-section
  
+pageSection({ backgroundColor: [ true, 'light' ] }).banner-lipomodeling
  .banner-lipomodeling__info
      h1.banner-lipomodeling__title Липомоделирование
      .banner-lipomodeling__price от 
        strong 190 000
        |  руб.
      .banner-lipomodeling__body
        p 3D моделирование 
          br
          | операция
          br
          | общий наркоз 
          br
          | компрессионное белье 
          br
          | такси после операции 
          br
          | пребывание в индивидуальной палате (1 сутки) 
          br
          | персональный куратор
      +button({ tag: 'a' })(href='#section-contact').banner-lipomodeling__button Хочу безупречную фигуру
