.documents-slider
  padding-inline var(--gap)
  .accessibility-mode &
    .slider
      &__wrapper 
        display grid
        grid-template-columns repeat(2, 1fr)
        gap var(--gap)
        +media(s)
          grid-template-columns repeat(4, 1fr)
        +media(m)
          grid-template-columns repeat(6, 1fr)
      &__arrow
      &__pagination
        display none
