extends /blocks/layout/layout

include /blocks/button/button
include /blocks/form-input/form-input
include /blocks/home-facts/home-facts
include /blocks/img/img
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/slider/slider
include /blocks/home-category-directions/home-category-directions
include /blocks/reviews/reviews-item/reviews-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'main'
    const isHomePage = true
  include /data/footer
  include /data/home
  include /data/reviews
block content
  +pageSection({ backgroundColor: true, noContent: true }).home-header: +content.home-header__inner
    +h1.home-header__title MEDALL – место, где рождается эстетика лица, тела и улыбки
    +button({ tag: 'a' })(href='#consult').home-header__button Получить консультацию
  +pageSection({ logo: [true, 'center'], backgroundColor: true })
    p.home-description.page-subsection Наша миссия — улучшить качество жизни человека через комплексную заботу о своем здоровье.
    +homeFacts(facts).page-subsection
  +pageSection({ backgroundColor: [true, 'dark'], logo: true }).home-important
    +h2.page-subsection.text-align-center Для нас важно:
    +slider({ arrows: false, fullWidth: true }).home-important__slider.page-subsection
      each item in important
        +slide.home-important__slide: p !{item}
  +pageSection({ backgroundColor: true, noContent: true }).home-directions.inverted
    +h2.home-directions__title.page-section__title.text-align-center.content Медицинские направления
    +slider({ fullWidth: true }).home-directions__slider
      -
        const image = {
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
        }
      each item in directions
        +slide.home-directions__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage).home-directions__image
          .home-directions__info
            .home-directions__name !{item.name}
            .home-directions__description !{item.description}
            +button({ tag: 'a' })(href='#').home-directions__button Перейти к услугам
  +homeCategoryDirections(directionsHome)       
  +pageSection
    +pageSubsection#consult
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ backgroundColor: true, noContent: true }).home-reasons.inverted
    +h2.home-reasons__title.page-section__title.text-align-center.content почему мы?
    +slider({ fullWidth: true }).home-reasons__slider
      -
        const image = {
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
        }
      each item in reasons
        +slide.home-reasons__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage)(width=1920 height=885).home-reasons__image
          .home-reasons__name !{item.name}
          .home-reasons__description !{item.description}
  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center Наши специалисты
    +formInput({ type: 'select', label: 'Все направления', secondary: true, options: [
        { name: 'Все направления', value: 'all' },
        { name: 'Пластическая хирургия', value: 'plastics' },
        { name: 'Стоматология', value: 'dentistry' },
        { name: 'Косметология', value: 'cosmetology' },
        { name: 'Пересадка волос', value: 'hair-transplant' },
        { name: 'Флебология', value: 'phlebology' },
      ] }).page-subsection.home-staff__select
    +slider().page-subsection.home-staff__slider
      each item, key in staff
        +slide(data-category= item.category).home-staff__slide
          a(href='').home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          a(href='').home-staff__image
            +img({
              name: `doctor-${key + 1}`,
              path: '/images/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', orig: true }
              ],
            }).home-staff__image
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider.reviews-item-list
      //- each item in feedback
      //-   +slide.home-feedback__slide !{item}
      each review in reviewsItems
        +slide
          +reviewsItem(review).reviews-item--text
  +pageSection({ backgroundColor: true, noContent: true }).slider-world
    +slider({ fullWidth: true }).slider-world__slider
      +slide.slider-world__slide.slider-world__slide--1
        +img({
          name: 'slider-worlds-1',
          path: '/images/category/plastic/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'l', values: [ 1, 2 ] },
          ]
        })(width=1920 height=885).slider-world__image
        .slider-world__description MEDALL — больше, чем качественная медицина. Это новое отношение к себе, трансформации и поиск смыслов.<br>Мы за новую философию в мире эстетики и назвали её:
        +img('images/category/plastic/slider-world-logo.svg').slider-world__logo
        .slider-world__description Она о том, как важен баланс эволюции внутреннего и внешнего мира каждого человека.
      +slide.slider-world__slide.slider-world__slide--2
        +img({
          name: 'slider-worlds-2',
          path: '/images/category/plastic/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'l', values: [ 1, 2 ] },
          ]
        })(width=1920 height=885).slider-world__image
        .slider-world__description Наша цель — обратить внимание общества на то, что стремиться к внешней красоте также ценно и правильно, как и стремиться к глубокому духовному внутреннему миру. Тело и разум неразделимы и выбирать между умом и красотой больше не нужно.
      +slide.slider-world__slide.slider-world__slide--3.inverted
        +img({
          name: 'slider-worlds-3',
          path: '/images/category/plastic/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'l', values: [ 1, 2 ] },
          ]
        })(width=1920 height=885).slider-world__image
        .slider-world__description За годы работы мы убедились, что наши пациенты — глубокие, интересные и сильные личности, готовые к переменам в жизни. Мы служим им и помогаем проявить внутреннюю красоту во внешнюю. Откликается?
        +button({ tag: 'a' })(href='#').slider-world__button Увидеть больше
