include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/slider/slider

mixin doctorCertificates(settings = {})
  +pageSection({ backgroundColor: [ true, 'dark' ] }).doctor-certificates
    +pageSubsection({ tag: 'h2' }).text-align-center.doctor-certificates__title сертификаты
    +slider.page-subsection.doctor-certificates__slider
      each i in [1, 2]
        each j in [1, 2]
          +slide({ tag: 'a' })(href=`/images/doctor-certificate-${j}.jpg` data-glightbox data-gallery='doctor-certificates').slide.swiper-slide.doctor-certificates__slide: +img({
            name: `doctor-certificate-${j}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true },
            ]
          }).doctor-certificates__image
