.doctor-certificates
  &__image
    width 100%
    aspect-ratio 4/3
    object-fit cover
  .slider
    +media(s)
      --arrow-position calc(50% - var(--base-padding) - 48px)
      padding-bottom 72px
    &__pagination
      +media(s)
        display none
    &__arrow
      --arrow-color var(--color-white)
      +media-max(s)
        display none
      +media(s)
        top auto 
        bottom 0
        transform none
      +before()
        +media(s)
          mask(arrow)
          width 41px
          height 40px
      &--prev
        --arrow-before-rotate 180deg
      &--next
        --arrow-before-rotate 0
  .accessibility-mode &
    .slider
      &__pagination
      &__arrow
        display none
      &__wrapper
        display grid
        grid-auto-flow row
        grid-template-columns auto
        gap var(--gap)
        +media(s)
          grid-template-columns repeat(2, 1fr)
        +media(m)
          grid-template-columns repeat(3, 1fr)
