.accessibility-mode
  --transition-duration-in 0
  --transition-duration-out 0
  --header-position static
  &--font-size
    &--small
      --font-size-6xl 50px
      --font-size-5xl 40px
      --font-size-4xl 32px
      --font-size-3xl 28px
      --font-size-2xl 24px
      --font-size-xl 20px
      --font-size-l 18px
      --font-size-m 16px
      --font-size-s 14px
      --font-size-xs 12px
    &--medium
      --font-size-6xl 60px
      --font-size-5xl 50px
      --font-size-4xl 40px
      --font-size-3xl 32px
      --font-size-2xl 28px
      --font-size-xl 24px
      --font-size-l 20px
      --font-size-m 18px
      --font-size-s 16px
      --font-size-xs 14px
    &--large
      --font-size-6xl 72px
      --font-size-5xl 60px
      --font-size-4xl 50px
      --font-size-3xl 40px
      --font-size-2xl 32px
      --font-size-xl 28px
      --font-size-l 24px
      --font-size-m 20px
      --font-size-s 18px
      --font-size-xs 16px
  &--color
    &--black-on-white
      --color-text #000000
      --color-text-secondary #000000
      --link-color #045658
      --link-color-hover #045658
      --h1-color var(--color-text)
      --h2-color var(--color-text)
      --h4-color var(--color-text)
      --color-strong var(--color-text)
    &--white-on-black
      --color-text #ffffff
      --color-text-secondary #ffffff
      --link-color #ffffff
      --link-color-hover #ffffff
      --color-background #000000
      --color-border #aaaaaa
      --h1-color var(--color-text)
      --h2-color var(--color-text)
      --h4-color var(--color-text)
      --color-strong var(--color-text)
  &--images--off
    :is(img)
      display none !important
