mixin footerMenu(menu)
  .footer-menu&attributes(attributes)
    a(href='/').footer-menu__title !{menu.name}
    ul.footer-menu__list
      each item in menu.list
        li.footer-menu__item: a(href='/') !{item}
