.footer-menu
  --link-color var(--color-text-primary)
  --color-text var(--color-black)
  &__title
    $font-s-bold()
  &__item
    $font-s()
    margin-top 24px
    & + &
      margin-top .625rem
  a
    text-decoration none
