extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/slider/slider
include /blocks/reviews/reviews-item/reviews-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'reviews'
  include /data/footer
  include /data/reviews
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Отзывы' })
  +pageSection
    +h1 Отзывы
  +pageSection({ margin: 'small' })
    +slider().reviews-platforms
      each platform in platforms 
        +slide.reviews-platforms__slide
          a(href= platform.href target='_blank').reviews-platforms__item 
            img(src= platform.image decoding='async' width='60' height='60').reviews-platforms__image
            .reviews-platforms__value !{platform.value}    
            .reviews-platforms__name !{platform.name}

  +pageSection({ margin: 'small' })
    .reviews-filter.page-subsection 
      .reviews-filter__inner
        +formInput({ type: 'select', name:'service', label: 'Выберите услугу', secondary: true, options: [{ name: '', value: '' }] }).reviews-filter__select.reviews-filter__select--services
        +formInput({ type: 'select', name:'doctor', label: 'Выберите специалиста', secondary: true, options: [{ name: '', value: '' }] }).reviews-filter__select.reviews-filter__select--doctors
        a(href='#review-form').button Оставить отзыв
      //- .reviews-filter__tabs
      //-   a(href='#').reviews-filter__tabs-text.reviews-filter__tabs-text--active Отзывы
      //-   a(href='#').reviews-filter__tabs-video Видеоотзывы

    +grid.page-subsection.reviews-item-list.reviews-item-list--text
      each review in reviewsItems
        +reviewsItem(review)(class=cell({ m:6 })).reviews-item--text
 
    //- +grid.page-subsection.reviews-item-list.reviews-item-list--video
    //-   each review in reviewsVideoItems
    //-     +reviewsItem(review)(class=cell({ m:6 })).reviews-item--video   
    
    +grid({ justify: 'center' }).page-subsection
      a(href='#').button.reviews-item-load-button Показать еще  

  +pageSection#review-form 
    +pageSubsection
      +h2.text-align-center Оставить отзыв
    +grid({ justify: 'center' }).page-subsection
      +cell({ tag: 'form', m: 6, s:8, xs: 12 })(
        data-is-validate='true'
        data-is-answer-in-popup='true'
        data-answer-success='Спасибо за обращение | Наш администратор свяжется с вами в течении часа чтобы согласовать дату и время консультации'
        ).form.form-ajax
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Отправить отзыв
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить отзыв», я даю согласие на #[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') обработку персональных данных].
