+pageSection().banner-systems
  +grid().banner-systems__info
    +cell({ m: 6, s: 6, xs: 12 })
      h2.banner-systems__title Альтернативные системы имплантации в клинике MEDALL:
      ul.banner-systems__list
        li MIS
          .banner-systems__price 240 000 ₽
        li Osstem
          .banner-systems__price 230 000 ₽
      p Удаление зубов, установка имплантатов и мультиюнита абатментов, изготовление временного адаптационного протеза.
    +img({
      name: 'systems',
      path: '/images/landings/all-on-4/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true }
      ]
    })(class= cell({ s: 6, xs: 12 }) alt='Системы, используемые в клинике MEDALL').banner-systems__image
