.banner-systems
  position relative
  overflow hidden
  background-image linear-gradient(180deg, rgba(4, 86, 88, 0) 0%, rgba(4, 86, 88, 0.1) 50.52%, rgba(4, 86, 88, 0) 100%)
  &::before
    mask(logo-simple)
    content ''
    position absolute
    top 10px
    right 0
    z-index -1
    max-width 100%
    height 100%
    aspect-ratio 447/144
    background-color var(--color-mark-light)
  &__title
    font-size 35px
    line-height 44px
    text-transform none
  &__list
    display flex
    gap 16px 42px
    margin-top 56px
    margin-bottom 46px
    & > li
      display flex
      align-items baseline
      gap 0 18px
  &__price
    padding 6px 12px
    border 1px solid var(--color-border)
    border-radius 16px
  &__image
    max-width 400px
    margin-x auto
    +media(m)
      margin-top 80px
  .accessibility-mode &
    &::before
      content none
