extends /blocks/layout/layout

include /blocks/img/img
include /blocks/link-icon/link-icon
include /blocks/form-input/form-input
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    footerSections = ['podcast-new', 'podcast', 'card', 'gallery', 'partners', 'navigation']
    const resourcesName = 'contacts'
  include /data/footer
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Контакты' })
  +pageSection
    +h1 Контакты
    +pageSubsection(class= grid())
      +cell({ m: 6, xs: 12 })
        +pageSubsection
          +h2 Клиника эстетической медицины и цифровой стоматологии MEDALL
          p +7 (812) 603-02-01
          p: a(href='mailto:admin@medall.clinic') admin@medall.clinic
          p Санкт Петербург, Левашовский пр., д.24, 500 м от ст. Чкаловская
          p Часы работы:  с 09.00 до 21.00
          p Отдел рекламы и PR: 
            br
            a(href='mailto:marketing@medall.clinic') marketing@medall.clinic
        +pageSubsection(class= grid())
          -
            const icons = [
              { name: 'vk', href: 'https://vk.com/medall.clinic' },
              { name: 'telegram', href: 'https://t.me/medall_clinic' },
              { name: 'instagram', href: 'https://instagram.com/medall.clinic' },
              { name: 'zen', href: 'https://dzen.ru/id/62569cf18d98716e46246d00' },
            ]
          each icon in icons
            +linkIcon({ icon: icon.name })(href= icon.href)
      +cell({ m: 6, xs: 12 })
        .contacts-map#contacts-map
         script(type='text/javascript' data-skip-moving='true' src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
         script(data-skip-moving='true').
          let isYandexMapShowed = false;
          document.addEventListener("scroll", function () {
            if (!isYandexMapShowed) {
              ymaps.ready(init);
              isYandexMapShowed = true;
            }
          });

          function init() {
            const windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            let iconSize,
              iconOffset;

            if (windowWidth > 780) {
              iconSize = [162, 230];
              iconOffset = [-81, -143.75];
            }

            if (windowWidth <= 780) {
              iconSize = [90, 128];
              iconOffset = [-45, -80];
            }

            if (windowWidth <= 480) {
              iconSize = [60, 80];
              iconOffset = [-30, -50];
            }

            const myMap = new ymaps.Map('contacts-map', {
              center: [59.966217579684, 30.29],
              controls: ['zoomControl'],
              zoom: 12
            }, {
              searchControlProvider: 'yandex#search'
            });

            myMap.behaviors.disable('scrollZoom');

            const balloon = 'Левашовский пр., д.24, 500 м от ст. Чкаловская'

            //Добавление меток на карту
            myMap.geoObjects.add(
              new ymaps.Placemark(
                [59.966217579684, 30.285785228836],
                {
                  balloonContent: balloon,
                  iconCaption: balloon,
                },
                {
                  iconLayout: 'default#image',
                  iconImageHref: '/template/images/svg-sprites/common.svg#pin',
                  // iconImageHref: '/bitrix/templates/tpl_medall/images/pin.svg', // Своё изображение иконки метки
                  iconImageSize: iconSize, // Размеры метки
                  iconImageOffset: iconOffset // Смещение левого верхнего угла иконки относительно её "ножки" (точки привязки).
                }
              )
            );
          }
  +pageSection({ noContent: true }): +content(class= grid({ justify: 'center' }))
    +h2.text-align-center Остались вопросы? Оставьте свои контактные данные и мы обязательно свяжемся с вами.
    +cell({ tag: 'form', l: 8, m: 10, xs: 12 })(
        data-is-validate='true'
        data-is-answer-in-popup='true'
        data-answer-success='Спасибо за обращение | Наш администратор свяжется с вами в течении часа чтобы согласовать дату и время консультации'
        ).form.form-ajax
      +formInput({ type: 'text', label: 'ФИО' }).form__input
      +formInput({ type: 'tel', label: 'Телефон' }).form__input
      +formInput({ type: 'email', label: 'Электронная почта' }).form__input
      +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
      +button(type='submit').form__submit Оставить заявку
      .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') обработку персональных данных].
