extends /blocks/layout/layout

include /blocks/banner-message-transplantation/banner-message-transplantation
include /blocks/banner-plastics-gift/banner-plastics-gift
include /blocks/banner-taxi-transplantation/banner-taxi-transplantation
include /blocks/banner-transplantation-works/banner-transplantation-works
include /blocks/category-directions/category-directions
include /blocks/category-header/category-header
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/landing-block/landing-block
include /blocks/banner-price-table/banner-price-table
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'category'
    const imagesPath = '/images/category/transplantation/'
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Пересадка волос' })
  +categoryHeader({
    title: 'Пересадка волос MEDALL:',
    image: {
      name: 'category-header',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ]
    }
  }, { transplantation: true })
    +ul
      +li высококвалифицированная команда
      +li большой опыт и мастерство
      +li современные методы и технологии
      +li персональный куратор
      +li комфортабельный стационар
      +li бизнес-такси после операции
      +li фирменная толстовка в подарок
      +li реабилитационные услуги
  +categoryDirections(directionsTransplantation, {'category-direction--transplantation': true})  
  +pageSection#contacts-form  
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ backgroundColor: true, noContent: true }).home-reasons.inverted 
    +h2.home-reasons__title.page-section__title.text-align-center.content пересадка волос MEDALL ЭТО:
    +slider({ fullWidth: true }).home-reasons__slider
      -
        const image = {
          path: imagesPath,
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
        }
      each item in reasonsTransplantation
        +slide.home-reasons__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage)(width=1920 height=885).home-reasons__image
          .home-reasons__name !{item.name}
          +button({ tag: 'a' })(href='#contacts-form').home-reasons__button !{item.button}
          .home-reasons__description !{item.description}
  +bannerMessageTransplantation
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback.home-feedback--transplantation
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider.home-feedback__slider--slides-per-group--1
      each item, i in feedbackTransplantation
        +slide.home-feedback__slide !{item}
  +bannerTransplantationWorks
  +bannerTaxiTransplantation
  +pageSection({ backgroundColor: [true, 'dark'], logo:true }).banner-price-transplantation
    +h2.page-section__title.text-align-center цена и рассрочка
    p.page-section__subtitle Стоимость пересадки волос в клинике Medall всегда рассчитывается индивидуально.
    +bannerPriceTable(transplantationPrices).page-subsection.banner-price-transplantation__table
    +button({ tag: 'a' })(href='#').page-subsection.banner-price-transplantation__button Рассчитать цену
