extends /blocks/layout/layout

include /blocks/banner-message-transplantation/banner-message-transplantation
include /blocks/banner-plastics-gift/banner-plastics-gift
include /blocks/banner-taxi-transplantation/banner-taxi-transplantation
include /blocks/banner-transplantation-works/banner-transplantation-works
include /blocks/category-directions/category-directions
include /blocks/category-header/category-header
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/landing-block/landing-block
include /blocks/banner-price-table/banner-price-table
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'category'
    const imagesPath = '/images/category/phlebology/'
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Флебология' })
  +categoryHeader({
    title: 'Флебология MEDALL:',
    image: {
      name: 'category-header',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ]
    }
  }, { phlebology: true })
    +ul
      +li специальное отделение клиники
      +li вылечено более 2000 пациентов
      +li высококвалифицированные сосудистые хирурги и флебологи
      +li большой опыт и мастерство
      +li новейшие отечественные и зарубежные достижения в этой области
      +li амбулаторное лечение
      +li комфортабельный стационар до 1 дня
  +categoryDirections(directionsPhlebology, {'category-direction--phlebology': true})  
  +pageSection#contacts-form  
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center Флебологи
    +slider().page-subsection.home-staff__slider
      each item, key in staff
        +slide(data-category= item.category).home-staff__slide
          .home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
          }).home-staff__image
  +pageSection({ backgroundColor: [true, 'dark'] }).home-feedback.home-feedback--phlebology
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider.home-feedback__slider--slides-per-group--1
      each item, i in feedbackPhlebology
        +slide.home-feedback__slide !{item}
  