extends /blocks/layout/layout

include /blocks/banner-message-gynecology/banner-message-gynecology
include /blocks/banner-plastics-gift/banner-plastics-gift
include /blocks/banner-full-face-review/banner-full-face-review
include /blocks/banner-taxi/banner-taxi
include /blocks/category-directions/category-directions
include /blocks/category-header/category-header
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/landing-block/landing-block
include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'category'
    const imagesPath = '/images/category/gynecology/'
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Эстетическая гинекология' })
  +categoryHeader({
    title: 'Эстетическая гинекология MEDALL:',
    image: {
      name: 'category-header',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ]
    }
  }, { gynecology: true })
    +ul
      +li высококвалифицированные гинекологи — новаторы и наставники сферы
      +li современные аппараты и авторские методики
      +li безболезненные, малоинвазивные, не требующие длительной реабилитации методы
      +li результаты, о которых рассказывают подругам (придание объёмов интимной зоны, увлажнение и восстановление упругости, осветление и выравнивание микрорельефа кожи, повышение либидо и сексуальной удовлетворённости)
  +categoryDirections(directionsGynecology)
  +pageSection
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ backgroundColor: true, noContent: true }).home-reasons.inverted
    +h2.home-reasons__title.page-section__title.text-align-center.content гинекология MEDALL это:
    +slider({ fullWidth: true }).home-reasons__slider
      -
        const image = {
          path: imagesPath,
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
        }
      each item in reasonsGynecology
        +slide.home-reasons__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage)(width=1920 height=885).home-reasons__image
          .home-reasons__name !{item.name}
          +button({ tag: 'a' })(href='#').home-reasons__button !{item.button}
          .home-reasons__description !{item.description}
  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center Косметологи
    +slider().page-subsection.home-staff__slider
      each item, key in staff
        +slide(data-category= item.category).home-staff__slide
          .home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
          }).home-staff__image
  +bannerMessageGynecology    
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback.home-feedback--gynecology
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider.home-feedback__slider--slides-per-group--1
      each item, i in feedbackGynecology
        +slide.home-feedback__slide !{item}
  +pageSection({ backgroundColor: [true, 'light'], logo:true }).banner-gynecology-works
    +img({
      name: 'gynecology-works',
      path: imagesPath,
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true }
      ],
    }).banner-gynecology-works__image
    h2.banner-gynecology-works__title Где я могу посмотреть работы?
    p.banner-gynecology-works__description Мы не можем делиться такими деликатными кадрами «до/после» на сайте. Зато можем предложить вам перейти на наш закрытый телеграмм-канал «MEDALL 18+», в котором можно найти информацию о медицинских процедурах без цензуры.
    +button({ tag: 'a' })(href='#').banner-gynecology-works__link Смотреть работы
