extends /blocks/layout/layout

include /blocks/banner-message/banner-message
include /blocks/banner-plastics-gift/banner-plastics-gift-new
include /blocks/banner-plastics-gift/banner-plastics-gift
include /blocks/banner-price/banner-price
include /blocks/banner-taxi/banner-taxi
include /blocks/category-directions/category-directions
include /blocks/category-header/category-header
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/breadcrumbs/breadcrumbs
include /blocks/reviews/reviews-item/reviews-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'category'
    const imagesPath = '/images/category/plastic/'
  include /data/footer
  include /data/category
  include /data/reviews
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'ПЛАСТИЧЕСКАЯ ХИРУРГИЯ' })
  +categoryHeader({
    title: 'Пластическая хирургия MEDALL',
    image: {
      name: 'category-header',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
      ]
    }
  })
    +ul
      +li высококвалифицированные хирурги
      +li большой опыт и мастерство
      +li современные методы и технологии
      +li персональный куратор
      +li комфортабельный стационар
      +li бизнес-такси после операции
      +li мерч в подарок #[span.text-borders скоро]
      +li реабилитационные услуги
  +categoryDirections(directionsPlastic)
  +pageSection
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ backgroundColor: true, noContent: true }).home-reasons.inverted
    +h2.home-reasons__title.page-section__title.text-align-center.content Пластическая хирургия MEDALL это:
    +slider({ fullWidth: true }).home-reasons__slider
      -
        const image = {
          path: imagesPath,
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ]
        }
      each item in reasonsPlastic
        +slide.home-reasons__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage)(width=1920 height=885).home-reasons__image
          .home-reasons__name !{item.name}
          +button({ tag: 'a' })(href='#').home-reasons__button !{item.button}
          .home-reasons__description !{item.description}
  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center Пластические хирурги
    +slider().page-subsection.home-staff__slider
      each item, key in staff
        +slide(data-category= item.category).home-staff__slide
          a(href='/').home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
          }).home-staff__image
  +bannerMessage
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider.reviews-item-list
      each review in reviewsItems
        +slide
          +reviewsItem(review).reviews-item--text
      //- each item in feedback
      //-   +slide.home-feedback__slide !{item}
  +bannerTaxi
  +bannerPlasticsGift
  +bannerPlasticsGiftNew
  +bannerPrice
