extends /blocks/layout/layout

include /blocks/banner-message-dentistry/banner-message-dentistry
include /blocks/category-directions/category-directions
include /blocks/category-header/category-header
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/landing-block/landing-block
include /blocks/banner-price-table/banner-price-table
include /blocks/breadcrumbs/breadcrumbs 
include /blocks/banner-check-up/banner-check-up

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'category'
    const imagesPath = '/images/category/dentistry/'
  include /data/footer
  include /data/category
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Стоматология' })
  +categoryHeader({
    title: 'ЦИФРОВАЯ СТОМАТОЛОГИЯ <br>MEDALL ЭТО:',
    image: {
      name: 'category-header',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ]
    }
  }, { dentistry: true })
    +ul
      +li экспертный уровень врачей
      +li использование цифровых технологий
      +li комплексный подход к диагностике и лечению
      +li премиум сервис с личным куратором для каждого пациента
      +li операционные и комфортабельные палаты
      +li собственная зуботехническая лаборатория
      +li подарки и награды для маленьких пациентов
      
  +categoryDirections(directionsDentistry, {'category-direction--dentistry': true})   
  +pageSection#contacts-form  
    +pageSubsection
      +h2.page-section__title.text-align-center Записаться на приём
      p.page-section__subtitle В комментариях укажите, какая услуга, доктор или вопрос Вас интересует.
    +pageSubsection(class= grid({ justify: 'center' })).home-form
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +pageSection({ backgroundColor: true, noContent: true }).home-reasons.home-reasons--dentistry.inverted
    +h2.home-reasons__title.page-section__title.text-align-center.content ЦИФРОВАЯ СТОМАТОЛОГИЯ MEDALL ЭТО:
    +slider({ fullWidth: true }).home-reasons__slider
      -
        const image = {
          path: imagesPath,
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
        }
      each item in reasonsDentistry 
        +slide.home-reasons__slide
          -
            const itemImage = image
            itemImage.name = item.image
          +img(itemImage)(width=1920 height=885).home-reasons__image
          .home-reasons__name !{item.name}
          +button({ tag: 'a' })(href='#contacts-form').home-reasons__button !{item.button}
          .home-reasons__description !{item.description}
  +pageSection({ logo: true, backgroundColor: [true, 'light'] }).home-staff
    +h2.page-section__title.page-subsection.text-align-center врачи-стоматологи  
    +slider().page-subsection.home-staff__slider
      each item, key in staff
        +slide(data-category= item.category).home-staff__slide
          .home-staff__name !{item.name}
          .home-staff__description !{item.description}
          +button({ tag: 'a' })(href='#').home-staff__button Подробнее
          +img({
            name: `doctor-${key + 1}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
          }).home-staff__image
  +bannerMessageDentistry  
  +bannerCheckUp
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Истории пациентов
    +slider().page-subsection.home-feedback__slider
      each item, i in feedbackDentistry
        +slide.home-feedback__slide !{item}
