:root
	--landing-header-image-top-margin 0
	--landing-header-image-height-top-margin 100%

.breadcrumbs
	& + .landing-page .landing-header
	& ~ .landing-header
		--landing-header-image-top-margin -61px
		--landing-header-image-height-top-margin calc(100% + 61px)
	$font-s()
	&__inner
		display flex
		flex-wrap wrap
		column-gap 15px
		padding-block 15px
		+media(s)
			padding-block 20px
	&__parent
		display flex
		gap 15px
		+after()
			width 6px
			height 6px
			margin-left -3px
			border 1px solid
			rotate 45deg
