.breadcrumbs
	background-color var(--color-mark-light)
	&__inner
		z-index 1
	&__parent
		align-items center
		&::after
			border-color currentColor currentColor transparent transparent
	&__current
		color var(--color-text-secondary)
		text-transform lowercase
		&:first-letter
			text-transform uppercase
	.accessibility-mode &
		background-color transparent
