include /blocks/container/container
include /blocks/content/content

mixin breadcrumbs(path = {'parents':[],'current':''})
	+container.breadcrumbs&attributes(attributes): +content.breadcrumbs__inner
		each parent in path.parents
			a(href='/').breadcrumbs__parent !{parent}
		.breadcrumbs__current !{path.current}
