include /blocks/landing-price/landing-price

mixin landingPrices(list)
  +grid({ 'justify': 'center'}).landing-prices
    each item in list
      +landingPrice(item, { [item.type]: true })(class= cell({ m: 5, s: 6, xs: 12 })).prices__item
