.slider-speakers
  text-align center
  +media(s)
    padding-bottom calc(var(--gap) + var(--arrow-size))
  &__slide.swiper-slide
    display flex
    flex-direction column
    align-items center
    gap var(--gap)
  &__name
    $font-m-bold()
    order 2
    text-transform uppercase
    +media(m)
      $font-3xl-bold()
  &__description
    order 3
    +media(m)
      $font-2xl()
  &__image
    order 1
    width @css{ min(363px, 66%) }
  .slider__wrapper
    display grid
    grid-auto-flow column
  .slider__arrow
    --arrow-color currentColor
    top auto
    bottom 0
    transform none
    +media-max(s)
      display none
    &--prev
      --arrow-before-rotate 180deg
      right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
      left auto
    &--next
      --arrow-before-rotate 0
      left calc(@css{ min(100vw, var(--content-width)) } / 2)
      right auto
    &::before
      mask(arrow)
      height 24px
  .slider__pagination
    +media(s)
      display none
