include /blocks/slider/slider

mixin sliderSpeakers
  -
    const slides = [
      {
        name: 'Александр Бабуров',
        description: 'Стоматолог-ортопед. Учредитель и главный врач сети клиник «Мастерская улыбок». Автор популярных курсов и постоянный докладчик различных профессиональных мероприятий.',
        image: 'congress-baburov',
        width: 363,
        height: 450,
      },
      {
        name: 'Дмитрий Чёрный',
        description: 'Главный врач и соучредитель клиники MEDALL, основатель учебного центра GROSSMASTER, челюстно-лицевой хирург, имплантолог, ортопед-гнатолог, opinion-лидер компании KAVO.',
        image: 'congress-chyorny',
        width: 363,
        height: 452,
      },
      {
        name: 'Александр Першин',
        description: 'Стоматолог-ортопед. Соучредитель клиники iStom. Специалист общества по изучению цвета в стоматологии. Лектор компании Carl Zeiss Идеолог и сооснователь образовательного проекта КПСС «Клуб практикующих стоматологов Санкт-Петербурга» Один из авторов книги «Эстетика керамических реставраций».',
        image: 'congress-pershin',
        width: 363,
        height: 452,
      },
      {
        name: 'Максим Копылов',
        description: 'Стоматолог-хирург, пародонтолог, ортопед. Учредитель клиники MaxTreat. Афиллированый член Европейской Академии Эстетической стоматологии. Автор образовательных курсов и постоянный докладчик различных профессиональных мероприятий.',
        image: 'congress-kopylov',
        width: 363,
        height: 452,
      },
      {
        name: 'Якимов Сергей',
        description: 'Стоматолог-хирург, ортопед. Учредитель и главный врач клиники «Орхидея». Клинический эксперт компании Nobel Biocare.',
        image: 'congress-yakimov',
        width: 363,
        height: 453,
      },
      {
        name: 'Алексей Болячин',
        description: 'К.М.Н., стоматолог-терапевт, эндодонтист. Сооснователь Центра дентальной травматологии ICEBERG. Член американской эндодонтической ассоциации.',
        image: 'congress-bolyachin',
        width: 365,
        height: 458,
      },
      {
        name: 'Евгений Рощин',
        description: 'Стоматолог-ортопед, ортодонт. К.М.Н., автор 17 патентов оборудования для функциональной диагностики, разработчик оптического аксиографа, электронного артикулятора и аппарата для исследования состояния мышечной системы ProTens.',
        image: 'congress-roschin',
        width: 363,
        height: 451,
      },
      {
        name: 'Иван Рузин',
        description: 'Стоматолог-терапевт. Специалист в области эстетической реабилитации. Победитель в номинации «Special Award» в международном конкурсе по эстетической реставрации GCCC 2019, Konstanz, Germany.',
        image: 'congress-ruzin',
        width: 366,
        height: 455,
      },
      {
        name: 'Святослав Коба',
        description: 'Врач-стоматолог. Главный врач Belgravia Dental Studio, медицинский директор ГК «Фэнтези»',
        image: 'congress-koba',
        width: 364,
        height: 455,
      },
      {
        name: 'Тарас Юров',
        description: 'Заведующий отделением челюстно-лицевой хирургии клиники Medall, челюстно-лицевой хирург, имплантолог, лектор и клинический эксперт компании Nobel Biocare.',
        image: 'congress-yurov',
        width: 364,
        height: 456,
      },
       {
        name: 'Александр Бикбаев',
        description: 'Стоматолог-ортопед. Сооснователь и главный врач клиники Houston. Ментор и опинион-лидер компании Nobel Biocare.',
        image: 'congress-bikbaev',
         width: 363,
         height: 453,
      },
      {
        name: 'Виталий Руденко',
        description: 'Заведующий отделением терапевтической стоматологии клиники MEDALL, стоматолог-эндодонтист, лектор opinion-лидер компании KAVO.',
        image: 'congress-rudenko',
        width: 364,
        height: 456,
      },
      {
        name: 'ЕВГЕНИЙ БЕРЕЗИН',
        description: 'Стоматолог-ортопед клиники MEDALL. Опинион-лидер компаний KAVO, Kerr, Bisico, региональный спикер Carl Zeiss и практикующий лектор Amann Girrbach.',
        image: 'congress-berezin',
        width: 363,
        height: 456,
      },
      {
        name: 'ТИМУР БАИШЕВ',
        description: 'Хирург-имплантолог клиники MEDALL, специалист в области навигационной хирургии.',
        image: 'congress-baishev',
        width: 364,
        height: 457,
      },
      {
        name: 'СЕРГЕЙ ПАНЧЕНКО',
        description: 'Стоматолог-ортопед, специалист в области патологий ВНЧС.',
        image: 'congress-panchenko',
        width: 363,
        height: 458,
      },
      {
        name: 'АНДРЕЙ СЕМЕНЮК',
        description: 'Стоматолог-ортопед, специалист в области цифровой стоматологии, класических и усложнённых протоколов  All on 4 и тотальной реабилитации на своих зубах и имплатнтах.',
        image: 'congress-semenyuk',
        width: 364,
        height: 456,
      },
      {
        name: 'СЕРГЕЙ ЦУРАНОВ',
        description: 'Стоматолог-ортопед клиники, специалист в области планирования и реализации тотальной реабилитации с опорой на импланты и свои зубы. ',
        image: 'congress-tsuranov',
        width: 363,
        height: 452,
      },
      {
        name: 'ИРИНА ГАВРИЛЕНКО',
        description: 'Заведующий отделением терапевтической стоматологии клиники MEDALL, стоматолог-терапевт, специалист в области эстетической реставрации.',
        image: 'congress-gavrilenko',
        width: 363,
        height: 455,
      },
      {
        name: 'ВЕРОНИКА СКАЛИНА',
        description: 'Стоматолог-пародонтолог, гигиенист клиники MEDALL, специалист в области консервативной пародонтологи, гигиены и отбеливания зубов.',
        image: 'congress-skalina',
        width: 363,
        height: 457,
      },
      {
        name: 'Артём Золотухин',
        description: 'Дипломированный юрист, медиатор, специалист в области организации здравоохранения и общественного здоровья.',
        image: 'congress-zolotuhin',
        width: 364,
        height: 455,
      },
    ]
  +slider().slider-speakers&attributes(attributes)
    each slide in slides
      +slide.slider-speakers__slide
        .slider-speakers__name !{slide.name}
        .slider-speakers__description !{slide.description}
        +img({
          name: slide.image,
          path: '/images/congress/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ],
        })(width= slide.width height= slide.height).slider-speakers__image
