include /blocks/slider/slider

mixin sliderInteresting
  -
    const slides = [
      'Разберём в чем заключается командный подход в лечении и как составлять комплексные планы.',
      'Обсудим менеджмент и набор оригинальных компетенций команды успешной стоматологической клиники.',
      'Каждый специалист найдёт интересные темы для своей специализации.',
      'Расскажем о юридических инструмента защиты профессиональной деятельности стоматологических клиник в условия новых правил оказания платных медицинских услуг.',
      'Презентуем новую авторскую программу стоматологического чекапа для работы с пациентами.',
      'Обсудим ключевые аспекты и компетенции разных врачей-стоматологов для работы в команде.',
      'Общением в комьюнити единомышленников.',
      'Знакомством с лучшими подрядчиками индустрии.',
      'Форматом диалога и возможностью задать вопросы топовым специалистам.',
    ]
  +slider().slider-interesting&attributes(attributes)
    each slide in slides
      +slide.slider-interesting__slide !{slide}
