.slider-interesting
  &__slide
    $font-xs()
    text-align center
    color var(--color-mark)
    +media(s)
      $font-l()
      padding-block 100px
      padding-inline 17%
    +media(m)
      $font-3xl()
  .slider__arrow
    top auto
    bottom 0
    transform none
    +media-max(s)
      display none
    &--prev
      --arrow-before-rotate 180deg
      right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
      left auto
    &--next
      --arrow-before-rotate 0
      left calc(@css{ min(100vw, var(--content-width)) } / 2)
      right auto
    &::before
      mask(arrow)
      height 24px
  .slider__pagination
    +media(s)
      display none
