extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/works/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'works'
    const isWorksPage = true
  include /data/footer
  include /data/works
block content
  -
    const categories = [
      { name: 'Пластическая хирургия', value: 'Пластическая хирургия' },   
      { name: 'Косметология', value: 'Косметология' },  
    ]

  +breadcrumbs({ parents: [ 'Главная' ], current: 'Результаты работ' }) 
  +pageSection
    +h1 Результаты работ
  +pageSection({ margin: 'small' })  
    .works-filter.page-subsection
      .works-filter__inner
        +formInput({ type: 'select', name:'direction', label: 'Выберите направление', secondary: true, options: [{ name: '', value: '' }]}).works-filter__select.works-filter__select--directions
        +formInput({ type: 'select', name:'service', label: 'Выберите услугу', secondary: true, options: [{ name: '', value: '' }]}).works-filter__select.works-filter__select--services
        +formInput({ type: 'select', name:'doctor', label: 'Выберите специалиста', secondary: true, options: [{ name: '', value: '' }]}).works-filter__select.works-filter__select--doctors

    +grid.page-subsection.works-item-list
      each item in worksImages
        +worksItem(item)(class= cell({ m:3, s:6 })) 
    +grid({ justify: 'center' }).page-subsection
      a(href='#').button.works-item-load-button Показать еще   
