.congress-footer
  $font-xs()
  position relative
  isolation isolate
  padding-block 20px 78px
  +media(s)
    padding-block 46px 72px
  +media(m)
    $font-xl()
    padding-block 58px 112px
  +before()
    position absolute
    inset 0
    z-index -1
    background-image image-set(
            url(../images/congress-footer.png) 1x,
            url(../images/congress-footer@2x.png) 2x
    )
    background-repeat no-repeat
    background-position center
    background-size cover
    mix-blend-mode multiply
