include /blocks/container/container
include /blocks/content/content

+container({ tag: 'footer' }).congress-footer.inverted: +content(class= grid()).congress-footer__inner
  +h2(class= cell({ s: 12 })).text-align-center.congress-footer__title контакты
  +cell({ m: 8, s: 6, xs: 12 })
    | ООО «Гроссмастер»
    br
    | 192241, г. Санкт-Петербург, шоссе Южное, д.53, корп.5 литер А, квартира 548
    br
    | ИНН: 7810986850
    br
    | КПП: 781601001
    br
    | ОГРН/ОГРНИП: 1147847199686
    br
    | Генеральный директор: Чёрная Марина Николаевна
  +cell({ m: 4, s: 6, xs: 12 })
    | Контакты:
    br
    | +7 (911) 999 26 29
    br
    | grossmaster@medall.clinic
