include /blocks/doctors-item/doctors-item
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

mixin doctorsLayout(list)
  -
    const categories = [
        { name: 'Все направления', value: 'all' },
        { name: 'Пластическая хирургия', value: 'plastics' },
        { name: 'Стоматология', value: 'dentistry' },
        { name: 'Косметология', value: 'cosmetology' },
        { name: 'Пересадка волос', value: 'hair-transplant' },
        { name: 'Флебология', value: 'phlebology' },
      ]
    categories.forEach((category) => {
      category.list = list.filter((item) => item.category === category.value);
      if (category.list.length === 0) delete category.list;
    })
  +pageSection({ margin: 'small' }).doctors-layout&attributes(attributes)
    +formInput({ type: 'select', label: 'Все направления', secondary: true, options: categories }).page-subsection.doctors-layout__select
    each category in categories
      if category.list
        +pageSubsection(data-category= category.value).doctors-layout__category
          h2.doctors-layout__title !{category.name}
          +grid.doctors-layout__list
            each item, key in category.list
              -
                item.image = {
                  name: `doctor-${key + 1}`,
                  path: '/images/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'jpg', orig: true }
                  ],
                }
              +doctorsItem(item)(class= cell({ l: 3, m: 4, s: 6, xs: 12 })).doctors-layout__item
