.doctors-layout
  opacity 0
  transition var(--transition-duration-in) opacity
  &--loaded
    opacity 1
  &__select
    width 100%
    max-width 400px
  &__list
    margin-top var(--gap)
  .accessibility-mode &
    &__select
      display none
