.block-marked
  padding 48px 28px 28px
  border-radius var(--border-radius-l)
  +media(m)
    padding 46px 32px 46px 59px
    border 2px solid var(--color-white)
    border-radius var(--border-radius-xl)
  &--color--light
    background-color var(--color-mark-light)
  &--border-radius--l
    +media(m)
      border-radius var(--border-radius-l)
  .accessibility-mode &
    &--color--light
      background-color transparent
