$fontSizes = s, m, l, xl, '2xl', '3xl', '4xl', '5xl'
$fontWeights = medium, bold

for $size in $fontSizes
  .font-{$size}
    $font-{$size}()
  for $weight in $fontWeights
    .font-{$size}-{$weight}
      $font-{$size}-{$weight}()
  .font-{$size}-uppercase
    $font-{$size}-uppercase()

$textAlign = left, right, justify, center, inherit
for $align in $textAlign
  .text-align-{$align}
    text-align $align

$borderRadius = 's', m, l, xl, 50
for $radius in $borderRadius
  .border-radius-{$radius}
    border-radius unquote('var(--border-radius-'+$radius+')')

.color-secondary
  --color-text var(--color-text-secondary)

.nowrap
  white-space nowrap

.no-scroll
  overflow hidden

.border-bottom-right-radius
  border-bottom-right-radius var(--border-radius-xl)
