s = unquote('s')

// breakpoints
$breakpoints = {}
$breakpointsFromSettings = json('../settings.json', { hash: true }).breakpoints

for key, point in $breakpointsFromSettings
  $breakpoints[key] = (point)px

//media
media(val)
  @media (min-width $breakpoints[val])
    {block}

media-max(val)
  @media (max-width $breakpoints[val] - 1)
    {block}

media-interval(min = s, max = m)
  @media (min-width $breakpoints[min]) and (max-width $breakpoints[max] - 1)
    {block}

hover()
	@media (hover: hover)
		&:hover
			{block}

isHover()
  @media (hover: hover)
    {block}

// base-padding
basePadding = .75rem

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

$par = ()

pushPar($item)
  for $i in split(',', $item)
    push($par, $i)

parMargin()
  for $item in $par
    {$item}
      for $item2 in $par
        {$item2} + &
          margin-top 1em
    :is(h1, .h1) + {$item}
      margin-top 7px
    :is(h2, .h2) + {$item}
      margin-top 5px
    :is(h3, .h3) + {$item}
      margin-top 4px
    :is(h4, .h4) + {$item}
      margin-top 3px
    {$item} + :is(h1, .h1, h2, .h2, h3, .h3)
      margin-top 1.25em
    {$item} + :is(h4, .h4)
      margin-top 1.5em

$backgroundImage($icon, $sprite = common)
  unquote('url(../images/' + $sprite + '.svg#' + $icon + ')')

$background($icon, $sprite = common, $size = cover)
  background-image $backgroundImage($icon, $sprite)
  background-repeat no-repeat
  background-position center
  background-size $size

maskImage($icon, $sprite = common)
  unquote('url(../images/' + $sprite + '.svg?v=6#' + $icon + ')')

mask($icon, $sprite = common)
  mask-image maskImage($icon, $sprite)
  mask-repeat no-repeat
  mask-position center
  mask-size cover

before()
  &::before
    content ''
    {block}

after()
  &::after
    content ''
    {block}
