$font-6xl()
  font-size var(--font-size-6xl)
  line-height 1.25
$font-6xl-medium()
  font-size var(--font-size-6xl)
  font-weight 500
  line-height 1.25
$font-6xl-bold()
  font-size var(--font-size-6xl)
  font-weight 700
  line-height 1.25
$font-6xl-uppercase()
  font-size var(--font-size-6xl)
  line-height 1.25
  text-transform uppercase
$font-5xl()
  font-size var(--font-size-5xl)
  line-height 1.25
$font-5xl-medium()
  font-size var(--font-size-5xl)
  font-weight 500
  line-height 1.25
$font-5xl-bold()
  font-size var(--font-size-5xl)
  font-weight 700
  line-height 1.25
$font-5xl-uppercase()
  font-size var(--font-size-5xl)
  line-height 1.25
  text-transform uppercase
$font-4xl()
  font-size var(--font-size-4xl)
  line-height 1.25
$font-4xl-medium()
  font-size var(--font-size-4xl)
  font-weight 500
  line-height 1.25
$font-4xl-bold()
  font-size var(--font-size-4xl)
  font-weight 700
  line-height 1.25
$font-4xl-uppercase()
  font-size var(--font-size-4xl)
  line-height 1.25
  text-transform uppercase
$font-3xl()
  font-size var(--font-size-3xl)
  line-height 1.375
$font-3xl-medium()
  font-size var(--font-size-3xl)
  font-weight 500
  line-height 1.375
$font-3xl-bold()
  font-size var(--font-size-3xl)
  font-weight 700
  line-height 1.375
$font-3xl-uppercase()
  font-size var(--font-size-3xl)
  line-height 1.375
  text-transform uppercase
$font-2xl()
  font-size var(--font-size-2xl)
  line-height 1.5
$font-2xl-medium()
  font-size var(--font-size-2xl)
  font-weight 500
  line-height 1.5
$font-2xl-bold()
  font-size var(--font-size-2xl)
  font-weight 700
  line-height 1.5
$font-2xl-uppercase()
  font-size var(--font-size-2xl)
  line-height 1.5
  text-transform uppercase
$font-xl()
  font-size var(--font-size-xl)
  line-height 1.5
$font-xl-medium()
  font-size var(--font-size-xl)
  font-weight 500
  line-height 1.5
$font-xl-bold()
  font-size var(--font-size-xl)
  font-weight 700
  line-height 1.5
$font-xl-uppercase()
  font-size var(--font-size-xl)
  line-height 1.5
  text-transform uppercase
$font-l()
  font-size var(--font-size-l)
  line-height 1.5
$font-l-medium()
  font-size var(--font-size-l)
  font-weight 500
  line-height 1.5
$font-l-bold()
  font-size var(--font-size-l)
  font-weight 700
  line-height 1.5
$font-l-uppercase()
  font-size var(--font-size-l)
  font-weight 500
  line-height 1.5
  text-transform uppercase
$font-m()
  font-size var(--font-size-m)
  line-height 1.5
$font-m-medium()
  font-size var(--font-size-m)
  font-weight 500
  line-height 1.5
$font-m-bold()
  font-size var(--font-size-m)
  font-weight 700
  line-height 1.5
$font-m-uppercase()
  font-size var(--font-size-m)
  font-weight 500
  line-height 1.5
  text-transform uppercase
$font-s()
  font-size var(--font-size-s)
  line-height 1.5
$font-s-medium()
  font-size var(--font-size-s)
  font-weight 500
  line-height 1.5
$font-s-bold()
  font-size var(--font-size-s)
  font-weight 700
  line-height 1.5
$font-s-uppercase()
  font-size var(--font-size-s)
  line-height 1.5
  text-transform uppercase
$font-xs()
  font-size var(--font-size-xs)
  line-height 1.5
$font-xs-medium()
  font-size var(--font-size-xs)
  font-weight 500
  line-height 1.5
$font-xs-bold()
  font-size var(--font-size-xs)
  font-weight 700
  line-height 1.5
$font-xs-uppercase()
  font-size var(--font-size-xs)
  line-height 1.5
  text-transform uppercase
