:root
  --base-padding @css{ min(20px, 2.5vw) }
  --gap calc(var(--base-padding) * 2)
  --content-width 1440px
  --header-height 90px

  --font-size-6xl 50px
  --font-size-5xl 40px
  --font-size-4xl 32px
  --font-size-3xl 28px
  --font-size-2xl 24px
  --font-size-xl 20px
  --font-size-l 18px
  --font-size-m 16px
  --font-size-s 14px
  --font-size-xs 12px
