:root
  --color-black #1e1e1e
  --color-white #ffffff
  --color-text var(--color-black)
  --color-text-secondary #707070
  --color-text-inverted #eeeeee
  --color-text-secondary-inverted rgba(238, 238, 238, .75)
  --color-background var(--color-white)
  --color-mark #045658
  --color-mark-medium #B1C8C0
  --color-mark-light #F5F8F6
  --color-mark-secondary #F2D4B8
  --color-warning #de7B7B
  --color-hover #568786
  --color-locked #cccccc
  --color-locked-inverted rgba(204, 204, 204, .5)
  --color-strong var(--color-mark)
  --color-border var(--color-text)
  --color-link var(--color-mark)
  --color-link-hover var(--color-hover)

  --gradient-to-top linear-gradient(#a0bfc0, transparent);
  --gradient-to-bottom linear-gradient(transparent, #a0bfc0);
  --gradient-dark linear-gradient(var(--color-mark), #a0bfc0);

  --border 1px solid var(--color-border)

  --border-radius-s 4px
  --border-radius-m 16px
  --border-radius-l 40px
  --border-radius-xl 104px
  --border-radius-50 100vmax

  --transition-duration-in .1s
  --transition-duration-out .4s

  --blur-1 blur(6px)
  --blur-2 blur(12px)
  --blur-3 blur(24px)
  --blur-4 blur(48px)
