.banner-price-transplantation
  html:not(.accessibility-mode) &.page-section--background-color--dark
    background-color var(--color-hover)
  .content
    display grid
    +media-max(s)
      padding-inline var(--gap)
  &__table
    margin-top 24px
    +media(m)
      margin-top 52px
    +media(l)
      margin-top 80px
  &__button
    justify-self center
