include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content
include /blocks/link-icon/link-icon

mixin footerContacts
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }).footer-contacts&attributes(attributes): +content.footer-contacts__inner
    +h2.footer-contacts__title контакты
    .footer-contacts__info
      p.footer-contacts__p Клиника эстетической медицины#[br]и цифровой стоматологии MEDALL
      p.footer-contacts__p +7 (812) 603-02-01#[br]admin@medall.clinic
      p.footer-contacts__p Режим работы: ежедневно, 09:00–21:00#[br]Левашовский пр., д.24, 500 м от ст. Чкаловская
    +grid({ alignItems:'flex-end' }).footer-contacts__socials
      -
        const icons = [
          { name: 'vk', href: 'https://vk.com/medall.clinic' },
          { name: 'telegram', href: 'https://t.me/medall_clinic' },
          { name: 'instagram', href: 'https://instagram.com/medall.clinic' },
          { name: 'zen', href: 'https://dzen.ru/id/62569cf18d98716e46246d00' },
        ]
      each icon in icons
        +linkIcon({ icon: icon.name })(href= icon.href)
    .footer-contacts__image
    .footer-contacts__clarification * Социальная сеть Instagram запрещена на территории РФ.
