.footer-contacts
  overflow hidden
  &__inner
    display grid
    grid-template-areas 'header header' 'info image' 'socials socials' 'clarification clarification'
    grid-template-columns repeat(2, 1fr)
    grid-auto-rows min-content
    grid-column-gap var(--gap)
    +media(s)
      grid-template-areas 'header header' 'info image' 'socials image' 'clarification clarification'
  &__title
    grid-area header
    text-align center
    +media-max(s)
      margin-bottom 19px
  &__info
    grid-area info
    +media(s)
      margin-top 64px
    +media(m)
      margin-top 112px
  &__p
    +media(m)
      $font-xl()
    & + &
      margin-top 17px
      +media(s)
        margin-top 28px
      +media(m)
        margin-top 48px
  &__image
    position relative
    grid-area image
    +before()
      $background(footer-contacts__image)
      position absolute
      top 0
      left 0
      height 100%
      aspect-ratio 1.933497536945813
      +media(s)
        height @css{ min(39.75vw, 636px) }
  &__socials
    grid-area socials
    margin-top 34px
    +media(m)
      margin-top 98px
    +media-max(s)
      justify-self center
  &__clarification
    grid-area clarification
    margin-top var(--gap)
    +media(s)
      $font-s()
  .accessibility-mode &
    &__inner
      grid-template-columns auto
      grid-template-areas 'header' 'info' 'socials'
    &__info
      display grid
      gap var(--gap)
      grid-template-columns auto
      +media(s)
        grid-template-columns repeat(2, 1fr)
      +media(m)
        grid-template-columns repeat(3, 1fr)
    &__image
      display none
.accessibility-mode .footer-contacts__p + .footer-contacts__p
  margin-top 0
