include /blocks/page-section/page-section

mixin bannerTaxiTransplantation
  +pageSection({ backgroundColor: [true, 'dark'], noContent: true }).banner-taxi-transplantation
    .content.banner-taxi-transplantation__inner
      .banner-taxi-transplantation__title БИЗНЕС-ТАКСИ ДО ДОМА И ПОДАРОК ПРИ ВЫПИСКЕ
      .banner-taxi-transplantation__info После выписки ваш персональный куратор бесплатно закажет такси бизнес-класса до выбранного адреса. А также проводит до автомобиля и поможет комфортно разместиться в нём. При чеке на операцию свыше 250 000 рублей мы подарим вам фирменную толстовку!
      +button({ tag: 'a' })(href='#contacts-form').banner-taxi-transplantation__button Записаться на приём
    +img({
      name: 'banner-taxi',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
      ]
    }).banner-taxi-transplantation__image
