.banner-taxi-transplantation
  display grid
  grid-template-columns 1fr
  justify-items center
  padding 0
  +media-max(s)
    align-items start
  &__inner 
    grid-column 1/-1
    grid-row 1/-1
    display flex
    flex-direction column
    z-index 1
    +media-max(s)
      align-items center
      height 100%
  &__image
    grid-column 1/-1
    grid-row 1/-1
    width 100%
    max-width none
    max-height 790px
    object-fit cover
    object-position center top
  &__title
    +media-max(s)
      padding-top 26px
      $font-l-uppercase()
      text-align center
    +media(s)
      max-width @css{ min( 100%, calc(var(--content-width) / 2.5) ) }
      margin-bottom 30px
      $font-2xl-uppercase()
    +media(m)
      max-width @css{ min( 100%, calc(var(--content-width) / 2) ) }
      $font-5xl-uppercase()
  &__info
    +media-max(s)
      padding-y var(--gap)
      text-align center
    +media(s)
      max-width @css{ min( 100%, calc(var(--content-width) / 2.5) ) }
      margin-bottom 30px
      padding-right var(--gap)
    +media(m)
      max-width @css{ min( 100%, calc(var(--content-width) / 2) ) }
      $font-xl()
  &__button
    +media-max(s)
      margin auto 0 40px
