:root
  --page-subsection-margin-top var(--page-subsection-margin-top-xs)
  --page-subsection-margin-top-xs 20px
  --page-subsection-margin-top-s 38px
  --page-subsection-margin-top-m 50px

  +media(s)
    --page-subsection-margin-top var(--page-subsection-margin-top-s)

  +media(m)
    --page-subsection-margin-top var(--page-subsection-margin-top-m)
.page-subsection
  & + &
    margin-top var(--page-subsection-margin-top)
  / :is(h1, .h1):not(&) + &
  / :is(h2, .h2):not(&) + &
    margin-top calc(var(--page-subsection-margin-top) / 2)
  & + &
    &--margin--small
      margin-top calc(var(--page-subsection-margin-top) / 2)
.page-subsection + :is(h1, .h1, h2, .h2, h3, .h3)
    margin-top 1.25em
