.home-feedback
  content-visibility auto
  contain-intrinsic-size 800px
  html:not(.accessibility-mode) &--gynecology.page-section
    +media(m)
      --color-text var(--color-text-inverted)
      --color-text-secondary var(--color-text-secondary-inverted)
      --color-strong var(--color-mark-light)
      --button-color var(--color-mark)
      --button-color-disabled var(--color-mark)
      --button-color-secondary var(--color-white)
      --button-color-secondary-disabled var(--color-locked-inverted)
      --button-background-color var(--color-white)
      --button-background-color-hover var(--color-mark-medium)
      --button-background-color-disabled var(--color-locked-inverted)
      --button-background-color-secondary transparent
      --button-background-color-secondary-hover var(--color-hover)
      --button-background-color-secondary-disabled transparent
      --button-border-color var(--button-background-color)
      --button-border-color-hover var(--button-background-color-hover)
      --button-border-color-disabled var(--color-locked-inverted)
      --link-color var(--color-text-inverted)
      --link-color-hover var(--color-mark-medium)
      --h1-color var(--color-white)
      --h2-color var(--color-white)
      --h3-color var(--color-white)
      --h4-color var(--color-white)
      --list-unordered-item-before-border-color var(--color-white)
      --block-icon-background-color var(--color-white)
      --slider-pagination-item-background-color var(--color-white)
      --border 1px solid var(--color-white)
      --text-marked-color var(--color-text-inverted)

      --strong-font-weight 500

      color var(--color-text)
      background-color var(--color-mark)
      .slider__arrow
        --arrow-color var(--color-text-inverted)
  html:not(.accessibility-mode) &--transplantation.page-section
  html:not(.accessibility-mode) &--phlebology.page-section
    --color-text var(--color-text-inverted)
    --color-text-secondary var(--color-text-secondary-inverted)
    --color-strong var(--color-mark-light)
    --button-color var(--color-mark)
    --button-color-disabled var(--color-mark)
    --button-color-secondary var(--color-white)
    --button-color-secondary-disabled var(--color-locked-inverted)
    --button-background-color var(--color-white)
    --button-background-color-hover var(--color-mark-medium)
    --button-background-color-disabled var(--color-locked-inverted)
    --button-background-color-secondary transparent
    --button-background-color-secondary-hover var(--color-hover)
    --button-background-color-secondary-disabled transparent
    --button-border-color var(--button-background-color)
    --button-border-color-hover var(--button-background-color-hover)
    --button-border-color-disabled var(--color-locked-inverted)
    --link-color var(--color-text-inverted)
    --link-color-hover var(--color-mark-medium)
    --h1-color var(--color-white)
    --h2-color var(--color-white)
    --h3-color var(--color-white)
    --h4-color var(--color-white)
    --list-unordered-item-before-border-color var(--color-white)
    --block-icon-background-color var(--color-white)
    --slider-pagination-item-background-color var(--color-white)
    --border 1px solid var(--color-white)
    --text-marked-color var(--color-text-inverted)

    --strong-font-weight 500

    color var(--color-text)
    background-color var(--color-mark)
    .slider__arrow
      --arrow-color var(--color-text-inverted)
  html:not(.accessibility-mode) &--phlebology.page-section
    background-color var(--color-hover)
  &__slide.slide
    position relative
    isolation isolate
    display flex
    align-items center
    padding var(--gap)
    text-align center
    border 1px solid
    border-radius var(--border-radius-m)
    +media-max(s)
      -webkit-text-size-adjust 100%
    +media(m)
      $font-xl()
    +before()
      mask(quote, main)
      position absolute
      top var(--gap)
      left var(--gap)
      z-index -1
      width 86px
      height 61px
      background-color var(--color-mark-medium)
      opacity .3
      +media(s)
        width 119px
        height 85px
      +media(m)
        width 140px
        height 99px
  .slider
    --swiper-pagination-color var(--color-mark)
    --swiper-pagination-bullet-inactive-color var(--color-mark)
    --swiper-pagination-bullet-inactive-opacity .3
    +media(s)
      padding-bottom calc(var(--arrow-size) + var(--base-padding))
    &__wrapper
      display grid
      grid-auto-flow column
    &__pagination
      display block
      margin-x auto
      translate 50% 0
      +media(s)
        display none
    &__arrow
      top auto
      bottom 0
      transform none
      +media-max(s)
        display none
      &--prev
        --arrow-before-rotate 180deg
        right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
        left auto
      &--next
        --arrow-before-rotate 0
        left calc(@css{ min(100vw, var(--content-width)) } / 2)
        right auto
      &::before
        mask(arrow)
        height 24px
  html:not(.accessibility-mode) &
    --color-text var(--color-mark)
  .accessibility-mode &
    --color-text var(--color-text)
    &__title
      position relative
      height auto
      margin-bottom var(--page-subsection-margin-top)
      color var(--color-text)
      &::before
        content none
    &__slide
      width 100%
      &::before
        content none
      &:nth-child(n+6)
        display none
    .slider__wrapper
      display grid
      gap var(--page-subsection-margin-top)
      grid-template-columns auto
      justify-items center
      grid-auto-flow row
    .slider__arrow
      display none
  &__button
    margin var(--gap) auto 0
