include /blocks/page-section/page-section

mixin bannerMessageGynecology
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).banner-message-gynecology: +content.banner-message-gynecology__inner
    +h2.page-section__title.banner-message-gynecology__title.text-align-center от первого лица
    .banner-message-gynecology__info Эстетическая гинекология — самое деликатное, приватное и негламурное направление эстетической медицины. Это определённо не та тема, о которой легко и непринуждённо щебечут за воскресным бранчем, но очевидно та, которая волнует каждую женщину! Эстетическая гинекология позволяет долго оставаться в форме, быть молодой, красивой и без опасений наслаждаться жизнью, в том числе её сексуальным аспектом. Мы помогаем женщине увидеть и принять себя в каждой из своих ипостасей, обрести гармонию со своей природной сущностью, как можно ближе подойти к совершенству и быть идеальной и в юности, и в зрелости.
    .banner-message-gynecology__name Руководитель направления эстетической медицины, к.м.н., врач УЗД, врач акушер-гинеколог, врач-дерматовенеролог, врач-косметолог, Мяделец Ирина Александровна
    +img({
      name: 'banner-message-gynecology',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).banner-message-gynecology__image
