.banner-message-gynecology
  padding-bottom 0
  &__inner
    isolation isolate
    display grid
    grid-template-rows repeat(2, auto) 40px auto
    grid-template-columns repeat(3, 1fr)
    gap var(--gap)
    +media-max(s)
      padding-inline 0
    +media(s)
      grid-template-columns 6fr 1fr 4fr
      grid-template-rows auto min-content auto
      gap var(--base-padding) var(--gap)
    +media(m)
      grid-template-rows 1fr min-content 1fr
      grid-template-columns 6fr 1fr 5fr
  &__title
    grid-column 1/-1
    +media(s)
      grid-column 1/-1
      grid-row 1/2
      margin-bottom var(--base-padding)
    +media(m)
      margin-bottom var(--gap)
  &__info
    position relative
    grid-column 1/-1
    grid-row 2/4
    padding var(--gap)
    text-align center
    color var(--color-mark)
    border 1px solid var(--color-mark)
    border-radius var(--border-radius-m)
    +media-max(s)
      margin-inline var(--gap)
    +media(s)
      grid-row 2/3
      align-self start
    +media(m)
      grid-column 1/3
    +media-interval(s, m)
      grid-column 1/3
    +before()
      mask(quote, main)
      position absolute
      top var(--base-padding)
      left var(--base-padding)
      z-index -1
      width 86px
      height 61px
      background-color var(--color-mark-medium)
      opacity .6
      +media(s)
        width 119px
        height 85px
      +media(m)
        width 140px
        height 99px
  &__image
    z-index 2
    grid-column 1/3
    grid-row 3/5
    justify-self start
    +media(s)
      grid-column 2/-1
      grid-row 1/-1
      justify-self end
      align-self end
  &__name
    grid-column 2/4
    grid-row 4/5
    justify-self start
    align-self start
    color var(--color-mark)
    +media-max(s)
      margin-left calc(var(--gap) * 2)
      padding-right var(--gap)
      text-align right
    +media(s)
      grid-column 1/2
      grid-row -2/-1
      justify-self start
      align-self start
      max-width 340px
    +media(m)
      max-width 512px
    +before()
      +media-max(s)
        display block
        width 40px
        height 175px
        float left
        shape-outside polygon(0 0, 0 100%, 100% 100%, 100% 75%, 0 50%)
  .accessibility-mode &
    background-image none
    &__name
      display none
    &__info
      padding 0
      text-align left
      color var(--color-text)
      border none
      +before()
        content none
