:root
  --page-section-margin-top 70px
  +media(s)
    --page-section-margin-top 80px
.discounts-section
  position relative
  .discounts-header + &
    margin-top 21px
    +media(s)
      margin-top 48px
    +media(m)
      margin-top 70px
  &__title
    padding-inline 20px
  &::before
    content ''
    position absolute
    bottom 20px
    left 50%
    width 40px
    height 40px
    border 3px solid var(--color-mark)
    border-radius var(--border-radius-50)
    translate -50% calc(100% + 40px)
    +media-max(s)
      bottom 24px
  &::after  
    content ''
    position absolute
    bottom 20px
    left 50%
    width 24px
    height 9px
    background-color var(--color-mark)
    translate -50% calc(100% + 56px)
    mask(drop-down)
    +media-max(s)
      bottom 24px
  .accessibility-mode &
    &::before
    &::after
      content none
