include /blocks/page-section/page-section

mixin discountsSection(title = '')

  +pageSection({ empty: true }).discounts-section&attributes(attributes)
    +h2.discounts-subtitle.discounts-section__title !{title}
    block
