:root
  --list-unordered-item-before-border-color var(--color-mark)

.accessibility-mode
  --list-unordered-item-before-border-color var(--color-text)

.list-unordered
  &__item
    &::before
      position relative
      left 0
      content ''
      display inline-block
      width 10px
      height 10px
      margin-right 10px
      border var(--border)
      border-color var(--list-unordered-item-before-border-color)
      border-radius 50%
      +media(s)
        margin-right 16px
        margin-bottom 1px
ul:not([class]) > li:not([class])
    @extends .list-unordered__item
