.list-unordered
  list-style none
  / :is(p:not([class]), .p) + &--w-prev-p
    margin-top .25em
.list-unordered__item
  & + &
    margin-top .25em
ul:not([class])
  pushPar(selector())
  // & > li:not([class])
  //   padding-left 43px
  & > li:not([class]) + li:not([class])
    margin-top .25em
