mixin ul(settings = {})

  -
    listType = 'list-unordered'
    const size = settings.size || undefined
    delete settings.size

  +p({ tag: 'ul', size })(class=classes('list-unordered', settings))
    block
