.banner-plastics-gift-new
  display grid
  grid-template-columns 20px auto 20px
  grid-template-rows 26px min-content 1fr 245px auto 
  justify-items center
  align-items start
  padding 0
  max-height 955px
  +media(s)
    grid-template-columns 1fr repeat(2, @css{ min(calc(var(--content-width)/2), 50% - var(--gap)) }) 1fr
    grid-template-rows 182px min-content 1fr auto 163px
    justify-items start
  +media(m)
    grid-template-rows 305px min-content auto 1fr 171px
  &__title
    grid-column 2/3
    grid-row 2/3
    +media-max(s)
      text-align center
  &__description
    grid-column 2/3
    grid-row 3/4
    margin-block 20px
    +media(s)
      $font-m()
    +media(m)
      margin-top 50px
      margin-bottom 30px
      $font-xl()
  &__image
    grid-column 1/-1
    grid-row 1/-1
    width 100%
    height 100%
    object-fit cover
    object-position center top
  &__button
    grid-column 2/3
    grid-row 5/6
    margin-bottom 34px
    +media(s)
      grid-row 4/5
  .accessibility-mode &
    &__image
      display none
