.banner-plastics-gift
  isolation isolate
  +media-max(s)
    text-align center
  &::after
    +media-max(s)
      display none
  &__inner
    position relative
    display grid
    +media-max(s)
      justify-items center
      gap 24px
    +media(s)
      grid-template-areas 'title images' 'description images' '. images'
      grid-template-columns repeat(2, 1fr)
      grid-template-rows 1fr auto 1fr
      gap var(--gap)
  &__title
    +media-max(s)
      order 1
    +media(s)
      grid-area title
      align-self end
  &__description
    +media-max(s)
      order 3
    +media(s)
      grid-area description
  &__button
    align-self flex-start
    +media-max(s)
      order 4
  &__images
    display grid
    +media-max(s)
      order 2
      grid-template-columns repeat(2, 1fr)
      gap var(--gap)
    +media(s)
      grid-area images
      display grid
      grid-template-columns 4fr 3fr 6fr
      grid-template-rows 4fr 3fr 6fr
  &__image
    &--1
      +media(s)
        grid-column 1/3
        grid-row 1/3
    &--2
      +media(s)
        grid-column 2/4
        grid-row 2/4
  .accessibility-mode &
    &__inner
      +media(s)
        grid-template-rows auto auto auto
    &__images
      +media(s)
        grid-template-columns repeat(2, 1fr)
      grid-template-rows auto auto
    &__image
      &--1
        +media(s)
          grid-column 1
          grid-row 1
      &--2
        +media(s)
          grid-column 2
          grid-row 1
