include /blocks/page-section/page-section

mixin bannerPlasticsGift(settings = {})
  +pageSection({ backgroundColor: [true, settings.backgroundColor || 'dark'], noContent: true, logo: [true, 'left'] }).banner-plastics-gift: +content.banner-plastics-gift__inner
    +h2.banner-plastics-gift__title Подарок при выписке
    p.banner-plastics-gift__description MEDALL всегда готов на большее ради своих пациентов! Мы разработали классный брендовый мерч, который будем дарить Вам при выписке всё лето!
    +button({ tag: 'a' })(href='/merch/').banner-plastics-gift__button Узнать подробнее
    .banner-plastics-gift__images
      each i in [1, 2]
        +img({
          name: `banner-plastics-gift-${i}`,
          path: '/images/category/plastic/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] }
          ],
        })(class=`banner-plastics-gift__image banner-plastics-gift__image--${i}` alt='')
