include /blocks/page-section/page-section

mixin bannerPlasticsGiftNew
  +pageSection({ backgroundColor: [true, 'dark'], noContent: true }).banner-plastics-gift-new
    +img({
      name: 'banner-plastics-gift-new',
      path: '/images/category/plastic/',
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
        { name: 'l', values: [ 1, 2 ] },
      ],
    }).banner-plastics-gift-new__image(alt='Подарок при выписке')
    +h2.banner-plastics-gift-new__title Подарок при выписке
    .banner-plastics-gift-new__description MEDALL всегда готов на большее ради своих пациентов! Мы разработали классный брендовый мерч, который будем дарить Вам при выписке. 
    a(href='/merch/').button.banner-plastics-gift-new__button Подробнее
