mixin landingSequence(list)

  +grid({ noGap: true, 'tag': 'ol' }).landing-sequence&attributes(attributes)
    each item in list
      +cell({ m: 6, s: 6, xs: 12, 'tag': 'li' }).landing-sequence__item
        +img({
          name: item.image,
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
        }).landing-sequence__image 
        if item.name
          .landing-sequence__name !{item.name}
        .landing-sequence__description: +createElement(item.desc)
