.landing-sequence
  list-style none
  counter-reset sequence
  &__item
    display flex
    flex-direction column
    counter-increment sequence
    text-align center
    @media (max-width point-s - 1)
      & + .landing-sequence__item
        margin-top 36px
    +media(s)
      text-align left
      &:nth-of-type(2n - 1)
        padding-right var(--base-padding)
      &:nth-of-type(2n)
        padding-left 19px
        border-left 1px var(--color-mark) solid
        & ^[-2]__name::before
          content none
        & ^[-2]__name::after
          left -20px
      &:nth-of-type(4n)
      &:nth-of-type(4n - 1)
        .landing-sequence__image
          order 5
          margin-top 29px
      &:not(:nth-of-type(1)):not(:nth-of-type(2))
        padding-top 60px
      &::before
        content '0'counter(sequence)
        order 2
        font-size 60px
        line-height 74px
        color var(--color-mark)
        @media (max-width point-s - 1)
          font-size 28px
          line-height 28px
  &__image
    order 1
    display block
    width 100%
    border-radius var(--border-radius-l)
    @media (max-width point-s - 1)
      order 5
      margin-top 20px
  &__name
    position relative
    order 3
    padding-top 13px
    $font-m()
    font-weight 500
    text-transform uppercase
    +media(s)
      $font-2xl()
      &::before
        content ''
        position absolute
        top -11px
        right -31px
        width 22px
        height 22px
        background-color var(--color-mark)
        border-radius 11px
      &::after
        content ''
        position absolute
        top 0
        left 0
        width calc(100% + 20px)
        height 1px
        background-color var(--color-mark)
    +media(m)
      $font-4xl()
  &__description
    order 4
    margin-top 13px
    line-heith 1.5
  .accessibility-mode &
    &__item
      display grid
      grid-template-columns @css{ min(100%, var(--content-width) / 3 * 2) }
      justify-content center
      width 100%
      padding 0
      border-left none
      & + .landing-sequence__item
        margin-top var(--gap)
      &::before
        color var(--color-text)
    &__name
      +media(s)
        &::before
        &::after
          content none
    &__image
      order 5 !important
      margin-top var(--gap)
      border-radius 0
