include /blocks/label/label

mixin formInput(item)
	-
		let inputClass = [
			item.type ? `form-input--${item.type}` : '',
			item.type === 'text' && item.options ? 'form-input--options' : '',
			item.disabled ? `form-input--disabled` : '',
			item.error ? `form-input--error` : '',
			item.secondary ? `form-input--secondary` : '',
			attributes.class,
		]
		const placeholder = item.type === 'select' ? item.placeholder : undefined;
	#{item.type !== 'select' ? 'label' : 'div'}.form-input(class != inputClass)
		-
			const tag = item.type === 'select' || item.type === 'textarea' ? item.type : 'input'
			const inputType = item.type !== 'select' && item.type !== 'textarea' ? item.type : false
			const options = []
			if (item.options) {
				for (let option of item.options) {
					const opt = {}
					opt.name = typeof option === 'string' ? option : option.name
					opt.value = typeof option === 'string' ? option : option.value
					opt.selected = option?.selected
					options.push(opt)
				}
			}
			const input = {
				type: inputType,
				name: item.name,
				id: item.id,
				class: 'form-input__field',
				required: item.required,
				placeholder: item.type !== 'select' ? item.placeholder : undefined,
				readonly: item.readonly,
				maxlength: item.maxlength,
				minlength: item.minlength,
				value: item.value,
				disabled: item.disabled,
				checked: item.checked,
			}
		if (item.type === 'select' && options.length)
			#{tag}&attributes(input)
				if placeholder
					option(value='' label= placeholder)
				if options.length
					each option in options
						option(value= option.value selected= option.selected) !{option.name}
		else if (item.type === 'textarea')
			textarea&attributes(input): block
		else
			input&attributes(input)
		if (item.type !== 'select' && options.length)
			span.form-input__options
				each option in options
					span.form-input__option !{option.name}
		if item.label
			+label.form-input__label !{item.label}
		if placeholder && item.type !== 'select'
			span.form-input__placeholder !{placeholder}
		if item.error
			span.form-input__error С ошибкой
