:root
  --form-field-input-color var(--color-mark)
  --form-field-input-background-color var(--color-mark-light)
  --form-field-input-background-color-secondary var(--color-background)
  --form-field-input-border-color var(--color-mark-light)
  --form-field-input-border-color-secondary var(--color-mark-medium)
  --form-field-input-border-color-focus var(--color-mark) var(--color-mark) var(--color-mark) var(--color-mark)
  --form-field-input-border-color-error var(--color-warning)
  --form-field-input-border-radius var(--border-radius-m)
  --form-field-input-placeholder-color var(--color-text-secondary)
  --form-field-input-disabled-color var(--color-locked)
  --form-field-input-disabled-background-color var(--color-background)
  --form-field-input-disabled-border-color var(--color-locked)
  --form-field-options-transition-duration var(--transition-duration-out)
  --form-field-label-display block
  --form-field-select-button-before-background-color var(--color-mark)
  --form-field-select-button-after-scale 1
  --form-field-options-opacity 0
  --form-field-options-pointer-events none
  --form-field-placeholder-opacity 0
  --form-field-error-color var(--color-warning)
  --form-field-error-background-color var(--color-background)
.accessibility-mode &
  --form-field-input-color var(--color-text)
  --form-field-input-background-color var(--color-background)
  --form-field-input-background-color-secondary var(--color-background)
  --form-field-input-border-color var(--color-text)
  --form-field-input-border-color-secondary var(--color-text)
  --form-field-input-border-color-focus var(--color-text)
  --form-field-input-border-color-error var(--color-text)
  --form-field-input-placeholder-color var(--color-text)
.form-input
  position relative
  isolation isolate
  display block
  &--secondary
    --form-field-input-background-color var(--form-field-input-background-color-secondary)
    --form-field-input-border-color var(--form-field-input-border-color-secondary)
  &__field
  &__current
    appearance none
    display block
    width 100%
    padding 15px 32px 16px
    line-height 1.3
    font-family inherit
    color var(--form-field-input-color)
    background-color var(--form-field-input-background-color)
    border 1px solid
    border-color var(--form-field-input-border-color)
    border-radius var(--form-field-input-border-radius)
    transition border-radius var(--form-field-options-transition-duration)
    resize none
    &:focus
      outline none
      --form-field-input-border-color var(--form-field-input-border-color-focus)
    &::placeholder
      color var(--form-field-input-placeholder-color)
  &__current
    padding 15px 64px 16px 32px
  &__field[type="search"]
    &::-webkit-search-decoration
    &::-webkit-search-cancel-button
    &::-webkit-search-results-button
    &::-webkit-search-results-decoration
      display none
  &--active
    --form-field-input-border-color var(--color-mark) var(--color-mark) transparent var(--color-mark)
    z-index 2
  &--select
  &--options
    &^[-1]--active
      --form-field-input-border-radius var(--border-radius-m) var(--border-radius-m) 0 0
      --form-field-select-button-after-scale -1
      --options-opacity 1
      --form-field-options-transition-duration var(--transition-duration-in)
      --options-pointer-events auto
      --form-field-placeholder-opacity 1
    &^[-1]--has-value
      --form-field-placeholder-opacity 0
  &--select &__field
    display none
  &--disabled
    --form-field-input-color var(--form-field-input-disabled-color)
    --form-field-input-background-color var(--form-field-input-disabled-background-color)
    --form-field-input-border-color var(--form-field-input-disabled-border-color)
  &--textarea &__field
    min-height 140px
  &--error
    --form-field-input-border-color var(--form-field-input-border-color-error)
  &__options
    position absolute
    bottom 0
    left 0
    z-index 2
    width 100%
    height fit-content
    max-height 138px
    padding-bottom 32px
    background-color var(--form-field-input-background-color)
    border 1px solid var(--color-mark)
    border-top none
    border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
    opacity var(--options-opacity, 0)
    pointer-events var(--options-pointer-events, none)
    translate 0 100%
    transition opacity var(--form-field-options-transition-duration)
    .simplebar-scrollbar
      &::before
        left unset
        width 2px
        background-color var(--color-grade-80)
  &__option
    display block
    padding-x 32px
    color var(--form-field-input-color)
    cursor pointer
    transition color var(--transition-duration-out)
    +hover()
      color var(--color-text)
      transition-duration var(--transition-duration-in)
    & + &
      margin-top 8px
  &__current
    cursor pointer
    &:empty::before
      content '1'
      opacity 0
  &__placeholder
    position absolute
    top 16px
    left 32px
    color var(--form-field-input-placeholder-color)
    opacity var(--form-field-placeholder-opacity)
    pointer-events none
  &--options&--active
    --options-opacity 1
    --options-pointer-events auto

  &__select-button
    appearance none
    position absolute
    top 18px
    right 32px
    display flex
    justify-content flex-end
    align-items center
    width 24px
    height 24px
    padding 0
    background-color transparent
    border none
    &::before
      content ''
      width 24px
      height 9px
      background-color var(--form-field-select-button-before-background-color)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--form-field-select-button-after-scale)
  &__label
    position absolute
    top 14px
    left 32px
    display var(--form-field-label-display)
    pointer-events none
    &--hidden
      --form-field-label-display none
  &__error
    $font-s()
    position absolute
    bottom 0
    left 0
    z-index -1
    width 100%
    padding 2px 32px
    color var(--form-field-error-color)
    background-color var(--form-field-error-background-color)
    border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
    translate 0 100%
  &--checkbox
    display flex
    gap 0.5rem
    align-items center
  &__field[type="checkbox"]
    --form-field-input-border-radius var(--border-radius-s)
    --form-field-input-border-color var(--form-field-input-color)
    position relative
    width 20px
    height 20px
    padding 0
    cursor pointer
    & + ^[0]__label
      position relative
      top 0
      left 0
    +before()
      position absolute
      width 12px
      height 10px
      top 50%
      left 50%
      transform translate(-50%,-50%)
      overflow hidden
    &:checked
      background-color var(--form-field-input-color)
      &::before
        mask-image maskImage(checkbox)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        background-color var(--color-white)
  &--select-search
    position sticky
    top -5px
    margin-top -5px
    ^[0]__select-search-field[type="search"]
      display block
      margin-bottom 12px
      padding-bottom 9px
      padding-top 13px
      padding-left 32px
      font-family inherit
      background-image url(../images/common.svg?v=3#zoom-select)
      background-repeat no-repeat
      background-position left 3px center
      background-size 22px
      background-color var(--color-mark-light)
      border-radius unset
      border none
      border-bottom 1px solid var(--form-field-input-border-color-secondary)
