.banner-check-up
  display grid
  grid-template-columns 20px auto 20px
  grid-template-rows 30px 1fr min-content auto var(--base-padding)
  justify-items center
  align-items start
  max-height 955px
  padding 0
  +media(s)
    grid-template-columns 1fr repeat(2, @css{ min(calc(var(--content-width)/2), 50% - var(--gap)) }) 1fr
    grid-template-rows 46px auto min-content 1fr 46px 
    justify-items start
  +media(m)
    grid-template-rows 100px auto min-content 1fr 100px
  &__title
    grid-column 2/3
    grid-row 2/3
    color var(--color-white)
    text-align center
    +media(s)
      grid-column 2/3
      text-align left
  &__image
    grid-column 1/-1
    grid-row 1/3
    width 100%
    height 100%
    object-fit cover
    object-position center
    +media(s)
      grid-column 1/-1
      grid-row 1/-1
  &__info
    position relative
    grid-column 2/3
    grid-row 3/4
    padding-top 20px
    text-align center
    *
      color var(--color-mark)
      +media(s)
        color var(--color-white)
    p 
      +media(m)
        $font-xl()
    +media(s)
      grid-column 2/3
      text-align left
    +media-max(s)
      +before()
        mask(logo-simple)
        position absolute
        top 50%
        left 50%
        z-index 0
        width 441px
        aspect-ratio 260/83
        background-color var(--color-mark-medium)
        opacity 0.3
        translate -48% -50%
  &__button
    grid-column 2/3
    grid-row 4/5
    margin-top var(--gap)
    +media(s)
      --button-color var(--color-mark)
      --button-background-color var(--color-white)
      grid-column 2/3
      margin-top var(--base-padding)
      border none
      +hover()
        --button-background-color var(--color-mark-medium)
  .accessibility-mode &
    &__title
      color var(--color-text)
    &__info
      *
        color var(--color-text)
      +media-max(s)
        &::before
          content none
    &__image
      display none
    &__button 
      --button-color var(--color-background)
      --button-background-color var(--color-text)
