mixin bannerCheckUp
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).banner-check-up
    +img({
      name: 'banner-check-up',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).banner-check-up__image
    +h2.page-section__title.banner-check-up__title СТОМАТОЛОГИЧЕСКИЙ CHECK_UP
    .banner-check-up__info 
      p Полный стоматологический Check-up — комплексное профилактическое обследование полости рта. Процедуру рекомендуется проходить для предупреждения и диагностики заболеваний на раннем этапе развития. Тогда их лечение будет менее болезненным и дорогим. 
      p В клинике Medall стоматологический Check-up включает разностороннее обследование с применением цифровых технологий и консультации профильных специалистов, имеющих многолетний опыт работы и высокую квалификацию. В комплексе эти факторы позволяют выявить любые нарушения на начальной стадии и своевременно их устранить. Процедура абсолютно безболезненная, процесс может корректироваться в соответствии с пожеланиями пациента.
    +button({ tag: 'a' })(href='#').banner-check-up__button Подробнее
