.banner-result-lipomodelling
  $font-5xl()
  position relative
  overflow hidden
  text-align left
  text-transform none
  color var(--color-mark)
  +media-max(l)
    $font-3xl()
    min-height 656px
    color #fff
  &::after
     +media(l)
      content ''
      position absolute
      top 0
      right 0
      height 100%
      aspect-ratio 355/470
      background-image url(../images/banner-lipomodelling.webp)
      background-repeat no-repeat
      background-position right
      background-size auto 100%
     +media-max(l)
      content ''
      position absolute
      top 0
      right 0
      width 320px
      height 656px
      background-image url(../images/banner-lipomodelling-mobile.webp)
      background-repeat no-repeat
      background-position right
      background-size auto 100%
  &::before
    content ''
    position absolute
    top 50%
    right 0
    width 902px
    height 902px
    background-color #568786
    border-radius 50%
    transform translate(43.237250%, -50%)
     +media-max(l)
      top 0
      left 0
      z-index -1
      width 516px
      height 516px
      transform translate(-15%, -15%)
  &__info
    display flex
    align-items center
    width 100%
    max-width 580px
    min-height 470px
    padding-y basePadding
     +media-max(l)
      max-width 192px
      min-height unset
  .accessibility-mode &
    color var(--color-text)
    &::after
    &::before
      content none
    &__info
      min-height 0
      margin-inline auto
      text-align center
