.article
  &__header
    display flex
    align-items center
    flex-direction column
    row-gap var(--gap)
  &__header-top
    display flex
    align-items center
    flex-wrap wrap
    justify-content space-between
    width 100%
    gap 1rem
  &__author
    display flex
    gap 0.5rem
    align-items center
  &__author-image
    border-radius 50%
    width 3.75rem
    height 3.75rem
    object-fit cover
    object-position top
    aspect-ratio 1 / 1
  &__author-name
    $font-l()
    font-weight 500
  &__date
    $font-l()
    font-weight 500
    color var(--color-mark)
    text-align right
  &__image
    margin-bottom var(--gap)
    display flex
    justify-content center
    align-items center
    width 100%
    max-height 500px
    padding-bottom 1rem
    object-fit cover
  &__aside-title
    $font-2xl()
  &__aside
    padding 2.5rem
    background-color var(--color-mark-light)
  &__inner
    +media(m)
      padding-right var(--gap)
  &__footer
    display flex
    justify-content space-between
    margin-top var(--gap)
  &__back
    display flex
    align-items center
    gap 0.5rem
    +before()
      display block
      width: 12px;
      height: 12px;
      background-color var(--color-mark)
      rotate 180deg
      transition opacity var(--header-navigation-item-after-opacity-transition-duration)
      mask-image maskImage(arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  .accessibility-mode &
    &__date
      color var(--color-text)
    &__aside
      background-color transparent
