mixin questionsList(questions)
  +container.questions-list: +content(class= grid())
    +cell({ xs: 12 })
      +pageSubsection
        each item in questions
          .questions-list__item&attributes(attributes)
            .questions-list__name !{item.name}
            .questions-list__body
              +createElement(item.body)
      .questions-list__sources
        a(href='#').questions-list__sources-name Источники
        ul.questions-list__sources-list
          li.questions-list__sources-item Источник 1
          li.questions-list__sources-item Источник 1
          li.questions-list__sources-item Источник 1
