.questions-list
  --body-display none
  --color-text var(--color-text-inverted)
  --questions-list-svg-after-scale 1
  background-color var(--color-mark)
  &__item
    display flex
    flex-direction column
    align-items center
    cursor pointer
    +media-max(s)
      & + &
        margin-top 15px
    +media(s)
      align-items flex-start
      border-bottom 1px solid var(--color-white)
    &--active
      --body-display block
      --questions-list-svg-after-scale -1
  &__name
    position relative
    display flex
    flex-direction column
    row-gap 12px
    width 100%
    padding-top 10px
    +after()
      display block
      width 20px
      height 6px
      background-color var(--color-white)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--questions-list-svg-after-scale)
      +media-max(s)
        margin 0 auto
    +media(s)
      flex-direction row
      align-items center
      justify-content space-between
      padding-block 20px
  &__body
    display var(--body-display)
    +media-max(s)
      padding 20px 0
    +media(s)
      padding 0 0 20px
  &__sources
    display grid
    grid-template-rows min-content 0fr
    margin-top 44px
    transition-property grid-template-rows
    transition-duration var(--transition-duration-out)
    &--active
      grid-template-rows min-content 1fr
      transition-duration var(--transition-duration-in)
    +media(s)
      justify-items start
      margin-top 45px
  &__sources-name
    --link-color var(--color-white)
    margin-bottom 0.5rem
    $font-m()
    font-weight 500
    text-transform uppercase
    cursor pointer
    +media(s)
      $font-l()
    +media(m)
      $font-xl()
  &__sources-list
    display flex
    flex-direction column
    row-gap 0.5em
    overflow hidden
  &__sources-item
    display flex
    +before()
      display inline-block
      width 10px
      height 10px
      flex-shrink 0
      margin-top 5px
      margin-right 10px
      border var(--border)
      border-color var(--list-unordered-item-before-border-color)
      border-radius 50%
      +media(s)
        margin-right 16px
        margin-top 7px
  .accessibility-mode &
    --color-text var(--color-text)
    background-color transparent
    &__body
      display block
