.discounts-form
  display flex
  flex-direction column
  &__field
    & + &
      margin-top 30px
    ^[-1]__description + &
      margin-top var(--gap)
  &__description
    text-align center
    .discounts-subtitle + &
      margin-top 40px
  &__agreement
    margin-top 10px
    text-align center
  &__submit
    align-self center
    margin-top 24px
