.header-services
  +media-max(m)
    display none
  html:not(.accessibility-mode) &
    margin-top 116px
  &__list
    $font-s()
    display flex
    justify-content space-between
    &--sub
      position absolute
  &__item
    text-transform uppercase
    &:not(^[0]__item--sub)
      padding-bottom 0.75rem
  .accessibility-mode &
    display none
