.header-services
  &__list
    background-color var(--color-white)
    z-index 10000
    &--sub
      top 33px
      flex-direction column
      width max-content
      min-width 300px
      box-shadow 0px 4px 50px rgba(0, 0, 0, 0.1)
    &--sub-1
      opacity var(--header-services-sublist-1-opacity)
      pointer-events var(--header-services-sublist-1-pointer-events)
    &--sub-2
      position absolute
      left 100%
      top 0
      opacity var(--header-services-sublist-2-opacity)
      pointer-events var(--header-services-sublist-2-pointer-events)
    &--sub-3 
      position absolute
      left 100%
      top 0
      opacity var(--header-services-sublist-3-opacity)
      pointer-events var(--header-services-sublist-3-pointer-events)
  &__item
    --item-span-color var(--color-text-secondary)
    --item-link-color var(--color-black)
    --header-services-sublist-1-opacity 0
    --header-services-sublist-1-pointer-events none
    a
      --link-color var(--color-text-secondary)
      text-decoration none
      font-weight 500
      &[href$='/#']
        cursor auto
    span
      color var(--item-span-color)
      font-weight 500
      padding-bottom 16px
    +hover()
      --item-span-color var(--link-color-hover)
      --header-services-sublist-1-opacity 1
      --header-services-sublist-1-pointer-events auto
      a
        --link-color var(--link-color-hover)
    &--parent
      position relative
      span
        text-transform uppercase
    &--sub
      --after-item-background-color var(--color-mark-medium)
      transition background-color 0.3s
      & + &
        border-top 1px solid var(--color-text-inverted)
      a
        display flex
        width 100%
        padding 12px
        color var(--item-link-color)
        text-transform none
        transition color var(--transition-duration-in)
        +hover()
          color var(--color-white)
      span
        padding 12px
        color var(--item-span-color)
        text-transform none
        transition color var(--transition-duration-in)
      +hover()
        --after-item-background-color var(--color-white)
        --item-link-color var(--color-white)
        --item-span-color var(--color-white)
        background-color var(--color-hover)
        transition-duration var(--transition-duration-in)
    &--parent&--sub
      a
      span
        display flex
        justify-content space-between
        align-items center
        gap 8px
        +after()
          display block
          width 12px
          height 12px
          background-color var(--after-item-background-color)
          mask(arrow)
          transition background-color var(--transition-duration-out)
    &--parent &--sub-3
      a
        +after()
          display none
    &--sub-1
      --header-services-sublist-2-opacity 0
      --header-services-sublist-2-pointer-events none
      +hover()
        --header-services-sublist-2-opacity 1
        --header-services-sublist-2-pointer-events auto
    &--sub-2
      --header-services-sublist-3-opacity 0
      --header-services-sublist-3-pointer-events none
      +hover()
        --header-services-sublist-3-opacity 1
        --header-services-sublist-3-pointer-events auto
    &--sub-3
      +hover()
        --item-link-color var(--color-white)
