.congress-page-header
  padding-block 10px 26px
  +media(s)
    padding-block 24px
  +media(m)
    padding-block 32px
  &__inner
    display grid
    grid-template-columns 1fr auto
    grid-template-areas 'date place' 'image image' 'title title' 'button button'
    justify-content center
    gap var(--gap)
    +media(s)
      grid-template-columns repeat(2, 1fr)
      grid-template-rows 1fr auto auto 1fr
      grid-template-areas 'image date' 'image title' 'image button' 'image place'
  &__title
    $font-l-uppercase()
    grid-area title
    +media-max(s)
      text-align center
    +media(s)
      $font-3xl-uppercase()
    +media(m)
      $font-6xl-uppercase()
  &__date
    $font-l-uppercase()
    grid-area date
    +media(s)
      $font-3xl-uppercase()
    +media(m)
      $font-6xl-uppercase()
      padding-top 32px
  &__place
    $font-l-uppercase()
    grid-area place
    +media(s)
      $font-3xl-uppercase()
      align-self end
    +media(m)
      $font-6xl-uppercase()
      padding-bottom 32px
  &__button
    grid-area button
    +media-max(s)
      justify-self center
  &__image
    grid-area image
