include /blocks/page-section/page-section

+pageSection({ noContent: true, backgroundColor: true }).congress-page-header: +content.congress-page-header__inner
  h1.congress-page-header__title Концепция успешной стоматологической клиники
  .congress-page-header__date 6.12—7.12
  .congress-page-header__place г. санкт-петербург
  +button({ tag: 'a' })(href='#form').congress-page-header__button Оставить заявку
  +img({
    name: 'congress-page-header',
    path: '/images/congress/',
    formats: [
      { ext: 'webp', type: 'image/webp' },
      { ext: 'png', orig: true },
    ],
    density: [{
      values: [ 1, 2 ],
    }],
  })(width= 736 height= 737).congress-page-header__image
