mixin emtoneDetail

  .emtone-detail&attributes(attributes)
    .emtone-detail__item.emtone-detail__item--top
      .emtone-detail__title монополярная rf
      .emtone-detail__description термический эффект
    .emtone-detail__item.emtone-detail__item--bottom
      .emtone-detail__title направленная акустическая волна
      .emtone-detail__description механический эффект
    .emtone-detail__image: img(src='/images/landings/emtone/emtone-detail.jpg' alt='')
