.emtone-detail
  position relative
  display flex
  justify-content flex-end
  max-width 710px
  margin-x auto
  padding-top 40px
  +media-max(m)
    flex-direction column
  &__item
    position absolute
    left 0
    z-index 2
    padding 4px
    text-transform uppercase
    line-height 25px
    background-color #fff
    +media-max(m)
      position static
      text-align center
      
    &--top
      top 0
    &--bottom
      bottom 20px
      +media-max(m)
        order 2
  &__title
    font-weight bold
  &__image
    position relative
    +media-max(m)
      padding-top 100px
      padding-bottom 60px 
    &::before
      content ''
      position absolute
      top 10px
      left 0
      width 50px
      height 50px
      background-image svgImport('svg/emtone-detail-to-bottom.svg')
      +media-max(m)
        top 40px
        left 60px
        transform scaleX(-2) scaleY(2)
    &::after
      content ''
      position absolute
      bottom 76px
      left 0
      width 50px
      height 50px
      background-image svgImport('svg/emtone-detail-to-top.svg')
      +media-max(m)
        bottom 46px
        left 64px
        transform scaleX(-2) scaleY(2)
