.prices-banner
  display grid
  grid-template-columns 20px auto 20px
  grid-template-rows 1fr repeat(3, min-content)
  max-height 637px
  padding 0
  +media-max(s)
    justify-items center
  +media(s)
    grid-template-columns 1fr repeat(2, @css{ min(calc((var(--content-width) - var(--gap))/2), 50% - var(--base-padding)) }) 1fr
    grid-template-rows 100px repeat(3, min-content) 1fr
  +media(m)
    grid-template-rows 83px repeat(3, min-content) 1fr
  &__title
    grid-column 2/3
    grid-row 2/3
    margin-bottom 16px
    font-weight 500
    +media(s)
      margin-bottom 32px
      $font-2xl()
    +media(m)
      max-width 444px
      margin-bottom 36px
      $font-5xl()
  &__text
    grid-column 2/3
    grid-row 3/4
    margin-bottom 40px
    +media(s)
      margin-bottom 32px
    +media(m)
      max-width 685px
      margin-bottom 36px
  &__button
    grid-column 2/3
    grid-row 4/5
    align-self end
    margin-bottom 38px
    +media(m)
      margin-bottom 83px
  &__image
    grid-column 1/-1
    grid-row 1/-1
    width 100%
    height 100%
