.prices-banner
  &__title
    +media-max(s)
      text-align center
  &__text
    +media-max(s)
      text-align center
  &__image
    object-fit cover
    object-position center
  .accessibility-mode &
    &__image
      display none
