head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //link(rel='preload' href='/template/fonts/-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')

  -
    const info = require ('../src/common/settings.json')
    const { siteName, breakpoints } = info;
    let footerSections = ['podcast-new', 'podcast', 'card', 'gallery', 'partners', 'map', 'contacts', 'navigation']

  block head
  +style('core')
  if (resourcesName)
    +style(`${resourcesName}.core`)
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
