.doctor-directions
  color var(--color-mark)
  &__image
    +media-max(s)
      display none
  &__section
    +media(s)
      min-height 116px
  &__subtitle
    position relative
    align-self start
    width @css{ min(75vw, var(--grid-cell-width)) }
    padding-bottom 16px
    color var(--color-mark)
    border-bottom 1px solid
    +after()
      position absolute
      bottom -3px
      right 0
      width 5px
      height 5px
      background-color currentColor
      border-radius var(--border-radius-50)
  &__list
    +media(s)
      $font-xl()
    a
      text-decoration none
  .accessibility-mode &
    &__image
      margin-inline auto
    &__info
      display grid
      grid-template-columns auto
      gap var(--gap)
      width 100%
      +media(s)
        grid-template-columns repeat(2, 1fr)
      +media(m)
        grid-template-columns repeat(3, 1fr)
    &__section
      display grid
      grid-auto-rows min-content
      align-items start
      margin-top 0
    &__subtitle
      width 100%
      color var(--color-text)
    &__list
      width 100%
