mixin switch(item = {}, settings = {})
	-
		item.type = item.type || 'checkbox'
		settings.disabled = item.disabled
		settings[item.type] = true
	#{item.tag || 'label'}(class= classes('switch', settings))&attributes(attributes)
		input(type= item.type name= item.name value= item.value checked= item.checked disabled= item.disabled).switch__input
		span.switch__switcher
		if block
			span.switch__label: block
