:root
  --switcher-background-color var(--color-mark-light)
  --switcher-background-color-disabled var(--color-background)
  --switcher-border-color var(--color-mark)
  --switcher-color-disabled var(--color-locked)
  --switcher-before-size 100%
  --switcher-before-translate 8px
  --switcher-before-background-color-checked var(--color-mark)
  --switcher-before-border-radius 0
  --switcher-after-border-color var(--color-mark-light)
.switch
  display flex
  align-items center
  gap 8px
  width fit-content
  &--checkbox
    --switcher-border-radius var(--border-radius-s)
    & ^[-1]__switcher::after
      content ''
      position absolute
      top 4px
      left 4px
      width 12px
      height 6px
      border-left 2px solid var(--switcher-after-border-color)
      border-bottom 2px solid var(--switcher-after-border-color)
      rotate -45deg
  &--radio
    --switcher-border-radius var(--border-radius-50)
    --switcher-before-size 12px
    --switcher-before-border-radius var(--border-radius-50)
  &--disabled
    --switcher-background-color var(--switcher-background-color-disabled)
    --switcher-border-color var(--switcher-color-disabled)
    --switcher-before-background-color-checked var(--switcher-color-disabled)
    --switcher-after-border-color var(--switcher-background-color-disabled)
    cursor default
  &__input
    display none
  &__switcher
    position relative
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    order var(--switcher-order, 1)
    width 20px
    height 20px
    background-color var(--switcher-background-color)
    border 1px solid var(--switcher-border-color)
    border-radius var(--switcher-border-radius)
    &::before
      content ''
      width var(--switcher-before-size)
      height var(--switcher-before-size)
      background-color var(--switcher-before-background-color)
      border-radius var(--switcher-before-border-radius)
      transition background-color
      transition-duration var(--transition-duration-out)
  &__input:checked + &__switcher
    --switcher-before-background-color var(--switcher-before-background-color-checked)
    --switcher-after-border-color var(--color-background)
  &__label
    $fontBodyLight()
    order var(--label-order, 2)
