extends /blocks/layout/layout
  
include /blocks/text-marked/text-marked
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'price-list'
  include /data/footer
block content
  +pageSection
    +h1 Прайс лист
    +pageSubsection
      +table
        +tr
          +th Наименование
          +th Артикул
          +th Цена
        +tr
          +td(colspan='3').table__cell--sub-1 Общие виды работ
        +tr
          +td.table__cell--sub-4 Аппликационная анестезия
          +td 
          +td 
        +tr
          +td.table__cell--sub-4 Инфильтрационная анестезия
          +td 
          +td 
        +tr
          +td.table__cell--sub-4 Проводниковая анестезия
          +td 
          +td 
        +tr
          +td(colspan='3').table__cell--sub-1 Косметология
        +tr
          +td(colspan='3').table__cell--sub-2 Аппаратная косметология
        +tr
          +td(colspan='3').table__cell--sub-3 Ультразвуковой SMAS - лифтинг
        +tr
          +td.table__cell--sub-4 Ультразвуковое лечение кожи. Ультразвуковой SMAS - лифтинг. Все лицо
          +td A22.01.001.001
          +td 65 000,00
        +tr
          +td.table__cell--sub-4 Ультразвуковое лечение кожи. Ультразвуковой SMAS - лифтинг. Верхняя треть лица
          +td A22.01.001.002
          +td 20 000,00
        +tr
          +td.table__cell--sub-4 Ультразвуковое лечение кожи. Ультразвуковой SMAS - лифтинг. Средняя часть лица
          +td A22.01.001.003
          +td 40 000,00
        +tr
          +td.table__cell--sub-4 Ультразвуковое лечение кожи. Ультразвуковой SMAS - лифтинг. Средняя и нижняя трети лица
          +td A22.01.001.004
          +td 50 000,00
        +tr
          +td(colspan='3').table__cell--sub-3 CO2
        +tr
          +td.table__cell--sub-4 Лазерная шлифовка кожи. СО2 лазерное омоложение. Все лицо 
          +td A22.01.002.001 
          +td 25 000,00
        +tr
          +td.table__cell--sub-4 Лазерная шлифовка кожи. СО2 лазерное омоложение. Лицо и шея
          +td A22.01.002.002 
          +td 35 000,00
        +tr
          +td(colspan='3').table__cell--sub-2 Общие косметология
        +tr
          +td.table__cell--sub-4 Введение искусственных наполнителей в мягкие ткани с целью коррекции формы канюлей 
          +td А11.01.013
          +td 
        +tr
          +td(colspan='3').table__cell--sub-1 Пластическая хирургия
        +tr
          +td(colspan='3').table__cell--sub-2 Интимная пластика
        +tr
          +td.table__cell--sub-4 Пластика малых половых губ
          +td А16.20.098
          +td 60 000,00
        +tr
          +td.table__cell--sub-4 Рассечение девственной плевы
          +td A16.20.021
          +td 15 000,00
        +tr
          +td(colspan='3').table__cell--sub-1 Трихология
        +tr
          +td.table__cell--sub-4 Первичная консультация трихолога (без фототрихограммы)
          +td В04.071.001 
          +td 2 000,00
        +tr
          +td.table__cell--sub-4 Первичная консультация трихолога  (с фототрихограммой)
          +td В04.071.002
          +td 2 500,00
        +tr
          +td(colspan='3').table__cell--sub-1 Флебология
        +tr
          +td.table__cell--sub-4 Прием (осмотр, консультация) врача - сердечно-сосудистого хирурга первичный
          +td B01.043.001.001
          +td 3 500,00
        +tr
          +td.table__cell--sub-4 Наложение повязки при нарушении кожных покровов (доп перевязка)
          +td А15.01.001.001
          +td 50,00
