.home-facts
  content-visibility auto
  contain-intrinsic-size 800px
  display flex
  justify-content space-between
  gap var(--gap)
  --color-text var(--color-mark)
  +media-max(s)
    flex-wrap wrap
  &__item
    width calc(50% - var(--base-padding))
    text-align center
    +media(s)
      max-width @css{ max(18vw, 204px) }
  &__title
    $font-6xl-bold()
    +media(s)
      font-size 64px
    +media(m)
      font-size 100px
  &__description
    +media(m)
      $font-xl()
  .accessibility-mode &
    --color-text var(--color-text)
