.banner-price-table
  +media(m)
    $font-xl()
  &__row
    display flex
    flex-wrap wrap
    gap var(--gap)
    padding-y 1rem
    +media(s)
      column-gap 120px
    +media(m)
      column-gap 140px
    & + &
      border-top 1px solid var(--color-text)
  &__cell
    &--title
      flex-grow 1
    &:first-child
      width 100%
      +media(s)
        max-width 500px
      +media(m)
        max-width @css{ min(100%, calc(var(--content-width) / 1.8)) }
