mixin bannerPriceTable(table)
  .banner-price-table&attributes(attributes)
    each item in table
      .banner-price-table__row
        .banner-price-table__cell.banner-price-table__cell--title !{item.title}
        .banner-price-table__cell !{item.price}
