
extends /blocks/layout/layout

include /blocks/img/img
include /blocks/text-marked/text-marked
include /blocks/list-unordered/list-unordered
include /blocks/list-item/list-item
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'vacancies'
  include /data/footer
block content
  +pageSection().vacancies-list
    +h1 Вакансии
    +pageSubsection
      p Medall — это команда ведущих специалистов в области цифровой стоматологии и эстетической медицины в Санкт-Петербурге. Мы работаем уже более 15 лет и нам доверяют свыше 30 000 пациентов. В клинике представлены основные современные методики, доказавшие свою эффективность и безопасность, имеют удостоверения Росздравнадзора. Сегодня мы одна из немногих клиник Санкт-Петербурга, которая полностью соответствует новым жёстким требованиям Минздрава России.
      p: strong МЫ ПРЕДЛАГАЕМ:
      +ul
        +li Достойная заработная плата, всегда вовремя
        +li Хорошее настроение и атмосфера в отличной команде профессионалов 
        +li Уютный, комфортный и современный офис с зонами отдыха, кухней
      p: strong КРОМЕ ЭТОГО:
      +ul
        +li Внимание и уважение личного времени и жизни каждого сотрудника, гибкий график работы
        +li Возможность роста вместе с ростом компании, достижение совместных результатов
        +li Возможность легко взаимодействовать за счет современного подхода руководства компании
        +li Развитие твоих профессиональных навыков за счет обмена опытом внутри команды и обучения
        +li Ощущение команды, поддержка команды, дружеская атмосфера
        +li Уровень заработной платы зависит от знаний и навыков. В нашей компании у каждого сотрудника есть возможность развития, по результатам достижения целей которого пересматриваются обязанности, должность и заработная плата.
      +textMarked({ tag: 'p', size: 'l', type: [ 'bold' , 'uppercase' ] }) Наша клиника постоянно развивается и растет, поэтому мы с удовольствием приглашаем к сотрудничеству следующих специалистов:
    +pageSubsection
      +h2.vacancies-list__subtitle Врач ортодонт
      p: strong Чем предстоит заниматься:
      ul
        li Ведение стоматологического ортодонтического приема пациентов всех возрастов;
        li Ведение пациентов от первичной консультации до выписки;
        li Диагностика и составление комплексного плана лечения: проведение совместных консультаций в команде с другими специалистами;
        li Ведение медицинской документации;
        li Установка систем брекетов, элайнеров.
      p: strong Мы ищем: 
      p Квалифицированного специалиста с высшим образованием и действующими сертификатами по специальности, владеющего современными методиками диагностики и лечения пациентов; Сотрудника, умеющего работать в команде, в концепции комплексного подхода к лечению; Врача, заинтересованного в здоровье и комфорте пациентов.
      p: strong Что мы предлагаем:
      ul
        li Возможность работать в команде профессионалов;
        li Стабильный поток первичных пациентов;
        li Работу в современной клинике с новейшим оборудованием и собственной зуботехнической лабораторией;
        li Сотрудничество с кураторами, которые возьмут на себя часть заботы о пациентах;
        li Профессиональный рост, возможность обучение за счет клиники по интересующим клинику направлениям;
        li Поддержка коллег;
        li Работая с нами, вы становитесь сотрудником одной из лучших клиник города.
      p Если Вы готовы к сотрудничеству - напишите в сопроводительном письме две причины, почему мы должны выбрать именно вас.
      p
        strong e-mail:
        |  
        a(href='mailto:fdv@medall.clinic') fdv@medall.clinic
      p
        strong телефон:
        |  +7 812 660 39 86
    +pageSubsection
      +h2.vacancies-list__subtitle Рентгенолаборант
      p
        strong Требуемый опыт работы:
        |  не требуется
      p Полная занятость, сменный график
      p Клиника «Медалл» приглашает для работы на постоянной основе Рентгенолаборанта. Если Вы ответственны, исполнительны, инициативны, любите людей и хотите стать частью современной и эффективной команды, которая меняет жизнь людей к лучшему и помогает сохранить здоровье, то Вам к нам!
      p: strong Обязанности:
      ul
        li Подготовка пациентов к рентгенологическим исследованиям;
        li Выполнение рентгенологических исследований детям и взрослым;
        li Правильная укладка пациентов;
        li Контроль за дозой рентгеновского излучения, исправностью рентгеновского аппарата;
        li заполнение медицинское документации.
      p: strong Требования:
      ul
        li Среднее профессиональное образование - дополнительное профессиональное образование - программы профессиональной переподготовки по специальности "Рентгенология" (действующий сертификат);
        li Опыт работы в сфере амбулаторных услуг, наличие опыта работы в частной медицинской сфере будет вашим конкурентным преимуществом, но мы также готовы делиться опытом;
        li Наличие высоких коммуникативных навыков и умения работы в команде;
        li Основная занятость;
      p: strong Условия:
      ul
        li Официальное оформление по ТК РФ;
        li График работы и заработная плата (обсуждается на собеседовании);
        li Современное оборудование и оснащение клиники, собственная лаборатория;
        li Возможность профессионального роста, обучение на сертификационных циклах за счет Компании для основных сотрудников;
        li Получение медицинских услуг в клинике на льготных условиях для сотрудников и их родственников;
        li Корпоративная форма, а так же уютный, комфортный и современный офис с зонами отдыха, кухней;
        li Два раза в год интересный корпоративный отдых;
        li Работа в дружном коллективе. Внимание и уважение личного времени и жизни каждого сотрудника;
        li Ощущение команды, поддержка команды, дружеская атмосфера.
    +pageSubsection
      +h2.vacancies-list__subtitle Администратор-кассир
      p: strong Требуемый опыт работы:
      |  1–3 года
      p Полная занятость, сменный график
      p Клиника «Медалл» приглашает для работы на постоянной основе Администратора - кассира. Если Вы ответственны, исполнительны, инициативны, любите людей и хотите стать частью современной и эффективной команды, которая меняет жизнь людей к лучшему и помогает сохранить здоровье, то Вам к нам!
      p: strong Обязанности:
      ul
        li Прием и распределение телефонных звонков;
        li Встреча пациентов, обеспечение высокого уровня сервиса для посетителей;
        li Взаимодействие с врачами Центра;
        li Грамотное консультирование пациентов по услугам клиники.
        li Запись на врачебный прием.
        li Работа с ККМ, прием наличных и безналичных платежей.
      p: strong Требования:
      ul
        li Максимальная клиентоориентированность;
        li Презентабельный внешний вид, грамотная речь, обучаемость;
        li Умение, а главное желание общаться и помогать людям;
        li Понимание работы Центра (мы будем рады, если у Вас есть опыт работы на аналогичной позиции);
        li Стрессоустойчивость, умение не допускать конфликтных ситуаций и находить из них выход;
        li Понимание, что Ваша улыбка поможет в любой ситуации
      p: strong Условия:
      ul
        li Оформление по ТК РФ;
        li Мы готовы обучить и поделиться опытом, вводное обучение перед началом работы.
        li Возможность профессионального и карьерного роста;
        li Сменный график работы, 2/2, с 08.45-20.45 ч. (или посменно: с 09.00-15.00, с 15.00-21.00).
        li Получение медицинских услуг в клинике на льготных условиях для сотрудников и их родственников;
        li Уютный, комфортный и современный офис с зонами отдыха, кухней;
        li Работа в дружном коллективе. Внимание и уважение личного времени и жизни каждого сотрудника;
        li Ощущение команды, поддержка команды, дружеская атмосфера.
    +pageSubsection
      +h2.vacancies-list__subtitle Медицинская сестра (ассистент врача-стоматолога)
      p: strong Обязанности:
      ul
        li Ассистирование врачу-стоматологу любой специализации.
        li Встреча пациентов, работа с медицинской документацией.
        li Подготовка кабинета к работе;
        li Уборка и поддержание чистоты в клинике, соблюдение санэпидрежима.
      
      p: strong Требования:
      ul
      
        li Среднее медицинское образование!
        li Знание ПК на уровне пользователя;
        li Коммуникабельность, доброжелательность, активность, готовность к обучению;
        li Нацеленность на длительное сотрудничество;
        li Опыт в частной стоматологии приветствуется, но мы готовы делиться знаниями.
      
      p: strong Условия:
      ul
        li Получение медицинских услуг в клинике на льготных условиях для сотрудников и их родственников;
        li Опыт работы в профессиональной команде докторов, на современном стоматологическом оборудовании с применением высококачественных материалов, собственная лаборатория;
        li Возможность профессионального роста, обучение на сертифицированных циклах за счет Компании для основных сотрудников;
        li Интересный корпоративный отдых
    +pageSubsection
      +h2.vacancies-list__subtitle Детский стоматолог
      p: strong Обязанности
      ul
        li Ведение стоматологического детского приема пациентов;
        li Ведение пациентов от первичной консультации до выписки;
        li Диагностика и составление комплексного плана лечения: проведение совместных консультаций в команде с другими специалистами;
        li Ведение медицинской документации;
      p: strong Кого мы ищем:
      ul
        li Квалифицированного специалиста с высшим образованием и действующими сертификатами по специальности, владеющего современными методиками диагностики и лечения пациентов;
        li Сотрудника, умеющего работать в команде, в концепции комплексного подхода к лечению;
        li Врача, заинтересованного в здоровье и комфорте пациентов.

      p: strong Что вы приобретете, работая у нас:
      ul
        li Возможность работать в команде профессионалов;
        li Стабильный поток первичных пациентов;
        li Работу в современной клинике с новейшим оборудованием и собственной зуботехнической лабораторией;
        li Сотрудничество с кураторами, которые возьмут на себя часть заботы о пациентах;
        li Профессиональный рост, возможность обучение за счет клиники по интересующим клинику направлениям;
        li Поддержка коллег;
        li Работая с нами, вы становитесь сотрудником одной из лучших клиник города.
    +pageSubsection
      +h2.vacancies-list__subtitle Врач-косметолог
      p
        strong Ищем
        |  социально-активных врачей с амбициями, которые любят свою профессию, хотят и готовы реализовать себя как специалиста, на практике реализовывать командный подход к лечению пациентов в концепции современной косметологии. 
      p
        strong Со своей стороны
        |  мы предоставим широкие возможности для использования и освоения самых современных технологий и самого современного оборудования: фототерапия Lumenis M22, ультразвуковой SMAS лифтинг на аппарате Duoblo HiFu, EmTone, Hydropeel, RF Venus Viva, фракционный лазер CO2 More-Xel Scanning, диодный лазер MeDioStar NeXT PRO, LPG Integral и пр. 
      p Мы будем приветствовать регулярное повышение квалификации на базе собственного обучающего центра, а также учебы и практики за рубежом, возможность своего развития, как лектора и опинион лидера в сотрудничестве с ведущими поставщиками косметологического оборудования.
      p Благоприятные и комфортные условия труда, основанные на принципах взаимовыгодности. Полная организационная, юридическая и маркетинговая поддержка со стороны учредителей.
      p Для докторов с собственной базой пациентов - индивидуальные условия.
      p Задавайте вопросы. 
      p Отправляйте свое резюме на почту: 
        a(href='mailto:hr@medall.clinic') hr@medall.clinic
      p Телефон для связи: +8 (812) 603-02-01
