include /blocks/page-section/page-section

+pageSection({ tag: 'section', backgroundColor: [ true, 'dark' ], noContent }).banner-protocol-all-on-4: +content(class= grid())
  +cell({ m: 5, s: 6, xs: 12 })
    .banner-protocol-all-on-4__title Строго соблюдаем международный протокол концепции лечения 
      strong All on 4 на системе Nobel Biocare
      | , утверждённый мировыми ассоциациями.
  +cell({ m: 7, s: 6, xs: 12 })
    ol.banner-protocol-all-on-4__list
      li: span Полная диагностика и составление плана реабилитации
      li: span Имплантация и временное протезирование
      li: span Постоянное протезирование
      li: span Пожизненное обслуживание
