.banner-protocol-all-on-4
  &__title
    $font-4xl()
  &__list
    padding-left 46px
    list-style none
    counter-reset list
    @media (min-width point-l - 1)
      padding-left 82px
    li
      font-l()
      position relative
      counter-increment list
      & + li
        margin-top 40px
      &::before
        $font-6xl-bold()
        content counter(list)
        position absolute
        right calc(100% + 20px)
        width 26px
        line-height 26px
        text-align center
        color var(--color-mark-light)
        opacity .5
      span
        position relative
        &::after
          content ''
          position absolute
          bottom -4px
          right 0
          left 0
          height 1px
          background-color var(--color-mark-light)
          opacity .5
  .accessibility-mode &
    .content.grid > .grid__cell
      width 100%
    &__list li::before
      color var(--color-text)
      opacity 1
