.congress-partners
  display flex
  justify-content space-between
  gap var(--gap)
  +media-max(s)
    overflow-x scroll
    scroll-snap-type x mandatory
  &__item
    height auto
    scroll-snap-align start
