.landing-team
  --color-text var(--color-mark)
  &__name
    $font-l-uppercase()
    width min-content
    margin-top 16px
    text-align center
  &__description
    position relative
    margin-top 16px
    text-align center
  &__slide.swiper-slide
    display flex
    flex-direction column
    align-items center
    width 100%
    height 100%
  &__image
    flex-grow 1
    display flex
    align-items flex-start
  &__button
    margin-top 16px
  &__pop-up
    & ^[-1]__name
      width fit-content
      margin-top 0
      text-align left
      text-transform uppercase
    & ^[-1]__description
      $font-s-uppercase()
      margin-top 12px
      text-align left
    & ^[-1]__experience
      $font-s-bold()
      margin-top .5rem
    & ^[-1]__image
      margin-top var(--base-padding)
      img
        width 100%
    & ^[-1]__button
      margin-top 32px
    & .modal__inner
      padding 0
      background-color var(--color-background)
  &__info
    --color-text var(--color-background)
    height 100%
    padding 34px
    background-color var(--color-mark)
  &__details
    padding 34px
    li, p
      $font-l()
    li + li
      margin-top .8px
    & h3
      margin-bottom 20px
      color var(--color-mark)
      &:not(:first-child)
        margin-top 1.75rem
  &__important
    margin-top 32px
    padding-y 8px
    text-transform uppercase
    color #568786
    border-top 3px solid #568786
    border-bottom 3px solid #568786
  &__more
    --button-padding 6px
    --button-border-radius 0
    position absolute
    top 0
    right 0
  .slider
    &__wrapper
      display grid
      grid-auto-flow column
      justify-content start
