.banner-rounds
  isolation isolate
  display flex
  justify-content center
  align-items center
  text-align center
  @media (max-width point-s - 1)
    width 100vw
    margin-x -20px
  &__inner
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 827px
    height 827px
    &::before
    &::after
      --width 669px
      content ''
      position absolute
      top 50%
      left 50%
      z-index 1
      width var(--width)
      height var(--width)
      border 1px dashed
      border-radius var(--border-radius-50)
      transform translate(-50%, -50%)
    &::before
      --width 415px
    @media (max-width 860px)
      width 100%
      height 645px
      overflow hidden
      &::before
        --width 525px
      &::after
        --width 309px
  &__title
  &__info
    width 300px
  &__title
    $font-4xl-uppercase()
    text-align center
  &__info
    margin-top 23px
  &__round
    --width 95px
    position absolute
    z-index 2
    display flex
    justify-content center
    align-items center
    width var(--width)
    height var(--width)
    background-image radial-gradient(50% 50% at 50% 50%, #217476 0%, #0B5456 100%);
    border 1px dashed
    border-radius var(--border-radius-50)
    @media (max-width 860px)
      $font-s()
    &--periodontist
      --width 145px
      top 0
      left 50%
      transform translateX(-50%)
      @media (max-width 860px)
        --width 115px
        top 12px
        left 3.3333%
        transform none
    &--endodontist
      --width 137px
      top 90px
      left 134px
      @media (max-width 860px)
        --width 108px
        top 111px
        left 50%
        transform translateX(-50%)
    &--anesthetist
      --width 137px
      top 164px
      right 246px
      @media (max-width 860px)
        --width 111px
        top unset
        right unset
        bottom 153px
        left 8.3333%
    &--radiologist
      --width 115px
      top 158px
      right 84px
      @media (max-width 860px)
        --width 100px
        top 0
        left 50%
        transform translateX(-30%)
    &--therapist
      top 278px
      left 171px
      @media (max-width 860px)
        --width 80px
        top 157px
        right 7.2222%
        left unset
    &--orthopedist
      top 338px
      left 35px
      @media (max-width 860px)
        --width 74px
        top 44px
        right 4%
        left unset
    &--technician
      --width 90px
      top 360px
      right 39px
      @media (max-width 860px)
        --width 68px
        top unset
        bottom 26px
        left 50%
        transform translateX(-50%)
    &--orthodontist
      top 416px
      right 143px
      @media (max-width 860px)
        --width 78px
        top unset
        right 2%
        bottom 186px
    &--implantologist
      --width 137px
      top 519px
      left 76px
      @media (max-width 860px)
        --width 111px
        top unset
        bottom 32px
        left 5.8333%
    &--hygienist
      top 561px
      left 290px
      @media (max-width 860px)
        --width 84px
        top 165px
        left 5%
    &--related-specialists
      --width 137px
      right 130px
      bottom 96px
      @media (max-width 860px)
        --width 114px
        right 3%
        bottom 24px
    &--gnathologist
      bottom 32px
      left 334px
      @media (max-width 860px)
        --width 74px
        right 4%
        bottom 144px
        left 50%
        transform translateX(-25%)
  .accessibility-mode &
    &__inner
      width 100%
      height auto
      &::before
      &::after
        content none
    &__round
      position static
      background-image none
      border none
      padding 0
      width auto
      height auto
      transform none
    &__round + &__round
      margin-top var(--gap)
