+pageSection({ backgroundColor: [ true, 'dark' ] }): .banner-rounds
  .banner-rounds__inner
    .banner-rounds__title All on 4
    .banner-rounds__info Возможность привлечения к лечению пациента любого необходимого специалиста
    .banner-rounds__round.banner-rounds__round--periodontist парадонтолог
    .banner-rounds__round.banner-rounds__round--endodontist эндодонтист
    .banner-rounds__round.banner-rounds__round--anesthetist анестезиолог
    .banner-rounds__round.banner-rounds__round--radiologist рентгенолог
    .banner-rounds__round.banner-rounds__round--therapist терапевт
    .banner-rounds__round.banner-rounds__round--orthopedist ортопед
    .banner-rounds__round.banner-rounds__round--technician зубной техник
    .banner-rounds__round.banner-rounds__round--orthodontist ортодонт
    .banner-rounds__round.banner-rounds__round--implantologist хирург-имплантолог
    .banner-rounds__round.banner-rounds__round--hygienist гигиенист
    .banner-rounds__round.banner-rounds__round--related-specialists смежные специалисты    
    .banner-rounds__round.banner-rounds__round--gnathologist гнатолог
