@import '../../common/styles/mixins'
@import '../../common/styles/fonts'
@import '../../common/styles/typographics'
@import '../../common/styles/variables.core'
@import '../../common/styles/reset'

fontFace('Montserrat', 'Montserrat-Regular', '400', 'normal')
fontFace('Montserrat', 'Montserrat-Medium', '500', 'normal')
fontFace('Montserrat', 'Montserrat-Bold', '700', 'normal')

*
  box-sizing border-box
  color inherit

html
  $font-s()
  overflow-x hidden
  font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  +media(s)
    $font-m()
.hidden-l
  +media(l)
    display none !important // @stylint ignore
.hidden-m
  +media-interval(m, l)
    display none !important // @stylint ignore
.hidden-s
  +media-interval(s, m)
    display none !important // @stylint ignore
.hidden-xs
  +media-max(s)
    display none !important // @stylint ignore

@import '../../blocks/grid'
@import '../../blocks/container'
@import '../../blocks/content'
@import '../../blocks/h1/h1.core'
@import '../../blocks/h2/h2.core'
@import '../../blocks/h3/h3.core'
@import '../../blocks/h4/h4.core'
@import '../../blocks/p'
@import '../../blocks/list-unordered/list-unordered.core'
@import '../../blocks/list-ordered/list-ordered.core'
@import '../../blocks/strong/strong.core'
@import '../../blocks/text-marked/text-marked.core'
@import '../../blocks/page-section/page-section.core'
@import '../../blocks/logo/logo.core'
@import '../../blocks/header/header.core'
@import '../../blocks/header-services/header-services.core'
@import '../../blocks/layout/layout'
@import '../../blocks/header-search/header-search.core'
@import '../../blocks/header-navigation/header-navigation.core'
@import '../../blocks/img'
@import '../../blocks/modal/modal.core'
@import '../../blocks/breadcrumbs/breadcrumbs.core'

parMargin()
