extends /blocks/layout/layout

include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const pages = [
      { name: 'Дизайн-система — ui-kit.html', href: 'ui-kit.html' }, 
      { name: 'Главная — main.html', href: 'main.html' },
      { name: 'Категория услуг', sublist: [
          { name: 'Пластическая хирургия — category-plastic.html', href: 'category-plastic.html' },
          { name: 'Косметология — category-cosmetology.html', href: 'category-cosmetology.html' },
          { name: 'Гинекология — category-gynecology.html', href: 'category-gynecology.html' },
          { name: 'Пересадка волос — category-transplantation.html', href: 'category-transplantation.html' },
          { name: 'Флебология — category-phlebology.html', href: 'category-phlebology.html' },
          { name: 'Стоматология — category-dentistry.html', href: 'category-dentistry.html' },
        ] },
      { name: 'Акции — discounts.html', href: 'discounts.html' },
      { name: 'Лендинг с новым дизайном блоков — landing-new.html', href: 'landing-new.html' },           
      { name: 'Лендинг — landing.html', href: 'landing.html', sublist: [
          { name: 'Лендинг Плацентарная терапия landing--placentaltherapy.html', href: 'landing--placentaltherapy.html' },
          { name: 'Лендинг микроигольчатый RF-лифтинг landing--mikroigolchatyy-rf-lifting.html', href: 'landing--mikroigolchatyy-rf-lifting.html' },
          { name: 'Лендинг rf-лифтинг landing--rf-lifting.html', href: 'landing--rf-lifting.html' },
          { name: 'Лендинг Лазерная шлифовка landing--lazernaya-shlifovka.html', href: 'landing--lazernaya-shlifovka.html' },
          { name: 'Лендинг Блефаропластика нижних век landing--blefaroplastika-nizhnih-vek.html', href: 'landing--blefaroplastika-nizhnih-vek.html' },
          { name: 'Лендинг Подтяжка лба и бровей landing--podtyazhka-lba.html', href: 'landing--podtyazhka-lba.html' },
          { name: 'Лендинг Липофилинг ягодиц landing--lipofiling-yagodits.html', href: 'landing--lipofiling-yagodits.html' },
          { name: 'Лендинг Липофилинг лица landing--lipofiling-lica.html', href: 'landing--lipofiling-lica.html' },
          { name: 'Лендинг Липофилинг груди landing--lipofilling-grudi.html', href: 'landing--lipofilling-grudi.html' },
          { name: 'Лендинг Липофилинг губ landing--lipofiling-gub.html', href: 'landing--lipofiling-gub.html' },
          { name: 'Лендинг Подтяжка лица landing--podtyazhka-litsa.html', href: 'landing--podtyazhka-litsa.html' },
          { name: 'Лендинг СМАС лифтинг landing--smas-lifting.html', href: 'landing--smas-lifting.html' },
          { name: 'Лендинг Блефаропластика — landing--blefaroplastika.html', href: 'landing--blefaroplastika.html' },
          { name: 'Лендинг Подтяжка груди — landing--podtyazhka-grudi.html', href: 'landing--podtyazhka-grudi.html' },
          { name: 'Лендинг All on 4, уникальные элементы — landing--all-on-4.html', href: 'landing--all-on-4.html' },
          { name: 'Лендинг эндодонтии, уникальные элементы — landing--endodontia.html', href: 'landing--endodontia.html' },
          { name: 'Лендинг кариеса, уникальные элементы — landing--karies.html', href: 'landing--karies.html' },
          { name: 'Лендинг, уникальные элементы разных страниц  — landing--banners.html', href: 'landing--banners.html' },
          { name: 'Лендинг Emtone, уникальные элементы — landing--emtone.html', href: 'landing--emtone.html' },
          { name: 'Лендинг стоматологии, уникальные элементы — landing--stom.html', href: 'landing--stom.html' },
          { name: 'Верстка типовых блоков для интеграции landing--blocks.html', href: 'landing--blocks.html' },
        ] },
      { name: 'Поиск — search.html', href: 'search.html', sublist: [
          { name: 'Поиск, ничего не найдено — search--empty.html', href: 'search--empty.html' },
          { name: 'Поиск, ошибка — search--error.html', href: 'search--error.html' },
        ] },
      { name: 'Доктора — doctors.html', href: 'doctors.html' },
      { name: 'Врач — doctor.html', href: 'doctor.html' },
      { name: 'Документы — documents.html', href: 'documents.html' },
      { name: 'Контакты — contacts.html', href: 'contacts.html' },
      { name: 'Вакансии — vacancies.html', href: 'vacancies.html' },
      { name: 'Конгресс — congress.html', href: 'congress.html' },
      { name: 'Прейскурант — price-list.html', href: 'price-list.html' },
      { name: '404 - 404.html', href: '404.html' },
      { name: 'Результаты работ - works.html', href: 'works.html' },
      { name: 'Статьи - article.html', href: 'article.html', sublist: [
        { name: 'Детальная страница статьи — article--detail.html', href: 'article--detail.html' },
      ] },
      { name: 'Отзывы - reviews.html', href: 'reviews.html' },
      { name: 'Цены - prices.html', href: 'prices.html' },
    ]
  include /data/footer
block content
  style
    | .pages__item + .pages__item { margin-top: 20px }
    | .pages__item > .pages__list { margin-top: 10px; padding-left: 40px }
  +container: +content: +menu(pages).pages
