@import '../../common/styles/mixins'
@import '../../common/styles/fonts'
@import '../../common/styles/typographics'
@import '../../common/styles/variables.rest'
@import '../../common/styles/atoms'

@import '../../../node_modules/simplebar/dist/simplebar.css'
@import '../../../node_modules/glightbox/dist/css/glightbox.css'

*
  color var(--color-text)

html
  scroll-padding-top 150px
  scroll-behavior smooth

@import '../../blocks/a'
@import '../../blocks/button'
@import '../../blocks/footer'
@import '../../blocks/footer-card'
@import '../../blocks/footer-contacts'
@import '../../blocks/slider'
@import '../../blocks/footer-gallery'
@import '../../blocks/footer-map'
@import '../../blocks/footer-menu'
@import '../../blocks/footer-navigation'
@import '../../blocks/footer-partners'
@import '../../blocks/footer-podcast'
@import '../../blocks/footer-podcast/footer-podcast-new'
@import '../../blocks/form'
@import '../../blocks/form-input'
@import '../../blocks/h1/h1.rest'
@import '../../blocks/h2/h2.rest'
@import '../../blocks/h3/h3.rest'
@import '../../blocks/h4/h4.rest'
@import '../../blocks/header-navigation/header-navigation.rest'
@import '../../blocks/header-search/header-search.rest'
@import '../../blocks/header-services/header-services.rest'
@import '../../blocks/header/header.rest'
@import '../../blocks/iframe-responsive'
@import '../../blocks/inverted'
@import '../../blocks/label'
@import '../../blocks/link-icon'
@import '../../blocks/list-ordered/list-ordered.rest'
@import '../../blocks/list-unordered/list-unordered.rest'
@import '../../blocks/logo/logo.rest'
@import '../../blocks/modal/modal.rest'
@import '../../blocks/page-section/page-section.rest'
@import '../../blocks/page-subsection'
@import '../../blocks/strong/strong.rest'
@import '../../blocks/switch'
@import '../../blocks/text-marked/text-marked.rest'
@import '../../blocks/accessibility-mode'
@import '../../blocks/accessibility-panel'
@import '../../blocks/breadcrumbs/breadcrumbs.rest'

.b24-widget-button-position-bottom-right
  +media-max(s)
    right 15px
