include /blocks/page-section/page-section

mixin bannerMessageCosmetology
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).banner-message-cosmetology: +content.banner-message-cosmetology__inner
    +h2.page-section__title.banner-message-cosmetology__title.text-align-center от первого лица
    .banner-message-cosmetology__info Первичная консультация пациента с косметологом для обоих является очень важным событием. Приоритет косметологов MEDALL — услышать пациента, настроиться на него, постараться понять, что скрывается за жалобами на внешние несовершенства. В первую очередь, врача должен интересовать пациент, а не возможность провести как можно больше процедур. Важную роль в коммуникации пациент-косметолог, имеет схожий вкус и общие представления о том, «как красиво». Часто именно с эстетической медицины начинается путь к здоровью. Поэтому MEDALL — многопрофильная клиника, ведь это расширяет возможности решения запросов пациентов и углубления знаний врачей.
    .banner-message-cosmetology__name Заведующий отделением косметологии, врач — дерматовенеролог, косметолог Комарова Ю. В.
    +img({
      name: 'banner-message-cosmetology',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
      ]
    }).banner-message-cosmetology__image
