.landing-stories
  &__slide
    max-width var(--content-width)
    opacity .24
    transition opacity .2s
    &.swiper-slide-active
      opacity 1
    &:not(.swiper-slide-active)
      a.landing-stories__image
        pointer-events none
        cursor default
  &__image
    position relative
    display flex
    flex-shrink 0
    justify-content center
    align-items center
    width 100%
    max-height unset
    padding-bottom 56.25%
    overflow hidden
    text-decoration none
    background-color var(--color-background)
    border unset
    border-radius unset
    img
      position absolute
      top 0
      left 50%
      height 100%
      transform translateX(-50%)
  & a.landing-stories__image
    img
      transform-origin 50% 50% 0
      transition-property transform, filter
      transition-duration var(--transition-duration-out)
    +hover()
      img
        transform translateX(-50%) scale(1.05)
        filter brightness(.75)
  &__info
    $font-4xl()
    position absolute
    bottom 72px
    left 72px
    z-index 10
    display flex
    flex-direction column
    align-items flex-start
    max-width 100%
    color var(--color-background)
     +media-max(l)
      display none
  &__name
    position relative
    max-width 100%
    padding-bottom 12px
    margin-bottom 14px
    text-transform uppercase
    color var(--color-background)
    &::after
      content ''
      position absolute
      bottom 0
      left -72px
      width calc(100% + 72px)
      height 2px
      background-color var(--color-background)
  &__description
    color var(--color-background)
  .accessibility-mode .page-section:has(&) 
    display none
