include /blocks/slider/slider

mixin landingStories(list)
  +slider({fullWidth: true}).landing-stories
      each item in list
        +slide.landing-stories__slide
          if item.href
            a(href != item.href data-glightbox).landing-stories__image
              img(src != item.src alt='')
              if item.name || item.desc
                .landing-stories__info
                  if item.name
                    .landing-stories__name !{item.name}
                  if item.desc
                    .landing-stories__description !{item.desc}
          if !item.href
            .landing-stories__image
              img(src != item.src alt='')
              if item.name || item.desc
                .landing-stories__info
                  if item.name
                    .landing-stories__name !{item.name}
                  if item.desc
                    .landing-stories__description !{item.desc}
