.banner-full-face-review
  padding-top 0
  +media-max(s)
    text-align center
  +media(s)
    padding-bottom 0
  &__inner
    display grid
    grid-template-areas 'title' 'image' 'description' 'button'
    +media-max(s)
      justify-items center
      padding-inline 0
    +media(s)
      grid-template-areas 'image title' 'image description' 'image button'
      grid-template-columns repeat(2, 1fr)
      grid-template-rows 1fr min-content 1fr
      grid-gap var(--gap)
  &__title
    grid-area title
    +media-max(s)
      padding-block 30px
      padding-inline var(--base-padding)
    +media(s)
      align-self end
      margin-top var(--gap)
  &__image
    grid-area image
    align-self stretch
    object-fit cover
  &__description
    grid-area description
    +media-max(s)
      margin-top var(--gap)
      padding-inline 20px
  &__button
    grid-area button
    +media-max(s)
      margin-top var(--gap)
    +media(s)
      align-self start
      margin-bottom var(--gap)
  .accessibility-mode &
    &__inner
      +media(s)
        grid-template-areas 'title' 'description' 'button'
        grid-template-columns auto
    &__image
      display none
