include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

mixin bannerFullFaceReview
  +pageSection({ noContent: true, backgroundColor: [ true, 'dark' ], logo: true }).banner-full-face-review: +content.banner-full-face-review__inner
    +img({
      name: 'banner-full-face-review',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] }
      ]
    })(alt='FULL FACE REVIEW').banner-full-face-review__image
    +h2.banner-full-face-review__title FULL FACE REVIEW
    .banner-full-face-review__description Авторская практика клиники FULL FACE REVIEW представляет собой индивидуальный план лечения, который составляется на первой консультации у доктора. Через пару дней куратор косметологии MEDALL отправляет пациенту презентацию с информацией о последовательности процедур, сроках реабилитации и визуализацией будущего результата преображений. Таким образом, у пациента остаётся наглядная информация, позволяющая комфортно адаптировать комплекс процедур в свою жизнь. В качестве дополнительного преимущества, мы предлагаем скидку при оплате комплексного лечения. Подробности у Вашего персонального куратора.
    +button({ tag: 'a' })(href='#contacts-form').banner-full-face-review__button.page-subsection Хочу FULL FACE REVIEW
