.prices-filters
  flex-wrap wrap
  align-items flex-start
  &__search
    position relative
    flex-grow 1
    +after()
      position absolute
      top 50%
      right 24px
      transform translateY(-50%)
      width 24px
      height 24px
      mask-image maskImage(zoom)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color var(--color-text-secondary)
  &__clear
    --form-field-input-color var(--color-black)
    position sticky
    bottom 0
    margin-top 12px!important
    margin-bottom -32px
    padding-y 10px
    background-color var(--color-mark-light)
    font-weight 500
    border-top 1px solid var(--form-field-input-border-color-secondary)
    border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
  .accessibility-mode &
    &__clear
      background-color transparent
