.prices-filters
  display flex
  column-gap var(--gap)
  row-gap var(--base-padding)
  &__select
    max-width 440px
    +media-max(m)
      width 100%
      max-width unset
    +media(s)
      min-width 350px
  .form-input__options
    max-height 250px
