.indications
  &__title
    margin-bottom 1.5rem
    color var(--color-mark)
    text-align center
    +media(s)
      text-align left
    +media(m)
      $font-2xl-uppercase()
  &__item
    & + &
      margin-top 20px
  &--contraindications
    & .indications__title
      color inherit
  .accessibility-mode &
    &__title
      color inherit
