mixin indications(item)
  
  div(class != classes('indications', item.settings))
    .indications__title !{item.title}
    +ul.indications__list
      each i in item.list
        +li.indications__item !{i}
