.accessibility-mode
  & .footer
    margin-top var(--gap)
    &__map
    &__partners
    &__card
    &__podcast
    .footer-gallery
      display none

.footer
  &__contacts
    --page-section-margin-top 0
  &__navigation
  &__contacts
  &__map
  &__partners
  &__card
  &__podcast-new
    content-visibility auto
    contain-intrinsic-size 800px
