include /blocks/footer-navigation/footer-navigation
include /blocks/footer-contacts/footer-contacts
include /blocks/footer-map/footer-map
include /blocks/footer-partners/footer-partners
include /blocks/footer-gallery/footer-gallery
include /blocks/footer-card/footer-card
include /blocks/footer-podcast/footer-podcast
include /blocks/footer-podcast/footer-podcast-new

footer.footer
  if isHomePage
    +footerCardTg
  for section in footerSections
    // Преобразуем 'podcast-new' в 'podcastNew'
    - const camelCaseSection = section.replace(/-([a-z])/g, (g) => g[1].toUpperCase())
    - const mixin = `footer${camelCaseSection.charAt(0).toUpperCase() + camelCaseSection.slice(1)}`
    if pug_mixins[mixin]
      +#{mixin}(class= `footer__${section}`)
