mixin landingResult

  .landing-result(class= grid({noGap: true, alignItems: 'center'}))&attributes(attributes)
    +cell({ m:7, s: 6, xs: 12 }).landing-result__info Готово! Ваша грудь восхитительна
    +cell({ m: 5, s: 6, xs: 12 }).landing-result__image
      +img({
        name: 'banner-result',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      })
