.landing-result
  +media(s)
    background-color var(--color-mark-light)
    border-radius var(--border-radius-m)
  &__info
    $font-l()
    padding var(--base-padding) var(--gap)
    color var(--color-mark)
    +media(m)
      $font-5xl()
  &__image.grid__cell
    @media (max-width point-s - 1)
      width calc(100% + var(--base-padding))
      margin-x calc(var(--base-padding) / 2)
      background-color var(--color-mark-light)
  .accessibility-mode &
    padding-inline 0
    background-color transparent
    &__info
    
      color var(--color-text)
