.doctor-education
  &__info
  &__info *
    color var(--color-mark) 
    +media(s)
      $font-xl()
  &__info b
    color var(--color-strong)
  .accessibility-mode &
    &__subtitle
    &__info
      width 100%
      color var(--color-text)
