include /blocks/logo-grossmaster/logo-grossmaster
include /blocks/header-services/header-services
include /blocks/header-search/header-search
include /blocks/header-navigation/header-navigation

include /data/header

+container({ tag: 'header' }).header.congress-header: +content.header__inner
  +logoGrossmaster.header__logo
  a(href='tel:+79119992629').header__tel +7 (911) 999 26 29
  a(href='mailto:grossmaster@medall.clinic').header__email grossmaster@medall.clinic
  +headerNavigation.header__navigation
  +headerServices([
    { name: 'Уникальность', href: '#advantages' },
    { name: 'Спикеры', href: '#speakers' },
    { name: 'Программа', href: '#program' },
    { name: 'Стоимость', href: '#price' },
  ]).header__services
