.congress-header
  .header__inner
    grid-template-areas 'logo tel tel navigation' 'logo email email navigation'
    grid-template-columns auto 1fr 1fr auto
    grid-gap 0 var(--gap)
    align-items center
    padding-y 8px
    +media(s)
      grid-template-areas 'logo . tel email navigation'
      grid-template-columns 4fr 1fr 3fr 3fr 1fr
      grid-row-gap 0
      align-items center
      padding-y 16px
    +media(m)
      grid-template-areas 'logo tel email search navigation'\
      'logo address schedule search navigation'\
      'services services services services services'
      grid-template-columns 3fr 3fr 4fr repeat(2, 1fr)
      padding-top 16px
      padding-bottom 8px
    +media(l)
      grid-template-areas 'logo . tel email navigation'\
      'logo . address schedule navigation'\
      'services services services services services'
      grid-template-columns 3fr 1fr 3fr 4fr 1fr
  .header__logo
    +media(s)
      width 100%
  .header__services .header-services__list
    justify-content start
    gap 134px
  .header__tel
    align-self center
    +media-max(s)
      justify-self center
  .header__email
    +media-max(s)
      $font-s-bold()
      grid-area email
      justify-self center
      display block
      text-align center
      text-decoration none
      color var(--color-text-secondary)
    +media(s)
      align-self center
