.banner-transplantation-works
  display grid
  grid-template-columns auto
  grid-template-rows auto
  grid-auto-flow row
  padding 0
  +media-max(s)
    +before()
      position relative
      grid-column 1 / -1
      grid-row 1 / -1
      align-self end
      display block
      width 100%
      height 90px
      background-image linear-gradient(180deg, rgba(177, 200, 192, 0) 0%, #b1c8c0 100%)
      z-index 2
  +media(s)
    grid-template-columns repeat(2, 1fr)
    grid-template-rows 1fr auto 1fr
  &__inner
    display flex
    flex-direction column
    gap 30px
    padding-x 20px
    +media-max(s)
      padding-y 40px
      align-items center
      text-align center
    +media(s)
      grid-column 2 / 3
      grid-row 1 / -1
  &__image
    grid-column 1 / -1
    grid-row 1 / -1
    width 100%
    max-width none
    max-height 790px
    object-fit cover
    object-position center top
    +media(s)
      grid-column 1 / 2
  &__title
    +media(s)
      $font-2xl()
    +media(m)
      $font-5xl()
  &__description
    color var(--color-mark)
    +media(m)
      max-width @css{ min( 100%, calc(var(--content-width) / 2) ) }
      padding-right var(--gap)
      $font-xl()
  .accessibility-mode &
    +before()
      content none
    &__description
      color var(--color-text)
