include /blocks/page-section/page-section

mixin bannerTransplantationWorks
  +pageSection({ backgroundColor: [true, 'medium'], logo: true, noContent:true }).banner-transplantation-works
    +img({
      name: 'transplantation-works',
      path: imagesPath,
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true }
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).banner-transplantation-works__image
    .banner-transplantation-works__inner
      h2.banner-transplantation-works__title РЕЗУЛЬТАТЫ #[br] ПЕРЕСАДКИ ВОЛОС
      p.banner-transplantation-works__description Предлагаем посмотреть результаты операций по пересадке волос методами Strip и FUE. Нажмите на кнопку, чтобы увидеть все работы. Изображения сопровождаются информацией о количестве трансплантатов, методе и времени восстановления.
      +button({ tag: 'a' })(href='#').banner-transplantation-works__button Смотреть
