include /blocks/landing-reason/landing-reason

mixin landingReasons(reasons)
  +grid({noGap: true, 'tag': 'ul'}).landing-reasons&attributes(attributes)
    each reason in reasons
      -
        let cellSettings;
        if (reason.image) cellSettings = {s: 6, xs:12}
        else
          if (reason.short) cellSettings = {s: 2, xs:4}
          else cellSettings = {s:4,xs:8}
        cellSettings.tag = 'li'
      +cell(cellSettings).landing-reasons__item: +landingReason(reason)
