mixin landingPrice(price, settings)

  div(class != classes('landing-price', settings))&attributes(attributes)
    .landing-price__inner
      .landing-price__name !{price.name}
      .landing-price__value: span !{price.value} ₽
      if price.desc
        .landing-price__desc !{price.desc}
      if price.doctors
        .landing-price__doctors !{price.doctors.join(', ')}
    +button({ tag: 'a' })(href='#section-contact').landing-price__button Зафиксировать цену
