.landing-price
  display flex
  flex-direction column
  align-items center
  padding 48px 28px 28px
  text-align center
  color var(--color-mark)
  background-color var(--color-mark-light)
  border-radius var(--border-radius-l)
  +media(m)
    padding 42px 32px
  &__inner
    display flex
    flex-direction column
    flex-grow 1
    width 100%
  &__name
    $font-l-uppercase()
    min-width fit-content
    margin-y auto
     +media(l)
      $font-4xl-uppercase()
  &__value
    position relative
    +media-max(m)
      $font-2xl-uppercase()
      margin-top 9px
      padding-top 12px
    +media(m)
      $font-5xl-uppercase()
      margin-top 27px
      padding-top 14px
    span
      font-weight 500
    &::before
      content ''
      position absolute
      top 0
      left 50%
      width 100%
      max-width 260px
      height 2px
      background-color #045658
      transform translateX(-50%)
  &__desc
    $font-s()
    margin-top calc(var(--base-padding) / 2)
    +media(m)
      $font-xl()
      margin-top var(--base-padding)
  &__button
    margin-top var(--base-padding)
     +media-max(l)
      margin-top var(--gap)
  .accessibility-mode &
    color var(--color-text)
    background-color transparent
    &__button
      margin-top var(--gap)
