.link-icon
  display block
  width 48px
  height 48px
  background-color var(--link-color)
  mask-repeat no-repeat
  mask-position center
  mask-size cover
  transition background-color var(--transition-duration-out)
  +hover()
    background-color var(--link-color-hover)
    transition-duration var(--transition-duration-in)
  $icons = 'telegram', 'youtube', 'vk', 'tiktok', 'zen', 'instagram'
  for $icon in $icons
    &--icon--{$icon}
      mask-image maskImage($icon)
  &--icon--instagram
    width 50px
    height 52px
