.emtone-efficiency
  &__name
    +media-max(m)
      display block
      width fit-content
      margin-x auto
      text-align center
  &__subtitle
    +media-max(m)
      display block
      text-align center
