.banner-stomach
  text-align center
  +media(m)
    background-image $backgroundImage('banner-stomach', inner)
    background-repeat no-repeat
    background-position top
    background-size 100% 86%
  &__image
    align-self flex-end
    height 646px
    background-image url(../images/banner-stomach.webp)
    background-repeat no-repeat
    background-position bottom
    background-size 100%
    +media-max(m)
      order 2
      height 421px
      background-image url(../images/banner-stomach.webp), $backgroundImage('banner-stomach-mobile', inner)
      background-repeat no-repeat, no-repeat
      background-position bottom, bottom
      background-size auto 100%, 100% 75%

  &__info
    padding-y 51px
     +media-max(l)
      order 1
    p
      $font-s()
      +media(m)
        $font-l()
  &__title
  &__price
    color var(--color-mark)
    +media(m)
      color var(--color-background)
  &__price
    $font-2xl()
    margin-bottom 32px
    strong
      font-weight normal
      word-spacing -10px
      color inherit
    +media(m)
      $font-6xl()
      margin-bottom 64px
  &__button
    display inline-block
    margin-top 32px
    +media(m)
      margin-top 48px
  .accessibility-mode &
    color var(--color-text)
    background-image none
    &__title
    &__price
      color var(--color-text)
    &__image
      display none
    &__info
      margin-inline auto
