include /blocks/page-section/page-section
  
+pageSection({'tag': 'section', noContent: true, backgroundColor: [ true, 'light' ]}).banner-stomach: +content(class= grid({'alignItems': 'center'}))
  +cell({m: 5, s: 12, xs: 12}).banner-stomach__image
  +cell({m: 7, s: 12, xs: 12}).banner-stomach__info
    h1.banner-stomach__title Послеродовая пластика живота
    .banner-stomach__price от 
      strong 60 000
      |  руб.
    .banner-stomach__body
      p консультация
        br
        | операция
        br
        | общий наркоз
        br
        | такси после операции
        br
        | пребывание в индивидуальной палате (1 сутки)
        br
        | персональный куратор
        br
        | послеоперационное сопровождение

    +button({ tag: 'a' })(href='#section-contact').banner-stomach__button Хочу вернуться в форму
