include /blocks/page-section/page-section
  
+pageSection().banner-indications-all-on-4
  h2.banner-indications-all-on-4__title.text-align-center Показания к имплантации<br>All on 4
  +grid({ padding: 'y', justify: 'center' })
    +cell({ l:3, m: 4, s: 6, xs: 8 }): .banner-indications-all-on-4__item
      .banner-indications-all-on-4__item-title Полная адентия
      +img({
        name: 'indications-1',
        path: '/images/landings/all-on-4/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true }
        ],
      })(alt='Показания к имплантации: Полная адентия').banner-indications-all-on-4__item-image
      //: img(src='/images/landings/all-on-4/.png' alt='')
    +cell({ l:3, m: 4, s: 6, xs: 8 }): .banner-indications-all-on-4__item
      .banner-indications-all-on-4__item-title Сильно разрушенные зубы
      +img({
        name: 'indications-2',
        path: '/images/landings/all-on-4/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true }
        ],
      })(alt='Показания к имплантации: Сильно разрушенные зубы').banner-indications-all-on-4__item-image
      //: img(src='/images/landings/all-on-4/.png' )
  .banner-indications-all-on-4__rehabilitation Операция проводится под общим наркозом.
  .banner-indications-all-on-4__rehabilitation Полная реабилитация в течение 1-3 суток.
  .banner-indications-all-on-4__clarification Имеются противопоказания проконсультируйтесь с врачом.
