.banner-indications-all-on-4
  background-image linear-gradient(180deg, rgba(4, 86, 88, 0) 0%, rgba(0, 99, 101, 0.16) 50.52%, rgba(4, 86, 88, 0) 100%)
  &__title
    $font-5xl()
    margin-bottom 16px
  &__item
    display flex
    flex-direction column
    align-items center
    justify-content flex-end
    width 100%
    max-width 260px
    height 260px
    padding-x 24px
    padding-top 64px
    padding-bottom 48px
    border 0.5px solid var(--color-mark)
    border-radius var(--border-radius-50)
  &__item-title
    $font-l-bold()
    margin-bottom 16px
    text-align center
  &__item-image
    margin-top auto
  &__rehabilitation
    $font-3xl-bold()
    margin-top 44px
    text-align center
    color var(--color-mark)
    & + &
      margin-top 8px
  &__clarification
    $font-m-bold()
    margin-top 24px
    text-align center
    letter-spacing 0.01em
    color var(--color-text-secondary)
  .accessibility-mode &
    &__item
      border none
    &__rehabilitation
  
      color var(--color-text)
