mixin doctorsItem(item)
  .doctors-item&attributes(attributes)
    a(href='/').doctors-item__title
      span !{item.name.slice(0, item.name.indexOf(' '))}
      | !{item.name.slice(item.name.indexOf(' '))}
    .doctors-item__description !{item.description}
    a(href='').doctors-item__image
      +img(item.image).doctors-item__image
