.doctors-item
  display flex
  flex-direction column
  align-items center
  padding var(--base-padding)
  text-align center
  background-color var(--color-mark-light)
  +media-max(s)
    display grid
    grid-template-columns 2fr 3fr
    grid-template-areas 'image title' 'image description'
    grid-gap var(--base-padding)
  &__title
    $font-m()
    order 2
    margin-bottom auto
    text-decoration none
    +media(m)
      $font-xl()
    +media-max(s)
      grid-area title
      align-self end
    span
      display block
      color inherit
      text-transform uppercase
  &__description
    $font-s()
    order 3
    margin-top 8px
    +media(m)
      $font-m()
    +media-max(s)
      grid-area description
      align-self start
  &__image
    order 1
    width @css{ min(100%, 280px) }
    aspect-ratio 1
    object-fit cover
    object-position top
    border-radius var(--border-radius-50)
    +media(s)
      margin-bottom 16px
    +media-max(s)
      grid-area image
  .accessibility-mode &
    background-color transparent
