.slider-program
  +media(s)
    padding-bottom calc(var(--gap) + var(--arrow-size))
  .slider__arrow
    top auto
    bottom 0
    transform none
    +media-max(s)
      display none
    &--prev
      --arrow-before-rotate 180deg
      right @css{ min(calc(var(--content-width) / 2), calc(100vw / 2)) }
      left auto
    &--next
      --arrow-before-rotate 0
      left calc(@css{ min(100vw, var(--content-width)) } / 2)
      right auto
    &::before
      mask(arrow)
      height 24px
  .slider__pagination
    +media(s)
      display none
