.home-header
  background-repeat no-repeat
  background-position center
  background-size cover
  +media-max(s)
    background-image image-set( \
            url(../images/home-header_xs.webp) 1x, \
            url(../images/home-header_xs@2x.webp) 2x
    )
    height calc(100vh - var(--header-height))
    padding 0
  +media(s)
    height @css{ min(50vw, 800px) }
    background-image image-set( \
            url(../images/home-header_l.webp) 1x, \
            url(../images/home-header_l@2x.webp) 2x
    )
  &__inner
    display grid
    height 100%
    &.content
      +media-max(s)
        padding 0
    +media(s)
      grid-template-columns repeat(2, 1fr)
      grid-gap var(--gap)
      grid-template-rows 1fr min-content
      align-items end
  &__title
    font-weight 400
    text-transform none
    +media-max(s)
      $font-l()
      grid-column 1/-1
      display flex
      align-self end
      align-items center
      padding var(--gap) 17.5vw
      text-align center
    +media(s)
      $font-2xl()
      grid-column 2/3
  &__button
    +media-max(s)
      justify-self center
      align-self start
      margin-top 20px
    +media(s)
      grid-column 2/3
