.home-header
  :not(.accessibility-mode) &
    --h1-color var(--color-white)
  .accessibility-mode &
    height auto
    padding-bottom var(--page-section-padding-bottom)
    background-image none
    &__inner
      grid-template-rows min-content min-content
      +media(s)
        grid-template-columns 1fr
        grid-gap var(--gap)
        justify-items center
        align-items end
    &__title
      color var(--color-text)
      +media(s)
        grid-column 1
    &__button
      +media(s)
        grid-column 1
