+pageSection(): +grid({ nopadding: true, justify: 'center' }).banner-all-on-4
  +cell({ l: 5, m: 6, xs: 12 }).banner-all-on-4__item
    .banner-all-on-4__info
      .banner-all-on-4__title Все на четырёх
      p За счет высокого экспертного уровня наших специалистов мы без проблем проводим концепцию лечения  All-0n-4
    .banner-all-on-4__image: img(src='/images/landings/all-on-4/skull-1.png' alt='')
  +cell({ l: 5, m: 6, xs: 12 }).banner-all-on-4__item
    .banner-all-on-4__info
      .banner-all-on-4__title скуловая имплантация
      p Мы беремся за самые сложные случаи, за пациентов, кому показана скуловая имплантация
    .banner-all-on-4__image: img(src='/images/landings/all-on-4/skull-2.png' alt='')
