.banner-all-on-4
  isolation isolate
  &__item
    +media(m)
      &:first-of-type
        border-right 1px solid var(--color-mark)
      &:first-of-type .banner-all-on-4__info
      &:first-of-type .banner-all-on-4__image
        padding-right 82px
        padding-left 22px
      &:last-of-type .banner-all-on-4__info
      &:last-of-type .banner-all-on-4__image
        padding-right 22px
        padding-left 82px
    +media-max(m)
      padding-x 16px
  &__info
    position relative
    align-self flex-start
    padding-bottom 30px
  &__info p
    & + ^[-1]__title
      margin-top 8px
  &__title
    $font-xl-uppercase()
    color var(--color-mark)
    & + p
      margin-top 8px
    +media(s)
      $font-3xl-uppercase()
  .accessibility-mode &
    &__item
      width 100%
      display grid
      grid-template-columns minmax(auto, 700px)
      justify-content center
      &:first-of-type
        border-right none
      &:first-of-type .banner-all-on-4__info
      &:first-of-type .banner-all-on-4__image
        padding-right 0
        padding-left 0
      &:last-of-type .banner-all-on-4__info
      &:last-of-type .banner-all-on-4__image
        padding-right 0
        padding-left 0
    &__title
      color var(--color-text)
