.banner-dental-checkup
  --color-text var(--color-white)
  text-align left
  +media(l)
    position relative
    padding-y 110px
    background-image linear-gradient(to right, #92a0a3, #7c8184 70%)
    &::before
      content ''
      position absolute
      top 0
      right 0
      width 50%
      height 100%
      background-image url(../images/banner-dental-checkup.webp)
      background-repeat no-repeat
      background-position left bottom
      background-size cover
  +media-max(m)
    background-color var(--color-mark)
    padding-y var(--base-padding)
  &__title
    $font-6xl()
    margin-bottom 42px
  &__image
    overflow hidden
    border-radius var(--border-radius-50)
    &.grid__cell
      width calc(100% - var(--base-padding))
      margin var(--base-padding) calc(var(--base-padding) / 2)
  .accessibility-mode &
    background-image none
    &::before
      content none
    &__image
      display none
    &__info
      width 100%
