include /blocks/page-section/page-section

+pageSection({ noContent: true }).banner-dental-checkup: +content(class= grid({ alignItems: 'center' }))
  +cell({ m: 6, xs: 12 }).banner-dental-checkup__info
    .banner-dental-checkup__title Dental CHECK-UP 7500 ₽
    +ul
      +li Консультация стоматолога-терапевта;
      +li 3D цифровая рентгенодиагностика;
      +li Конусно-лучевая компьютерная томография черепа;
      +li Составление плана лечения на основании осмотров и диагностических данных
  +cell({ xs: 12 }).banner-dental-checkup__image.hidden-l.hidden-m
    +img({
      name: 'banner-dental-checkup-mobile',
      path: '/images/landings/',
      formats: [
        { ext: 'webp', mime: 'images/webp' },
        { ext: 'jpg', orig: true },
      ],
    })(alt='')
