mixin beforeAfter(item = {})
  -
    item.settings = item.settings || {}
    const classList = classes('before-after', (item.settings))
  div(class=classList)&attributes(attributes)
    .before-after__name.before-after__name--before !{item.before.name}
    .before-after__image.before-after__image--before: +img(item.before.image)(alt='')
    .before-after__name.before-after__name--after !{item.after.name}
    .before-after__image.before-after__image--after: +img(item.after.image)(alt='')
