.before-after
  display grid
  grid-column-gap 1px
  grid-template-columns 1fr 1fr 
  grid-template-rows min-content min-content
  grid-template-areas 'name-before name-after' 'image-before image-after'
  overflow hidden
  background-color #0B5456
  border 1px solid #0B5456
  border-radius 21px
  &--mobile-wide
    +media-max(m)
      grid-template-columns 1fr
      grid-template-rows repeat(4, min-content)
      grid-template-areas 'name-before' 'image-before' 'name-after' 'image-after'
  &__name
    padding 5px 16px
    font-size 14px
    line-height 1.5
    text-transform uppercase
    color #045658
    background-color #fff
    &--before
      grid-area name-before
    &--after
      grid-area name-after
  &__image
    align-self stretch
    background-color #fff
    width 100%
    height 100%
    &--before
      grid-area image-before
    &--after
      grid-area image-after
    img
      display block
