.list-reasons
  display flex
  font-size 18px
  line-height 1.5
   +media-max(l)
    flex-direction column
    align-items flex-start
  &__name
    position relative
    margin-right 26px
    padding-right 83px
    letter-spacing .145em
    &::before
    &::after
      content ''
      position absolute
    &::before
      width 66px
      top 13px
      right 1px
      border .5px solid
    &::after
      top 13.5px
      right 0
      width 8px
      height 8px
      border 1px solid
      border-bottom none
      border-left none
      transform rotate(45deg)
      transform-origin 100% 0 0
  &__list
     +media-max(l)
      margin-top 22px
  li
    position relative
     +media-max(l)
      font-size 14px
    & + li
      margin-top 31px
       +media-max(l)
        margin-top 6px
    &::before
      content '○'
      margin-right 21px
      font-size 24px
      line-height 20px
       +media-max(l)
        font-size 18px
        line-height 12px
