extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/doctor-certificates/doctor-certificates
include /blocks/doctor-works/doctor-works
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/banner-plastics-gift/banner-plastics-gift
include /blocks/breadcrumbs/breadcrumbs
include /blocks/iframe-responsive/iframe-responsive
include /blocks/reviews/reviews-item/reviews-item

block head 
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'doctor'    
    const isDoctorPage = true
  include /data/footer
  include /data/home
  include /data/works  
  include /data/reviews
block content
  +breadcrumbs({ parents: [ 'Главная', 'Врачи' ], current: 'Гогохия Тамара Зауровна' }).breadcrumbs
  include /blocks/doctor-header/doctor-header 
  +pageSection({ backgroundColor: [true, 'dark'], noContent: true }).doctor-description: +content.doctor-description__inner
    p За время учебы получила огромный опыт в области челюстно-лицевой хирургии, онкологии молочной железы, по лечению ожогов и в дальнейшем в реконструкции послеожоговых деформации и дефектов. После окончания ординатуры продолжала совершенствовать полученные знания в экстренной хирургии, челюстно-лицевой хирургии. Сегодня, совмещая свою работу в различных отраслях хирургии, использую полученные знания в решении многих вопросов в пластической хирургии. Регулярно посещаю конгрессы и симпозиумы в России и за рубежом. Обладаю российскими сертификатами по пластической и эстетической хирургии. Владею техниками выполнения всех пластических операций на лице и теле.
  +pageSection({ logo: true, backgroundColor: [ true, 'light' ] }).doctor-education
    +pageSubsection(class= grid())
      +cell({ tag: 'h2', m: 5, xs: 12 }).doctor-education__subtitle.h2 дополнительное образование
      +cell({ m: 7, xs: 12 }).doctor-education__info
        div
          b 2016 г. — 
          | диплом специалиста. Освоил программу специалитета по специальности Лечебное дело.
        div
          b 2016 — 2017 гг. — 
          | диплом о послевузовском профессиональном образовании (интернатура) по направлению подготовки Хирургия.
        b 2022 г. 
        | — диплом об окончании ординатуры с отличием. Освоил основную профессиональную образовательную программу ординатуры по специальности Пластическая хирургия.
    +pageSubsection(class= grid())
      +cell({ tag: 'h2', m: 5, xs: 12 }).doctor-education__subtitle.h2 дополнительное образование
      +cell({ m: 7, xs: 12 }).doctor-education__info
        b 2014 г.
        |  — IV международный обучающий урс по пластичесой хирургии. г.Санкт-Петербург.
        br
        br
        b 2015 г
        | . — Обучение «Курс микроанастомоза и остеосинтеза» под руководством Др. Йозефа Клуба, г. Санкт-Петербург.
        br
        br
        b 2015 г
        | . — участник круглого стола «Особенности применения анатомических имплантов: от теории к практике», г. Санкт-Петербург.
        br
        br
        b 2015 г.
        |  — участник на научной конференции «Сложные случаи в Эстетической хирургии молочной железы», г. Санкт-Петербург.
        br
        br
        b 2016 г
        | . — участник на научной конференции конференция «Сложная Хирургия Лица», г. Санкт-Петербург.
        br
        br
        b 2016 г.
        |  — участник V Национального конгресса «Пластическая хирургия, эстетическая медицина и косметология», г. Москва.
        br
        br
        b 2017 г.
        |  —VI National congress «Plastic surgery, esthetic medicine and cosmetology» г. Москва.
        br
        br
        b 2018 г.
        |  — IV Петербургсий международный онологичесий форум. г. Санкт-Петербург.
        br
        br
        b 2019 г. 
        | — участник курса «Контурная пластика и омолаживающая хирургия лица». г. Санкт-Петербург.
        br
        br
        b 2020 г. 
        | — участник серии мастер-классов Рыбакина А.В.- Закрытая гибридная ринопластика, периорбитопластика и липоскульптура тела. г. Санкт-Петербург.
  +doctorCertificates
  +pageSection({ logo: true, backgroundColor: [ true, 'light' ] }).doctor-directions
    +pageSubsection({ tag: 'h2' }).text-align-center специализация
    +pageSubsection(class= grid({ justify: 'space-between' })).doctor-directions__inner
      +img({
        name: 'doctor-directions-image',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })(class= cell({ s: 5 })).doctor-directions__image
      +cell({s: 6, xs: 12}).doctor-directions__info
        +pageSubsection(class= grid({ alignItems: 'center' })).doctor-directions__section
          +cell({ tag: 'h3', m: 6, xs: 12 }).doctor-directions__subtitle тело
          +cell({ tag: 'ul', m: 6, xs: 12 }).doctor-directions__list
            li Абдоминопластика
            li Интимная пластика
            li Липосакция тела
            li Липофилинг тела 
            li Абдоминопластика
            li Интимная пластика
            li Липосакция тела
            li Липофилинг тела 
        +pageSubsection(class= grid({ alignItems: 'center' })).doctor-directions__section
          +cell({ tag: 'h3', m: 6, xs: 12 }).doctor-directions__subtitle лицо
          +cell({ tag: 'ul', m: 6, xs: 12 }).doctor-directions__list
            li Отопластика (пластика ушей)
            li Подтяжка кожи лица и шеи
        +pageSubsection(class= grid({ alignItems: 'center' })).doctor-directions__section
          +cell({ tag: 'h3', m: 6, xs: 12 }).doctor-directions__subtitle ГРУДЬ
          +cell({ tag: 'ul', m: 6, xs: 12 }).doctor-directions__list
            li Подтяжка груди
            li Уменьшение молочных желез
  +doctorWorks
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Отзывы
    +slider().page-subsection.home-feedback__slider.reviews-item-list
      each review in reviewsItems
        +slide
          +reviewsItem(review) 
      //- each item in feedback
      //-   +slide.home-feedback__slide !{item}
    a(href='#').button.home-feedback__button Оставить отзыв
  +pageSection({ backgroundColor: [true, 'light'] }).home-feedback
    +h2.page-section__title.page-subsection.text-align-center Отзывы
    a(href='#').button.home-feedback__button Оставить отзыв
  +pageSection({noContent: true})
    +content(class= grid({ justify: 'center' }))
      +cell({m:9}).iframe-responsive
        .iframe-responsive__iframe
          iframe(data-youtube='https://www.youtube.com/embed/vsNtJ9BckHA?si=tNNlsTRQhepYt0NV' src='' allowfullscreen="allowfullscreen")
  +pageSection({noContent: true})
    +content(class= grid({ justify: 'center' }))
      +cell({m:9}).iframe-responsive
        .iframe-responsive__iframe        
          iframe(data-youtube='https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2&autoplay=1' src='' allowfullscreen="allowfullscreen")
      //- +youtubeResponsive('jsvHBcAPl38?si=64bPhnCBgrptnNq2')(class= cell({m:9}))
  +pageSection
    +pageSubsection
      +h2.page-section__title.text-align-center Хотите записаться на консультацию?
      p.page-section__subtitle Оставьте свои контактные данные и мы обязательно свяжемся с Вами.
    +pageSubsection(class= grid({ justify: 'center' }))
      +cell({ tag: 'form', m:6, s: 8, xs: 12 }).form
        +formInput({ type: 'text', label: 'ФИО' }).form__input
        +formInput({ type: 'tel', label: 'Телефон' }).form__input
        +formInput({ type: 'email', label: 'Электронная почта' }).form__input
        +formInput({ type: 'textarea', label: 'Комментарии' }).form__input
        +button(type='submit').form__submit Оставить заявку
        .form__agreement.home-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='#') обработку персональных данных].
  +bannerPlasticsGift({ backgroundColor: 'light' })
