extends /blocks/layout/layout

include /blocks/discounts-section/discounts-section
include /blocks/discounts-item/discounts-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'discounts'
  include /data/discounts
  include /data/footer
block content
  include /blocks/discounts-header/discounts-header
  each discount in discounts
    +discountsSection(discount.name)
      each item in discount.list
        +discountsItem(item)
  +pageSection({ noContent: true }): +content(class= grid({ justify: 'center' })): +cell({tag: 'form', m: 6, s: 8, xs: 12 }).discounts-form#discounts-form
    +h2.discounts-subtitle заполните данные и мы совсем скоро свяжемся с вами
    p.discounts-form__description В комментарии напишите, какая услуга и акция вас интересует
    +formInput({ type: 'text', placeholder: 'ФИО' }).discounts-form__field
    +formInput({ type: 'tel', placeholder: 'Телефон' }).discounts-form__field
    +formInput({ type: 'email', placeholder: 'Электронная почта' }).discounts-form__field
    +formInput({ type: 'textarea', placeholder: 'Комментарии' }).discounts-form__field
    p.discounts-form__agreement Нажимая  кнопку «Отправить» я даю согласие на #[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') обработку персональных данных].
    +button({ type: 'submit' }).discounts-form__submit Оставить заявку
