.block-borders
  position relative
  margin-y var(--gap)
  &::before
    content ''
    position absolute
    inset calc(var(--base-padding) * -1)
    border 1px solid var(--color-border)
    border-radius var(--border-radius-m)
  +media-max(m)
    padding 15px 20px
    &::before
      inset 0 
