:root
  --link-text-decoration underline
  --link-color var(--color-mark)
  --link-color-hover var(--color-hover)

.accessibility-mode a
  --link-color var(--color-text)
  --link-color-hover var(--color-text)
  &:not([class])
    +hover()
      background-color #999999

a
  color var(--link-color)
  text-decoration var(--link-text-decoration)
  transition color var(--transition-duration-out)
  &[href^='#']
    text-decoration-style dotted
  +media(m)
    +hover()
      color var(--link-color-hover)
      transition-duration var(--transition-duration-in)
