.banner-moment-implantation
  background-color var(--color-mark-light)
  &__image
    background-image url(../images/banner-moment-implantation.webp)
    +media(m)
      background-repeat no-repeat
      background-position bottom left
      background-size auto 96%
    +media-max(m)
      order 2
      height 192px
      background-repeat no-repeat
      background-position center top
      background-size 60% auto
      border-bottom 4px solid var(--color-border)
  &__info
    display flex
    flex-direction column
    padding-top var(--base-padding)
    padding-bottom 48px
    color #568786
    +media-max(m)
      align-items center
      order 3
    +media(m)
      padding-top 48px
  &__title
    $font-2xl()
    margin-bottom 24px
    +media-max(m)
      text-align center
    +media(m)
      $font-6xl()
      margin-top var(--base-padding)
      margin-bottom 16px
  &__price
    $font-3xl()
    margin-y 17px
    color var(--color-mark)
    +media(m)
      $font-6xl()
    strong
      font-weight normal
  &__button
    margin-top 12px
    padding-x 42px
    font-size 18px
  .accessibility-mode &
    background-color transparent
    &__image
      display none
    &__info
      width 100%
      align-items center
      text-align center
      color var(--color-text)
    &__price
      color var(--color-text)
