include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

+pageSection({ noContent: true }).banner-moment-implantation: +content(class= grid({ alignItems: 'stretch' }))
  +cell({ l: 6, m: 6, s: 12, xs: 12 }).hidden-l.hidden-m
    h1.banner-moment-implantation__title Одномоментная имплантация без доплат
  +cell({ l:6,m:6,s:12,xs:12 }).banner-moment-implantation__info
    h1.banner-moment-implantation__title.hidden-s.hidden-xs Одномоментная имплантация без доплат
    .banner-moment-implantation__body
      +ul
        +li Консультация врача-стоматолога-хирурга;
        +li 3D-сканирование;
        +li установка имплантата;
        +li цифровой хирургический шаблон;
        +li временный абатмент;
        +li временная коронка;
        +li комплексный план лечения.
    .banner-moment-implantation__price 48 000 ₽
    +button({ tag: 'a' })(href='#section-contact').banner-moment-implantation__button Хочу идеальную улыбку
  +cell({ l:6,m:12,s:12,xs:12 }).banner-moment-implantation__image
