:root
  --page-section-margin-top var(--page-section-margin-top-xs)
  --page-section-margin-top-xs 28px
  --page-section-margin-top-s 45px
  --page-section-margin-top-m 70px
  --page-section-padding-top var(--page-section-padding-top-xs)
  --page-section-padding-top-xs 28px
  --page-section-padding-top-s 45px
  --page-section-padding-top-m 70px
  --page-section-padding-bottom var(--page-section-padding-bottom-xs)
  --page-section-padding-bottom-xs 28px
  --page-section-padding-bottom-s 45px
  --page-section-padding-bottom-m 70px

  +media(s)
    --page-section-margin-top var(--page-section-margin-top-s)
    --page-section-padding-top var(--page-section-padding-top-s)
    --page-section-padding-bottom var(--page-section-padding-bottom-s)

  +media(m)
    --page-section-margin-top var(--page-section-margin-top-m)
    --page-section-padding-top var(--page-section-padding-top-m)
    --page-section-padding-bottom var(--page-section-padding-bottom-m)

.page-section
  & + &
    margin-top var(--page-section-margin-top)
  &--background-color
    padding var(--page-section-padding-top) 0 var(--page-section-padding-bottom)
    & + &
    & + ^[-1]--gradient--to-top
      margin-top 0
  &--gradient
    padding var(--page-section-padding-top) 0 var(--page-section-padding-bottom)
    &--to-bottom + &--to-top
      margin-top 0
    &--to-bottom + ^[-1]--background-color
       margin-top 0
  &--margin--small
    --page-section-margin-top var(--page-section-padding-top)
  &#section-price
    +media(s)
      .button
        margin-bottom 30px
