.accessibility-mode .page-section
  padding var(--page-section-padding-top) 0 var(--page-section-padding-bottom)
  &--logo
    &::after
      content none
  & + .page-section
    margin-top 0
    border-top 1px solid
.page-section
  &--background-color
    &--dark
      @extends .inverted
  html:not(.accessibility-mode) &
    &--background-color
      &--light
        background-color var(--color-mark-light)
      &--medium
        --logo-background-color var(--color-white)
        background-color var(--color-mark-medium)
    &--gradient
      &--to-top
        background-image var(--gradient-to-top)
      &--to-bottom
        background-image var(--gradient-to-bottom)
      &--dark
        @extends .inverted
        background-color transparent
        background-image var(--gradient-dark)
  main :nth-last-child(1 of &):not(:is(&--gradient, &--background-color))
    margin-bottom var(--page-section-margin-top)
  &--no-margin-bottom
    margin-bottom 0!important
  &--no-margin--after-background
   / :is(^[-1]--background-color, ^[-1]--gradient) + &
      margin-top 0
  &--logo
    --logo-background-color var(--color-mark-medium)
    position relative
    isolation isolate
    +after()
      mask(logo-simple)
      position absolute
      top var(--logo-top, 50%)
      right var(--logo-right, @css{ max(-14vw, -120px) })
      left var(--logo-left, auto)
      z-index -1
      width var(--logo-width, @css{ min(122.5vw, 1280px) })
      aspect-ratio 447/144
      opacity .3
      background-color var(--logo-background-color)
      translate var(--logo-translate-x, 0) var(--logo-translate-y, -50%)
    &--center
      --logo-top 20px
      --logo-right 50%
      --logo-width @css{ min(122.5vw, 1068px) }
      --logo-translate-x 50%
      --logo-translate-y 0
    &--left
      --logo-right auto
      --logo-left @css{ max(-14vw, -120px) }
  p&__subtitle
    margin-top var(--base-padding)
    text-align center
    color var(--h2-color)
