.banner-message-dentistry
  padding-bottom 0
  &__inner
    isolation isolate
    display grid
    grid-template-rows repeat(2, auto) 20px auto
    grid-template-columns repeat(3, 1fr)
    gap var(--gap)
    +media-max(s)
      padding-right 0
    +media-max(m)
      padding-left 0
    +media(s)
      grid-template-columns 2fr 90px 3fr
      grid-template-rows auto min-content auto
      gap var(--base-padding) 0
    +media(m)
      grid-template-rows auto min-content 1fr
      grid-template-columns 2fr 0fr 3fr
      gap var(--gap)
  &__title
    grid-column 1/-1
    +media(s)
      grid-column 1/-1
      grid-row 1/2
      margin-bottom var(--base-padding)
    +media(m)
      margin-bottom var(--gap)
  &__info
    position relative
    grid-column 1/-1
    grid-row 2/4
    padding var(--gap)
    text-align center
    border 1px solid var(--color-mark)
    border-radius var(--border-radius-m)
    p
      color var(--color-mark)
    +media-max(s)
      margin-inline var(--gap)
    +media(s)
      grid-column 2/4
      grid-row 2/3
      align-self start
    +media(m)
      grid-column 2/4
    +before()
      mask(quote, main)
      position absolute
      top var(--base-padding)
      left var(--base-padding)
      z-index -1
      width 86px
      height 61px
      background-color var(--color-mark-medium)
      opacity .6
      +media(s)
        width 119px
        height 85px
      +media(m)
        width 140px
        height 99px
  &__image
    z-index 2
    grid-column 1/-1
    grid-row 3/5
    justify-self start
    +media(s)
      grid-column 1/3
      grid-row 1/-1
      justify-self end
      align-self end
    +media(m)
      grid-column 1/2
  &__name
    grid-column 2/4
    grid-row 4/5
    justify-self start
    align-self start
    text-align right
    p 
      color var(--color-mark)
    +media-max(s)
      margin-left calc(var(--gap) * 2)
      padding-right var(--gap)
    +media(s)
      grid-column 2/4
      grid-row -2/-1
      justify-self end
      max-width 340px
      margin-bottom var(--gap)
    +media(m)
      max-width 425px
      margin-bottom 70px
      justify-self start
      text-align left
  .accessibility-mode &
    background-image none
    &__title
      color var(--color-text)
    &__info
      padding 0
      text-align left
      border none
      p 
        color var(--color-text)
      +before()
        content none
    &__name p
      color var(--color-text)
