include /blocks/page-section/page-section

mixin bannerMessageDentistry
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).banner-message-dentistry: +content.banner-message-dentistry__inner
    +h2.page-section__title.banner-message-dentistry__title.text-align-center от первого лица
    .banner-message-dentistry__info 
      p Меня зовут Дмитрий Александрович Чeрный, я — главный врач,  врач-стоматолог-ортопед и генеральный директор цифровой стоматологии MEDALL. За 20 лет практики я убедился, что смысл работы каждого стоматолога — в стремлении сделать нацию осознанной и здоровой, а для этого нужно уже сейчас учить наших детей регулярной заботе о здоровье зубов.
      p В течение 90 минут мы собираем более 100 параметров системы жевания и общих параметров организма, способных оказывать влияние на выбор метода лечения, надёжности результата и его долгосрочности. К таким параметрам могут относиться: аллергия, профессиональные вредности, хронические заболевания, боязнь стоматологического лечения и другие. На основе этих данных можно рассчитать прогноз развития ситуации при разных медицинских подходах: невмешательстве, локальном лечении, то есть устранении причины обращения или комплексном лечении.
      p При комплексном лечении мы собираем уникальную команду из узкоспециализированных профессионалов, ответственных за общий конечный результат для организованного рабочего процесса.
      p Нам важно лечить не орган, а человека в целом, воспринимая его как личность, и выстраивая свою работу так, чтобы пациент лечился только один раз и дальше занимался только профилактикой.
    .banner-message-dentistry__name 
      p Главный врач, врач стоматолог-ортопед,  челюстно-лицевой хирург, имплантолог 
      p Черный Дмитрий Александрович
    +img({
      name: 'banner-message-dentistry',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).banner-message-dentistry__image
