-
  const grid = (settings = {}) => {
    return classes('grid', settings)
  }

  const cell = (settings = {}) => {
    return classes('grid__cell', settings)
  }

mixin grid(settings = {})
  - const tag = settings.tag ? settings.tag : 'div'

  #{tag}(class!= grid(settings))&attributes(attributes)
    block

mixin cell(settings = {})
  -
    const tag = settings.tag ? settings.tag : 'div'

  #{tag}(class!= cell(settings))&attributes(attributes)
    block
