.congress-price
  position relative
  +media-max(s)
    display grid
    grid-template-columns 1fr 2fr
  +media(s)
    display flex
    flex-direction column
  & + &
    +before()
      +media(s)
        position absolute
        inset-block 0
        left calc(-.5 * var(--gap))
        width 1px
        background-color var(--color-background)
  &__title
    +media-max(s)
      $font-xs-bold()
      grid-column 1/2
    +media(s)
      $font-xl()
      margin-bottom 48px
      text-align center
    +media(m)
      $font-4xl()
      margin-bottom 72px
    strong
      display block
      +media(s)
        $font-xl-bold()
      +media(m)
        $font-4xl-bold()
  &__list
    $font-xs()
    +media-max(s)
      grid-column 2/3
    +media(s)
      $font-l()
    +media(m)
      $font-3xl()
  &__item:not(&__item--additional)::before
    background-color var(--color-background)
  &__price
    $font-xs-bold()
    margin-top auto
    +media-max(s)
      grid-column 2/3
      margin-top 12px
      padding-block 12px
      border-top 1px solid
    +media(s)
      $font-4xl()
      padding-top 136px
      text-align center
    +media(m)
      $font-6xl-bold()
