mixin congressPrice(item)
  .congress-price&attributes(attributes)
    h3.congress-price__title Пакет
      strong !{item.title}
    ul.congress-price__list.list-unordered
      each i in item.list.standard
        li.congress-price__item.list-unordered__item !{i}
      if item.list.additional
        each i in item.list.additional
          li.congress-price__item.congress-price__item--additional.list-unordered__item !{i}
    .congress-price__price !{item.price} ₽
