include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/footer-menu/footer-menu

mixin footerNavigation
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).footer-navigation&attributes(attributes): +content(class= grid({ columns: 10 }))
    each item in footerServices || {}
      +footerMenu(item)(class= cell({ s: 2 }))
