include /blocks/slider/slider

mixin landingWorks(list)
  .landing-works&attributes(attributes)
    +slider
      each item in list
        +slide.landing-works__slide
          .landing-works__image: img(src=item.src alt=`${item.name}, увеличение груди`)
          if item.desc1 || item.desc2
            +grid({ 'noGap': true }).landing-works__description
              if !item.desc1 || !item.desc2
                +cell({ xs: 12 }): p !{item.desc1 || item.desc2}
              else
                +cell({ l: 6, xs: 12 }): p !{item.desc1} 
                +cell({ l: 6, xs: 12 }): p !{item.desc2}
          if item.name || item.procedure
            .landing-works__info
              if item.name
                strong Врач:
                |  !{item.name}
              if item.name && item.procedure
                br
              if item.procedure
                strong Было выполнено:
                |  !{item.procedure}
