.landing-works
  margin-top calc(var(--base-padding)*1.75)
  .slider
    --swiper-pagination-color var(--color-mark)
    --swiper-pagination-bullet-inactive-color var(--color-mark)
    --swiper-pagination-bullet-inactive-opacity .3
    --arrow-position 0
    padding-bottom 72px
    +media(s)
      --arrow-position calc(50% - var(--base-padding) - 48px)
    &__pagination
      position absolute
      display block
      bottom 19px
      margin-top 0
      +media(s)
        display none
    &__arrow
      top auto 
      bottom 0
      transform none
      +before()
        mask(arrow)
        width 41px
        height 40px
      &--prev
        --arrow-before-rotate 180deg
      &--next
        --arrow-before-rotate 0
  & .slider__wrapper
    display grid
    grid-auto-flow column
  &__slide
    & .works-item
      height 100%
  &__image
    grid-area image
    display flex
    justify-content center
    align-items center
    width 100%
    max-width 100vw
    height unset
    max-height 509px
    border-radius 0
    +media-max(m)
      min-height unset
    img
      max-height 100%
      max-width 100%
      object-fit contain
      object-position center
  &__description
    grid-area description
    .grid__cell
      &:nth-of-type(1)
        padding 18px 20px 21px 40px
        border-right 1px solid var(--color-mark)
        &:only-child
          border-right none
        +media-max(m)
          border-right none
          &:not(:only-child)
            border-bottom 1px solid var(--color-mark)
      &:nth-of-type(2)
        padding 18px 40px 21px 20px
        border-left 1px solid var(--color-mark)
        &:only-child
          border-left none
        +media-max(m)
          padding 18px 20px 21px 40px
          border-left none
    & + ^[-1]__info
      border-top 2px solid var(--color-mark)
  &__info
    grid-area info
    padding-y 20px
    text-align center
    +media-max(m)
      margin-top 16px
  .accessibility-mode &
    &__slide.swiper-slide
      opacity 1
      border-radius 0
      border-color var(--color-text)
      pointer-events auto
    .landing-works__slide + .landing-works__slide
    &__description .grid__cell:nth-of-type(2)
      border-color var(--color-text)
    .slider
      &__wrapper
        grid-auto-flow row
        justify-items center
        gap var(--gap)
        +media(s)
          grid-template-columns repeat(2, 1fr)
        +media(m)
          grid-template-columns repeat(4, 1fr)
      &__arrow
      &__pagination
        display none
