.home-directions
  --h2-color var(--color-white)
  position relative
  isolation isolate
  background-color var(--color-mark)
  content-visibility auto
  contain-intrinsic-size 800px
  +media-max(s)
    color var(--color-mark)
    padding-y 0
  +media(s)
    color var(--color-white)
    padding 0
  &__title
    +media-max(s)
      padding-y 24px
    +media(s)
      position absolute
      inset 0 0 auto 0
      z-index 2
      isolation isolate
      width auto
      height @css{ min(300px, calc(50% - 40px)) }
      padding-top 46px
    +before()
      +media(s)
        position absolute
        inset 0
        z-index -1
        background-image linear-gradient(#000, transparent)
        opacity .8
  &__slide.slide
    position relative
    +media-max(s)
      display grid
      grid-template-columns var(--gap) 50vw auto
      grid-template-rows 2fr 2fr
    +after()
      +media-max(s)
        z-index -1
        grid-column 1/-1
        grid-row 2/3
        background-image linear-gradient(180deg, rgba(121, 121, 121, 0) 0%, #626262 100%);
        mix-blend-mode multiply
  &__image
    +media-max(s)
      grid-column 1/-1
      grid-row 1/-1
      z-index -2
    +media(s)
      width 100%
      height 100%
      max-height 886px
      object-fit cover
  &__info
    +media-max(s)
      grid-column 2/2
      grid-row 2/3
      align-self center
      padding-bottom 20px
      text-align center
    +media(s)
      position absolute
      top 50%
      left @css{ max(calc((100vw - var(--content-width)) / 2), var(--arrow-size)*2) }
      z-index 2
      display flex
      flex-direction column
      gap 30px
      width @css{ min(35.625vw, 570px) }
      translate 0 -50%
  &__name
    +media-max(s)
      $font-m-uppercase()
      color var(--color-white)
    +media(s)
      $font-3xl-uppercase()
  &__description
    +media-max(s)
      margin-top 16px
      color var(--color-white)
    +media(s)
      $font-xl()
  &__button
    +media-max(s)
      display none
  .slider
    --arrow-size 40px
    --arrow-position calc(var(--arrow-size) / 2)
    &__arrow
      --arrow-color var(--color-white)
      &--next
        --arrow-before-rotate 0
      &--prev
        --arrow-before-rotate 180deg
      &::before
        mask(arrow)
        width 100%
        height 100%
      +media-max(s)
        display none
    &__wrapper
      display grid
      grid-auto-flow column
    &__pagination
      &:is(\
        .swiper-horizontal>.swiper-pagination-bullets,\
        .swiper-pagination-bullets.swiper-pagination-horizontal,\
        .swiper-pagination-custom,\
        .swiper-pagination-fraction\
      )
        +media-max(s)
          position absolute
          right 0
          bottom 65px
          left auto
          z-index 2
          width calc(50vw - var(--gap))
          margin-top 0
        +media(s)
          display none
  .accessibility-mode &
    color var(--color-text)
    background-color var(--color-background)
    &__title
      position relative
      height auto
      margin-bottom var(--page-subsection-margin-top)
      color var(--color-text)
      &::before
        content none
    &__slider
      max-width var(--content-width)
    &__slide
      width 100%
      +media-max(s)
        display block
        color inherit
      &::before
        content none
    &__info
      position static
      display grid
      justify-items center
      justify-content center
      text-align center
      width auto
      translate none
    &__image
      max-width 100%
      display none
    .slider__wrapper
      display grid
      gap var(--page-subsection-margin-top)
      grid-template-columns auto
      justify-items center
      grid-auto-flow row
    .slide + .slide
      padding-top var(--page-subsection-margin-top)
      border-top 1px solid
    .slider__arrow
    .slider__pagination
      display none
    &__name
    &__description
        color var(--color-text)
