.landing-advantages
  --item-height 240px
  --end-width 0
  &__item
    display flex
    overflow hidden
    align-items center
    height var(--item-height)
    border 1px solid var(--color-border)
    border-radius var(--border-radius-50)
    &:nth-child(2)
      @media (max-width point-s - 1)
        order -1
    img
      flex-grow 1
      height 100%
      object-fit cover // @stylint ignore
  &__end
    position relative
    height var(--item-height)
    border 1px solid var(--color-border)
    border-right none
    border-radius var(--border-radius-50) 0 0 var(--border-radius-50)
    &::before
      content ''
      position absolute
      top -1px
      right 0
      width var(--end-width)
      height calc(100% + 2px)
      border-top 1px solid var(--color-border)
      border-bottom 1px solid var(--color-border)
      transform translateX(100%)
