.works-filter
  &__inner
    display flex
    column-gap var(--gap)
    row-gap var(--base-padding)
  &__select
    min-height 50px
    +media-max(s)
      width 100%
    +media(s)
      min-width 350px
  &__search
    & ^[0]__field[type="search"]
      &::-webkit-search-decoration
      &::-webkit-search-cancel-button
      &::-webkit-search-results-button
      &::-webkit-search-results-decoration
        display block
  .form-input__options
    max-height 250px
