.works-filter
  &__inner
    flex-wrap wrap
    align-items flex-start
  &__select
    flex-grow 1
  &__clear
    --form-field-input-color var(--color-black)
    position sticky
    bottom 0
    margin-top 12px!important
    margin-bottom -32px
    padding-y 10px
    background-color var(--color-mark-light)
    font-weight 500
    border-top 1px solid var(--form-field-input-border-color-secondary)
    border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
  &__no-results
    margin-top var(--page-subsection-margin-top)
