include /blocks/page-section/page-section

mixin bannerMessageTransplantation
  +pageSection({ backgroundColor: [ true, 'light' ], noContent: true, logo:true }).banner-message-transplantation: +content.banner-message-transplantation__inner
    +h2.page-section__title.banner-message-transplantation__title.text-align-center от первого лица
    .banner-message-transplantation__info Принято считать, что о своей внешности заботятся в основном женщины, но это — ошибочное мнение. 95% моих пациентов — мужчины, и за более чем 20 лет работы я убедилась, что к своему внешнему виду они также неравнодушны. Часто во время первичной консультации пациенты стесняются открыто говорить о том, что теряют волосы, но когда видят, что перед ними доктор-эксперт в своём деле, то начинают доверять и делиться своими переживаниями. Я отвечаю на все их вопросы, развеиваю интернет-мифы, показываю реальные результаты моей работы. Конечно, отсутствие волос никак не может мешать строить отношения, быть любимым, счастливым, успешным. Но процесс потери волос может влиять на качество жизни. Мне очень приятно, что многие пациенты, радуясь результатам моей работы, приходят со словами благодарности. Глядя на них я понимаю, что помогла им избавиться от психологического дискомфорта и вернуть уверенность в себе.
    .banner-message-transplantation__name Заведующий отделением трансплантации волос, пластический хирург Боярская Светлана Валерьевна
    +img({
      name: 'banner-message-transplantation',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
        { name: 'l', values: [1, 2] },
      ]
    }).banner-message-transplantation__image
