.error-page
  margin-bottom 0
  text-align center
  +media(m)
    height calc(100vh - var(--main-margin-top))
  &__content
    display flex
    flex-direction column
    justify-content center
    align-items center
    height 100%
  &__title
    $font-5xl()
    position relative
    width 128px
    margin-bottom 32px
    padding-bottom 32px
  &__subtitle
  &__info
    margin-bottom 32px
