extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/search-result/search-result
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'search'
  include /data/footer
  include /data/search
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Результаты поиска' })
  +pageSection
    +h1 Результаты поиска: контакты
    +textMarked({ tag: 'p' }) В запросе "ntcn" восстановлена раскладка клавиатуры.
    each result in results
      +h2 !{result.name}
      each item in result.list
        +searchResult(item)
          p !{item.content}
