extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'search'
  include /data/footer
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Результаты поиска' })
  +pageSection
    +h1 Результаты поиска: n
    +textMarked({ tag: 'p' }) К сожалению, на ваш поисковый запрос ничего не найдено.
