extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/breadcrumbs/breadcrumbs
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = 'search'
  include /data/footer
block content
  +breadcrumbs({ parents: [ 'Главная' ], current: 'Результаты поиска' })
  +pageSection
    +h1 Результаты поиска: n
    p В поисковой фразе обнаружена ошибка:
    +textMarked({ tag: 'p', error: true }) Пустой поисковый запрос (запрос не содержит букв или цифр).
    p Исправьте поисковую фразу и повторите поиск.


    +h2 Синтаксис поискового запроса:
    +pageSubsection
      p Обычно запрос представляет из себя просто одно или несколько слов, например:
      +textMarked({ tag: 'p' }) контактная информация
      p По такому запросу будут найдены страницы, на которых встречаются оба слова запроса.
    +pageSubsection
      p Логические операторы позволяют строить более сложные запросы, например:
      +textMarked({ tag: 'p' }) контактная информация или телефон
      p По такому запросу будут найдены страницы, на которых встречаются либо слова "контактная" и "информация", либо слово "телефон".
    +pageSubsection
      +textMarked({ tag: 'p' }) контактная информация не телефон
      p По такому запросу будут найдены страницы, на которых встречаются либо слова "контактная" и "информация", но не встречается слово "телефон".
      p Вы можете использовать скобки для построения более сложных запросов.
    +h2 Логические операторы:
    +table.p
      +tr
        +th Оператор
        +th Синонимы
        +th Описание
      +tr
        +td и
        +td and, &, +
        +td Оператор логическое "и" подразумевается, его можно опускать: запрос "контактная информация" полностью эквивалентен запросу "контактная и информация".
      +tr
        +td или
        +td or, |
        +td Оператор логическое "или" позволяет искать товары, содержащие хотя бы один из операндов.
      +tr
        +td не
        +td not, ~
        +td Оператор логическое "не" ограничивает поиск страниц, не содержащих слово, указанное после оператора.
      +tr
        +td(colspan=2) !{'( )'}
        +td Круглые скобки задают порядок действия логических операторов.
