include /blocks/slider/slider

mixin landingBlockImage(images, path)
  -
    path = path || '/images/'
  .landing-block__image(class = `${images.length > 1 ? 'landing-block__image--slider' : ''}`)&attributes(attributes)
    if images && images.length > 1
      +slider({ fullWidth: true }).landing-block__slider
          each image in images
            +slide.landing-block__slide: +img({
                name: image,
                path: path,
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true },
                ]
              })(alt='' title='')
    if images && images.length === 1
      +img({
        name: images[0],
        path: path,
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ]
      })(alt='' title='')

mixin landingBlock(landingBlock)
  -
    landingBlock = landingBlock || {}
    landingBlock.header = landingBlock.header || ''
    landingBlock.settings = landingBlock.settings || {}
    landingBlock.settings.imgPos = landingBlock.settings.imgPos || 'left'
    sectionSettings = landingBlock.settings.section || {}
    sectionSettings.noContent = true
    secondary = sectionSettings.backgroundColor ? sectionSettings.backgroundColor.includes('light') : false
    const bodySizes = landingBlock.images || landingBlock.form ? { l: 6, m: 6, s: 6, xs: 12 } : { xs: 12 }
  if !block
    - attributes.class ? attributes.class += ' landing-block--no-body' : 'landing-block--no-body'
  +pageSection(sectionSettings).landing-block&attributes(attributes)
    +content(class= grid({ 'justify': 'space-between' }))
      if landingBlock.images && !landingBlock.form && landingBlock.settings.imgPos === 'left'
        +landingBlockImage(landingBlock.images, landingBlock.path)(class != `${cell({ l: 5, m: 5, s: 6, xs: 9 })} ${landingBlock.images.length === 1 ? '': ''}`)
      if landingBlock.form && landingBlock.settings.imgPos === 'left'
        +cell({ tag: 'form', l: 5, m: 6, s: 6, xs: 12 }).landing-block__form.form
          +formInput({type: 'text', name: 'name', placeholder: 'ФИО *', required: true, secondary}).form__input
          +formInput({type: 'tel', name: 'name', placeholder: 'Телефон *', required: true, secondary}).form__input
          .form__agreement Нажимая кнопку «Отправить» я даю согласие на 
            a(href='/') обработку персональных данных
            | .
          +button(type='submit').form__submit Отправить
      +cell(bodySizes).landing-block__info
        if landingBlock.header && landingBlock.images
          h2.landing-block__header !{landingBlock.header}
        if landingBlock.header && !landingBlock.images
          h2.landing-block__header.text-align-center !{landingBlock.header}
        
        //- if landingBlock.images && !landingBlock.form && landingBlock.images.length === 1
        //-   +landingBlockImage(landingBlock.images, landingBlock.path).hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s
        if block
          .landing-block__body
            block
        if landingBlock.button
          +button({ tag: 'a' })(href != landingBlock.button.href || '#').landing-block__button !{landingBlock.button.name}
      if landingBlock.images && !landingBlock.form && landingBlock.settings.imgPos === 'right'
        +landingBlockImage(landingBlock.images, landingBlock.path)(class != `${cell({ l: 5, m: 5, s: 6, xs: 9 })} ${landingBlock.images.length === 1 ? ' ': ''}`)
      if landingBlock.form && landingBlock.settings.imgPos === 'right'
        +cell({ tag: 'form', l: 5, m: 6, s: 6, xs: 12 }).landing-block__form.form
          +formInput({type: 'text', name: 'name', placeholder: 'ФИО *', required: true, secondary}).form__input
          +formInput({type: 'tel', name: 'name', placeholder: 'Телефон *', required: true, secondary}).form__input
          .form__agreement Нажимая кнопку «Отправить» я даю согласие на 
            a(href='/') обработку персональных данных
            | .
          +button(type='submit').form__submit Отправить
