.landing-block
  --page-section-padding-bottom-m 60px
  --landing-block-body-display block
  &__header
    font-weight 500
    margin 0 auto
    +media-max(s)
      max-width 87%
      text-align center
    & + .page-block__image
      margin-top 19px
    & + .page-block__body
      margin-top 21px
      +media(m)
        margin-top 32px
    & + .grid.page-subsection
      margin-top 17px
      +media(m)
        margin-top 50px
  &--no-body
    .page-block__header
      $font-4xl()
      +media(m)
        $font-6xl()
  &__image
    position relative
    margin 0 auto
    +media(m)
      margin 0
  &__slider
    width 100%
  &__slide
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    max-height 100%
    img
      max-height 100%
      max-width 100%
  &__info
    align-self center
  &__body
    display var(--landing-block-body-display)
    grid-template-rows var(--landing-block-body-grid-rows)
    transition-property grid-template-rows
    transition-duration var(--landing-block-body-transition)
    ^[-1]__header + &
      margin-top 20px
      +media(m)
        margin-top 50px
    h3
      +media-max(s)
        text-align center
  &__button
    margin-top 48px
    +media-max(s)
      margin 0 auto
  &__form
    +media-max(s)
      order 2
  &__list
    display flex
    flex-direction column
    justify-content space-between
    flex-wrap wrap
    row-gap 20px
    column-gap 40px
    +media(s)
      flex-direction row
  &__item
    display flex
    flex-basis calc(50% - 20px)
    +before()
      display inline-block
      width 10px
      height 10px
      flex-shrink 0
      margin-top 5px
      margin-right 10px
      border var(--border)
      border-color var(--list-unordered-item-before-border-color)
      border-radius 50%
      +media(s)
        margin-top 7px
        margin-right 16px
  &__top
    display flex
    flex-direction column
    align-items center
    gap var(--gap)
    margin-bottom 1em
    cursor pointer
    +media(s)
      flex-direction row
    +after()
      display block
      flex-shrink 0
      width 24px
      height 9px
      background-color var(--color-mark)
      mask-image maskImage(drop-down, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      scale 1 var(--landing-block-top-svg-after-scale)
  &__bottom
    overflow hidden
  &--drop-down
    --landing-block-body-display grid
    --landing-block-body-grid-rows min-content 0fr
    --landing-block-top-svg-after-scale 1
    --landing-block-body-transition var(--transition-duration-out)
    &--active
      --landing-block-top-svg-after-scale -1
      --landing-block-body-grid-rows min-content 1fr
      --landing-block-body-transition var(--transition-duration-in)
  .form
    display flex
    flex-direction column
    align-items center
    &__input
      width @css{ min(100%, 460px) }
    &__agreement
      width @css{ min(100%, 352px) }
  .accessibility-mode &
    &__slide
      border-radius 0
    .grid__cell
      width 100%
      &.landing-block__image:not(.landing-block__image--slider)
        display none
    &__info
      & .landing-block__image
        +media(m)
          display grid !important
          grid-template-columns repeat(2, 1fr)
        +media(l)
          display grid !important
          grid-template-columns repeat(3, 1fr)
    &__image img
      border-radius 0
    &__image--slider.hidden-l
      +media(m)
        display block !important
      +media(l)
        display block !important
    .slider
      &__wrapper
        display grid
        gap var(--gap)
        +media(m)
          grid-template-columns repeat(2, 1fr)
        +media(l)
          grid-template-columns repeat(3, 1fr)
      &__arrow
      &__pagination
        display none
    .form
      &__agreement
        font-size var(--font-size-m)
