include /blocks/page-section/page-section

mixin bannerPrice
  +pageSection({ backgroundColor: [true, 'dark'], empty: true, logo: true }).banner-price
    +h2.banner-price__title цены
    p.banner-price__info Дорогие пациенты! Точную стоимость операции может посчитать  только Ваш пластический хирург после онлайн или офлайн-консультации. Это зависит от Ваших индивидуальных особенностей и сложности операции, количества часов наркоза и времени нахождения в палате. На страницах услуг мы указываем цены от минимальной до максимальной.
    +h2.banner-price__title Рассрочка
    p.banner-price__info Наши пациенты могут оформить рассрочку в клинике, что упрощает процесс подачи документов и сокращает время ожидания. Рассрочка может быть оформлена на члена Вашей семьи (в том числе не на родственника). Единственный документ, который вам понадобится для оформления — паспорт гражданина РФ.
    +button({ tag: 'a' })(href='/about/kredit').banner-price__button.p Подробнее
    +img({
      name: 'banner-price',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [ 1, 2 ] },
        { name: 'm', values: [ 1, 2 ] },
      ],
    }).banner-price__image
