.banner-price
  --color-mark #A79E8f
  isolation isolate
  display grid
  padding-top 0
  +media-max(s)
    grid-template-columns auto
    grid-template-rows auto
    grid-auto-flow row
    justify-items center
    text-align center
  +media(s)
    grid-template-columns repeat(2, 1fr)
    grid-auto-flow column dense
    grid-template-rows 1fr repeat(3, auto) 1fr
    column-gap var(--gap)
    padding-bottom 0
  +before()
    +media-max(s)
      z-index 2
      grid-column 1/-1
      grid-row 1/-1
      align-self end
      display block
      width 100%
      height 131px
      background-image linear-gradient(180deg, rgba(167, 158, 143, 0.00) 0%, #A79E8F 100%)
  &::after
    background-color var(--color-white)
    opacity .1
  &__image
    +media-max(s)
      grid-row 1/-1
      grid-column 1/-1
    +media(s)
      z-index -2
      grid-row 1/-1
      grid-column 1/2
  &__title
    +media-max(s)
      grid-column 1/-1
    +media(s)
      grid-column 2/3
      align-self end
      max-width @css{ min( 100%, calc(var(--content-width) / 2 - var(--base-padding)) ) }
      padding-right var(--base-padding)
  &__info
    +media-max(s)
      grid-column 1/-1
      padding-x 20px
    +media(s)
      grid-column 2/3
      max-width @css{ min( 100%, calc(var(--content-width) / 2 - var(--base-padding)) ) }
      padding-right var(--base-padding)
  &__button
    +media(s)
      grid-column 2/3
      align-self start
  .accessibility-mode &
    background-color transparent
    +media(s)
      grid-template-columns minmax(auto, var(--content-width))
      justify-content center
    &::before
      content none
    &__image
      display none
    &__title
    &__info
    &__button
      +media(s)
        grid-column 1/-1
        max-width none
