include /blocks/page-section/page-section

mixin bannerTaxi
  +pageSection({ backgroundColor: [true, 'dark'], empty: true }).banner-taxi
    .banner-taxi__title Бизнес-такси до дома
    .banner-taxi__info После выписки Ваш персональный куратор бесплатно закажет такси бизнес-класса до выбранного адреса. А также проводит до автомобиля и поможет комфортно разместиться в нём.
    +button({ tag: 'a' })(href='#').banner-taxi__button Записаться на приём
    +img({
      name: 'banner-taxi',
      path: imagesPath,
      formats: [
        { ext: 'webp', type: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { name: 's', values: [1, 2] },
        { name: 'm', values: [1, 2] },
      ]
    }).banner-taxi__image
