.banner-taxi
  isolation isolate
  display grid
  grid-template-columns auto
  grid-template-rows auto 1fr min-content
  padding 0
  +media(s)
    grid-template-columns repeat(2, 1fr)
    grid-template-rows 1fr min-content 1fr
    align-items center
    align-content center
  +before()
    +media-max(s)
      z-index -1
      grid-column 1/-1
      grid-row 1/-1
      align-self start
      height 220px
      background-image linear-gradient(to top, rgba(4, 86, 88, 0) 0%, #045658 100%)
      mix-blend-mode multiply
  +after()
    +media-max(s)
      z-index -1
      grid-column 1/-1
      grid-row 1/-1
      align-self end
      height 280px
      background-image linear-gradient(180deg, rgba(4, 86, 88, 0) 0%, #045658 100%)
  &__image
    z-index -2
    grid-column 1/-1
    grid-row 1/-1
    width 100%
    max-width none
    max-height 955px
    object-fit cover
    object-position center top
  &__title
    $font-l-uppercase()
    font-weight 500
    grid-column 1
    grid-row 1/2
    +media-max(s)
      padding-y 26px
      padding-inline 20px
      text-align center
    +media(s)
      $font-3xl-uppercase()
      grid-column 2
      align-self end
      margin-bottom 50px
    +media(l)
      $font-5xl-uppercase()
  &__info
    grid-row 2/3
    grid-column 1
    +media-max(s)
      align-self end
      padding-y var(--gap)
      padding-inline 20px
    +media(s)
      grid-column 2
      max-width @css{ min( 100%, calc(var(--content-width) / 2) ) }
      margin-bottom 30px
      padding-right var(--gap)
    +media(l)
      $font-xl()
  &__button
    grid-column 1
    grid-row 3/4
    align-self end
    +media-max(s)
      justify-self center
      margin-bottom 34px
    +media(s)
      grid-column 2
      align-self start
  .accessibility-mode &
    +media(s)
      grid-template-columns minmax(auto, var(--content-width))
      justify-content center
    &::before
    &::after
      content none
    &__image
      display none
    &__title
    &__info
    &__button
      grid-column 1
