.before-after-description
  position relative
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width calc(100% + 40px)
    height 1px
    background-color #0B5456
    +media-max(m)
      content none
