.endodontia-banner
  +grid({ 'justify': 'center' })
    +cell({ m: 4, s: 5, xs: 6 }): .endodontia-banner__fact
      .endodontia-banner__fact-name
        small из
        | 100%
      .endodontia-banner__fact-description зубов, приговоренных<br>к удалению
    +cell({ m: 4, s: 5, xs: 6 }): .endodontia-banner__fact
      .endodontia-banner__fact-name 80%
      .endodontia-banner__fact-description в <strong>Medall</strong> предлагают<br>эндодонтическое лечение
  .endodontia-banner__teeth
    - let i = 0
    while i < 10
      .endodontia-banner__tooth
      - i++
  +grid({ 'justify': 'center' }): +cell({ l: 3, m: 4, s: 5, xs: 6 }): .endodontia-banner__fact.endodontia-banner__fact--bracket
    .endodontia-banner__fact-name 96%
    .endodontia-banner__fact-description из них — успешно<br>вылечиваем
