.endodontia-banner
  &__fact
    display flex
    +media-max(l)
      flex-direction column
      &:not(.endodontia-banner--bracket)
        .endodontia-banner__fact-name
          margin-bottom 8px
      &--bracket
        flex-direction row
        justify-content center
        .endodontia-banner__fact-name
          width 50%
          text-align right
        .endodontia-banner__fact-description
          width 50%
  &__fact-name
    $font-6xl-bold()
    position relative
    margin-right 22px
    color var(--color-mark)
    small
      $font-xl()
      position absolute
      top 0
      left 0
      transform translateY(-100%)
    +media-max(l)
      $font-4xl-bold()
  &__teeth
    position relative
    display flex
    justify-content center
    margin-y 24px
    padding-x 0
    padding-bottom 27px
    +media(m)
      margin-top 62px
      margin-bottom 47px
      padding-right 76px
      padding-bottom 62px
    &::after
      $background(bracket, inner)
      content ''
      position absolute
      bottom 0
      left 50%
      width 522px
      height 39px
      transform translateX(-50%)
      +media-max(l)
        width calc(100% - 16px)
        height 17px
  &__tooth
    $background(tooth, inner)
    width 36px
    height 37px
    margin-x 2px
    +media(m)
      width 60px
      height 69px
      margin-x 8px
    &{selector(':is(' + join('\, ', ':nth-of-type(1)', ':nth-of-type(2)', ':nth-of-type(10)')+')')}
      $background('tooth-2', inner)
  .accessibility-mode &
    padding-block var(--gap)
    &__teeth
      display none
    &__fact-name
      color var(--color-text)
    &__fact
      &--bracket
        margin-top var(--gap)
