.home-category-directions
  --content-visibility auto
  content-visibility var(--content-visibility)
  contain-intrinsic-size 800px
  position relative
  z-index 1
  +media-max(s)
    padding-bottom 0
    width calc(100% + var(--gap) * 2)
    margin-inline calc(var(--gap) * -1)
    padding-top 0
  &__title
    +media-max(s)
      padding-y 24px
  &__slider
    width @css{ min(var(--content-width), 100%) }
    +media(s)
      padding-bottom 72px
    .page-subsection + &
      +media-max(s)
        margin-top 0
  .slider
    background-color transparent
    +media(s)
      padding-inline var(--base-padding)
    &__slides
      overflow visible
      +media(m)
        overflow-x clip
        overflow-y visible
    &__wrapper
      display grid
      grid-auto-flow column
    &__pagination
      --swiper-pagination-bottom 20px
      position absolute
      z-index 2
      margin-top 0
      transition opacity var(--transition-duration-in)
      +media(s)
        display none
    &__pagination-item:not(&__pagination-item--active)
      background-color var(--color-background)
      opacity 1
    &__arrow
      top auto
      bottom 0
      transform none
      +media-max(s)
        display none
      &--prev
        --arrow-before-rotate 180deg
        right calc(var(--content-width) / 1.95)
        left auto
      &--next
        --arrow-before-rotate 0
        left calc(var(--content-width) / 1.95)
        right auto
      &::before
        mask(arrow)
        height 24px
  &:has(.category-direction__menu.form-input--active)
    --content-visibility none
    .slider__pagination
      opacity 0
  &:has(.swiper-slide-next .category-direction__menu.form-input--active)
    .slider__arrow
      opacity 0

  .accessibility-mode &
    &__title
      +media-max(s)
        position relative
        width fit-content
        padding-bottom var(--gap)
        color var(--color-text)
    .slider__wrapper
      +media-max(s)
        grid-auto-flow row
        grid-auto-rows auto
