include /blocks/page-section/page-section
include /blocks/slider/slider
include /blocks/category-direction/category-direction

mixin homeCategoryDirections(list, settings = {})
  +pageSection({ noContent: true, backgroundColor: [ true, 'light' ], logo: true }).home-category-directions&attributes(attributes)
    +h2.home-category-directions__title.page-section__title.text-align-center.page-subsection.content Медицинские услуги
    +slider.home-category-directions__slider.page-subsection.content
      each item in list
        +categoryDirection(item)(class= settings).swiper-slide.home-category-directions__slide
