mixin worksItem(work)
  .works-item(data-direction= work.direction data-service= work.dataService data-doctor= work.dataDoctor)&attributes(attributes)
    .image-compare
      each image in work.name
        img(src=`/images/works/${image}.webp`, alt= work.service loading='lazy' decoding='async' width=720 height=720)
    if (work.service)
      a(href='/').works-item__service !{work.service} 
    if (work.doctor)
      .works-item__doctor !{work.doctor}  
