.works-item
  --color-text var(--color-white)
  --link-color var(--color-white)
  background-color var(--color-mark)
  border-radius var(--border-radius-m)
  z-index 0
  overflow hidden
  &__doctor a
  &__service
    text-decoration none
  &__doctor
  &__service
    text-align center
  .accessibility-mode &
    --color-text var(--color-text)
    --link-color var(--color-text)
    background-color transparent
    border-radius unset
    border 1px solid var(--color-text)
