:root
  --works-item-border-color var(--color-mark)

.works-item
  display flex
  flex-direction column
  padding-bottom 16px
  &__doctor a
  &__service
    font-weight 500
  &__doctor
  &__service
    padding-inline 10px
  &__service
    padding-top 16px
    padding-bottom 6px
