mixin ol(settings = {})

  -
    listType = 'list-ordered'
    const size = settings.size || undefined
    delete settings.size

  +p({ tag: 'ol', size })(class=classes('list-ordered', settings))&attributes(attributes)
    block
