.list-ordered
  padding-left 43px
  / :is(p:not([class]), .p) + &--w-prev-p
    margin-top .25em
  &__item
    & + &
      margin-top .25em
ol:not([class])
  pushPar(selector())
  padding-left 43px
  & > li:not([class]) + li:not([class])
    margin-top .25em
