.landing-reason
  --transition-duration var(--transition-duration-out)
  height 100%
  text-align center
  text-decoration none
  color inherit
  &__image
  &__add
    display flex
    justify-content center
    overflow hidden
    align-items center
    border 1px solid var(--color-border)
    border-radius var(--border-radius-50)

    img
      border-radius var(--border-radius-50)
      filter grayscale(1)
      transition filter var(--transition-duration)
      will-change filter
  &__info
    display flex
    justify-content center
    align-items center
    border 1px solid var(--color-border)
    border-radius var(--border-radius-50)
  &__add
  &__info
    transition background-color var(--transition-duration)
    will-change background-color
  +isHover()
    &:hover
      --transition-duration var(--transitioduration-in)
      & ^[-1]__image img
        filter grayscale(0)
      a&
        & ^[-2]__info
        & ^[-2]__add
          background-color var(--color-mark-light)
