mixin landingReason(reason)
  - attributes.href = attributes.href || reason.href ? attributes.href || reason.href : undefined
  +grid({noGap: true, tag: attributes.href ? 'a' : 'div'})&attributes(attributes).landing-reason
    if reason.image
      +cell({l:4,xs:4}).landing-reason__image
        +img({
          name: reason.image,
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
        })(alt != reason.info)
    -
      let infoSettings = reason.image ? {l:8,xs:8} : {xs:12}
    if !reason.short
      +cell(infoSettings).landing-reason__info: p !{reason.info}
    else
      +cell(infoSettings).landing-reason__add: p !{reason.info}
