.landing-header
  +media-max(s)
    --h2-color var(--color-white)
    --h1-color var(--color-white)
    --color-text var(--color-white)
  +media(s)
    --color-text var(--color-mark)
  background-color var(--color-mark-light)
  &__title
    +media-max(s)
      text-align center
  &__subtitle
    color var(--h2-color)
  &__image
    z-index -3
    img
      +media(s)
        top var(--landing-header-image-top-margin, 0)
        left -40px
        width auto
        max-width unset
        height var(--landing-header-image-height-top-margin, 100%)
        object-position left top 
      +media(m)
        object-position center top 
        left -70px
  &__info
    +media-max(s)
      // text-align center
      +after()
        top 15%
        width 100%
        height 61%
        background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(4, 86, 88, 1) 100%)
        z-index -1
      +before()
        bottom 0
        width 100%
        height 24.5%
        background-color var(--color-mark)
        z-index -4
    +media(s)
      +before()
        top 50%
        left 0
        width 100%
        height 100%
        z-index -4
        aspect-ratio 698/212
        background-color var(--color-mark-medium)
        opacity .25
        transform translateY(-50%)
        mask-image maskImage(logo-simple)
        mask-repeat no-repeat
        mask-position center
        mask-size contain
    +media(l)
      padding-right 50px
  .accessibility-mode &
    --color-text var(--color-text)
    background-color transparent
    &__info
      &::before
        content none
