include /blocks/page-subsection/page-subsection

+pageSection().landing-header
  +grid({'alignItems': 'center'})
    +cell({ m: 7, s: 6, xs: 12 }).landing-header__info
      h1.landing-header__title Подтяжка груди (мастопексия)
      //- .landing-header__subtitle От команды клиники Medall
      //- p dddd
      .landing-header__body
        ul.landing-header__list
          li.landing-header__item Восстановление формы и упругости
          li.landing-header__item Удаление избыточной ткани и кожи
          li.landing-header__item  Никаких мешков и признаков усталости под глазами
      +button({ tag: 'a' })(href='#section-contact').landing-header__button Записаться на консультацию
    +cell({ m: 5, s: 6, xs: 12 }).landing-header__image
      +img({
        name: 'landing-banner-1',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true }
        ],
      })(alt='Подтяжка груди (мастопексия)')

  //- .landing-header__form#landing-header-form
  //-   form.form
  //-     p.form__header.hidden-m.hidden-s.hidden-xs Оставьте контактные данные и мы обязательно свяжемся с вами.
  //-     +formInput({type: 'text', name: 'name', placeholder: 'ФИО *', required: true}).form__input
  //-     +formInput({type: 'tel', name: 'name', placeholder: 'Телефон *', required: true}).form__input
  //-     +formInput({type: 'textarea', name: 'name', placeholder: 'Комментарий', required: false}).form__input
  //-     .form__agreement Нажимая кнопку «Отправить» я даю согласие на 
  //-       a(href='/') обработку персональных данных
  //-       | .
  //-     button(type='submit').btn Отправить
