.landing-header
  isolation isolate
  position relative
  overflow-x clip
  .content
    +media-max(s)
      padding-inline 0
  .grid
    +media(s)
      min-height 380px
  &__info
    position relative
    display flex
    flex-direction column
    align-items center
    padding-block 314px 43px
    padding-inline 20px
    +media-max(s)
      +after()
        position absolute
      +before()
        position absolute
    +media(s) 
      align-items flex-start
      padding-block 38px 58px
      padding-inline 0
      +before()
        position absolute
  &__title
    font-weight 500
  &__subtitle
    $font-l-uppercase()
    margin-top 6px
    +media(m)
      $font-3xl-uppercase()
      margin-top 19px
  &__body
    margin-top 33px
    ul
      display flex
      flex-direction column
      row-gap 18px
      +media(s)
        row-gap 0.5em
      & > li
        +media-max(s)
          &::before
            --list-unordered-item-before-border-color var(--color-white)
    +media-max(m)
      margin-top 26px
      p
        $font-m()
  &__list
    display flex
    flex-direction column
    row-gap 18px
    +media(s)
      row-gap 0.5em
  &__item
    display flex
    +before()
      display inline-block
      width 10px
      height 10px
      flex-shrink 0
      margin-top 5px
      margin-right 10px
      border var(--border)
      border-color var(--list-unordered-item-before-border-color)
      border-radius 50%
      +media(s)
        margin-top 7px
  &__button
    margin-top 44px
    +media-max(s)
      --button-background-color var(--color-white)
      --button-border-color var(--color-white)
      --button-color var(--color-mark)
    +media(s)
      margin-top 33px
  &__image
    position relative
    align-self stretch
    +media-max(s)
      position absolute
      width 100%
      height 100%
    img
      object-fit cover
      +media-max(s)
        position relative
        display block
        width 100%
        height 76%
      +media(s)
        position absolute
  &__form
    display none
  &.page-section + .page-section--background-color
    margin-top 0
