.slider-world
  padding-block 0
  content-visibility auto
  contain-intrinsic-size 800px
  &__slide
    position relative
    isolation isolate
    display grid
    &--1
      grid-template-rows 1fr min-content min-content
      justify-items center
      +before()
        position absolute
        top 0
        inset-inline 0
        z-index -1
        height 238px
        background-image linear-gradient(to top, transparent, rgba(81, 81, 81, .8))
        mix-blend-mode multiply
      +after()
        position absolute
        bottom 0
        inset-inline 0
        z-index -1
        height 238px
        background-image linear-gradient(transparent, rgba(81, 81, 81, .8))
        mix-blend-mode multiply
      & :nth-child(1 of ^[-2]__description)
        grid-column 1/-1
        grid-row 1/2
        z-index 2
        width @css{ min(100%, var(--content-width)) }
        padding 20px
        text-align center
        color var(--color-background)
      & :nth-child(2 of ^[-2]__description)
        grid-column 1/-1
        grid-row 3/4
        z-index 2
        padding 33px 10px 52px
        text-align center
        color var(--color-background)
      & ^[-2]__logo
        grid-column 1/-1
        grid-row 2/3
        width @css{ min(60vw, 620px) }
    &--2
      grid-template-columns 1fr @css{ min(100%, var(--content-width)) } 1fr
      & ^[-2]__description
        grid-column 2/3
        grid-row 1/-1
        padding clamp(20px, 5.5vw, 60px) @css{ min(var(--base-padding), 2.78vw) } 60px
        +media-max(s)
          align-self end
          text-align center
          color var(--color-background)
        +media(s)
          width @css{ min(100%, 760px) }
        +before()
          +media-max(s)
            position absolute
            bottom 0
            inset-inline 0
            z-index -1
            height 378px
            background linear-gradient(transparent, #6D6D6D)
            mix-blend-mode multiply
    &--3
      grid-template-columns 1fr @css{ min(100%, var(--content-width)) } 1fr
      grid-template-rows 1fr min-content
      color var(--color-black)
      +before()
        +media-max(s)
          position absolute
          top 0
          inset-inline 0
          z-index -1
          height 378px
          background linear-gradient(#6D6D6D, transparent)
          mix-blend-mode multiply
      ^[-2]__description
        grid-column 2/3
        grid-row 1/2
        padding clamp(20px, 5.5vw, 60px) @css{ min(var(--base-padding), 2.78vw) } 60px
        +media-max(s)
          align-self start
          text-align center
          color var(--color-background)
        +media(s)
          width @css{ min(100%, 760px) }
      ^[-2]__button
        grid-column 2/3
        grid-row 2/3
        justify-self center
        margin-bottom 60px
  &__image
    grid-column 1/-1
    grid-row 1/-1
    z-index -2
    width 100%
  &__description
    +media(m)
      $font-xl()
  .slider
    &__arrow
      --arrow-color var(--color-white)
      --arrow-size 40px
      --arrow-position calc(var(--arrow-size) / 2)
      bottom @css{ min(42px, 2.625vw) }
      transition opacity var(--transition-duration-out)
      +media-max(m)
        display none
      &--prev
        --arrow-before-rotate 180deg
        top auto
        +media(m)
          left @css{ max(var(--gap), calc((100vw - var(--content-width)) / 2) + var(--base-padding)) }
      &--next
        --arrow-before-rotate 0
        top auto
        +media(m)
          left calc(@css{ max(var(--gap), calc((100vw - var(--content-width)) / 2) + var(--base-padding)) } + var(--gap) + var(--arrow-size))
      &--disabled
        opacity 0
      &::before
        mask(arrow)
        width 100%
        height 100%
    &__pagination
      --slider-pagination-item-background-color var(--color-white)
      --swiper-pagination-bottom 20px
      position absolute
      z-index 2
      +media(m)
        display none

    &__pagination-item
      opacity 1
      &--active
        --slider-pagination-item-background-color var(--color-mark)
  .accessibility-mode &
    --color-text var(--color-text)
    color var(--color-text)
    background-color var(--color-background)
    &__title
      position relative
      height auto
      margin-bottom var(--page-subsection-margin-top)
      color var(--color-text)
      &::before
        content none
    &__slider
      max-width var(--content-width)
    &__slide
      width 100%
      grid-template-columns auto
      grid-template-rows min-content min-content
      gap var(--gap)
      text-align center
      &::before
        content none
      &--1
        grid-template-rows repeat(3, min-content)
        &::after
          content none
        & .slider-world__description
          color var(--color-text)
      &--3
        color var(--color-text)
    &__name
      grid-column 1/-1
      grid-row 1
      width auto
    &__description
      grid-column 1/-1
      grid-row 1
      width 100%
      color var(--color-text)
      &::before
        display none
    &__image
      display none
    &__button
      grid-column 1
      grid-row 2/3
    .slider__wrapper
      display grid
      gap var(--page-subsection-margin-top)
      grid-template-columns auto
      justify-items center
      grid-auto-flow row
    .slide + .slide
      padding-top var(--page-subsection-margin-top)
      border-top 1px solid
    .slider__arrow
      display none
  .accessibility-mode--color--black-on-white &
    &__logo
      filter invert(1)
  .accessibility-mode--images--off &
    :is(&__logo)
      display block
