extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const resourcesName = '404'
  include /data/footer
block content
  +pageSection({ noContent: true, logo: true, backgroundColor: [true, 'light'] }).error-page: +content.error-page__content
    +h1.error-page__title 404
    +h1({ tag: 'p' }).error-page__subtitle К сожалению, страница не найдена
    p.error-page__info Мы не можем найти страницу, которую вы искали, но у нас есть много других интересных материалов и предложений.
    +button({ tag: 'a' })(href='/').p Вернуться на главную
