.footer-card
  html:not(.accessibility-mode) &.page-section--background-color--dark
    background-color var(--color-hover)
  &__inner
    display grid
    grid-template-areas 'title' 'description' 'image' 'button'
    grid-gap var(--gap)
    justify-items center
    +media(s)
      grid-template-areas 'image .' 'image title' 'image description' 'image button' 'image .'
      grid-template-columns repeat(2, 1fr)
      grid-gap var(--base-padding)
      justify-items start
      align-content center
  &__title
    grid-area title
    max-width 560px
    +media-max(s)
      text-align center
  &__description
    grid-area description
    +media(s)
      $font-l()
  &__button
    grid-area button
  &__image
    grid-area image
    width 100%
    max-width 515px
