include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/button/button

mixin footerCard
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }).footer-card&attributes(attributes): +content.footer-card__inner
    +h2.footer-card__title здоровье можно подарить
    p.footer-card__description Подарочный сертификат от 5 000 рублей
    +button({ tag: 'a' })(href='#').footer-card__button Узнать подробности
    +img({
      name: 'footer-card',
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { values: [ 1, 2 ] },
      ],
    }).footer-card__image

mixin footerCardTg
  +pageSection({ backgroundColor: [ true, 'dark' ], logo: [true, 'left'], noContent: true }).footer-card&attributes(attributes): +content.footer-card__inner
    +h2.footer-card__title ЗАГОЛОВОК
    p.footer-card__description Описание
    +button({ tag: 'a' })(href='https://t.me/medall_surgery').footer-card__button Перейти
    +img({
      name: 'footer-card-tg',
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'png', orig: true },
      ],
      density: [
        { values: [ 1, 2 ] },
      ],
    }).footer-card__image
