include /blocks/page-section/page-section
include /blocks/slider/slider
include /blocks/category-direction/category-direction

mixin categoryDirections(list, settings = {})
  +pageSection({ noContent: true, backgroundColor: [ true, 'light' ], logo: true }).category-directions&attributes(attributes)
    +h2.category-directions__title.page-section__title.text-align-center.page-subsection.content Медицинские направления
    +slider({ arrows: false }).category-directions__slider.page-subsection.content
      each item in list
        +categoryDirection(item)(class= settings).swiper-slide.category-directions__slide
