.category-directions
  position relative
  z-index 1
  +media-max(s)
    padding-bottom 0
    width calc(100% + var(--gap) * 2)
    margin-inline calc(var(--gap) * -1)
    padding-top 0
  &__title
    +media-max(s)
      position absolute
      inset 0 0 auto 0
      z-index 2
      isolation isolate
      width min-content
      height @css{ min(300px, calc(50% - 40px)) }
      margin-x auto
      padding-top 46px
      color var(--color-white)
  &__slider
    width @css{ min(var(--content-width), 100%) }
    +media(s)
      overflow visible
    .page-subsection + &
      +media-max(s)
        margin-top 0
  .slider
    background-color transparent
    +media(s)
      padding-inline var(--base-padding)
    &__slides
      overflow visible
    &__wrapper
      display grid
      +media-max(s)
        grid-auto-flow column
      +media(s)
        grid-template-columns repeat(2, 1fr)
        grid-gap var(--gap)
      +media(m)
        grid-template-columns repeat(3, 1fr)
      &:has(^[-2]__slide:nth-child(4):last-child)
      &:has(^[-2]__slide:nth-child(8):last-child)
        +media(m)
          grid-template-columns repeat(2, 448px)
          justify-content center
    &__pagination
      --swiper-pagination-bottom 20px
      position absolute
      z-index 2
      margin-top 0
      transition opacity var(--transition-duration-in)
      +media(s)
        display none
    &__pagination-item:not(&__pagination-item--active)
      background-color var(--color-background)
      opacity 1
  &:has(.category-direction__menu.form-input--active)
    .slider__pagination
      opacity 0

  .accessibility-mode &
    &__title
      +media-max(s)
        position relative
        width fit-content
        padding-bottom var(--gap)
        color var(--color-text)
    .slider__wrapper
      +media-max(s)
        grid-auto-flow row
        grid-auto-rows auto
