mixin tablePrice(prices)

  .table-price
    each price in prices
      .table-price__row
        .table-price__name !{price.name}
        .table-price__value
          span !{price.value}
          |  ₽

