.table-price
  display flex
  flex-direction column
  // max-width 76%
  // +media-max(s)
  //   margin 30px auto
  +media(s)
    // max-width none
    text-align left
  &__row
    position relative
    display flex
    flex-direction column
    flex-wrap wrap
    justify-content space-between
    column-gap var(--gap)
    row-gap 10px
    // align-items center
    z-index 1
    padding-block 23px 10px
    // padding-inline 10px
    border-bottom 1px solid var(--color-mark)
    &:first-child
      padding-top 0
    +media(s)
      flex-direction row
      row-gap 16px
      padding-block var(--base-padding)
      // padding-inline 0
  &__name
    flex-grow 1
    flex-basis 25%
    text-align left
  &__value
    width 100%
    flex-basis 25%
    text-align left
    white-space nowrap
    +media(s)
      text-align right
  &__load-more
    align-self center
    display inline-block
    margin-top var(--gap)
    font-weight 500
