.doctor-select
  display flex
  flex-wrap wrap
  justify-content center
  gap var(--gap) 120px
  text-align left
  &__input
    flex-shrink 0
    width @css{ min(100%, 330px) }
  .accessibility-mode &
    display none
