mixin doctorSelect(list, settings = {})
  -
    const directions = [
        { name: 'Пластическая хирургия', value: 'plastics' },
        { name: 'Стоматология', value: 'dentistry' },
        { name: 'Косметология', value: 'cosmetology' },
        { name: 'Пересадка волос', value: 'hair-transplant' },
        { name: 'Флебология', value: 'phlebology' },
      ];
    const items = {};
    directions.forEach((direction) => {
      items[direction.value] = [];
      items[direction.value] = list.filter((item) => item.category === direction.value).map((item) => ({
        name: item.name,
        value: '#',
      }));
    })
  #{settings.tag || 'div'}(class= classes('doctor-select', settings))&attributes(attributes)
    script
      | window.doctorSelectStaff = !{JSON.stringify(items)}
    +formInput({ type: 'select', options: directions, secondary: true, label: 'Специализация' }).doctor-select__input.doctor-select__input--directions
    +formInput({ type: 'select', options: [{ name: '', value: '' }], secondary: true, label: 'ФИО врача', disabled: true })(data-direction= key).doctor-select__input.doctor-select__input--items
