.reviews-platforms
  &__item
    justify-items center
    justify-content center
    align-items center
    column-gap 10px
    background-color var(--color-mark-light)
    text-decoration none
    +media-max(s)
      column-gap var(--gap)
  &__value
    color var(--color-mark)
  &__name
    color var(--color-mark)
    text-align center
  .slider
    &__arrow--disabled
      pointer-events auto
    &__wrapper
      grid-template-rows auto
  .accessibility-mode &
    &__item
      background-color transparent
    &__value
    &__name
      color var(--color-text)
    .slider
      &__pagination
      &__arrow
        display none
      &__wrapper
        display grid
        grid-auto-flow row
        grid-template-columns auto
        gap var(--gap)
        +media(s)
          grid-template-columns repeat(3, 1fr)
        +media(m)
          grid-template-columns repeat(4, 1fr)
