.reviews-platforms
  &__slide
    height 100%
  &__item
    display grid
    grid-template-areas 'image value' 'image name'
    grid-template-columns minmax(56px, auto) 1fr
    row-gap 4px
    height 100%
    padding 20px
    border-radius var(--border-radius-s)
    +media-max(s)
      grid-template-columns auto
  &__value
    grid-area value
    $font-5xl-medium()
  &__image
    grid-area image
    max-height 60px
    max-width 120px
    width 100%
  &__name
    grid-area name
    font-weight 500
  .slider
    &__wrapper
      display grid
      grid-auto-columns auto
      grid-auto-flow column
    &__pagination
      display none
