.banner-gynecology-works
  position relative
  +after()
    +media(s)
      mask(logo-simple)
      position absolute
      top var(--logo-top, 50%)
      right var(--logo-right, @css{ max(-14vw, -120px) })
      left var(--logo-left, auto)
      z-index -1
      width var(--logo-width, @css{ min(122.5vw, 1280px) })
      aspect-ratio 447/144
      opacity .3
      background-color var(--color-mark-medium)
      translate var(--logo-translate-x, 0) var(--logo-translate-y, -50%)
  html:not(.accessibility-mode) &
    --color-text var(--color-mark)
  &.page-section
    +media(s)
      margin-top 0 !important
      margin-bottom 0 !important
  .content
    display grid
    gap 20px
    grid-template-areas 'title' 'image' 'description' 'link'
    +media-max(s)
      gap 20px
      justify-items center
      text-align center
    +media(s)
      gap var(--gap)
      grid-template-columns 6fr 6fr
      grid-template-rows 1fr min-content 1fr
      grid-template-areas 'image title' 'image description' 'image link'
    +media(m)
      gap 20px var(--gap)
      grid-template-columns 5fr 1fr 6fr
      grid-template-areas 'image . title' 'image . description' 'image . link'
  &__image
    grid-area image
    +media-max(s)
      width calc(100% + var(--gap) * 2)
      max-width none
      margin-inline calc(var(--gap) * -1)
  &__title
    grid-area title
    +media(s)
      align-self end
    +media-interval(s, m)
      $font-2xl()
  &__description
    position relative
    grid-area description
    +media(m)
      $font-xl()
    +before()
      +media-max(s)
        mask(logo-simple)
        position absolute
        top 50%
        left 50%
        z-index -1
        width 441px
        aspect-ratio 260/83
        background-color var(--color-mark-medium)
        opacity .3
        translate -48% -50%
  &__link
    grid-area link
    +media(s)
      align-self start
