.banner-endodontia-reasons
   +media(l)
    .landing-block
      &__info
        position relative
      &__header + &__body
        margin-top 0
    .list-reasons
      position absolute
      right 0
      bottom 0
