include /blocks/button/button

.page-section.page-section--background-color.page-section--background-color--dark.landing-block.landing-block--no-body.banner-endodontia-reasons.container
  .content.grid.grid--padding-y.grid--justify-center
    .grid__cell.grid__cell--l-10.grid__cell--xs-12.landing-block__info
      h2.landing-block__header Сохранить свой зуб дешевле, чем удалять и ставить имплантат
      .landing-block__body
        .list-reasons
          .list-reasons__name почему?
          ul.list-reasons__list
            li используется своя ткань
            li минимален срок реабилитации
            li нет инородных тел во рту
        +button({ tag: 'a' })(href='#landing-form').landing-block__button Хочу спасти зуб
