-
  const prices = [
    {
      title: '«стандарт»',
      list: {
        standard: [
          'Участие в конгрессе',
          'Питание',
          'Раздаточные материалы от спонсоров',
        ],
      },
      price: '25 000',
    },
    {
      title: '«медиум»',
      list: {
        standard: [
          'Участие в конгрессе',
          'Питание',
          'Раздаточные материалы от спонсоров',
        ],
        additional: [
          'Вечерний фуршет с лекторским составом',
        ],
      },
      price: '35 000',
    },
    {
      title: '«премиум»',
      list: {
        standard: [
          'Участие в конгрессе',
          'Питание',
          'Раздаточные материалы от спонсоров',
        ],
        additional: [
          'Вечерний фуршет с лекторским составом',
          'Отдельный регистрационный стол и гардероб',
          'Рассадка на первых рядах',
          'Часовая консультация с аудитом от практикующего юриста по вашему ИДС или другим вопросам',
        ],
      },
      price: '55 000',
    },
  ]
