-
  const program = [
    {
      title: '6 ДЕКАБРЯ',
      items: [
        {
          speakers: [
            { name: 'Сбор и регистрация участников', schedule: '9:30 - 10:00', },
          ],
        },
        {
          speakers: [
            { name: 'Дмитрий Чёрный', schedule: '10:00-11:30', },
            { name: 'Александр Бабуров', schedule: '11:30-13:00', },
          ],
          description: 'Стоматологический чекап, систематизирование первичной информации, иерархия задач, составление комплексного плана, контроль результатов лечения.',
        },
        {
          speakers: [
            { name: 'обед', schedule: '13:00 - 14:00', },
          ],
        },
        {
          speakers: [
            { name: 'Тимур Баишев', schedule: '14:00-15:00' },
            { name: 'Сергей Якимов', schedule: '15:00-16:00' },
          ],
          description: 'Хирургия: Навигационная ортопедически ориентированная хирургия.',
        },
        {
          speakers: [
            { name: 'Сергей Цуранов, Андрей Семенюк', schedule: '14:00-15:00' },
            { name: 'Александр Бикбаев', schedule: '15:00-16:00' },
          ],
          description: 'Ортопедия: Протоколы временного и постоянного протезирования полной дуги с опорой на имплантаты от планирования до результата.',
        },
        {
          speakers: [
            { name: 'Вероника Скалина, Ирина Гавриленко', schedule: '14:00-15:00' },
            { name: 'Иван Рузин', schedule: '15:00-16:00' },
          ],
          description: 'Терапия: Роль гигиены на всех этапах комплексной реабилитации. Терапевтическая санация/реставрация фронтальной групп зубов',
        },
        {
          speakers: [
            { name: 'кофебрейк', schedule: '16:00-16:30', },
          ],
        },
        {
          speakers: [
            { name: 'Сергей Панченко', schedule: '16:30-17:00' },
            { name: 'Евгений Рощин', schedule: '17:00-18:00' },
          ],
          description: 'Методы диагностики патологии зубо-челюстной системы и способы нормализации функции ВНЧС.',
        },
      ]
    },
    {
      title: '7 ДЕКАБРЯ',
      items: [
        {
          speakers: [
            { name: 'Тарас Юров', schedule: '10:00-11:30' },
            { name: 'Максим Копылов', schedule: '11:30-13:00' },
          ],
          description: 'Хирургия: Классические и прогрессивные протоколы на хирургическом приеме. От простых решений до экспертной помощи.',
        },
      {
          speakers: [
            { name: 'Евгений Березин', schedule: '10:00-11:30', },
            { name: 'Александр Першин', schedule: '11:30-13:00', },
          ],
          description: 'Ортопедия: Эстетика как повседневное искусство. Керамические реставрации.',
        },
        {
          speakers: [
            { name: 'Виталий Руденко', schedule: '10:00-11:30', },
            { name: 'Алексей Болячин', schedule: '11:30-13:00', },
          ],
          description: 'Терапия: Терапевтическая санация, эндодонтия, перелечивание каналов, спасение зубов.',
        },
        {
          speakers: [
            { name: 'Виталий Руденко', schedule: '10:00-11:30', },
            { name: 'Алексей Болячин', schedule: '11:30-13:00', },
          ],
          description: 'Терапия: Терапевтическая санация, эндодонтия, перелечивание каналов, спасение зубов.',
        },
        {
          speakers: [
            { name: 'обед', schedule: '13:00-14:00', },
          ],
        },
        {
          speakers: [
            { name: 'Святослав Коба', schedule: '14:00-16:00', },
          ],
          description: 'Менеджмент и набор оригинальных компетенций команды успешной стоматологической клиники.',
        },
        {
          speakers: [
            { name: 'кофебрейк', schedule: '16:00-16:30', },
          ],
        },
        {
          speakers: [
            { name: 'Артём Золотухин', schedule: '16:30-17:00', },
          ],
          description: 'Юридические инструменты защиты профессиональной деятельности стоматологических клиник в условия Новых правил оказания платных медицинских услуг.',
        },
      ]
    },
  ]
