.home-description
  content-visibility auto
  contain-intrinsic-size 800px
  width @css{ min(80vw, 920px) }
  margin-x auto
  padding-top 30px
  padding-bottom 20px
  text-align center
  color var(--color-mark)
  +media(s)
    $font-xl()
  +media(m)
    $font-3xl()
    padding-top 80px
    padding-bottom 142px
  .accessibility-mode &
    color var(--color-text)
