include /blocks/landing-block/landing-block
include /blocks/button/button

mixin bannerAdvantages(title, items)
  +landingBlock({
    header: title,
    settings: {
      section: { backgroundColor: [ true, 'light' ] }
    },
  }): .banner-advantages
    ul.banner-advantages__list
      each item in items
        -
          type = {}
          type[item.type] = true
        li(class=classes('banner-advantages__list-item', type)): span !{item.content}
