.banner-advantages
  &__list-item
    --icon url('')
    position relative
    display flex
    align-items center
    min-height 78px
    padding-y 20px
    padding-left 180px
    border-bottom 1px solid var(--color-mark-medium)
    &::before
      content ''
      position absolute
      top 16px
      left 0
      height 46px
      width 46px
      background-image var(--icon)
      background-repeat no-repeat
      background-position center
      background-size contain
    &--tooth-drill
      --icon url('../images/tooth-drill.png')
    &--add
      --icon url('../images/add.png')
    &--anesthesia
      --icon url('../images/anesthesia.png')
    &--checkup
      --icon url('../images/checkup.png')
    &--checklist
      --icon url('../images/checklist.png')
    &--chair
      --icon url('../images/chair.png')
    &--microscope
      --icon url('../images/microscope.png')
  .accessibility-mode &
    &__list-item
      padding-left 0
      &::before
        content none
