.banner-result-blefaro
  $font-5xl()
  position relative
  overflow hidden
  display flex
  align-items center
  min-height 470px
  text-align left
  text-transform none
  color var(--color-mark)
  .container
    width 100%
   +media(l)
    &::before
      content ''
      position absolute
      right 0
      bottom 0
      width 58vw
      height 58vw
      background-color var(--color-mark)
      border-radius 50%
    &::after
      content ''
      position absolute
      top 0
      right 0
      width 856px
      max-width 58vw
      height 100%
      background-image url(../images/banner-result-blefaro.webp)
      background-repeat no-repeat
      background-position left
      background-size auto 100%
  &__image
    position relative
    display flex
    align-items center
    overflow hidden
     +media-max(l)
      height 434px
    &::before
       +media-max(l)
        content ''
        position absolute
        bottom 0
        left 50%
        width 516px
        height 516px
        padding-top 0
        background-color var(--color-mark)
        background-image url(../images/banner-result-blefaro.webp)
        background-repeat no-repeat
        background-position left bottom
        background-size auto 434px
        border-radius 50%
        transform translate(-50%, 0)
  &__info
    padding-y basePadding
     +media-max(l)
      $font-3xl()
      text-align center
  &__image
    position relative
    display flex
    align-items center
    overflow hidden
    height 470px
     +media-max(l)
      height 434px
  img
    display block
  .accessibility-mode &
    min-height 0
    color var(--color-text)
    &::before
    &::after
      content none
    &__info
      width 100%
      text-align center
