include /blocks/page-section/page-section

+pageSection({ backgroundColor: [ true, 'light' ], noContent: true }).banner-result-blefaro: +content(class= grid({alignItems: 'center'}))
  +cell({xs: 12}).banner-result-blefaro__image.hidden-l.hidden-m.hidden-s
  +cell({l: 5, xs: 12}).banner-result-blefaro__info ГОТОВО!<br>Ваш взгляд<br>безупречен!
