mixin reviewsItem(reviews)
  .reviews-item(data-service= reviews.service.join(', ') data-doctor= reviews.doctor.join(', '))&attributes(attributes)
    .reviews-item__platform Отзыв оставлен на сайте #[a(href= reviews.platformHref target='_blank') !{reviews.platform}]
    if (reviews.name)
      .reviews-item__name !{reviews.name}
    if (reviews.date)
      .reviews-item__date !{reviews.date}
    if (reviews.rating)
      div(class= `reviews-item__rating reviews-item__rating--${reviews.rating}`)
        - for (i=0; i<5; i++)
          .reviews-item__rating-star 
    .reviews-item__text !{reviews.text} 
    if (reviews.video)
      .iframe-responsive.reviews-item__video
        .iframe-responsive__iframe
          iframe(data-video-src= reviews.video src='' allowfullscreen="allowfullscreen")
    if (reviews.doctor)
      .reviews-item__doctor Отзыв о: 
        each i in reviews.doctor
          a(href='/').reviews-item__doctor-link !{i}
    if (reviews.service)
      .reviews-item__service Услуга:  
        each s in reviews.service
          a(href='/').reviews-item__service-link !{s}
