:root
  --reviews-item-border-color var(--color-mark)

.reviews-item
  .slide &
    height 100%
  position relative
  display grid
  grid-template-areas 'platform platform' 'rating name' 'rating date' 'text text' 'doctor service'
  grid-template-columns 1fr auto
  grid-template-rows min-content minmax(28px, auto) repeat(2, min-content) 1fr
  column-gap var(--gap)
  min-height 360px
  padding var(--gap)
  border 1px solid
  border-color var(--reviews-item-border-color)
  border-radius var(--border-radius-m)
  overflow hidden
  +media-max(s)
    grid-template-rows min-content 24px repeat(3, min-content) 1fr
  *
    color var(--color-mark)
  &--video
    grid-template-areas 'video' 'doctor' 'service'
    grid-template-columns 1fr
  &__video
    grid-area video
    margin-x calc(var(--gap) * (-1))
    margin-top calc(var(--gap) * (-1))
    margin-bottom 0
  +before()
    mask(quote, main)
    position absolute
    top var(--gap)
    left var(--gap)
    z-index -1
    width 86px
    height 61px
    background-color var(--color-mark-medium)
    opacity .3
    +media(s)
      width 119px
      height 85px
    +media(m)
      width 140px
      height 99px
  +media-max(s)
    grid-template-areas 'platform platform' 'rating name' 'rating date' 'text text' 'doctor doctor' 'service service'
    -webkit-text-size-adjust 100%
  &__platform 
    grid-area platform 
    display flex
    flex-wrap wrap
    column-gap 5px
    align-items center
    justify-content flex-end
    min-height 44px
    margin-top calc(var(--gap) * (-1))
    margin-bottom var(--base-padding)
    margin-inline calc(var(--gap) * (-1))
    padding-y 10px
    padding-inline var(--gap)
    background-color var(--color-mark)
    color var(--color-white)
    a
      color var(--color-white)
      +hover()
        color var(--color-link-hover)
  &__name
    grid-area name
    font-weight 500
    text-align right
  &__date
    grid-area date
    font-weight 500
    text-align right
    margin-bottom var(--base-padding)
  &__rating
    --gradient-stop 0
    grid-area rating
    align-self center
    display flex
    column-gap 0.2rem
    &--5
    &--4 ^[0]__rating-star:nth-child(-n+4)
    &--3 ^[0]__rating-star:nth-child(-n+3)
    &--2 ^[0]__rating-star:nth-child(-n+2)
    &--1 ^[0]__rating-star:nth-child(-n+1)
      --gradient-stop 100%
  &__rating-star
    --star-size 1rem
    width var(--star-size)
    height var(--star-size)
    mask-image maskImage(star, inner)
    mask-repeat no-repeat
    mask-size cover
    mask-position center
    mask-type alpha
    background-image linear-gradient(to right, var(--color-mark) var(--gradient-stop), var(--color-locked) var(--gradient-stop))
  &__text
    grid-area text
  &__button
    margin-left 4px
    font-weight 500
  &__doctor
    grid-area doctor
    display flex
    flex-direction column
    margin-top var(--base-padding)
  &__doctor-link
    font-weight 500
  &__service
    grid-area service
    display flex
    flex-direction column
    margin-top var(--base-padding)
    +media(s)
      text-align right
  &__service-link
    font-weight 500
  .accessibility-mode &
    --reviews-item-border-color var(--color-text)
    *
      color var(--color-text)
    +before()
      display none
    &__rating-star
      background-image linear-gradient(to right, var(--color-text) var(--gradient-stop), var(--color-border) var(--gradient-stop))
    &__platform 
      background-color unset
.reviews-item-list
  &--video
    display none
    &--active
      display flex
