.article-item
  display flex
  flex-direction column
  &__title
    font-weight 500
    text-decoration none
  &__hashtag
    $font-m()
    text-decoration none
    +media(s)
      padding-bottom 0.25rem
    +media-max(s)
      $font-m()
  &__image
    display flex
    justify-content center
    align-items center
    width 100%
    height 290px
    padding-bottom 1rem
    object-fit cover
    transition transform var(--transition-duration-out) cubic-bezier(.17,.67,.83,.67)
    transform var(--image-transform)
    overflow hidden
    +media-max(s)
      padding-bottom 0.5rem
  &__link
    +hover()
      --image-transform scale(1.03)
      transition-duration var(--transition-duration-in)
