mixin articleItem(article)
  article.article-item.articles-layout__item(data-category= article.category)&attributes(attributes)
    a(href='/article--detail.html').article-item__link: +img({
      name: article.img,
      path: '/images/articles/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
    })(alt= article.title).article-item__image 
    - 
      const hashtags = {
        Пластика: '#Пластика',
        Косметология: '#Косметология',
        Пересадка: '#Пересадка',
        Стоматология: '#Стоматология',
      };
      const tagLinks = {
        Пластика: '/search/index.php?tags=Пластика',
        Косметология: '/search/index.php?tags=Косметология',
        Пересадка: '/search/index.php?tags=Пересадка волос',
        Стоматология: '/search/index.php?tags=Стоматология',
      };
    if article.category in hashtags
      a(href=tagLinks[article.category] target='_blank').article-item__hashtag= hashtags[article.category]
    a(href='/article--detail.html').article-item__title !{article.title}  
