.discounts-header
  position relative
  height 125vw
  overflow hidden
  padding 22px 30px
  +media(s)
    height 33vw
    padding 4.8828125vw 0
  +media(m)
    height 40vw
    padding 6vw 0
  &__image
    position absolute
    bottom 0
    left 0
    width 100%
    +media(s)
      width auto
      height 100%
  &__title
    $font-xl-uppercase()
    text-align center
    +media(s)
      $font-3xl-uppercase()
      width 512px
      margin-left 31.54296875vw
    +media(m)
      $font-4xl-uppercase()
      margin-left 44.5625vw
      text-align left
