.discounts-header
  --h1-color var(--color-white)
  background-image linear-gradient(180deg, #045658 14.66%, rgba(4, 86, 88, 0.54) 62.48%, rgba(4, 86, 88, 0) 100%);
  &::after
    content ''
    position absolute
    top 26vw
    right 0
    width 125vw
    height 40vw
    background-image linear-gradient(64.38deg, rgba(255, 255, 255, 0.56) 33.8%, rgba(255, 255, 255, 0) 96.16%);
    mask(logo-simple)
    +media(s)
      top auto
      bottom -4.6875vw
      width 74.21875vw
      height 26.3671875vw
  .accessibility-mode &
    --h1-color var(--color-text)
    display grid
    justify-items center
    height auto
    background-image none
    &::after
      content none
    &__image
      display none
    &__title
      max-width var(--content-width)
      padding-inline var(--gap)
      +media(s)
        width auto
        margin-left 0
      +media(m)
        margin-left 0
