include /blocks/img/img

.discounts-header
  h1.discounts-header__title акции и специальные предложения клиники medall
  +img({
    name: 'discounts-header',
    path: '/images/discounts/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { name: 's', values: [1, 2] },
    ]
  })(alt='акции и специальные предложения клиники medall').discounts-header__image.hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s
  +img({
    name: 'discounts-header',
    path: '/images/discounts/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { name: 'm', values: [1, 2] },
    ]
  })(alt='акции и специальные предложения клиники medall').discounts-header__image.hidden-xs
