.inverted
  html:not(.accessibility-mode) &
    --color-text var(--color-text-inverted)
    --color-text-secondary var(--color-text-secondary-inverted)
    --color-strong var(--color-mark-light)
    --button-color var(--color-mark)
    --button-color-disabled var(--color-mark)
    --button-color-secondary var(--color-white)
    --button-color-secondary-disabled var(--color-locked-inverted)
    --button-background-color var(--color-white)
    --button-background-color-hover var(--color-mark-medium)
    --button-background-color-disabled var(--color-locked-inverted)
    --button-background-color-secondary transparent
    --button-background-color-secondary-hover var(--color-hover)
    --button-background-color-secondary-disabled transparent
    --button-border-color var(--button-background-color)
    --button-border-color-hover var(--button-background-color-hover)
    --button-border-color-disabled var(--color-locked-inverted)
    --link-color var(--color-text-inverted)
    --link-color-hover var(--color-mark-medium)
    --h1-color var(--color-white)
    --h2-color var(--color-white)
    --h3-color var(--color-white)
    --h4-color var(--color-white)
    --list-unordered-item-before-border-color var(--color-white)
    --block-icon-background-color var(--color-white)
    --slider-pagination-item-background-color var(--color-white)
    --border 1px solid var(--color-white)
    --text-marked-color var(--color-text-inverted)
  
    --strong-font-weight 500
    color var(--color-text)
    background-color var(--color-mark)
