include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/slider/slider
include /blocks/works/works-item/works-item

mixin doctorWorks(settings = {})
  +pageSection({ backgroundColor: [ true, 'dark' ] }).doctor-works
    +pageSubsection({ tag: 'h2' }).text-align-center.doctor-works__title работы специалиста
    +slider.page-subsection.doctor-works__slider
      //- each i in [1, 2]
      //-   each j in [1, 2]
      //-     +slide({ tag: 'a' })(href=`/images/doctor-work-${j}.jpg` data-glightbox data-gallery='doctor-works').slide.swiper-slide.doctor-works__slide: +img({
      //-       name: `doctor-work-${j}`,
      //-       path: '/images/',
      //-       formats: [
      //-         { ext: 'webp', mime: 'image/webp' },
      //-         { ext: 'jpg', orig: true },
      //-       ]
      //-     })
      each item in doctorWorksImages 
        +slide.slide.swiper-slide.doctor-works__slide
          +worksItem(item) 
