:root
  --works-item-border-color var(--color-white)

.doctor-works
  @extend .doctor-certificates
  & .slider__wrapper
    display grid
    grid-auto-flow column
    justify-content start
  &__slide
    &.swiper-slide
      width fit-content 
    & .works-item
      height 100%
  &__image
    max-height 523px
    aspect-ratio auto
  .slider
    padding-bottom 72px
    &__pagination
      display none
    &__arrow
      display flex
      top auto 
      bottom 0
      +before()
        mask(arrow)
        width 41px
        height 40px
