mixin blockIcon(item = {type: '', name: '', desc: ''})
  .block-icon(class != `block-icon--${item.type}`)&attributes(attributes)
    if item.name
      .block-icon__name !{item.name}
    if item.desc
      .block-icon__desc !{item.desc}
