$icon()
  content ''
  position absolute
  top 0
  left 0
  width 50px
  height 50px
  background-color var(--block-icon-background-color)
  mask-image var(--mask-image)
  mask-repeat no-repeat
  mask-position center
  mask-size cover

:root
  --block-icon-background-color var(--color-mark)

.block-icon
  display flex
  flex-direction column
  padding-top 30px
  background-repeat no-repeat
  background-position left top
  background-size 50px
  +media(m)
    position relative
    padding-top 61px
  &::before
    +media(m)
      $icon()
  &:not(:has(&__name))
    +media-max(m)
      position relative
      padding-top 54px
    &::before
      +media-max(m)
        $icon()
  $icons = partners, 'sum', time, timeline, '80-min', thermal-mechanic, no-rehab, cellulit-all-stages, all-body-types, no-anestesia
  for $icon in $icons
    &--{$icon}
      --mask-image maskImage('block-icon--' + $icon, inner)
  &__name
    $font-2xl-uppercase()
    color var(--h2-color)
    +media-max(m)
      position relative
      padding-top 10px
      padding-left 54px
    &::before
      +media-max(m)
        $icon()
  &__desc
    $font-m()
    margin-top .25rem
  .accessibility-mode &
    padding-top 0
    &::before
      content none
