include /blocks/logo/logo
include /blocks/header-services/header-services
include /blocks/header-search/header-search
include /blocks/header-navigation/header-navigation
include /blocks/accessibility-panel/accessibility-panel

include /data/header

+container({ tag: 'header' }).header
  +accessibilityPanel.header__accessibility-panel
  +content.header__inner
    +logo.header__logo
    a(href='tel:+78126030201').header__tel-mobile.hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s
    a(href='tel:+78126030201').header__tel.hidden-xs +7 (812) 603-02-01
    .header__address Левашовский пр., д.24
    a(href='mailto:admin@medall.clinic').header__email admin@medall.clinic
    .header__schedule Ежедневно с 09:00 до 21:00
    button(type='button').header__accessibility-button
    a(href='#').header__sign-button.button.hidden-s.hidden-xs Записаться на прием
    a(href='#').header__sign-button.header__sign-button--mobile.hidden-hd.hidden-xl.hidden-l.hidden-m
    +headerSearch.header__search
    +headerNavigation.header__navigation
    //- +headerServicesTop(servicesTop).header__services-top
    //- nav.header-services-top.header__services-top
    //-   ul.header-services-top__list
+container({ tag: 'section' })
  +content
    +headerServices(services)
