:root
  --header-position fixed
  --header-tel-font-size 16px
  --header-email-font-size 14px
  --header-schedule-font-size 14px
  --header-address-font-size 14px
  +media(s)
    --header-tel-font-size 14px
  +media(m)
    --header-tel-font-size 28px
    --header-email-font-size 16px
    --header-schedule-font-size 16px

.header
  position var(--header-position)
  width 100%
  &__inner
    display grid
    grid-template-areas 'logo sign tel search navigation'
    grid-template-columns calc(50% - var(--gap)) auto repeat(3, 42px)
    grid-gap 8px var(--base-padding)
    align-items center
    padding-y 8px
    +media(s)
      grid-template-areas 'logo tel email accessibility search sign navigation' 'logo address schedule accessibility search sign navigation'
      grid-template-columns 3fr 4fr 3fr repeat(4, auto)
      padding-y 16px
    +media(m)
      grid-template-areas 'logo tel email accessibility search sign navigation'\
      'logo address schedule accessibility search sign navigation'\
      grid-template-columns 3fr 4fr 4fr repeat(3, auto)
      grid-gap 0 var(--base-padding)
    +media(l)
      grid-template-areas 'logo . tel email accessibility search sign'\
        'logo . address schedule accessibility search sign navigation'\
      grid-template-columns 5fr 5fr 5fr 5fr repeat(3, auto)
  &__logo
    grid-area logo
    width 135px
    +media(m)
      width 229px
  &__tel-mobile
    grid-area tel
    width 34px
    height 34px
  &__tel
    grid-area tel
    font-size var(--header-tel-font-size)
    font-weight bold
    line-height 1.5
    text-decoration none
    +media(s)
      align-self end
  &__search
    grid-area search
    justify-self end
  &__navigation
    grid-area navigation
  &__email
  &__schedule
  &__address
    display none
  &__email
    +media(s)
      display block
      align-self end
      grid-area email
      font-size var(--header-email-font-size)
      font-weight bold
      text-decoration none
  &__schedule
    +media(s)
      display block
      align-self start
      grid-area schedule
      font-size var(--header-schedule-font-size)
  &__address
    +media(s)
      display block
      align-self start
      grid-area address
      font-size var(--header-address-font-size)
  &__accessibility-button
    display none
    +media(s)
      grid-area accessibility
      width var(--header-accessibility-button-width, 60px)
      height 60px
      overflow hidden
  & ^[0]__sign-button
    grid-area sign
    display none
    &.button
      padding-inline 1rem
      $font-m()
    &--mobile
      width 32px
      height 32px
