:root
  --header-color var(--color-text-secondary)
  --header-background-color var(--color-background)
  --header-accessibility-button-width 60px
  --header-navigation-bottom 0

.accessibility-mode
  --header-tel-font-size 28px
  --header-email-font-size 20px
  --header-schedule-font-size 20px
  --header-address-font-size 20px

.header
  z-index 500
  display grid
  justify-items center
  background-color var(--header-background-color)
  transition box-shadow var(--transition-duration-out)
  .accessibility-mode &
    border-bottom 1px solid
  &--fixed
    --header-accessibility-button-width 0
    --header-navigation-bottom 0
    box-shadow 0 0 10px 0 rgba(136, 152, 167, .4)
  &--fixed-down
    transform translateY(-120px) 
    transition transform var(--transition-duration-out) ease-in-out
  &__tel-mobile
    justify-self flex-end
    mask-image maskImage(phone)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-text-secondary)
  &__tel
    justify-self end
    color var(--header-color)
    &--hidden
      opacity 0
    +media(s)
      justify-self start
    +media(m)
      white-space nowrap
  &__email
    justify-self start
    +media(s)
      color var(--header-color)
  &__schedule
    +media(s)
      color var(--header-color)
    +media(m)
      white-space nowrap
  &__address
    color var(--header-color)
    &--hidden
      opacity 0
  &__sign-button--mobile
    justify-self flex-end
    mask-image maskImage(pencil)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-text-secondary)
  &__accessibility-button
    +media(s)
      display flex
      justify-content center
      align-items center
      appearance none
      padding 0
      background-color transparent
      border none
      transition width var(--transition-duration-out)
    +before()
      mask(glasses)
      width 32px
      max-width 100%
      aspect-ratio 32/28
      background-color var(--color-text-secondary)
  .accessibility-mode &
    &--fixed
      --header-services-height 45px
      --header-services-transition-delay 0
      --header-services-pointer-events auto
      --header-accessibility-button-width 60px
      box-shadow none
    &__inner
      grid-template-areas 'logo sign tel search search'\
      'services services services services services'
      +media(s)
        grid-template-areas 'logo tel email accessibility search sign navigation' 'logo address schedule accessibility search sign navigation'  'services services services services services services services'
        grid-template-columns 3fr 4fr 3fr repeat(4, auto)
        grid-row-gap 0
        padding-y 16px
      +media(m)
        grid-template-areas 'logo tel email accessibility search sign navigation'\
        'logo address schedule accessibility search sign navigation'\
        'services services services services services services services'
        grid-template-columns 3fr 3fr 4fr repeat(4, auto)
        padding-top 16px
        padding-bottom 8px
      +media(l)
        grid-template-areas 'logo . tel email accessibility search sign navigation'\
        'logo . address schedule accessibility search sign navigation'\
        'services services services services services services services services'
        grid-template-columns 5fr 5fr 5fr 5fr repeat(4, auto)
    &__navigation
      grid-area services
    &__accessibility-button
      display none
