mixin landingBannerSlider(banner)
  -
    banner.path = banner.path || '/images/landings/landing-new/'
  +pageSection({ backgroundColor: true, noContent: true }).landing-banner-slider&attributes(attributes)
    .landing-banner-slider__inner
      .landing-banner-slider__header.h2 !{banner.header}
      .landing-banner-slider__body !{banner.body}
      if banner.button
        a(href='/') !{banner.button}
    +slider.landing-banner-slider__slider
      each item in banner.images
        +slide.landing-banner-slider__slide
          +img({
            name: item,
            path: banner.path,
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true },
            ]
          })(alt= banner.header).landing-banner-slider__image
