.landing-banner-slider
  --color-text var(--color-mark)
  --landing-banner-max-height 615px
  display grid
  grid-template-columns 20px 1fr 20px
  grid-template-rows 30px min-content auto
  max-height 100%
  padding 0
  text-align center
  background-color var(--color-mark-light)
  +media(s)
    --h2-color var(--color-white)
    --color-text var(--color-white)
    grid-template-columns 1fr repeat(2, @css{ min(calc(var(--content-width)/2 - var(--base-padding)), 50% - var(--base-padding)) }) 1fr
    grid-template-rows 1fr
    text-align left
    background-color var(--color-mark)
  +media(l)
    max-height var(--landing-banner-max-height)
  &__inner
    position relative
    grid-column 2 / 3
    grid-row 2 / 3
    margin-bottom 32px
    +media(s)
      grid-column 2 / 3
      grid-row 1 / -1
      height 100%
      margin-bottom 0
      padding-block 40px
      +after()
        position absolute
        top 0
        left 100%
        width 55%
        height 100%
        background linear-gradient(to left, rgba(4, 86, 88, 0) 0%, rgba(4, 86, 88, 1) 100%)
        z-index 1
        pointer-events none
    +media(m)
      padding-block 90px
      padding-right 6%
  &__header
    margin-bottom 17px
    +media(m)
      margin-bottom 33px
  &__body
    text-align left
  &__slider
    grid-column 1 / -1
    grid-row 3 / 4
    width 100%
    +media(s)
      grid-column 3 / -1
      grid-row 1 / -1
      max-height var(--landing-banner-max-height)
  &__image
    object-fit cover
    +media(s)
      width 100%
      height 100%
      max-height var(--landing-banner-max-height)
  .slider
    height 100%
    &__slides
      height 100%
    &__pagination
      --slider-pagination-item-background-color var(--color-white)
      position absolute
      bottom 18px
      z-index 100
      +media(s)
        display none
    &__pagination-item
      opacity 1
      &--active
        --slider-pagination-item-background-color var(--color-mark)
    &__arrow
      --arrow-color var(--color-white)
      +media-max(s)
        display none
      top auto
      bottom 60px
      transform none
      &--prev
        --arrow-before-rotate 180deg
        right calc(50% + 20px)
        left auto
      &--next
        --arrow-before-rotate 0
        left calc(50% + 20px)
        right auto
      &::before
        mask(arrow)
        width 40px
        height 40px
  .accessibility-mode &
    --color-text var(--color-text)
    --h2-color var(--color-text)
    grid-template-rows min-content 1fr
    background-color transparent
    &__inner
      grid-column 2/4
      grid-row 1/2
      padding 0
      +after()
        display none
    &__slider
      grid-column 2/4
      grid-row 2/3
    &__body
      margin-bottom var(--base-padding)
    .slider
      &__wrapper
        display grid
        gap var(--base-padding)
        +media(s)
          grid-template-columns repeat(3, 1fr)
        +media(m)
          grid-template-columns repeat(6, 1fr)
      &__arrow
        display none
