:root
  --text-marked-color var(--color-mark)

.accessibility-mode
  --text-marked-color var(--color-text)

.text-marked
  $font-l()
  --color-text var(--text-marked-color)
  & + &
    margin-y 24px
  &--size--l
    $font-4xl()
    margin-y 32px
  &--type--uppercase
    text-transform uppercase
  &--type--bold
    font-weight 700
  &--error
    color var(--color-warning)
  &--size--m
    $font-m()
  &--color--grey
    color var(--color-text-secondary)
