.doctor-header
  +media-max(s)
    text-align center
  &__image-link
    display contents
  &__image
    aspect-ratio 1
    +media-max(s)
      width 220px;
  &__info
    display grid
    align-content center
    +media-max(s)
      justify-items center
    +media(s)
      grid-template-columns auto 1fr
      grid-column-gap var(--gap)
  &__name
    font-weight 500
    +media(s)
      grid-column 1/-1
  &__description
    grid-column 1/-1
    margin-top 20px
    +media(m)
      grid-column 1/-1
      width @css{ min(560px, 100%) }
  &__experience
    margin-top 20px
    font-weight 500
    text-transform uppercase
    +media(s)
      $font-m()
    +media(m)
      $font-3xl-uppercase()
      grid-column 1/-1
      width @css{ min(560px, 100%) }
      margin-top 60px
      padding-top 18px
      border-top 1px solid
  &__schedule
    +media(s)
      grid-column 1/-1
  &__schedule-title
    $font-s-uppercase()
    font-weight 500
    margin-top 10px
    +media(s)
      $font-m-uppercase()
    +media(m)
      $font-3xl-uppercase()
  &__button
    margin-top 30px
    +media(s)
      margin-top 48px
    for i in 1 2
      &:nth-child(i)
        grid-column 1/i + 1
  &__socials
    +media(s)
      margin-right auto
    +media-max(s)
      margin-top 20px
  &__clarification
    $font-xs()
    +media(s)
      $font-s()
