include /blocks/button/button
include /blocks/doctor-select/doctor-select
include /blocks/link-icon/link-icon
include /blocks/page-section/page-section

+pageSection({ noContent: true, backgroundColor: [ true, 'light' ], logo: true }).doctor-header: +content(class= grid({ justify: 'center' })).doctor-header__inner
  +doctorSelect(staff)(class= cell({xs: 12 })).doctor-header__select
  +img({
    name: 'doctor-header-image',
    path: '/images/',
    formats: [
      { ext: 'webp', mime: 'image/webp' },
      { ext: 'jpg', orig: true },
    ],
    density: [
      { values: [ 1, 2 ] }
    ]
  })(class= cell({ s: 5, xs: 12 }) alt='гогохия тамара зауровна').doctor-header__image
  +cell({ s: 7, xs: 12 }).doctor-header__info
    +h1.h1.doctor-header__name гогохия<br>тамара зауровна
    .doctor-header__description Заведующий отделением пластической хирургии, пластический хирург
    .doctor-header__experience стаж работы: 12 лет
    .doctor-header__schedule 
      .doctor-header__schedule-title График приема: 
      .doctor-header__schedule-text вт, чт 10.00-21.00, #[br] ср 15.00-21.00, #[br] пт 10.00-15.00
    +button({ tag: 'a' })(href='#').doctor-header__button Запись на консультацию
    +button({ tag: 'a', secondary: true })(href='#').doctor-header__button Подробнее
  +cell({ s: 5, xs: 12 })(class= grid({ justify: 'center', alignItems: 'center' })).doctor-header__socials
      -
        const icons = [
          { name: 'vk', href: '#' },
          { name: 'instagram', href: '#' },
        ]
      each icon in icons
        +linkIcon({ icon: icon.name })(href= icon.href)
  +cell({ xs:12 }).doctor-header__clarification * Социальная сеть Instagram запрещена на территории РФ.
