.doctor-header
  &__image
    object-position top
    object-fit cover
    border-radius var(--border-radius-50)
  &__description
    color var(--color-mark)
  &__experience
    position relative
    color var(--color-mark)
    +before()
      +media(s)
        position absolute
        top -3px
        right 0
        width 5px
        height 5px
        border-radius var(--border-radius-50)
        background-color currentColor
  &__schedule-title
    color var(--color-mark)
  .accessibility-mode &
    &__image
      border-radius 0
    &__schedule-title
    &__description
    &__experience
      color var(--color-text)
  &__name
    color var(--color-mark)
    a
      text-decoration none
