mixin accessibilityPanel
  .accessibility-panel&attributes(attributes)
    .accessibility-panel__section.accessibility-panel__section--fotn-size
      .accessibility-panel__subtitle Размер шрифта
      label.accessibility-panel__item.accessibility-panel__item--font-size.accessibility-panel__item--font-size--small
        input(type='radio' name='accessibility-font-size' value='small' checked).accessibility-panel__radio
        span.accessibility-panel__label
      label.accessibility-panel__item.accessibility-panel__item--font-size.accessibility-panel__item--font-size--medium
        input(type='radio' name='accessibility-font-size' value='medium').accessibility-panel__radio
        span.accessibility-panel__label
      label.accessibility-panel__item.accessibility-panel__item--font-size.accessibility-panel__item--font-size--big
        input(type='radio' name='accessibility-font-size' value='large').accessibility-panel__radio
        span.accessibility-panel__label
    .accessibility-panel__section.accessibility-panel__section--color
      .accessibility-panel__subtitle Цвет фона и шрифта
      label.accessibility-panel__item.accessibility-panel__item--color.accessibility-panel__item--color--black-on-white
        input(type='radio' name='accessibility-color' value='black-on-white' checked).accessibility-panel__radio
        span.accessibility-panel__label
      label.accessibility-panel__item.accessibility-panel__item--color.accessibility-panel__item--color--white-on-black
        input(type='radio' name='accessibility-color' value='white-on-black').accessibility-panel__radio
        span.accessibility-panel__label
      //label.accessibility-panel__item.accessibility-panel__item--color.accessibility-panel__item--color--green-on-green
      //  input(type='radio' name='accessibility-color' value='green-on-green').accessibility-panel__radio
      //  span.accessibility-panel__label
    .accessibility-panel__section.accessibility-panel__section--images
      .accessibility-panel__subtitle Изображения
      label.accessibility-panel__item.accessibility-panel__item--image.accessibility-panel__item--image--on
        input(type='radio' name='accessibility-images' value='on' checked).accessibility-panel__radio
        span.accessibility-panel__label
      label.accessibility-panel__item.accessibility-panel__item--image.accessibility-panel__item--image--off
        input(type='radio' name='accessibility-images' value='off').accessibility-panel__radio
        span.accessibility-panel__label
    .accessibility-panel__section
      button(type='button').accessibility-panel__button Обычная версия сайта
