:root
  --accessibility-panel-display none

.accessibility-mode
  --accessibility-panel-display flex
  &--color
    &--white-on-black
      --accessibility-panel-background-color #000000
      --accessibility-panel-border-bottom-color #ffffff

.accessibility-panel
  display var(--accessibility-panel-display)
  gap var(--gap)
  flex-wrap wrap
  width @css{ min(100%, var(--content-width)) }
  padding var(--base-padding)
  background-color var(--accessibility-panel-background-color, #f0f0f0)
  border-bottom 1px solid var(--accessibility-panel-border-bottom-color, transparent)
  &__section
    display grid
    grid-template-rows repeat(2, auto)
    grid-auto-flow column dense
    gap calc(var(--base-padding) / 2) var(--base-padding)
  &__subtitle
    grid-column 1/10
    grid-row 1/2
    font-size 20px
    font-weight bold
    line-height 1.5
  &__item
    grid-row 2/3
    &--font-size
      color var(--color-text)
      &--small
        --label-before-width 16px
      &--medium
        --label-before-width 24px
      &--big
        --label-before-width 32px
    &--color
      &--black-on-white
        $background(accessibility-black-on-white)
      &--white-on-black
        $background(accessibility-white-on-black)
      &--green-on-green
        $background(accessibility-green-on-green)
    &--image
      display grid
      grid-template-columns auto
      grid-template-rows auto
      +before()
        grid-column 1/-1
        grid-row 1/-1
        display block
        width 100%
        height 100%
        background-color currentColor
      &--on::before
          mask(accessibility-image-on)
      &--off::before
          mask(accessibility-image-off)
      & ^[-2]__label
        grid-column 1/-1
        grid-row 1/-1
  &__radio
    display none
    &:checked + ^[-1]__label
      outline 2px solid var(--color-text)
  &__label
    display flex
    justify-content center
    align-items center
    width 60px
    height 40px
    border 1px solid var(--color-text)
    +before()
      mask(accessibility-font-size)
      width var(--label-before-width)
      aspect-ratio 1
      background-color currentColor
  &__button
    grid-row 2/3
    align-self end
    height 40px
    padding-inline var(--base-padding)
    background-color var(--color-background)
    border 2px solid
    font-size 18px
    font-weight bold
    line-height 1.5
