.landing-block-section-h3
  --h3-color var(--color-mark)
  h4
    margin-bottom 10px
    font-weight 700
    +media(s)
      margin-bottom 30px
  &__title
    font-weight 700
    & + ^[0]__body
      margin-top 20px
      +media(s)
        margin-top 40px
  &__text
    h4
      +media-max(s)
        text-align center
  &__slide.grid
    display flex
  &__image
    +media-max(s)
      margin 0 auto
  .slider__wrapper
    +media(s)
      flex-direction column
      row-gap 58px
  .slider__pagination
    +media(s)
      display none
  .accessibility-mode &
    --h3-color var(--color-text)
    .slider__wrapper
      display flex
