.form
  display flex
  flex-direction column
  scroll-margin-top 40px
  &__header
    text-align center
  &__input
    & + &
    ^[-1]__header + &
      margin-top 30px
  &__agreement
    margin-top 30px
    text-align center
  &__submit
    align-self center
    margin-top 40px
