.banner-complex-all-on-4
  &__image
    +media(m)
      position relative
      height calc(100% +107px)
    img
      +media(m)
        position absolute
        top -101px
        right 0
        width min(572px, 35.75vw)
        max-width none
        height calc(100% + 102px)
        object-fit cover
        object-position right top
  &__title
    $font-4xl-bold()
    margin-bottom 29px
    text-transform none
    span
      position relative
      font-weight inherit
      color var(--color-mark-light)
      &::before
        content ''
        position absolute
        top calc(50% - 1.5px)
        left 0
        width 100%
        height 3px
        background-color #045658
  &__subtitle
    $font-xl-bold()
  &__form
    +media(m)
      margin-top 115px
    .form__agreement
      font-size 14px
      line-height 20px
    .btn
      margin-top 24px
      font-size 20px
      text-transform uppercase
      letter-spacing 0.065em
