include /blocks/button/button

+pageSection({ noContent: true, gradient: [ true, 'to-top' ] }).banner-complex-all-on-4: +content(class= grid())
  +cell({ m: 4 }).banner-complex-all-on-4__image.hidden-s.hidden-xs
    +img({
      name: 'banner-complex-all-on-4',
      path: '/images/landings/all-on-4/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
    })
  +cell({ l: 5, m: 6, xs: 12 })
    h2.banner-complex-all-on-4__title Получите комплекс услуг за 2500 ₽ вместо 
      span 4500 ₽
    h3.banner-complex-all-on-4__subtitle Консультация врача
    p Врач — хирург-стоматолог, имплантолог ответит на все вопросы и расскажет о методике All-on-4
    h3.banner-complex-all-on-4__subtitle КЛКТ
    p Трехмерное исследование челюсти и зубов, которое позволяет получить высококачественные цифровые изображения, необходимые для диагностики зубочелюстной системы и для планирования предстоящего лечения.
    h3.banner-complex-all-on-4__subtitle План лечения
    p Врач составит план лечения с указанием сроков и стоимости. Персональный куратор подберет несколько вариантов лечения, из которых вы можете выбрать оптимальный.
    p: strong до 10.01.22
  +cell({ l: 3, m: 6, s: 8, xs: 12 })
    form.form.banner-complex-all-on-4__form
      +formInput({type: 'text', name: 'name', placeholder: 'ФИО *', required: true, secondary: true}).form__input
      +formInput({type: 'tel', name: 'name', placeholder: 'Телефон *', required: true, secondary: true}).form__input
      +button(type='submit').form__submit Отправить
      .form__agreement Нажимая кнопку «Отправить» я даю согласие на обработку персональных данных
