include /blocks/page-section/page-section
  
+pageSection({ noContent: true, backgroundColor: [ true, 'dark' ] }).banner-blefaro: +content(class= grid({alignItems: 'center'}))
  +cell({l: 5, m: 5 }).hidden-s.hidden-xs
  +cell({l: 7, m: 7, s: 12, xs: 12}).banner-blefaro__info
    h1.banner-blefaro__title Пластика век
    .banner-blefaro__price от 
      strong 40 000
      |  руб.
    .banner-blefaro__body
      p операция под местной анестезией
        br
        | рассрочка
    +button({ tag: 'a' })(href='#section-contact').banner-blefaro__button Хочу привлекательный взгляд
