.banner-blefaro
  min-height 518px
  text-align center
   +media(l)
    background-image url(../images/banner-blefaro.webp)
    background-repeat no-repeat
    background-position left bottom
    background-size contain
   +media-max(l)
    padding-bottom 369px
    background-image url(../images/banner-blefaro-mobile.webp)
    background-repeat no-repeat
    background-position left bottom
    background-size auto 369px
  &__info
    padding-y 51px
     +media-max(l)
      order 1
      padding-y 2rem
    p
      +media-max(m)
        $font-s()
  &__title
  &__price
    color var(--color-background)
  &__price
    $font-2xl()
    margin-bottom 128px
    +media(m)
      $font-6xl()
      margin-bottom 82px
    strong
      font-weight normal
      word-spacing -10px
  &__button
    display inline-block
    margin-top 32px
    +media(m)
      margin-top 48px
  .accessibility-mode &
    &__title
    &__price
      color var(--color-text)
    .grid__cell.hidden-s.hidden-xs
      display none
    &__info
      display grid
      justify-items center
      width 100%
      text-align center
