:root
  --header-search-open-background-color var(--color-text-secondary)
  --header-search-submit-before-background-color var(--color-mark)
  --header-search-close-background-color var(--color-mark)
  --header-search-popup-opacity 0
  --header-search-popup-pointer-events none
  --header-search-popup-transition-duration var(--transition-duration-out)
.header-search
  --form-field-input-border-color-focus transparent
  --form-field-input-border-radius var(--border-radius-m) 0 0 var(--border-radius-m)
  &--active
    --header-search-popup-opacity 1
    --header-search-popup-pointer-events auto
    --header-search-popup-transition-duration var(--transition-duration-in)
  &__open
    appearance none
    display flex
    justify-content center
    align-items center
    padding 0
    background-color transparent
    border none
    &::before
      content ''
      width 24px
      height 24px
      background-color var(--header-search-open-background-color)
      mask(zoom)
  &__popup
    position absolute
    top 59px
    right 0
    z-index 2
    display flex
    align-items center
    column-gap 16px
    width 100vw
    padding 0 8px 8px
    background-color var(--header-background-color)
    opacity var(--header-search-popup-opacity)
    transition opacity var(--header-search-popup-transition-duration)
    pointer-events var(--header-search-popup-pointer-events)
    +media(s)
      top -8px
      right -30px
      margin-right 8px
      padding-right 0
      width @css{ min(63.8671875vw, 785px) }
    +media(m)
      top -1px
      right -22px
  &__form
    display flex
    flex-grow 1
    border 1px solid transparent
    border-radius var(--header-search-form-border-radius)
    &:has(.form-input__field:focus)
      border-color var(--color-mark)
  &__submit
    appearance none
    display flex
    justify-content flex-start
    align-items center
    flex-shrink 0
    width 56px
    padding 0
    background-color var(--form-field-input-background-color)
    border 1px solid transparent
    border-radius 0 var(--border-radius-m) var(--border-radius-m) 0
    &::before
      content ''
      width 24px
      height 24px
      background-color var(--header-search-submit-before-background-color)
      mask(zoom)
  &__close
    appearance none
    flex-shrink 0
    width 24px
    padding 0
    aspect-ratio 1
    background-color var(--header-search-close-background-color)
    border none
    mask(cross)
  &__input
    flex-grow 1
