:root
  --header-search-button-width 42px

.header-search
  +media(s)
    --header-search-button-width 44px
    position relative
  +media(m)
    --header-search-button-width 60px
  &__open
    width var(--header-search-button-width)
    aspect-ratio 1
  &__popup
    display none
