include /blocks/form-input/form-input

mixin headerSearch()

  .header-search&attributes(attributes)
    button(type='button').header-search__open
    .header-search__popup
      button(type='button').header-search__close
      form.header-search__form
        +formInput({ type: 'search' }).header-search__input
        button(type='submit').header-search__submit
