.landing-facts
  position relative
  overflow hidden
  isolation isolate
  color var(--color-white)
  +media(m)
    padding-y 195px
  +media-max(m)
    padding-top 241px
  &__background
  &__background.slider
    position absolute
    top 0
    left 0
    z-index 1
    width 100%
    height 100%
    background-color var(--color-mark-light)
    &:empty
      background-image url(../images/inter.jpg)
      background-position center
      background-size cover
    > img
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      object-fit cover
      object-position center
  .slider__slides
    height 100%
    max-height 100%
  &__slide
    max-height 100%
    > img
      display block
      width 100%
      height 100%
      object-fit cover
      object-position center
  .container
    position relative
    z-index 2
  .content
    +media-max(m)
      padding-x 0
  &__list
    background rgba(27, 83, 82, 0.16)
    backdrop-filter var(--blur-4)
    &.grid
      margin 0
    +media(m)
      border-radius 89px
    +media-max(m)
      width 100%
      padding-y calc(var(--base-padding) * 1.5)
      padding-left 20px
      border-radius 0 172px 0 0
  &__item
    &.grid__cell
      
      +media(m)
        width min-content
        padding-top calc(var(--base-padding) * 2)
        padding-bottom calc(var(--base-padding) * 2.75)
        padding-x calc(var(--base-padding) * 2)
        text-align center
      +media-max(m)
        display flex
        align-items center
        width 100%
        padding-y 0
  &__name
    +media(m)
      $font-6xl()
    +media-max(m)
      $font-5xl()
      margin-right 9px
  &__body
    text-transform uppercase
    +media(m)
      $font-xl()
    +media-max(m)
      $font-s()
      width min-content
  .accessibility-mode &
    color var(--color-text)
    &__background
      display none
    &__list
      background-color transparent
