include /blocks/slider/slider

mixin bannerFacts(facts, images)
  +pageSection.landing-facts
    if images && images.length > 1
      +slider({ fullWidth: true, arrows: false }).landing-facts__background
        each image in images
          +slide.landing-facts__slide: img(src != image alt='')
    if images && images.length === 1
      .landing-facts__background: img(src != images[0] alt='')
    if !images || images && images.length === 0
      .landing-facts__background
    if facts
      .container: .content: +grid({ 'justify': 'center', nowrap: [ 'hd', 'xl', 'l' ] }).landing-facts__list
        each fact in facts
          +cell({ l: 'auto', m: 6, xs: 12 }).landing-facts__item
            .landing-facts__name !{fact.name}
            .landing-facts__body !{fact.body}
