-
  const articleItems = [
    {
      title: 'Методы увеличения груди имплантатами',
      category: 'Пластика',
      img: 'article-1',
      filter: 'Статьи',
    },
    {
      title: 'Предоперационная подготовка: что нужно знать',
      category: 'Пластика',
      img: 'article-2',
      filter: 'Статьи',
    },
    {
      title: 'Трихология в Санкт-Петербурге',
      category: 'Пересадка',
      img: 'article-3',
      filter: 'Статьи',
    },
    {
      title: 'Увеличение губ гелем и жиром',
      category: 'Косметология',
      img: 'article-4',
      filter: 'Статьи',
    },
    {
      title: 'Диагностика кариеса',
      category: 'Стоматология',
      img: 'article-5',
      filter: 'Статьи',
    },
    {
      title: 'Сутки после операции',
      category: 'Пластика',
      img: 'article-6',
      filter: 'Справочник заболеваний',
    },
    {
      title: 'Грудные импланты: красота оправдывает риск?',
      category: 'Пластика',
      img: 'article-7',
      filter: 'Полезная информация',
    },
    {
      title: 'Анимация концепции All-on-4®',
      category: 'Стоматология',
      img: 'article-8',
      filter: 'Плитки услуг Анимация',
    },
    {
      title: 'Методы увеличения груди имплантатами',
      category: 'Пластика',
      img: 'article-1',
      filter: 'Статьи',
    },
  ]
  const articleDetail = [
    {
      title: 'Методы увеличения груди имплантатами',
      category: 'Пластика',
      img: 'article-1',
      filter: 'Статьи',
    },
    {
      title: 'Предоперационная подготовка: что нужно знать',
      category: 'Пластика',
      img: 'article-2',
      filter: 'Статьи',
    },
  ]
