-
  const directionsPlastic = [
    {
      name: 'Лицо',
      image: 'directions-plastic-1',
      list: [
        { name: 'Блефаропластика', href: '#' },
        { name: 'Хейлопластика', href: '#' },
        { name: 'Ринопластика', href: '#' },
        { name: 'Удаление комков Биша', href: '#' },
        { name: 'Отопластика (пластика ушей)', href: '#' },
        { name: 'Подтяжка кожи лица и шеи', href: '#' },
        { name: 'Ментопластика', href: '#' },
      ],
    },
    {
      name: 'Тело',
      image: 'directions-plastic-2',
      list: [
        { name: 'Липомоделирование', href: '#' },
        { name: 'Абдоминопластика', href: '#' },
        { name: 'Липосакция тела', href: '#' },
        { name: 'Липофилинг тела', href: '#' },
        { name: 'Увеличение ягодиц', href: '#' },
        { name: 'Интимная пластика', href: '#' },
        { name: 'Брахиопластика', href: '#' },
      ],
    },
    {
      name: 'Грудь',
      image: 'directions-plastic-3',
      list: [
        { name: 'Увеличение груди', href: '#' },
        { name: 'Подтяжка груди', href: '#' },
        { name: 'Уменьшение молочных желез', href: '#' },
        { name: 'Коррекция соска и ареолы', href: '#' },
        { name: 'Удаление имплантов', href: '#' },
        { name: 'Гинекомастия', href: '#' },
      ],
    },
  ]


  const directionsCosmetology = [
    {
      name: 'аппаратные методики',
      image: 'directions-cosmetology-1',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
        { name: 'LPG', href: '/cosmetology/LPG/' },
        { name: 'Фонофорез', href: '/cosmetology/fonoforezmedall/' },
        { name: 'LIFT 6', href: '/cosmetology/lift6medall/' },
        { name: 'Безинъекционная лазерная биоревитализация', href: '/cosmetology/laserbiorev/' },
        { name: 'LDM', href: '/cosmetology/LDM1/' },
        { name: 'Emtone', href: '/cosmetology/emtone/' },
        { name: 'HydraPeel', href: '/cosmetology/hydra_peel/' },
        { name: 'М22', href: '/cosmetology/m22/' },
        { name: 'SMAS - лифтинг', href: '/cosmetology/smas_lifting/' },
      ],
    },
    {
      name: 'уходовые процедуры',
      image: 'directions-cosmetology-2',
      list: [
        { name: 'Химический пилинг', href: '/cosmetology/piling/' },
        { name: 'Чистка лица', href: '/cosmetology/ultrazvukchistka/' },
        { name: 'Профессиональная косметика', href: '/cosmetology/profcosmetics/' },
      ],
    },
    {
      name: 'лазерные методики',
      image: 'directions-cosmetology-3',
      list: [
        { name: 'Лазерное лечение сосудов', href: '/cosmetology/lasersosudov/' },
        { name: 'Лазерная эпиляция', href: '/cosmetology/laserepil/' },
        { name: 'Лазерная шлифовка CO2', href: '/cosmetology/lasershlif/' },
        { name: 'Лазерное удаление новообразований', href: '/cosmetology/laserudalenie/' },
      ],
    },
    {
      name: 'инъекционные методики',
      image: 'directions-cosmetology-4',
      list: [
        { name: 'Биоревитализация', href: '/cosmetology/inekcionnaya/biorevitalization/' },
        { name: 'Коллагенотерапия', href: '/cosmetology/inekcionnaya/kollagen/' },
        { name: 'Ботулинотерапия', href: '/cosmetology/inekcionnaya/botox/' },
        { name: 'Мезотерапия', href: '/cosmetology/inekcionnaya/mesotherapy/' },
        { name: 'Плазмолифтинг', href: '/cosmetology/inekcionnaya/plazmolifting/' },
        { name: 'Плацентарная терапия', href: '/cosmetology/inekcionnaya/placentaltherapy/' },
        { name: 'Липолитики', href: '/cosmetology/inekcionnaya/lipolitiki/' },
        { name: 'Тредлифтинг', href: '/cosmetology/inekcionnaya/tredlifting/' },
        { name: 'Контурная пластика', href: '/cosmetology/inekcionnaya/konturnaya-plastika/' },
      ],
    },
    {
      name: 'трихология',
      image: 'directions-cosmetology-5',
      list: [
        { name: 'Мезотерапия для волос', href: '/cosmetology/mezoherapyvolos/' },
        { name: 'Плазмотерапия для волос', href: '/cosmetology/plasmatherapyvolos/' },
        { name: 'Микротоковая терапия для волос', href: '/cosmetology/mikrotokivolos/' },
      ],
    },
    {
      name: 'остеопатия и мануальная терапия',
      image: 'directions-cosmetology-6',
      list: [
        { name: 'Послеоперационная реабилитация после маммопластики', href: '/cosmetology/posleoperatsionnaya-reabilitatsiya-telo-66809518/' },
        { name: 'Послеоперационная реабилитация лицо', href: '/cosmetology/posleoperatsionnaya-reabilitatsiya-telo-6680/' },
        { name: 'Послеоперационная реабилитация тело', href: '/cosmetology/posleoperatsionnaya-reabilitatsiya-telo-/' },
      ],
    },
    {
      name: 'подготовка к операции и реабилитация',
      image: 'directions-cosmetology-7',
      list: [
        { name: 'Подготовка к операции', href: '/cosmetology/podgotovka-k-operatsii/' },
        { name: 'Интероперационная косметология', href: '/cosmetology/interoperatsionnaya-kosmetologiya/' },
        { name: 'Реабилитация после операции', href: '/cosmetology/reabilitatsiya-posle-operatsii/' },
      ],
    },
    {
      name: 'лабораторная диагностика',
      image: 'directions-cosmetology-8',
      list: [
        { name: 'Лабораторная диагностика', href: '/laboratorymedall/' },
      ],
    },
    {
      name: 'гинекология',
      image: 'directions-cosmetology-9',
      list: [
        { name: 'Гинекология', href: '/cosmetology/ginecologia/' },
      ],
    },
  ]

  const directionsGynecology = [
    {
      name: 'Инъекционные процедуры',
      image: 'directions-gynecology-1',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
      ],
    },
    {
      name: 'Аппаратные процедуры',
      image: 'directions-gynecology-2',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
      ],
    },
    {
      name: 'Для мужчин',
      image: 'directions-gynecology-3',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
      ],
    },
    {
      name: 'Уходовые процедуры',
      image: 'directions-gynecology-4',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
      ],
    },
  ]

  const directionsTransplantation = [
    {
      name: 'Мужчинам',
      image: 'directions-transplantation-1',
      href: 'https://netvolos.ru/uslugi/peresadka-muzhchinam/',
    },
    {
      name: 'Женщинам',
      image: 'directions-transplantation-2',
      href: 'https://netvolos.ru/uslugi/peresadka-zhenschinam/',
    },
    {
      name: 'Борода',
      image: 'directions-transplantation-3',
      href: 'https://netvolos.ru/uslugi/peresadka-na-borodu/',
    },
    {
      name: 'Брови',
      image: 'directions-transplantation-4',
      href: 'https://netvolos.ru/uslugi/peresadka-na-brovi/',
    },
    {
      name: 'Лицо',
      image: 'directions-transplantation-5',
      href: 'https://netvolos.ru/uslugi/peresadka-na-litso/',
    },
    {
      name: 'Шрамы',
      image: 'directions-transplantation-6',
      href: 'https://netvolos.ru/uslugi/peresadka-na-shramy/',
    },
  ]

  const directionsPhlebology = [
    {
      name: 'Лечение язв',
      image: 'directions-phlebology-1',
      href: 'https://yazv.net/lechenie-yazvv/',
    },
    {
      name: 'Лечение варикоза',
      image: 'directions-phlebology-2',
      href: 'https://yazv.net/lechenie-varikoza/',
    },
    {
      name: 'Лечение тромбоза',
      image: 'directions-phlebology-3',
      href: 'https://yazv.net/lechenie-trombov/',
    },
  ]

  const directionsDentistry = [
    {
      name: 'терапия',
      image: 'directions-dentistry-1',
      list: [
        { name: 'Эстетическая реставрация зубов', href: '/dentistry/restoration/' },
        { name: 'Эндодонтия', href: '/dentistry/endodontiya/' },
        { name: 'Отбеливание зубов', href: '/dentistry/otbelivanie-zubov/' },
        { name: 'Профессиональная гигиена', href: '/dentistry/professionalnaya-gigiena/' },
        { name: 'Лечение кариеса под микроскопом', href: '/dentistry/lecheniekariesa/' },
      ],
    },
    {
      name: 'пародонтология',
      image: 'directions-dentistry-2',
      list: [
        { name: 'Emdogain', href: '/dentistry/emdogain/' },
        { name: 'Лечение стоматита', href: '/dentistry/lechenie-stomatita-/' },
        { name: 'Лечение гингивита', href: '/lechenie-gingivita-/' },
      ],
    },
    {
      name: 'ортодонтия',
      image: 'directions-dentistry-3',
      list: [
        { name: 'Невидимая брекет-система (система Incognito™)', href: '/dentistry/nevidimaya-breket-sistema-sistema-incognito-/' },
        { name: 'Капы 3D Smile', href: '/dentistry/kapy-3d-smile/' },
        { name: 'Исправление вестибулярной брекет-системой (наружные брекеты)', href: '/dentistry/ispravleniye%20vestibulyarnoy%20breket-sistemi/' },
        { name: 'Элайнеры Invisiling', href: '/dentistry/elaynery-invisiling-/' },
        { name: 'Элайнеры Flexiligner', href: '/dentistry/elaynery/' },
        { name: 'TENS-терапия', href: '/dentistry/tens-terapiya/' },
      ],
    },
    {
      name: 'ортопедия и протезирование',
      image: 'directions-dentistry-4',
      list: [
        { name: 'Протезирование коронками', href: '/dentistry/protezirovanie-koronkami/' },
        { name: 'Протезирование вкладками', href: '/dentistry/protezirovanie-vkladkami/' },
        { name: 'Виниры', href: '/dentistry/viniry/' },
      ],
    },
    {
      name: 'лечение под наркозом',
      image: 'directions-dentistry-5',
      list: [
        { name: 'Лечение под наркозом', href: '/dentistry/lechenie-pod-narkozom/' },
      ],
    },
    {
      name: 'хирургия и имплантация',
      image: 'directions-dentistry-6',
      list: [
        { name: 'Удаление зубов', href: '/dentistry/udaleniezubov/' },
        { name: 'Костная пластика', href: '/dentistry/kostnaya-plastika/' },
        { name: 'Имплантация All-on-6', href: '/dentistry/implantatsiya-all-on-6-/' },
        { name: 'Имплантация All-on-4', href: '/dentistry/all-on-4/' },
        { name: 'Одномоментная имплантация', href: '/dentistry/implantatsiya-zuba/' },
      ],
    },
    {
      name: 'детская стоматология',
      image: 'directions-dentistry-7',
      list: [
        { name: 'Детская стоматология', href: '/dentistry/lechenie-vremennykh-zubov/' },
      ],
    },
    {
      name: 'исследования и цифровые технологии',
      image: 'directions-dentistry-8',
      list: [
        { name: 'КЛКТ', href: '/dentistry/klkt/' },
      ],
    },
  ]

  const reasonsPlastic = [
    {
      name: 'Высоко квалифицированные хирурги',
      description: ' Наши врачи регулярно повышают свою квалификацию как в России, так и за рубежом. Являются действующими членами известных профильных ассоциаций и участниками международных конгрессов. Их опыт подтверждён десятками тысяч оказанных услуг. Каждый пациент сможет выбрать в MEDALL лучшего для себя специалиста.',
      image: 'plastic-reasons-1',
      button: 'Выбрать врача',
    },
    {
      name: '3D-моделирование будущего результата',
      description: ' С помощью инновационной программы Crisalix доктор создаст визуальный образ будущего результата. Благодаря реалистичному моделированию, Вы сможете точно увидеть будущие формы, которые будут соответствовать желаемому результату и особенностям тела.',
      image: 'plastic-reasons-2',
      button: 'Получить консультацию',
    },
    {
      name: 'ONLINE и OFFLINE форматы консультаций',
      description: 'Мы ценим Ваше время, а также знаем, что пациенты приезжают к нам на операции с разных уголков России и даже из других стран. Не стоит откладывать визит к доктору! Вы можете познакомиться и обсудить все нюансы онлайн, а затем еще раз перед операцией. У кого же есть возможность приехать к нам лично — будем рады увидеться с Вами как можно скорее.',
      image: 'plastic-reasons-3',
      button: 'Получить консультацию',
    },
    {
      name: 'Высокий сервис и комфорт',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придется по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники Вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'plastic-reasons-4',
      button: 'Получить консультацию',
    },
    {
      name: 'Ваш персональный куратор',
      description: 'После консультации у доктора, за каждым пациентом в клинике прикрепляется персональный куратор. Он будет с Вами на связи по всем предоперационным вопросам, в день операции и при выписке. Пациенты MEDALL отмечают, как важна и помогает им эта поддержка.',
      image: 'plastic-reasons-5',
      button: 'Получить консультацию',
    },
    {
      name: 'Комфортабельные палаты',
      description: 'Для каждого пациента предусмотрена индивидуальная палата с круглосуточным медицинским наблюдением, ортопедической кроватью, мобильной кнопкой вызова персонала, туалетной комнатой с гигиеническим душем и необходимыми принадлежностями (халат, тапочки, полотенца), сейфом, Wi-Fi, телевизором с онлайн-кинотеатром, с набором для чая/кофемашиной.',
      image: 'plastic-reasons-6',
      button: 'Получить консультацию',
    },
    {
      name: 'Услуги для реабилитации',
      description: 'Если Вы хотите, чтобы процесс восстановления прошёл комфортнее и быстрее, рекомендуем воспользоваться услугами реабилитации непосредственно в нашей клинике: скорейшее заживление швов, минимизация рубцов, минимизация отёков и болевых ощущений. Только после рекомендаций Вашего доктора.',
      image: 'plastic-reasons-7',
      button: 'Получить консультацию',
    },
    {
      name: 'Пакет лекарств при выписке',
      description: 'Всё, о чем Вы должны заботиться в период реабилитации — это соблюдать рекомендации доктора и думать о будущем результате. Покупку необходимых лекарств мы берем на себя и выдадим вместе с назначением Вашего доктора.',
      image: 'plastic-reasons-8',
      button: 'Получить консультацию',
    },
  ]

  const reasonsCosmetology = [
    {
      name: 'Высоко квалифицированные косметологи',
      description: 'Наши врачи регулярно повышают свою квалификацию как в России, так и за рубежом. Являются действующими членами известных профильных ассоциаций и участниками международных конгрессов. Их опыт подтвержден десятками тысяч оказанных услуг. Каждый пациент сможет выбрать в MEDALL лучшего для себя специалиста.',
      image: 'cosmetology-reasons-1',
      button: 'Выбрать специалиста',
    },
    {
      name: 'современные аппараты и методики',
      description: 'Все оборудование в MEDALL имеет сертификаты и закупается напрямую из Европы и США. Никаких аналогов, мы всегда используем только оригинальные аппараты!',
      image: 'cosmetology-reasons-2',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Высокий сервис и комфорт',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придется по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники Вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'cosmetology-reasons-3',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Только сертифицированные препараты и профессиональная косметика',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придется по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники Вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'cosmetology-reasons-4',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Комфортабельные кабинеты',
      description: 'Чистые, светлые, просторные кабинеты, оборудованные всем необходимым для удобства пациентов на время процедур.',
      image: 'cosmetology-reasons-5',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Презентация индивидуального плана коррекций',
      description: 'ВХотите увидеть примерный результат преображения до процедур? В индивидуальном плане Вам будут предложены комплексные решения с визуализацией, а также план посещений, чтобы Вы могли планировать реабилитацию. При оплате комплексного плана есть специальные бонусы.',
      image: 'cosmetology-reasons-6',
      button: 'Записаться на консультацию',
    },
  ]
  
  const reasonsGynecology = [
    {
      name: 'ИННОВАЦИОННАЯ МЕДИЦИНА',
      description: 'Эстетическая гинекология — новое направление в медицине, в котором MEDALL одна из первых клиник, оказывающая подобные услуги.',
      image: 'gynecology-reasons-1',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Высоко квалифицированные гинекологи',
      description: 'Наши врачи регулярно повышают свою квалификацию как в России, так и за рубежом. Являются действующими членами известных профильных ассоциаций и участниками международных конгрессов. Их опыт подтверждён десятками тысяч оказанных услуг. Каждый пациент сможет выбрать в MEDALL лучшего для себя специалиста.',
      image: 'gynecology-reasons-2',
      button: 'Выбрать специалиста',
    },
    {
      name: 'Высокий сервис и комфорт',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придётся по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'gynecology-reasons-3',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Только сертифицированные для гинекологии препараты',
      description: 'В MEDALL используются только сертифицированные препараты. Это означает, что производитель несёт полную ответственность за состав препарата, дату изготовления и за все последствия его взаимодействия с Вашим организмом. У нас вы можете чувствовать себя в безопасности.',
      image: 'gynecology-reasons-4',
      button: 'Записаться на консультацию',
    },
    {
      name: 'Современный парк аппаратов',
      description: 'Все оборудование в MEDALL имеет сертификаты и закупается напрямую из Европы и США. Никаких аналогов, мы всегда используем только оригинальные аппараты!',
      image: 'gynecology-reasons-5',
      button: 'Записаться на консультацию',
    },
  ]

  const reasonsTransplantation = [
    {
      name: 'Методика&nbsp;и&nbsp;опыт',
      description: 'Наша клиника практикует самые передовые и эффективные методики пересадки волос — методы FUE и Strip. Специалисты центра проходили обучение и стажировались в клиниках Франции и Испании.',
      image: 'transplantation-reasons-1',
      button: 'Получить консультацию',
    },
    {
      name: 'Оригинальная методика&nbsp;анестезии',
      description: 'В клинике практикуем оригинальную методику местной анестезии. Она позволяет исключить осложнения, избежать послеоперационных отёков лица. В результате реабилитация после трансплантации проходит более легко. А улучшенная микроциркуляция способствует быстрому заживлению участков отбора и пересадки.',
      image: 'transplantation-reasons-2',
      button: 'Получить консультацию',
    },
    {
      name: 'Квалифицированный персонал',
      description: 'Ведущий врач-трансплантолог проводит пересадку с 2002 года. Подготовка медицинского персонала соответствует международным стандартам проведения процедуры пересадки волос.',
      image: 'transplantation-reasons-3',
      button: 'Получить консультацию',
    },
    {
      name: 'Высокий&nbsp;сервис и комфорт',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придётся по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'transplantation-reasons-4',
      button: 'Получить консультацию',
    },
    {
      name: 'Письменная&nbsp;гарантия результата',
      description: 'С пациентом заключаем договор, в котором прописана юридическая гарантия результата, а также наше обязательство о неразглашении медицинской тайны. Строго придерживаемся конфиденциальности.',
      image: 'transplantation-reasons-5',
      button: 'Получить консультацию',
    },
  ]

  const reasonsDentistry = [
    {
      name: 'Высоко квалифицированные специалисты',
      description: 'Наши врачи регулярно повышают свою квалификацию как в России, так и за рубежом. Являются действующими членами известных профильных ассоциаций и участниками и лекторами международных конгрессов. Их опыт подтверждён десятками тысяч оказанных услуг. Каждый пациент сможет выбрать в MEDALL лучшего для себя специалиста.',
      image: 'dentistry-reasons-1',
      button: 'Выбрать специалиста',
    },
    {
      name: 'современные аппараты и&nbsp;методики',
      description: 'Все оборудование в MEDALL имеет сертификаты и закупается напрямую из Европы и США. Никаких аналогов, мы всегда используем только оригинальные аппараты!',
      image: 'dentistry-reasons-2',
      button: 'Получить консультацию',
    },
    {
      name: '3D-моделирование будущего результата',
      description: 'С помощью инновационного интраорального 3D-сканирования доктор создаст визуальный образ будущей улыбки в артикуляторе Amann Girbach. Благодаря реалистичному моделированию, вы сможете точно увидеть будущий результат, который будет соответствовать вашим пожеланиям и индивидуальным особенностям строения челюсти.',
      image: 'dentistry-reasons-3',
      button: 'Получить консультацию',
    },
    {
      name: 'высокий сервис <br>и&nbsp;комфорт ',
      description: 'В MEDALL комфортно и нет ощущения медучреждения в привычном устаревшем смысле. Вам придётся по вкусу наш современный минималистичный интерьер. На каждом этапе посещения клиники вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'dentistry-reasons-4',
      button: 'Получить консультацию',
    },
    {
      name: 'комфортабельные кабинеты ',
      description: 'Чистые, светлые, просторные кабинеты, оборудованные всем необходимым для удобства взрослых и маленьких пациентов на время лечения.',
      image: 'dentistry-reasons-5',
      button: 'Получить консультацию',
    },
    {
      name: 'презентация индивидуального плана комплексного лечения ',
      description: 'Хотите увидеть будущий результат стоматологического лечения? В индивидуальном плане вам будут предложены комплексные решения с визуализацией, а также план посещений, чтобы вы могли планировать реабилитацию. При оплате комплексного плана есть специальные бонусы.',
      image: 'dentistry-reasons-6',
      button: 'Получить консультацию',
    },
  ]

  const staff = [
    {
      name: 'Гогохия Тамара Зауровна',
      description: 'Заведующий отделением пластической хирургии, пластический хирург',
      category: 'plastics',
    },
    {
      name: 'Романчишен Филипп Анатольевич',
      description: 'Главный врач клиники, пластический хирург, кандидат медицинских наук',
      category: 'plastics',
    },
    {
      name: 'Мохамед Ева Юсуфовна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'кизюн яна васильевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ПАЦЮК Алиса Игоревна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'АНЧУГОВА Анна Анатольевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЦЕХМИСТРО Яна Вячеславовна',
      description: 'Пластический хирург, помощник главного врача  по медицинской части',
      category: 'plastics',
    },
    {
      name: 'БЕЛОБОРОДОВА Екатерина Андреевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'АРУТЮНЯН Левон',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЖОРЖЕОС Михаил Фавазович',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ГЕВЛИЧ Елена Константиновна',
      description: 'Врач-оториноларинголог I-ой категории, ЛОР, челюстной-лицевой хирург',
      category: 'plastics',
    },
    {
      name: 'ВЫСТУПЕЦ Борис Владимирович',
      description: 'Кандидат медицинских наук, ведущий пластический хирург клиники',
      category: 'plastics',
    },
    {
      name: 'МАЛЬЦЕВА Екатерина Николаевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЖУРАВЛЕВ Роман Вячеславович',
      description: 'Пластический хирург',
      category: 'plastics',
    },
  ]

  const feedback = [
    'Как я и ожидала, всё прошло прекрасно, команда на высшем уровне, клиника замечательная, совсем не ощущаешь себя в палате и больной. Уютная обстановка в номерах, внимательный персонал, сейчас у меня проходит реабилитация по контролем.',
    'При первом посещении клиники сразу произвел впечатление современный европейский интерьер. Ну а в процессе лечения стало понятно, что клиника укомплектована самым лучшим оборудованием.',
    'Именно комплексный подход — это то, почему мы обратились в Медал. Как мы рады, что попали именно к вам! Просто огромное спасибо всем профессионалам своего дела.',
    'Приятно приходить и чувствовать индивидуальный подход! Улыбчивый, четкий в работе персонал. Кофе мне тоже нравится.',
    'Хочется отметить, в первую очередь, высокий профессионализм специалистов, постоянный процесс обучения и овладения новыми методами в лечении. Давно являюсь пациентом этой клиники и получаю удовольствие, приходя сюда. Интерьеры, созданные для пациентов, отношение, как к своим близким, чистота, организация лечебного процесса — всё говорит о желании коллектива сделать качественную помощь еще и комфортной.',
    'Прекрасный интерьер, внимательное обращение персонала, начиная от ресепшена, который ещё не знает о цели визита. Далее сопровождение, волнуешься меньше из-за этого. Очень приятно, продолжать не буду-это личное...',
    'Лично меня впечатлил тот факт, что клиника многопрофильная: и стоматология, и пластическая хирургия, и даже волосы пересаживают. Серьёзный подход.',
    'При первом визите приятно удивило, что не ощутила тревожности от нахождения в медицинском учреждении, очень уютная атмосфера: спокойная музыка, мягкие диванчики, парящие в воздухе букетики на стойках.',
    'Очень приятный современный экологичный интерьер! Специалисты класса Люкс! Впечатлили креативные рекламные постеры, они эстетично и наглядно знакомят с Клиникой: отопластика, хейлопластика, элайнеры и брекеты, пластика груди, липомоделирование, имплантация и ортопедия... Просто, здорово!!!',
    'Хочу поблагодарить персонал клиники за теплый прием. Делала несколько дней назад пластическую операцию. Все прошло отлично под чутким надзором медсестёр и врачей, которые постоянно приходили в палату и спрашивали все ли хорошо. Все были очень вежливы и улыбчивы, что создавало вокруг атмосферу комфорта и умиротворения, а это очень важно для человека, после операции. Ставлю твёрдые 5 звёзд, так как ни одного минуса мной замечено не было. Спасибо вам ещё раз!!',
  ]

  const feedbackCosmetology = [
    'Отличная косметология, врачи никогда не делают ничего лишнего, учитывают все пожелания и предлагают оптимальные варианты процедур. Максимально подробная консультация. Безболезненность реабилитации, возможность всегда быть на связи и задавать даже самые глупые вопросы.',
    'Внимательность, требовательность выполнения назначений. Профессионализм. Врачи разъяснили очень простым и понятным языком причины и как их лечить. И самое главное - результативность назначений.',
    'После 55 лет поняла, наконец, что нужно заняться собой. Мои проблемы усугубились тем, что я кардинально привела в порядок свою фигуру и похудела, 98 до 58 кг. Нужно было привести в порядок и лицо. Обратилась в косметлогию клиники.  Очень довольна результатом.',
    'Результатом очень довольна. Через 2 недели синяки и отёки ушли, мешки под глазами исчезли. Взгляд стал совершенно другим, общий вид лица стал более молодым. Теперь по утрам не вздрагиваю, увидев себя в зеркало!',
    'Хочу выразить благодарность всем сотрудникам клиники Medall за внимательное отношение к пациентам. Уже со входа в клинику чувствуешь индивидуальный подход. Находиться в клинике приятно, тебя встретят, предложат чай или кофе, и предложат подождать приема в уютном холле',
  ]

  const feedbackGynecology = [
    'Попробовала такую процедуру, как интимное лазерное омоложение и могу сказать, что теперь просто счастлива! Помимо того, что полностью справились с проблемой небольшого недержания, возникшей после рождения моего довольно крупного сыночка, так ещё и внешне красоту навели, как бы странно это не звучало. На самом деле, раньше я даже и не знала про то, что в таких местах и увлажнение делают, и осветлить могут, и ещё разное, и тем более не решилась бы об этом написать в интернете. Но сейчас я понимаю, что такое послеродовые проблемы и хочу поделиться своим опытом их решением с теми, кто так же их испытывает! К слову, немаловажным моментом стало и то, что с мужем отношения стали на порядок лучше! А процедура при этом абсолютно безболезненная и не требует особого восстановления, вплоть до того, что после неё я спокойно домой поехала сама на машине!',
    'В родах была травма, реабилитация прошла очень неудачно, очевидно нужна была коррекция и процедуры для восстановления эластичности тканей. Не самая лёгкая задача, описывать причину обращения к доктору Мяделец, но я стараюсь. Все три моих проблемы смогли исправить. Дискомфорта больше не испытываю совсем, в любой ситуации чувствую себя здоровой, физических следов от некорректно проведённых родов больше не осталось! Благодарна Ирине Александровне за работу.',
    'Большое спасибо внимательной Ирине Александровне за качественное решение эстетических проблем и несовершенств, все только по делу и с учётом моих пожеланий.',
    'Хороший, компетентный врач. Помогла в деликатном вопросе. Банально, но после родов исчезла упругость влагалища. Исправили с помощью лазера. Очень довольна результатом. Многие считают, что это норма после родов, но как оказалось, всё можно и нужно исправлять.',
    'Благодарю Мяделец Ирину Александровну, которая возвращает женскую молодость в некоторых местах;) После третьих естественных родов я забыла, что такое получать удовольствие от близости с мужем. Кажется, и он забыл. Оказалось, что лазер может сейчас решать такие вопросы. Несколько процедур помогли избавится от дискомфорта и теперь я вновь чувствую себя желанной и сексуальной.',
    'Лазер оказался очень эффективен при восстановлении после беременности и родов. У меня произошла деформация в процессе родов, были швы, потом начались проблемы с качеством интимной жизни, постепенно накопилось столько дискомфорта, что стала искать варианты. Определилась с доктором и клиникой. Прошла курс на лазере, за три месяца пришла к норме. Все стало таким, каким было до беременности. Лечилась у Мяделец, она супер, доктор опытный, с разными случаями сталкивалась, максимально поддержала и самоеглавное, смогла убрать мою проблему!',
    'Выражаю благодарность Мяделец И. А. Я хотела скорректировать форму малых половых губ. Врач предложила сделать коррекцию филлерами. Всё проводится под местной анестезией, болезненных ощущений я не испытала. После отправилась домой. Эффект отличный, форма изменилась немного, но именно этого я и хотела. Если хочется более кардинальных изменений, то это, конечно, уже пластика. Я очень довольна, спасибо! Ирину Александровну рекомендую как прекрасного специалиста, мега-тактичного и с отличным «женским» вкусом;)',
  ]

  const feedbackTransplantation = [
    'Для меня в 50 лет немалой проблемой стал мой внешний вид, а проблема возникла с волосами — просто трагедия. Лечилась долго у трихологов, делали мезотерапию, плазмолифтинг, втирала «Миноксидил», принимала добавки, но результата не было. Потом долго жалела о потраченном времени и деньгах, так как при моем виде облысения ничего это не помогло (мне поставили диагноз: андрогенное облысение). По совету трихолога обратилась в клинику пересадки волос  к Светлане Валерьевне Боярской. Она посоветовала делать операцию. Результат был не сразу. Но сейчас, спустя десять месяцев, я уже могу ходить без парика. Я рада, что смогла решить свою проблему, не могу передать, как я счастлива. Благодарю Светлану Валерьевну — чуткого врача и заботливый коллектив клиники, вы вновь подарили мне уверенность в себе!',
    'Был на консультации у доктора Боярской Светланы Валерьевны. Иногда так бывает, что становится необходимой операция по пересадке волос… Замечательный специалист с «золотыми» руками. Эффективность предложенного лечения. После консультации не остаётся вопросов. Профессиональное отношение к своей работе. Учитываются нюансы жизнедеятельности. Клиентоориентированность клиники. Отношение самое внимательное и доброжелательное. Разумная обратная связь с пациентом. В моём случае могу рекомендовать саму клинику и отдельно — доктора Боярскую Светлану Валерьевну. Операция уже назначена, в удобную для меня дату и достаточным временем на восстановление. Хочу выразить благодарность вежливым и приятным администраторам клиники. Спасибо большое.',
    'Долгое время беспокоил внешний вид. Пыталась искать информацию на сайте, использовать разные препараты. По рекомендации трихолога, обратилось в клинику к Светлане Валерьевне. Врач оказался профессионалом в своём деле. Операция прошла успешно, но результат был не сразу. Спустя 9 месяцев проблемы с волосами прошли. С уверенностью могу рекомендовать Специалиста Светлану Валерьевну.',
    'Светлана Валерьевна Боярская отличный доктор, провела вчера великолепную операцию по пересадке в два этапа. Этап получения графтов, и этап пересадки. Спасибо ей большое за проделанной труд и клиники Medall за хорошую организацию комфортного пребывания пациента на все время операции. Окончательный результата будет виден уже через несколько месяцев.',
    'Спасибо врачу, поняла мою ситуацию и назначила операцию в выходной! У меня 6 степень облысения. Переписывался с клиниками, в одной сказали, что пересадят на всю лысину 6000 графтов за день. Прилетел на операцию. Лохотрон! Не верьте, если вам говорят, что за день сделают много! Или просите письменное подтверждение! Прилетел. Врач посмотрел на меня, сделал умный вид и сказал, что ИМЕННО в моем случае, нужно делать 2 операции по 2000 графтов. Но 2 + 2 = 4, а мне говорили, что пересадят за день 6000 графтов (не волос!). После моих вопросов и претензий (я взял отпуск, потратил время и деньги на самолёт) врач сказал, что за 3 раза сделает 3 операции, волос сзади много и 6000 графтов он пересадит за 3 операции с интервалами в 4 дня… Нет слов. И компенсацию за обман не потребовать. Позвонил в Санкт-Петербург в Medall клинику, с которой тоже переписывался и где мне сказали, что нужно провести минимум 2 операции по 2500 графтов. Спасибо врачу, поняла мою ситуацию и назначила операцию в выходной (воскресенье), т.к. свободный день у них был только через 1,5 недели, а мне нужно было улетать уже через 3 дня. Пересадили за первую операцию 2630 графтов, причём деньги взяли только за 2500, как и было сказано до операции. У них есть счётчики, поэтому я видел. сколько сделали. Все чётко. Следующую операцию решили делать как только смогу выкроить время и прилететь.',
    'Пишу о моём случае. У меня был ожог головы (был пожар в доме, когда мне было 4 года). Делали несколько операций, пересаживали кожу на голову с бёдер. Пришла на консультацию к С.В. Боярской для пересадки волос, парики носить надоело. Её подход мне понравился. Сначала она меня направила к хирургу, который сделал мне несколько шлифовок, т.к. видна была граница на лбу между моей собственной кожей и кожей, которую пересадили с бедра. Только потом она сделала мне пересадку волос. Мне нужна будет ещё одна пересадка волос, но мы решили, что сделаем её не раньше, чем через год, когда будем видеть результат от первой операции. Прошло полтора года, волосы выросли, хотя не очень верила, что хоть что‑то вырастет. Собираюсь на вторую операцию. Очень благодарна всем, кто принимал и принимает участие в решении моей проблемы.',
  ]

  const feedbackPhlebology = [
    'Выражаю благодарность доктору Дмитрию Юрьевичу Андрееву, грамотному, внимательному, большому профессионалу. Он талантливый человек, прекрасный врач, всем обращающимся к нему помогающий. Дай Бог ему здоровья. Успехов ему в его нелёгкой трудовой деятельности. Благодарность также его помощникам — Павлу Анатольевичу и Кате. Огромное спасибо всем им. Помогли мне после безуспешного лечения в районной поликлинике.',
    'Спасибо огромное дорогому моему доктору-спасителю Андрееву Дмитрию Юрьевичу. Уже не ожидала, что мне смогут помочь. Где только не пытались — и в государственных клиниках, и в частных. Все было бесполезно. Слава Богу — попала к доктору Андрееву. Большущее спасибо и огромная благодарность моему спасителю.',
    'Хочу выразить благодарность и восхищение доктору Андрееву Д.Ю. Он профессионал своего дела, был моим лечащим врачом, поставил диагноз, подобрал лечение. Спасибо ему за это. Он очень грамотный и душевный доктор. Дай Бог ему здоровья и продвижения по карьерной лестнице. Хотелось чтобы было таких врачей больше, тогда больных было бы меньше. Спасибо вам за то что вы есть! Я благодарна судьбе, что она свела меня с вами! Сердечное спасибо Зоеньке — чуткому и нежному человеку. За такими профессионалами будущее! Низкий вам поклон!',
    'Хотела бы искренне поблагодарить доктора Андреева. Глубочайшая признательность за помощь. Если простыми словами — доктор спас мне ногу после тяжёлой болезни. А может быть и вообще бы не выжила. Да, не дёшево, но мне выбирать не приходилось, помощь нужна была срочно. Всё получилось. Огромное спасибо Дмитрию Юрьевичу. С уважением, Александра.',
    'Мы с огромной благодарностью пишем этот отзыв Андрееву Дмитрию Юрьевичу и всему коллективу клиники MEDALL! С доброжелательностью заботой и вниманием к нам относились в каждое наше посещение. Профессионализм и не поддельное желание помочь моей матери мы видели на протяжении всего курса лечения. Низкий поклон врачу флебологу Андрееву Дмитрию Юрьевичу и его коллективу за успешное лечение Малышевой Н.И. Дмитрий Юрьевич и его коллектив проделал большую и кропотливую работу по лечению трофических язв на обеих ногах моей матери. Профессионализм, трудолюбие и доброта флеболога Андреева Д.Ю. не просто помогли избежать ампутации, а вылечили язвы и поставили на ноги мою мать.',
    'Я, Босова А.Г. 75 лет. Благодарю докторов Андреева Д.Ю. и Ястребова П.А. за высокий профессионализм и чуткое, душевное отношение к пациентам. Я была прооперирована по поводу варикозного расширения вен на ноге в июле 2022 года. Долго не решалась на эту операцию, но по совету мужа, которому была проведена операция лечения трофических язв на ноге согласилась. Мои опасения оказались напрасными. Операция прошла безболезненно, хотя и была длительной и сложной и проходила под общим наркозом. Через час я была отпущена домой. Мне рекомендовано носить компрессионные чулки в течение 5 недель. Очень довольна душевным отношением докторов и рекомендую своим родным и друзьям обращаться к этим профессионалам!',
    'Встретился с Дмитрием Юрьевичем. Целый час длилась наша беседа. И то, как он спрашивал, как отвечал на мои вопросы, как методично вытягивал из меня подробнейшую информацию о моей болезни, - вызвало доверие к нему. Одиннадцать месяцев длилось лечение. И уже пять лет, как я избавился от перевязок, от боли, от расползавшейся язвы. Лишь затемнённый участок кожи там, где она была, напоминает о прошлых мучениях. Молодой хирург построил стратегию лечения с учётом упомянутых выше факторов. Постоянно фотографируя язву (фотоаппарат — в числе его обязательных инструментов), изучая, сравнивая снимки, знал «подноготную» развивающихся в ней процессов. ﻿﻿Страшно подумать, чем бы для меня все кончилось, если бы не попал к Андрееву,» - говорит Алексей Данилов. ”Моя благодарность Дмитрию Юрьевичу безгранична. Знаете, за эти месяцы не обошлось без общения с коллегами по несчастью. Только тёплые, а то и восторженные слова о нем слышал. Что касается его метода, думаю, правильно сказать так: он в каждом пациенте видит объект для творчества. Тяжёлого творчества. Но оно во спасение.',
  ]

  const feedbackDentistry = [
    'Врач внимательный и заинтересованный, ответил на все вопросы и всё объяснил. Осталась полностью удовлетворена приёмом, вопросов после посещения не осталось. Обратилась к нему по совету знакомых. Я живу в другом городе, и сюда прилетаю целенаправленно к нему.',
    'Хотела удалить зуб мудрости. Меня пугало, что корень его располагался близко к нервному каналу. Доктор успокоил, все подробно объяснил и быстро удалил зуб. На консультацию и удаление ушло минут 20. Не ожидала, что все пройдёт так быстро. Уже на следующий день чувствую себя хорошо.',
    'Пользуюсь услугами стоматологии, качество услуг на высоте, врачи, ресепшен просто умнички, всегда приятно приходить. Врачам удалось решить мою проблему, хотя остальные клиники даже не брались.',
    'Лечили в этой клинике ребёнку зубы! Лечили под медицинским сном! Все прошло отлично! Врачи очень внимательные доброжелательные! Потрясающие кураторы которые ведут лечение! Всегда можно задать волнующие вопросы от тебя не отмахнуть после того как лечение оплачено! Впечатления только положительные!',
    'Очень нравится клиника MEDALL. Попала по рекомендации и не пожалела. Очень внимательный персонал, высококвалифицированные специалисты, современное оборудование. Обращалась в разные клиники, но только в этой мне помогли сохранить зуб. Здесь лечат сложные зубы, а это очень важно. Рекомендую данную клинику.',
    'Пользуюсь услугами стоматологии, качество услуг на высоте, врачи, ресепшен просто умнички, всегда приятно приходить. Врачам удалось решить мою проблему, хотя остальные клиники даже не брались.',
  ]

  const transplantationPrices = [
    {
      title: 'Первичная комплексная консультация и диагностика врача-трансплантолога',
      price: 'Бесплатно',
    },
    {
      title: 'Стоимость графта (лоскутный метод)',
      price: 'от 60 000 до 70 000 ₽',
    },
    {
      title: 'Стоимость графта (бесшовный метод - FUE)',
      price: '100 ₽',
    },
    {
      title: 'Стоимость графта процедуры пересадки волос в область усов, бороды, бакенбардов',
      price: '100 ₽',
    },
    {
      title: 'Стоимость графта при пересадки любым методом от&nbsp;2&nbsp;500&nbsp;шт',
      price: '80 ₽',
    },
    {
      title: 'Стоимость процедуры пересадки волос в область бровей',
      price: '70 000 ₽',
    },
  ]
