-
  const discounts = [
    {
      name: 'Клиника MEDALL',
      list: [
        {
          name: 'Подарочный сертификат',
          description: 'Подарите своим близким подарочный сертификат на все виды услуг. Сертификат можно приобрести на сумму от 5 000 ₽ до 1 000 000 ₽',
          image: 'podarochnyj-sertifikat',
        },
      ],
    },
    {
      name: 'Отделение пластической хирургии',
      list: [
        {
          name: 'Бесплатная консультация пластического хирурга и 3D-моделирование будущего результата',
          description: '',
          image: 'besplatnaya-konsultaciya-i-3d-modelirovanie',
        },
        {
          name: 'Вторая операция в подарок',
          description: 'При записи на подтяжку лица, маммопластику, абдоминопластику и блефаропластику вторая операция в подарок',
          image: 'vtoraya-operaciya-v-podarok',
        },
        {
          name: '-30% на пластические операции',
          description: 'Запишитесь на консультацию к Ангчуговой Анне, Пацюк Алисе или Яне Цехмистро и получите скидку −30% на операции на грудь, лицо или тело',
          date: 'Акция действует до 31.03.2023 г.',
          image: '30-na-plasticheskie-operacii',
        },
      ],
    },
    {
      name: 'Отделение цифровой стоматологии',
      list: [
        {
          name: '-25% на чистку зубов',
          description: 'Акция распространяется на действующих пациентов косметологии и пластической хирургии',
          date: 'Акция действует до 31.03.2023 г.',
          image: '25-na-chistku-zubov',
        },
        {
          name: '-60% на КЛКТ',
          description: 'Цена с учетом скидки 3 500 ₽. Акция распространяется на действующих пациентов косметологии и пластической хирургии',
          date: 'Акция действует до 31.03.2023 г.',
          image: '60-na-klkt',
        },
      ],
    },
    {
      name: 'ОТДЕЛЕНИЕ КОСМЕТОЛОГИИ',
      list: [
        {
          name: '-50% на 1 процедуру EMTONE',
          description: 'Лёгкий способ избавиться от целлюлита за 4 сеанса',
          date: 'Акция действует до 31.03.2023 г.',
          image: '50-na-1-proceduru-emtone',
        },
        {
          name: '-10% при совместной записи с подругой',
          description: 'Скидка 10% на все услуги косметологии при совместной записи вместе с подругой',
          image: '10-pri-sovmestnoj-zapisi-s-podrugoj',
        },
        {
          name: '-35% на уход за лицом',
          description: 'Чистка + пилинг + биоревитализация вокруг глаз за 6 500 ₽ вместо 10 000 ₽',
          image: '35-na-uhod-za-licom',
        },
        {
          name: '-35% на уход за волосами',
          description: 'Курс из 3-х процедур комплекса «мезотерапия + плазмотерапия волосяной области» за 29 990 ₽ вместо 46 200 ₽',
          image: '35-na-uhod-za-volosami',
        },
      ],
    },
    {
      name: 'ОТДЕЛЕНИЕ пересадки волос',
      list: [
        {
          name: '-15% на операцию по пересадке волос',
          description: 'Боярская Светлана Валерьевна — специалист международного уровня, выполнит быструю пересадку со 100% приживаемостью волос и письменной гарантией результата',
          date: 'Акция действует до 31.03.2023 г.',
          image: '15-na-operaciyu-po-peresadke-volos',
        },
      ],
    },
  ]
