-
  const footerServices = [
    {
      name: 'Пластическая хирургия',
      list: [ 'Грудь', 'Тело', 'Лицо' ]
    },
    {
      name: 'Медицинская косметология',
      list: [ 'Терапевтическая', 'Инъекционная', 'Аппаратная', 'Лазерная', 'Дерматология', 'Трихология', 'Реабилитация' ]
    },
    {
      name: 'Центр флебологии',
      list: [ 'Лечение трофических язв', 'Лечение варикоза', 'Лечение тромбоза', 'Лечение лифедемы' ]
    },
    {
      name: 'Пересадка волос',
      list: [ 'Пересадка волос' ]
    },
    {
      name: 'Цифровая стоматология',
      list: [ 'Лечение зубов', 'Удаление зубов', 'Лечение десен' ]
    },
  ]

  const footerPartners = [
    {
      image: {
        name: 'association',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'images/webp' },
          { ext: 'png', orig: true }
        ],
        density: [ { values: [ 2 ] } ]
      },
      name: 'Член Ассоциации Частных Клиник <span class="nowrap">Санкт-Петербурга</span>',
    },
    {
      image: {
        name: 'spb-msi',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'images/webp' },
          { ext: 'png', orig: true }
        ],
        density: [ { values: [ 2 ] } ]
      },
      name: 'База <span class="nowrap">медико-социального</span> института',
    },
    {
      image: {
        name: 'nobel-biocare',
        path: '/images/',
        formats: [ { ext: 'svg', orig: true } ]
      },
      name: 'Центр клинического мастерства Nobel Biocare',
    },
    {
      image: {
        name: 'kavo',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'images/webp' },
          { ext: 'png', orig: true }
        ],
        density: [ { values: [ 2 ] } ]
      },
      name: 'Cтатус референс клиники KaVo',
    },
  ]

  const footerGallery = {
    videoPreview: {
      name: 'footer-gallery__video',
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { values: [ 1, 2 ] },
      ],
    }
  }
