-
  const services = [
    { name: 'Направления', sublist: [
      //- { name: 'Пластическая хирургия', href: '/plastic/', sublist: [
      //-   { name: 'Грудь', sublist: [
      //-     { name: 'Увеличение груди', href: 'https://medall.clinic/plastic/uvelichenie-grudi-usluga/' },
      //-     { name: 'Подтяжка груди', href: 'https://medall.clinic/plastic/podtyazhka-grudi-uslugi-/' },
      //-     { name: 'Уменьшение молочных желез', href: 'https://medall.clinic/plastic/umenshenie-molochnykh-zhelez-uslugi/' },
      //-     { name: 'Коррекция соска и ареолы', href: 'https://medall.clinic/plastic/korrektsiya-soska-i-areoly-/' },
      //-     { name: 'Удаление имплантов', href: 'https://medall.clinic/plastic/umenshenie-molochnykh-zhelez-uslugi8660/' },
      //-     { name: 'Гинекомастия', href: 'https://medall.clinic/plastic/ginekomastiya-/' },
      //-   ]},
      //-   { name: 'Лицо', sublist: [
      //-     { name: 'Блефаропластика', href: 'https://medall.clinic/plastic/blefaroplastika-uslugi-/' },
      //-     { name: 'Хейлопластика', href: 'https://medall.clinic/plastic/kheyloplastika-/' },
      //-     { name: 'Ринопластика', href: 'https://medall.clinic/plastic/rinoplastika/' },
      //-     { name: 'Удаление комков Биша', href: 'https://medall.clinic/plastic/udalenie-komkov-bisha-/' },
      //-     { name: 'Отопластика (пластика ушей)', href: 'https://medall.clinic/plastic/otoplastika-/' },
      //-     { name: 'Подтяжка кожи лица и шеи', href: 'https://medall.clinic/plastic/podtyazhka-litsa-/' },
      //-     { name: 'Ментопластика', href: 'https://medall.clinic/plastic/mentoplastika-/' },
      //-   ]},
      //-   { name: 'Тело', sublist: [
      //-     { name: 'Липомоделирование', href: 'https://medall.clinic/plastic/lipomodelirovanie-uslugi/' },
      //-     { name: 'Пластика ягодиц', href: 'https://medall.clinic/plastic/uvelichenie-yagodits-implantami-/' },
      //-     { name: 'Абдоминопластика', href: 'https://medall.clinic/plastic/abdominoplastika-uslugi-/' },
      //-     { name: 'Липосакция тела', href: 'https://medall.clinic/plastic/liposaktsiya-tela-uslugi-/' },
      //-     { name: 'Липофилинг тела', href: 'https://medall.clinic/plastic/lipofiling-tela-uslugi-/' },
      //-     { name: 'Уменьшение талии', href: 'https://medall.clinic/plastic/umenshenie-talii/' },
      //-     { name: 'Брахиопластика', href: 'https://medall.clinic/plastic/brakhioplastika-uslugi-/' },
      //-     { name: 'Интимная пластика', href: 'https://medall.clinic/plastic/labioplastica-/' },
      //-   ]},
      //- ]},
      //- { name: 'Косметология', href: '/cosmetology/',  sublist: [
      //-   { name: 'Аппаратные методики', sublist: [
      //-       { name: 'М22', href: 'https://medall.clinic/cosmetology/m22/' },
      //-       { name: 'Emtone', href: 'https://medall.clinic/cosmetology/emtone/' },
      //-       { name: 'Hydra Peel', href: 'https://medall.clinic/cosmetology/hydra_peel/' },
      //-       { name: 'SMAS', href: 'https://medall.clinic/cosmetology/smas_lifting/' },
      //-       { name: 'Безинъекционная лазерная биоревитализация', href: 'https://medall.clinic/cosmetology/laserbiorev/' },
      //-       { name: 'LIFT 6', href: 'https://medall.clinic/cosmetology/lift6medall/' },
      //-       { name: 'LPG', href: 'https://medall.clinic/cosmetology/LPG/' },
      //-       { name: 'Микротоковая терапия', href: 'https://medall.clinic/cosmetology/mikrotoki/' },
      //-     ],
      //-   },
      //-   { name: 'Уходовые процедуры', sublist: [
      //-       { name: 'Чистка лица', href: 'https://medall.clinic/cosmetology/ultrazvukchistka/' },
      //-       { name: 'Химический пилинг', href: 'https://medall.clinic/cosmetology/piling/' },
      //-     ],
      //-   },
      //-   { name: 'Лазерные методики', sublist: [
      //-       { name: 'Лазерное удаление новообразований', href: 'https://medall.clinic/cosmetology/laserudalenie/' },
      //-       { name: 'Лазерная шлифовка', href: 'https://medall.clinic/cosmetology/lasershlif/' },
      //-       { name: 'Лазерное лечение сосудов', href: 'https://medall.clinic/cosmetology/lasersosudov/' },
      //-       { name: 'Лазерная эпиляция', href: 'https://medall.clinic/cosmetology/laserepil/' },
      //-     ],
      //-   },
      //-   { name: 'Инъекционные методики', sublist: [
      //-       { name: 'Контурная пластика', href: 'https://medall.clinic/cosmetology/inekcionnaya/konturnaya-plastika/' },
      //-       { name: 'Липолитики', href: 'https://medall.clinic/cosmetology/inekcionnaya/lipolitiki/' },
      //-       { name: 'Плацентарная терапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/placentaltherapy/' },
      //-       { name: 'Плазмолифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/plazmolifting/' },
      //-       { name: 'Мезотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/mesotherapy/' },
      //-       { name: 'Тредлифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/tredlifting/' },
      //-       { name: 'Ботулинотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/botox/' },
      //-       { name: 'Коллагенотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/kollagen/' },
      //-       { name: 'Биоревитализация', href: 'https://medall.clinic/cosmetology/inekcionnaya/biorevitalization/' },
      //-     ],
      //-   },
      //-   { name: 'Трихология', sublist: [
      //-       { name: 'Микротоковая терапия для волос', href: 'https://medall.clinic/cosmetology/mikrotokivolos/' },
      //-       { name: 'Плазмотерапия для волос', href: 'https://medall.clinic/cosmetology/plasmatherapyvolos/' },
      //-       { name: 'Мезотерапия для волос', href: 'https://medall.clinic/cosmetology/mezoherapyvolos/' },
      //-     ],
      //-   },
      //-   { name: 'Остеопатия и мануальная терапия', sublist: [
      //-       { name: 'Мануальная терапия', href: 'https://medall.clinic/cosmetology/manualnayaterapia/' },
      //-       { name: 'Остеопатия', href: 'https://medall.clinic/cosmetology/osteopatiya/' },
      //-     ],
      //-   },
      //-   { name: 'Подготовка к операции и реабилитация', sublist: [
      //-       { name: 'Подготовка к операции', href: 'https://medall.clinic/cosmetology/podgotovka-k-operatsii/' },
      //-       { name: 'Интраоперационная косметология', href: 'https://medall.clinic/cosmetology/interoperatsionnaya-kosmetologiya/' },
      //-       { name: 'Реабилитация после операции', href: 'https://medall.clinic/cosmetology/reabilitatsiya-posle-operatsii/' },
      //-     ],
      //-   },
      //-   { name: 'Лабораторная диагностика', sublist: [
      //-       { name: 'Лабораторная диагностика', href: 'https://medall.clinic/cosmetology/labdiagnostika/' },
      //-     ],
      //-   },
      //- ]},
      //- { name: 'Стоматология', href: '/dentistry/' },
      //- { name: 'Пересадка волос', href: 'https://netvolos.ru/' },
      //- { name: 'Флебология', href: 'https://yazv.net/' },
      //- { name: 'Гинекология', href: '/laboratorymedall/' },
    ]},
    //- { name: 'Врачи', href: '/dentistry/' },
    //- { name: 'ПАЦИЕНТАМ', href: '/', sublist: [
    //-   { name: 'Документы', href: '/' },
    //-   { name: 'Рассрочка', href: '/' },
    //-   { name: 'Мерч', href: '/' },
    //-   { name: 'Блог', href: '/' },
    //- ]},
    //- { name: 'РЕЗУЛЬТАТЫ РАБОТ', href: 'https://netvolos.ru/' },
    //- { name: 'ОТЗЫВЫ', href: 'https://yazv.net/' },
    //- { name: 'КОНТАКТЫ', href: '/laboratorymedall/' },
  ]

  const mobileServices = [
    { name: 'пластическая хирургия', href: '/plastic/', sublist: [
      { name: 'Грудь',  sublist: [
          { name: 'Увеличение груди', href: 'https://medall.clinic/plastic/uvelichenie-grudi-usluga/' },
          { name: 'Подтяжка груди', href: 'https://medall.clinic/plastic/podtyazhka-grudi-uslugi-/' },
          { name: 'Уменьшение молочных желез', href: 'https://medall.clinic/plastic/umenshenie-molochnykh-zhelez-uslugi/' },
          { name: 'Коррекция соска и ареолы', href: 'https://medall.clinic/plastic/korrektsiya-soska-i-areoly-/' },
          { name: 'Удаление имплантов', href: 'https://medall.clinic/plastic/umenshenie-molochnykh-zhelez-uslugi8660/' },
          { name: 'Гинекомастия', href: 'https://medall.clinic/plastic/ginekomastiya-/' },
        ],
      },
      { name: 'Лицо',  sublist: [
          { name: 'Блефаропластика', href: 'https://medall.clinic/plastic/blefaroplastika-uslugi-/' },
          { name: 'Хейлопластика', href: 'https://medall.clinic/plastic/kheyloplastika-/' },
          { name: 'Ринопластика', href: 'https://medall.clinic/plastic/rinoplastika/' },
          { name: 'Удаление комков Биша', href: 'https://medall.clinic/plastic/udalenie-komkov-bisha-/' },
          { name: 'Отопластика (пластика ушей)', href: 'https://medall.clinic/plastic/otoplastika-/' },
          { name: 'Подтяжка кожи лица и шеи', href: 'https://medall.clinic/plastic/podtyazhka-litsa-/' },
          { name: 'Ментопластика', href: 'https://medall.clinic/plastic/mentoplastika-/' },
        ],
      },
      { name: 'Тело',  sublist: [
          { name: 'Липомоделирование', href: 'https://medall.clinic/plastic/lipomodelirovanie-uslugi/' },
          { name: 'Пластика ягодиц', href: 'https://medall.clinic/plastic/uvelichenie-yagodits-implantami-/' },
          { name: 'Абдоминопластика', href: 'https://medall.clinic/plastic/abdominoplastika-uslugi-/' },
          { name: 'Липосакция тела', href: 'https://medall.clinic/plastic/liposaktsiya-tela-uslugi-/' },
          { name: 'Липофилинг тела', href: 'https://medall.clinic/plastic/lipofiling-tela-uslugi-/' },
          { name: 'Уменьшение талии', href: 'https://medall.clinic/plastic/umenshenie-talii/' },
          { name: 'Брахиопластика', href: 'https://medall.clinic/plastic/brakhioplastika-uslugi-/' },
          { name: 'Интимная пластика', href: 'https://medall.clinic/plastic/labioplastica-/' },
        ],
      },
    ] },
    { name: 'косметология', href: '/cosmetology/' , sublist: [
      { name: 'Аппаратные методики', sublist: [
          { name: 'М22', href: 'https://medall.clinic/cosmetology/m22/' },
          { name: 'Emtone', href: 'https://medall.clinic/cosmetology/emtone/' },
          { name: 'Hydra Peel', href: 'https://medall.clinic/cosmetology/hydra_peel/' },
          { name: 'SMAS', href: 'https://medall.clinic/cosmetology/smas_lifting/' },
          { name: 'Безинъекционная лазерная биоревитализация', href: 'https://medall.clinic/cosmetology/laserbiorev/' },
          { name: 'LIFT 6', href: 'https://medall.clinic/cosmetology/lift6medall/' },
          { name: 'LPG', href: 'https://medall.clinic/cosmetology/LPG/' },
          { name: 'Микротоковая терапия', href: 'https://medall.clinic/cosmetology/mikrotoki/' },
        ],
      },
      { name: 'Уходовые процедуры', sublist: [
          { name: 'Чистка лица', href: 'https://medall.clinic/cosmetology/ultrazvukchistka/' },
          { name: 'Химический пилинг', href: 'https://medall.clinic/cosmetology/piling/' },
        ],
      },
      { name: 'Лазерные методики', sublist: [
          { name: 'Лазерное удаление новообразований', href: 'https://medall.clinic/cosmetology/laserudalenie/' },
          { name: 'Лазерная шлифовка', href: 'https://medall.clinic/cosmetology/lasershlif/' },
          { name: 'Лазерное лечение сосудов', href: 'https://medall.clinic/cosmetology/lasersosudov/' },
          { name: 'Лазерная эпиляция', href: 'https://medall.clinic/cosmetology/laserepil/' },
        ],
      },
      
      { name: 'Трихология', sublist: [
          { name: 'Микротоковая терапия для волос', href: 'https://medall.clinic/cosmetology/mikrotokivolos/' },
          { name: 'Плазмотерапия для волос', href: 'https://medall.clinic/cosmetology/plasmatherapyvolos/' },
          { name: 'Мезотерапия для волос', href: 'https://medall.clinic/cosmetology/mezoherapyvolos/' },
        ],
      },
      { name: 'Остеопатия и мануальная терапия', sublist: [
          { name: 'Мануальная терапия', href: 'https://medall.clinic/cosmetology/manualnayaterapia/' },
          { name: 'Остеопатия', href: 'https://medall.clinic/cosmetology/osteopatiya/' },
        ],
      },
      { name: 'Подготовка к операции и реабилитация', sublist: [
          { name: 'Подготовка к операции', href: 'https://medall.clinic/cosmetology/podgotovka-k-operatsii/' },
          { name: 'Интраоперационная косметология', href: 'https://medall.clinic/cosmetology/interoperatsionnaya-kosmetologiya/' },
          { name: 'Реабилитация после операции', href: 'https://medall.clinic/cosmetology/reabilitatsiya-posle-operatsii/' },
        ],
      },
      { name: 'Лабораторная диагностика', sublist: [
          { name: 'Лабораторная диагностика', href: 'https://medall.clinic/cosmetology/labdiagnostika/' },
        ],
      },
      { name: 'Инъекционные методики', sublist: [
          { name: 'Контурная пластика', href: 'https://medall.clinic/cosmetology/inekcionnaya/konturnaya-plastika/' },
          { name: 'Липолитики', href: 'https://medall.clinic/cosmetology/inekcionnaya/lipolitiki/' },
          { name: 'Плацентарная терапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/placentaltherapy/' },
          { name: 'Плазмолифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/plazmolifting/' },
          { name: 'Мезотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/mesotherapy/' },
          { name: 'Тредлифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/tredlifting/' },
          { name: 'Ботулинотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/botox/' },
          { name: 'Коллагенотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/kollagen/' },
          { name: 'Биоревитализация', href: 'https://medall.clinic/cosmetology/inekcionnaya/biorevitalization/' },
          { name: 'Контурная пластика', href: 'https://medall.clinic/cosmetology/inekcionnaya/konturnaya-plastika/' },
          { name: 'Липолитики', href: 'https://medall.clinic/cosmetology/inekcionnaya/lipolitiki/' },
          { name: 'Плацентарная терапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/placentaltherapy/' },
          { name: 'Плазмолифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/plazmolifting/' },
          { name: 'Мезотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/mesotherapy/' },
          { name: 'Тредлифтинг', href: 'https://medall.clinic/cosmetology/inekcionnaya/tredlifting/' },
          { name: 'Ботулинотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/botox/' },
          { name: 'Коллагенотерапия', href: 'https://medall.clinic/cosmetology/inekcionnaya/kollagen/' },
          { name: 'Биоревитализация', href: 'https://medall.clinic/cosmetology/inekcionnaya/biorevitalization/' },
        ],
      },
    ] },
    { name: 'стоматология', href: '/dentistry/' },
    { name: 'пересадка волос', href: 'https://netvolos.ru/' },
    { name: 'флебология', href: 'https://yazv.net/' },
    { name: 'лабораторная диагностика', href: '/laboratorymedall/' },
  ]

  const others = [
    { name: 'Наши врачи', href: '/', sublist: [
      { name: 'Пластическая хирургия', href: '/' },
    ] },
    { name: 'Вакансии', href: '/' },
    { name: 'Пациентам', href: '#', sublist: [
      { name: 'Документы', href: '/' },
      { name: 'Рассрочка', href: '/' },
      { name: 'Мерч', href: '/' },
      { name: 'Блог', href: '/' },
    ] },
    { name: 'Акции', href: '#' },
    { name: 'Цены', href: '#' },
    { name: 'Результаты работ', href: '#' },
    { name: 'Отзывы', href: '#' },
    { name: 'Контакты', href: '/about/contacts/' },
  ]
