-
  const facts = [
    { title: '>16', description: 'лет работы' },
    { title: '>40к', description: 'довольных пациентов' },
    { title: '>50', description: 'экспертов' },
    { title: '4.9', description: 'средний рейтинг на независимых площадках' },
  ]

  const important = [
    'Провести качественную диагностику, предложив несколько планов лечения',
    'Подарить эмоции  и впечатления  от общения  с нашей командой  и локацией',
    'Сформировать у каждого ценность заботы о себе',
    'Оказать комплексный подход к здоровью  и красоте',
  ]

  const directions = [
    {
      name: 'Цифровая стоматология',
      description: 'Комплексный подход, экстра уровень услуг. Топ-10 клиник России.',
      image: 'home-directions-1',
    },
    {
      name: 'Пластическая хирургия',
      description: 'Все виды операций, 15 высококлассных хирургов, комфортабельный стационар и сервис.',
      image: 'home-directions-2',
    },
    {
      name: 'Косметология',
      description: 'Уходовые, инъекционные и аппаратные методики. Услуги подготовки и реабилитации к операциям.',
      image: 'home-directions-3',
    },
    {
      name: 'Пересадка волос',
      description: 'Опыт работы с 2006 года, свыше 5000 успешных операций, гарантия результата, авторская методика.',
      image: 'home-directions-4',
    },
    {
      name: 'флебология',
      description: 'Вылечено более 2000 пациентов, считавшихся безнадёжными. Уникальные авторские методики лечения.',
      image: 'home-directions-5',
    },
    {
      name: 'Лабораторная диагностика',
      description: 'Для удобства пациентов мы осуществляем забор анализов на дому или в нашей клинике.',
      image: 'home-directions-6',
    },
  ]

  const reasons = [
    {
      name: 'ЭСТЕТИКА УДОБСТВО БЕЗОПАСНОСТЬ',
      description: 'В MEDALL атмосферно. На каждом этапе посещения клиники Вы пребываете в комфорте и эстетике, настраиваясь на волну преображения и заботы о себе.',
      image: 'home-reasons-1',
    },
    {
      name: 'ЭКСПЕРТНОСТЬ КОМАНДА КОМПЛЕКСНАЯ РАБОТА',
      description: 'Большая команда экспертов из областей эстетической медицины и цифровой стоматологии объединяет свои знания и навыки для достижения ключевой цели — здоровый и гармоничный пациент.',
      image: 'home-reasons-2',
    },
    {
      name: 'ЗАБОТА<br>СЕРВИС ИНДИВИДУАЛЬНОСТь',
      description: 'За каждым пациентом в клинике прикрепляется персональный куратор. Мы всегда напомним о приёме, предложим вкусный кофе и чай и проводим к доктору. После операции вызовем Вам такси бизнес-класса и подарим персональный подарок.',
      image: 'home-reasons-3',
    },
    {
      name: 'БРЕНД СМЫСЛЫ ЦЕННОСТИ',
      description: 'Мы отличаемся от многих на рынке медицинских услуг. Да, мы продаем не просто услугу, а ценность и мотивацию вести здоровый образ жизни, совершенствоваться и любить себя.',
      image: 'home-reasons-4',
    },
  ]

  const staff = [
    {
      name: 'Гогохия Тамара Зауровна',
      description: 'Заведующий отделением пластической хирургии, пластический хирург',
      category: 'plastics',
    },
    {
      name: 'Романчишен Филипп Анатольевич',
      description: 'Главный врач клиники, пластический хирург, кандидат медицинских наук',
      category: 'plastics',
    },
    {
      name: 'Мохамед Ева Юсуфовна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'кизюн яна васильевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ПАЦЮК Алиса Игоревна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'АНЧУГОВА Анна Анатольевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЦЕХМИСТРО Яна Вячеславовна',
      description: 'Пластический хирург, помощник главного врача  по медицинской части',
      category: 'plastics',
    },
    {
      name: 'БЕЛОБОРОДОВА Екатерина Андреевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'АРУТЮНЯН Левон',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЖОРЖЕОС Михаил Фавазович',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ГЕВЛИЧ Елена Константиновна',
      description: 'Врач-оториноларинголог I-ой категории, ЛОР, челюстной-лицевой хирург',
      category: 'plastics',
    },
    {
      name: 'ВЫСТУПЕЦ Борис Владимирович',
      description: 'Кандидат медицинских наук, ведущий пластический хирург клиники',
      category: 'plastics',
    },
    {
      name: 'МАЛЬЦЕВА Екатерина Николаевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЖУРАВЛЕВ Роман Вячеславович',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
      name: 'ЧЕРНЫЙ Дмитрий Александрович',
      description: 'Главный врач, врач стоматолог-ортопед, челюстно-лицевой хирург, имплантолог',
      category: 'dentistry', 
    },
    {
      name: 'ЮРОВ Тарас Юрьевич',
      description: 'Челюстно-лицевой хирург, имплантолог',
      category: 'dentistry', 
    },
    {
      name: 'РУДЕНКО Виталий Александрович',
      description: 'Врач стоматолог-терапевт, эндодонтист, ведущий лектор стоматологического клуба «Grossmaster» по направлению «Эндодонтия»',
      category: 'dentistry', 
    },
    {
      name: 'ЖУРАВЛЕВА Диана Сергеевна',
      description: 'Врач стоматолог-терапевт',
      category: 'dentistry', 
    },
    {
      name: 'ДРАГАН Анастасия Алексеевна',
      description: 'Врач стоматолог - терапевт, эндодонтист. Детский врач',
      category: 'dentistry', 
    },
    {
      name: 'ПАНЧЕНКО Сергей Александрович',
      description: 'Заведующий ортопедическим отделением, врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'БАИШЕВ Тимур Рашидович',
      description: 'Врач стоматолог-хирург-имплантолог',
      category: 'dentistry', 
    },
    {
      name: 'СЕМЕНЮК Андрей Витальевич',
      description: 'Врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'БЕРЕЗИН Евгений Александрович',
      description: 'Врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'ЦУРАНОВ Сергей Александрович',
      description: 'Врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'АРШИНОВА Владислава Алексеевна',
      description: 'Врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'ЮРОВА Дарья Олеговна',
      description: 'Врач стоматолог-хирург',
      category: 'dentistry', 
    },
    {
      name: 'РЫШКОВА Светлана Сергеевна',
      description: 'Врач-ортодонт',
      category: 'dentistry', 
    },
    {
      name: 'ГАВРИЛЕНКО Ирина Сергеевна',
      description: 'Врач стоматолог-терапевт, ведущий специалист, эндодонтист, специалист по художественной эстетической реставрации',
      category: 'dentistry', 
    },
    {
      name: 'БУРДЮЖА Юлия Андреевна',
      description: 'Врач стоматолог-терапевт, ортопед',
      category: 'dentistry', 
    },
    {
      name: 'БИЛОШИЦКАЯ Ольга Вячеславовна',
      description: 'Врач стоматолог-ортопед',
      category: 'dentistry', 
    },
    {
      name: 'АСТАФЬЕВ Алексей Евгеньевич',
      description: 'Врач стоматолог-терапевт, ортопед',
      category: 'dentistry', 
    },
    {
      name: 'СКАЛИНА Вероника Сергеевна',
      description: 'Врач стоматолог-терапевт-парадонтолог',
      category: 'dentistry', 
    },
    {
      name: 'ШАРКО Кирилл Константинович',
      description: 'Врач-рентгенолог',
      category: 'dentistry', 
    },
    {
      name: 'МЕЛОЯН Карина Аршавировна',
      description: 'Врач стоматолог-терапевт',
      category: 'dentistry', 
    },
    {
      name: 'КОПЛЕНКО Нина Сергеевна',
      description: 'Врач стоматолог-хирург, пародонтолог',
      category: 'dentistry', 
    },
    {
      name: 'МАЛЮТИН Виталий Николаевич',
      description: 'Врач стоматолог-гигиенист',
      category: 'dentistry', 
    },
    {
      name: 'СТЕЛЬМАХОВА Дарина Сергеевна',
      description: 'Врач стоматолог общей практики, стоматолог-ортодонт',
      category: 'dentistry', 
    },
    {
      name: 'СМИРНОВ Олег Сергеевич',
      description: 'Врач стоматолог-ортодонт',
      category: 'dentistry', 
    },
    {
      name: 'Чолокава Темури Демуриевич',
      description: 'Врач-стоматолог, челюстно-лицевой хирург',
      category: 'dentistry', 
    },
    {
      name: 'КОМАРОВА Юлия Вадимовна',
      description: 'Заведующий отделением косметологии, врач-дерматовенеролог, косметолог',
      category: 'cosmetology', 
    },
    {
      name: 'ДИМАКОВА Светлана Юрьевна',
      description: 'Врач-дерматовенеролог, косметолог, трихолог, миколог',
      category: 'cosmetology', 
    },
    {
      name: 'КУРПАС Ольга Павловна',
      description: 'Врач-дерматовенеролог, косметолог',
      category: 'cosmetology', 
    },
    {
      name: 'ЛИХАЧЕВА Елена Вячеславовна',
      description: 'Врач-дерматовенеролог, врач-косметолог',
      category: 'cosmetology', 
    },
    {
      name: 'ЗИМИН Илья Васильевич',
      description: 'Врач-косметолог, дерматовенеролог',
      category: 'cosmetology', 
    },
    {
      name: 'МАХОНИН Денис Александрович',
      description: 'Врач-остеопат, мануальный терапевт, реабилитолог',
      category: 'cosmetology', 
    },
    {
      name: 'СИМОНОВ Михаил Викторович',
      description: 'Врач мануальной терапии',
      category: 'cosmetology', 
    },
    {
      name: 'ПАЦЮК Алиса Игоревна',
      description: 'Врач-косметолог',
      category: 'cosmetology', 
    },
    {
      name: 'БОЯРСКАЯ Светлана Валерьевна',
      description: 'Заведующий отделением косметологии, врач-дерматовенеролог,  косметолог',
      category: 'hair-transplant', 
    },
    {
      name: 'АНДРЕЕВА Любовь Николаевна',
      description: 'Врач ультразвуковой диагностики',
      category: 'phlebology', 
    },
    {
      name: 'ЯСТРЕБОВ Павел Анатольевич',
      description: 'Сердечно-сосудистый хирург, врач флеболог',
      category: 'phlebology', 
    },
    {
      name: 'АНДРЕЕВ Дмитрий Юрьевич',
      description: 'Заведующий флебологическим отделением, кандидат медицинских наук, сердечно-сосудистый хирург, врач флеболог',
      category: 'phlebology', 
    },
  ]

  const feedback = [
    'Как я и ожидала, всё прошло прекрасно, команда на высшем уровне, клиника замечательная, совсем не ощущаешь себя в палате и больной. Уютная обстановка в номерах, внимательный персонал, сейчас у меня проходит реабилитация по контролем.',
    'При первом посещении клиники сразу произвел впечатление современный европейский интерьер. Ну а в процессе лечения стало понятно, что клиника укомплектована самым лучшим оборудованием.',
    'Именно комплексный подход — это то, почему мы обратились в Медал. Как мы рады, что попали именно к вам! Просто огромное спасибо всем профессионалам своего дела.',
    'Приятно приходить и чувствовать индивидуальный подход! Улыбчивый, четкий в работе персонал. Кофе мне тоже нравится.',
    'Хочется отметить, в первую очередь, высокий профессионализм специалистов, постоянный процесс обучения и овладения новыми методами в лечении. Давно являюсь пациентом этой клиники и получаю удовольствие, приходя сюда. Интерьеры, созданные для пациентов, отношение, как к своим близким, чистота, организация лечебного процесса — всё говорит о желании коллектива сделать качественную помощь еще и комфортной.',
    'Прекрасный интерьер, внимательное обращение персонала, начиная от ресепшена, который ещё не знает о цели визита. Далее сопровождение, волнуешься меньше из-за этого. Очень приятно, продолжать не буду-это личное...',
    'Лично меня впечатлил тот факт, что клиника многопрофильная: и стоматология, и пластическая хирургия, и даже волосы пересаживают. Серьёзный подход.',
    'При первом визите приятно удивило, что не ощутила тревожности от нахождения в медицинском учреждении, очень уютная атмосфера: спокойная музыка, мягкие диванчики, парящие в воздухе букетики на стойках.',
    'Очень приятный современный экологичный интерьер! Специалисты класса Люкс! Впечатлили креативные рекламные постеры, они эстетично и наглядно знакомят с Клиникой: отопластика, хейлопластика, элайнеры и брекеты, пластика груди, липомоделирование, имплантация и ортопедия... Просто, здорово!!!',
    'Хочу поблагодарить персонал клиники за теплый прием. Делала несколько дней назад пластическую операцию. Все прошло отлично под чутким надзором медсестёр и врачей, которые постоянно приходили в палату и спрашивали все ли хорошо. Все были очень вежливы и улыбчивы, что создавало вокруг атмосферу комфорта и умиротворения, а это очень важно для человека, после операции. Ставлю твёрдые 5 звёзд, так как ни одного минуса мной замечено не было. Спасибо вам ещё раз!!',
  ]

  const directionsHome = [
    {
      name: 'Грудь',
      image: 'directions-plastic-3',
      list: [
        { name: 'Увеличение груди', href: '/plastic/uvelichenie-grudi-usluga/' },
        { name: 'Подтяжка груди', href: '/plastic/podtyazhka-grudi-uslugi-/' },
        { name: 'Уменьшение молочных желез', href: '/plastic/umenshenie-molochnykh-zhelez-uslugi/' },
        { name: 'Коррекция соска и ареолы', href: '/plastic/korrektsiya-soska-i-areoly-/' },
        { name: 'Удаление имплантов', href: '/plastic/umenshenie-molochnykh-zhelez-uslugi8660/' },
        { name: 'Гинекомастия', href: '/plastic/ginekomastiya-/' },
      ],
    },
    {
      name: 'Лицо',
      image: 'directions-plastic-1',
      list: [
        { name: 'Блефаропластика', href: '/plastic/blefaroplastika-uslugi-/' },
        { name: 'Хейлопластика', href: '/plastic/kheyloplastika-/' },
        { name: 'Ринопластика', href: '/plastic/rinoplastika/' },
        { name: 'Удаление комков Биша', href: '/plastic/udalenie-komkov-bisha-/' },
        { name: 'Отопластика (пластика ушей)', href: '/plastic/otoplastika-/' },
        { name: 'Подтяжка кожи лица и шеи', href: '/plastic/podtyazhka-litsa-/' },
        { name: 'Ментопластика', href: '/plastic/mentoplastika-/' },
      ],
    },
    {
      name: 'Тело',
      image: 'directions-plastic-2',
      list: [
        { name: 'Липомоделирование', href: '/plastic/lipomodelirovanie-uslugi/' },
        { name: 'Пластика ягодиц', href: '/plastic/uvelichenie-yagodits-implantami-/' },
        { name: 'Абдоминопластика', href: '/plastic/abdominoplastika-uslugi-/' },
        { name: 'Липосакция тела', href: '/plastic/liposaktsiya-tela-uslugi-/' },
        { name: 'Липофилинг тела', href: '/plastic/lipofiling-tela-uslugi-/' },
        { name: 'Уменьшение талии', href: '/plastic/umenshenie-talii/' },
        { name: 'Брахиопластика', href: '/plastic/brakhioplastika-uslugi-/' },
        { name: 'Интимная пластика', href: '/plastic/labioplastica-/' },
      ],
    },
    {
      name: 'аппаратные методики',
      image: 'directions-cosmetology-1',
      list: [
        { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
        { name: 'LPG', href: '/cosmetology/LPG/' },
        { name: 'LIFT 6', href: '/cosmetology/lift6medall/' },
        { name: 'Безинъекционная лазерная биоревитализация', href: '/cosmetology/laserbiorev/' },
        { name: 'Emtone', href: '/cosmetology/emtone/' },
        { name: 'HydraPeel', href: '/cosmetology/hydra_peel/' },
        { name: 'М22', href: '/cosmetology/m22/' },
        { name: 'SMAS - лифтинг', href: '/cosmetology/smas_lifting/' },
      ],
    },
    {
      name: 'уходовые процедуры',
      image: 'directions-cosmetology-2',
      list: [
        { name: 'Химический пилинг', href: '/cosmetology/piling/' },
        { name: 'Чистка лица', href: '/cosmetology/ultrazvukchistka/' },
      ],
    },
    {
      name: 'лазерные методики',
      image: 'directions-cosmetology-3',
      list: [
        { name: 'Лазерное лечение сосудов', href: '/cosmetology/lasersosudov/' },
        { name: 'Лазерная эпиляция', href: '/cosmetology/laserepil/' },
        { name: 'Лазерная шлифовка CO2', href: '/cosmetology/lasershlif/' },
        { name: 'Лазерное удаление новообразований', href: '/cosmetology/laserudalenie/' },
      ],
    },
    {
      name: 'инъекционные методики',
      image: 'directions-cosmetology-4',
      list: [
        { name: 'Биоревитализация', href: '/cosmetology/inekcionnaya/biorevitalization/' },
        { name: 'Коллагенотерапия', href: '/cosmetology/inekcionnaya/kollagen/' },
        { name: 'Ботулинотерапия', href: '/cosmetology/inekcionnaya/botox/' },
        { name: 'Мезотерапия', href: '/cosmetology/inekcionnaya/mesotherapy/' },
        { name: 'Плазмолифтинг', href: '/cosmetology/inekcionnaya/plazmolifting/' },
        { name: 'Плацентарная терапия', href: '/cosmetology/inekcionnaya/placentaltherapy/' },
        { name: 'Липолитики', href: '/cosmetology/inekcionnaya/lipolitiki/' },
        { name: 'Тредлифтинг', href: '/cosmetology/inekcionnaya/tredlifting/' },
        { name: 'Контурная пластика', href: '/cosmetology/inekcionnaya/konturnaya-plastika/' },
      ],
    },
    {
      name: 'трихология',
      image: 'directions-cosmetology-5',
      list: [
        { name: 'Мезотерапия для волос', href: '/cosmetology/mezoherapyvolos/' },
        { name: 'Плазмотерапия для волос', href: '/cosmetology/plasmatherapyvolos/' },
        { name: 'Микротоковая терапия для волос', href: '/cosmetology/mikrotokivolos/' },
      ],
    },
    {
      name: 'остеопатия и мануальная терапия',
      image: 'directions-cosmetology-6',
      list: [
        { name: 'Мануальная терапия', href: '/cosmetology/manualnayaterapia/' },
        { name: 'Остеопатия', href: '/cosmetology/osteopatiya/' },
      ],
    },
    {
      name: 'подготовка к операции и реабилитация',
      image: 'directions-cosmetology-7',
      list: [
        { name: 'Подготовка к операции', href: '/cosmetology/podgotovka-k-operatsii/' },
        { name: 'Интероперационная косметология', href: '/cosmetology/interoperatsionnaya-kosmetologiya/' },
        { name: 'Реабилитация после операции', href: '/cosmetology/reabilitatsiya-posle-operatsii/' },
      ],
    },
    {
      name: 'лабораторная диагностика',
      image: 'directions-cosmetology-8',
      list: [
        { name: 'Лабораторная диагностика', href: '/laboratorymedall/' },
      ],
    },
    {
      name: 'ТЕРАПИЯ',
      image: 'directions-stomatology-1',
      list: [
        { name: 'Эстетическая реставрация зубов', href: '/dentistry/restoration/' },
        { name: 'Эндодонтия', href: '/dentistry/endodontiya/' },
        { name: 'Отбеливание зубов', href: '/dentistry/otbelivanie-zubov/' },
        { name: 'Профессиональная гигиена', href: '/dentistry/professionalnaya-gigiena/' },
        { name: 'Лечение кариеса под микроскопом', href: '/dentistry/lecheniekariesa/' },
      ],
    },
    {
      name: 'ПАРОДОНТОЛОГИЯ',
      image: 'directions-stomatology-2',
      list: [
        { name: 'Emdogain', href: '/dentistry/emdogain/' },
        { name: 'Лечение стоматита', href: '/dentistry/lechenie-stomatita-/' },
        { name: 'Лечение гингивита', href: '/dentistry/lechenie-gingivita-/' },
      ],
    },
    {
      name: 'ОРТОДОНТИЯ',
      image: 'directions-stomatology-3',
      list: [
        { name: 'Невидимая брекет-система (система Incognito™)', href: '/dentistry/nevidimaya-breket-sistema-sistema-incognito-/' },
        { name: 'Капы 3D Smile', href: '/dentistry/kapy-3d-smile/' },
        { name: 'Исправление вестибулярной брекет-системой (наружные брекеты)', href: '/dentistry/ispravleniye%20vestibulyarnoy%20breket-sistemi/' },
        { name: 'Элайнеры Invisiling', href: '/dentistry/elaynery-invisiling-/' },
        { name: 'Элайнеры Flexiligner', href: '/dentistry/elaynery/' },
        { name: 'TENS-терапия', href: '/dentistry/tens-terapiya/' },
      ],
    },
    {
      name: 'ОРТОПЕДИЯ И ПРОТЕЗИРОВАНИЕ',
      image: 'directions-stomatology-4',
      list: [
        { name: 'Протезирование коронками', href: '/dentistry/protezirovanie-koronkami/' },
        { name: 'Протезирование вкладками', href: '/dentistry/protezirovanie-vkladkami/' },
        { name: 'Виниры', href: '/dentistry/viniry/' },
      ],
    },
    {
      name: 'ЛЕЧЕНИЕ ПОД НАРКОЗОМ',
      image: 'directions-stomatology-5',
      list: [
        { name: 'Лечение под наркозом', href: '/dentistry/lechenie-pod-narkozom/' },
      ],
    },
    {
      name: 'ХИРУРГИЯ И ИМПЛАНТАЦИЯ',
      image: 'directions-stomatology-6',
      list: [
        { name: 'Удаление зубов', href: '/dentistry/udaleniezubov/' },
        { name: 'Костная пластика', href: '/dentistry/kostnaya-plastika/' },
        { name: 'Имплантация All-on-6', href: '/dentistry/implantatsiya-all-on-6-/' },
        { name: 'Имплантация All-on-4', href: '/dentistry/all-on-4/' },
        { name: 'Одномоментная имплантация', href: '/dentistry/implantatsiya-zuba/' },
      ],
    },
    {
      name: 'ДЕТСКАЯ СТОМАТОЛОГИЯ',
      image: 'directions-stomatology-7',
      list: [
        { name: 'Детская стоматология', href: '/dentistry/lechenie-vremennykh-zubov/' },
      ],
    },
    {
      name: 'ИССЛЕДОВАНИЯ И ЦИФРОВЫЕ ТЕХНОЛОГИИ',
      image: 'directions-stomatology-8',
      list: [
        { name: 'КЛКТ', href: '/dentistry/klkt/' },
      ],
    },
    {
      name: 'ИНЪЕКЦИОННЫЕ ПРОЦЕДУРЫ',
      image: 'directions-gynecology-1',
      list: [
        { name: 'Интимная контурная пластика', href: '/plastic/kontur-intim/' },
        { name: 'Плазмотерапия', href: '/gynecology/intimnyy-plazmolifting/' },
        { name: 'Интимная биоревитализация', href: '/cosmetology/biorevitalization-intim/' },
      ],
    },
    {
      name: 'АППАРАТНЫЕ ПРОЦЕДУРЫ',
      image: 'directions-gynecology-2',
      list: [
        { name: 'Лазерное омоложение', href: '/gynecology/laser-intim/' },
        { name: 'УЗИ', href: '/gynecology/uzi/' },
      ],
    },
    {
      name: 'ЛЕЧЕНИЕ',
      image: 'directions-gynecology-3',
      list: [
        { name: 'Послеродовое восстановление', href: '/gynecology/poslerodovoe-vosstanovlenie/' },
        { name: 'Лечение недержания мочи', href: '/gynecology/lechenie-nederzhaniya-mochi/' },
        { name: 'Лечение вагинизма', href: '/gynecology/lechenie-vaginizma/' },
      ],
    },
    {
      name: 'УХОДОВЫЕ ПРОЦЕДУРЫ',
      image: 'directions-gynecology-4',
      list: [
        { name: 'Интимное отбеливание', href: '/gynecology/otbelivanie-intimnoy-zony/' },
        { name: 'Интимные патчи', href: '/gynecology/intimnye-regenerativnye-patchi/' },
        { name: 'Интимный пилинг', href: '/gynecology/intimnyy-piling/' },
      ],
    },
  ]
  



