-
  const doctors = [
    {
      image: 'endo-problems',
      name: 'Романчишен Филипп Анатольевич',
      desc: 'главный врач и заведующий отделением пластической хирургии, к.м.н.',
      inst: 'romanchishen',
    },
    {
      image: 'vystupets-boris',
      name: 'Выступец Борис Владимирович',
      desc: 'к.м.н. пластический хирург ',
      inst: 'boris_vystupets',
    },
    {
      image: 'romanchishen',
      imageDetail: 'romanchishen',
      name: 'Тимур Рашидович Баишев',
      desc: 'врач - стоматолог - имплантолог - хирург',
      exp: '11 лет',
      skills: [
        'Атравматичное удаление зубов любой сложности,',
        'Подготовка к имплантации: синус-лифтинг и костная пластика.',
        'Имплантация любой сложности, включая одномоментную имплантацию.',
        'Парадонтология.',
        'Зубосохраняющие операции.',
      ],
      important: 'Является клиническим экспертом и лектором компании Neobiotech',
      education: [
        '2011 — СПбГМУ имени акад.И.П.Павлова — врач стоматолог',
        '2012 — НовГМУ им.Ярослава Мудрого — интернатура',
        '2012 —  специализация по хирургической стоматологии в СЗГМУ им.И.И.Мечникова.',
      ],
    },
    {
      image: 'romanchishen',
      name: 'Тимур Рашидович Баишев',
      desc: 'врач - стоматолог - имплантолог - хирург',
      inst: 'dr_cehmistro',
      link: false,
    },
    {
      image: 'romanchishen',
      name: 'Тимур Рашидович Баишев',
      desc: 'врач - стоматолог - имплантолог - хирург',
      inst: 'dr_cehmistro',
      link: false,
    },
    {
      image: 'romanchishen',
      name: 'Тимур Рашидович Баишев',
      desc: 'врач - стоматолог - имплантолог - хирург',
      inst: 'dr_cehmistro',
      link: false,
    },
  ]

  const links = [ 'test-1',  'test-2',  'test-3', 'test-4' ]

  const seq = [
    {
      image: 'seq-1',
      name: 'ДИАГНОСТИКА',
      desc: {
        tag: 'p',
        content: 'Диагностическая препарация позволяет исключить наличие трещин корня, которые являются показаниями к удалению зуба, а также наличие ферул- эффекта, который также позволяет сделать вывод о возможности реставрации посредством прямого восстановления пломбировочным материалом или коронкой (по показаниям).'
      },
    },
    {
      image: 'seq-2',
      name: 'обработка',
      desc: { tag: 'ul', content: [
          { tag: 'li', content: 'обработка каналов под микроскопом Leica с 40-кратным увеличением;' },
          { tag: 'li', content: 'постановка лекарственного вещества на основе гидроокиси кальция;' },
          { tag: 'li', content: 'временная пломбировка.' },
        ]
      },
    },
    {
      image: 'seq-3',
      name: 'восстановление',
      desc: {
        tag: 'ul', content: [
          { tag: 'li', content: 'постоянная пломбировка' },
          { tag: 'li', content: 'эстетическая реставрация зуба под микроскопом Leica с использованием ультрасовременных материалов' },
        ],
      },
    },
    {
      image: 'seq-4',
      name: 'контроль',
      desc: [
        { tag: 'p', content: 'Через 6 месяцев:' },
        { tag: 'ul', content: [
            { tag: 'li', content: 'контрольный снимок КЛКТ;' },
            { tag: 'li', content: 'оценка динамики восстановления ранее выявленного очага костной деструкции.' },
          ],
        }
      ],
    },
  ]

  const licenses = [
    {
      small: '/upload/iblock/f1f/f1f8a7365fb631a59a79ef6721b35bca.jpg',
      detail: '/upload/iblock/f1f/f1f8a7365fb631a59a79ef6721b35bca.jpg'
    },
    {
      small: '/upload/iblock/74d/74dfabe29895218191691870ff8aa3ec.jpg',
      detail: '/upload/iblock/74d/74dfabe29895218191691870ff8aa3ec.jpg'
    },
    {
      small: '/upload/iblock/a61/a61b9c97893f3f0ff3618400d6b79d00.jpg',
      detail: '/upload/iblock/a61/a61b9c97893f3f0ff3618400d6b79d00.jpg'
    },
    {
      small: '/upload/iblock/7ce/7ce47aca7a60954404ac64beecde46e2.jpg',
      detail: '/upload/iblock/7ce/7ce47aca7a60954404ac64beecde46e2.jpg'
    },
    {
      small: '/upload/iblock/164/164860b5ce46005978d408a8711af67d.jpg',
      detail: '/upload/iblock/164/164860b5ce46005978d408a8711af67d.jpg'
    },
    {
      small: '/upload/iblock/fe1/fe1c3d384e6272162ea44aadddf49210.jpg',
      detail: '/upload/iblock/fe1/fe1c3d384e6272162ea44aadddf49210.jpg'
    },
  ]

  const works = [
    {
      src: '/images/result.jpg',
      //- desc1: 'Очаг деструкции (киста) сразу на трех передних верхних зубах. Ранее пациенту рекомендовали удаление и пластику костной ткани с последующей имплантацией. ',
      //- desc2: 'В MEDALL были выявлены показания к консервативному эндодонтическому лечению.',
    },
    {
      src: '/images/works-1.jpg',
      name: 'Выступец Ф.В.',
      //- desc1: 'Очаг деструкции (киста) сразу на трех передних верхних зубах. Ранее пациенту рекомендовали удаление и пластику костной ткани с последующей имплантацией. ',
      //- desc2: 'В MEDALL были выявлены показания к консервативному эндодонтическому лечению.',
    },
    {
      src: '/images/works-2.jpg',
      name: 'Выступец Ф.В.',
      procedure: 'увеличение груди',
      //- desc2: 'В MEDALL были выявлены показания к консервативному эндодонтическому лечению.',
    },
    {
      src: '/images/works-2.jpg',
      name: 'Выступец Ф.В.',
      procedure: 'увеличение груди',
    },
  ]

  const prices = [
    {
      name: 'Увеличение груди',
      value: '175 000',
      desc: 'Действует рассрочка у пластических хирургов:',
      doctors: ['Я.В. Цехмистро', 'Ф.В. Выступец'],
    },
    {
      name: 'Увеличение груди',
      value: '195 000',
      desc: 'При единовременной оплате у пластического хирурга:',
      doctors: ['Ф.Н. Мамедов'],
    },
    {
      name: 'Увеличение груди',
      value: '240 000',
      desc: 'При единовременной оплате у пластических хирургов:',
      doctors: ['Ф.А. Романчишен', 'Б.В. Выступец', 'Е.Ю. Мохамед'],
    },
    {
      name: 'Липомоделирование',
      value: '175 000',
      desc: 'Действует рассрочка у пластических хирургов:',
      doctors: ['Я.В. Цехмистро', 'Ф.В. Выступец'],
    },
    {
      name: 'Липомоделирование',
      value: '195 000',
      desc: 'При единовременной оплате у пластического хирурга:',
      doctors: ['Ф.Н. Мамедов'],
    },
  ]

  const pricesTable = [
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
    {
      name: 'Подтяжка молочных желёз по ареоле',
      value: 'от 60 000 до 70 000 ₽'
    },
  ]

  const seqSimple = [
    {
      image: 'sequence-1',
      desc: 'Приходите на консультацию с 3D моделированием к одному или нескольким пластическим хирургам клиники Medall, где Вы обсудите все детали предстоящего преображения.',
    },
    {
      image: 'sequence-2',
      desc: 'Сдайте необходимые предоперационные анализы и исследования. Выберите дату операции.',
    },
    {
      image: 'sequence-3',
      desc: 'После прибытия в клинику персональный куратор поможет заполнить все необходимые документы и проводит Вас в одноместную палату. ',
    },
    {
      image: 'sequence-4',
      desc: 'Когда Вы проснетесь, Вас окружат вниманием и заботой: персональный менеджер, медсестра и пластический хирург.',
    },
    {
      image: 'sequence-5',
      desc: 'Во время операции с Вами будет работать большая медицинская бригада. Сама операция длится недолго — до 2 часов.',
    },
    {
      image: 'sequence-6',
      desc: 'Позже к Вам подойдет доктор, проведет осмотр и сделает предоперационную разметку.',
    },
    {
      image: 'sequence-7',
      desc: 'Через сутки после выписки Вас встретит автомобиль бизнес-класса и отвезет домой.',
    },
    {
      image: 'sequence-8',
      desc: 'В назначенные даты Вашим пластическим хирургом, Вы будете приезжать на осмотры и перевязки.',
    },
    {
      image: 'sequence-9',
      desc: 'Рекомендуем пройти курс восстанавливающих процедур у доктора-реабилитолога клиники Medall.',
    },
  ]

  const questions = [
    {
      name: 'Останутся ли шрамы после операции?',
      body: {
        tag: 'p',
        content: 'Небольшие рубцы после увеличения груди остаются независимо от техники выполнения операции или квалификации пластического хирурга. Другое дело, можно ли сделать их менее заметными для глаз окружающих. Ответ на данный вопрос положителен. Необходимо неукоснительно следовать указаниям пластического хирурга в реабилитационном периоде.'
      },
      id: 1,
    },
    {
      name: 'Период восстановления и реабилитации после  увеличивающей  маммопластики? ',
      body: {
        tag: 'p',
        content: 'Первый год – это максимально сохранительный режим. От этого периода зависит результат операции. Если не соблюдать рекомендации, возможна неудовлетворённость образом молочной железы. Кровоподтеки и синяки держатся до одного месяца, а отёчность и пастозность – до трёх-шести. Первое мытьё головы проводится с чьей-то помощью или в салоне. На протяжении 11 суток можно мыться только частями, не трогая то, что находится в компрессионном белье. На 12-ые сутки разрешается приём душа, который должен быть исключительно гигиенической процедурой. Нельзя находиться в воде больше 15 минут. В течение месяца необходимо круглосуточно носить компрессионное бельё, спать на спине, не поднимать руки выше плеч и не носить тяжести. С месяца до трёх компрессионное бельё остаётся обязательным на время сна. При этом уже можно поднимать руки выше плеч и спать на боку, но не на животе. С трёх месяцев убирается бельё. Можно ходить либо без него, либо в белье, которое обладает только маскирующими свойствами (без пушапа, косточек и моделирования молочной железы). Посещение ванны, бани, бассейна, солярия зависит от состояния швов, и допускается только после получения разрешения от лечащего врача, но не раньше, чем через три месяца. При этом занятия в спортзале запрещены на шесть-девять месяцев. Спустя девять-двенадцать месяцев можно оценивать сформированный образ.'
      },
      id: 2,
    },
    {
      name: 'Можно ли кормить ребенка после увеличения груди? ',
      body: {
        tag: 'p',
        content: 'Если вы хотите сделать увеличивающую маммопластику, а потом планируете стать мамой, то на консультации обязательно расскажите об этом хирургу. Поскольку от этой информации зависит выбор доступа.Например, ареолярный доступ может быть травматичен. Ведь он проходит через ткань самой железы. Из-за этого в счастливый период рождения ребёнка существует вероятность развития фиброза, закупорки протоковой системы, лактостаза.При лактостазе образовавшееся молоко не выводится в главный млечный проток. Этот процесс может привести к нагноению и маститу. Его лечение возможно в рамках консервативной терапии – таблетками или местными средствами, но может потребоваться оперативное вмешательство. Девушкам, которые ещё не рожали детей, надо серьезно  относиться к выбору доступа. В таких случаях я рекомендую самый щадящий доступ – субмаммарный (подгрудный).'
      },
      id: 3,
    },
    {
      name: 'Когда можно вернуться к тренировкам после увеличения груди? ',
      body: {
        tag: 'p',
        content: 'В среднем период реабилитации после проведенной пластики груди составляет от 3 месяцев до полугода и дольше. В это время запрещается поднимать тяжести, выполнять силовые упражнения, заниматься танцами, бегом, бодибилдингом, играть в большой теннис и пр. Если не придерживаться подобных ограничений, велик риск осложнений.Приступать к выполнению упражнений следует постепенно, внимательно прислушиваясь к своему телу на предмет появления болевых или других неприятных ощущений. Вводить каждый следующий вид двигательной активности следует только после одобрения хирурга, который проводил операцию. В общем виде план возвращения к нагрузкам и тренировкам выглядит так. Первые 3 дня. Полный покой и постельный режим. В течение 2 недель. Только непродолжительные пешие прогулки. После полумесяца. Выполнение упражнений, которые не связаны с нагрузкой на плечевой пояс. Спустя 1 месяц. Можно начинать посещать бассейн. Через 2 месяца. Можно поднимать руки вверх, заниматься с гантелями весом не более 2 кг. Спустя 3 месяца. По разрешению врача допускаются занятия бегом и легкой атлетикой, можно делать растяжку, качать пресс. Через полгода. В тренировочный план можно включать жимы от груди и отжимания.'
      },
      id: 4,
    },
    {
      name: 'Кому не подходит пластическая операция по увеличению груди? ',
      body: [
        {
          tag: 'p',
          content: 'Операция по увеличению груди противопоказана женщинам:'
        },
        {
          tag: 'ul',
          content: [
            {
              tag: 'li',
              content: 'в возрасте до 18 лет, когда молочные железы еще не сформированы окончательно;'
            },
            {
              tag: 'li',
              content: 'с тяжелыми заболеваниями внутренних органов;'
            },
            {
              tag: 'li',
              content: 'со злокачественными опухолями любого расположения;'
            },
            {
              tag: 'li',
              content: 'с новообразованиями в области груди, в том числе доброкачественными;'
            },
            {
              tag: 'li',
              content: 'с острыми или хроническими инфекциями;'
            },
            {
              tag: 'li',
              content: 'в период беременности, лактации и полгода после окончания кормления грудью'
            },
            {
              tag: 'li',
              content: 'с нарушениями свертываемости крови;'
            },
            {
              tag: 'li',
              content: 'при сахарном диабете. '
            },
          ]
        },
      ],
      id: 5,
    },
  ]

  const questionsList1 = [
    {
      name: 'Как понять, что у меня птоз груди?',
      body: {
        tag: 'p',
        content: 'Опущение груди определяют по нескольким признакам: соски, расположенные ниже складки под грудью, и грудь, которая выглядит менее упругой и вытянутой, а верхняя ее часть кажется менее полной. Если вы заметили у себя подобные изменения, проконсультируйтесь с пластическим хирургом для точной оценки состояния возможности проведения коррекции груди без имплантов.'
      },
      id: 1,
    },
    {
      name: 'Почему с возрастом грудь у женщин обвисает?',
      body: {
        tag: 'p',
        content: 'Опущение груди происходит по нескольким причинам, где важную роль играет снижение эластичности кожи и связок из-за уменьшения выработки коллагена и эластина. Гравитация также постепенно воздействует на ткани груди. Гормональные изменения, например, снижение уровня эстрогена, влияют на плотность и структуру тканей. Беременность, грудное вскармливание, колебания веса и генетика – все эти факторы способствуют изменению формы груди с возрастом.'
      },
      id: 2,
    },
    {
      name: 'Смогу ли я кормить грудью после подтяжки груди?',
      body: {
        tag: 'p',
        content: 'Как правило, подтяжка собственной груди не мешает кормлению, так как структуры, участвующие в лактации, обычно сохраняются. Однако, это также зависит от техники, используемой во время операции, и индивидуальных особенностей организма. Если вы планируете кормить грудью в будущем, важно обсудить это с вашим хирургом до проведения операции, чтобы выбрать подходящий метод. Сделать коррекцию груди можно и после кормления.'
      },
      id: 3,
    },
    {
      name: 'Может ли потребоваться повторная операция после мастопексии?',
      body: {
        tag: 'p',
        content: 'Да, повторная операция после коррекции грудных желез проводится, так как естественные процессы старения, изменения веса, беременность и другие негативные факторы влияют на форму и упругость груди. Если пациентка недовольна изменениями или хочет скорректировать результаты, то может рассмотреть возможность повторной операции. Важно обсудить все ожидания и возможные риски с хирургом перед принятием решения.'
      },
      id: 4,
    },
    {
      name: 'Кому не подходит пластическая операция по увеличению груди? ',
      body: [
        {
          tag: 'p',
          content: 'Операция по увеличению груди противопоказана женщинам:'
        },
        {
          tag: 'ul',
          content: [
            {
              tag: 'li',
              content: 'в возрасте до 18 лет, когда молочные железы еще не сформированы окончательно;'
            },
            {
              tag: 'li',
              content: 'с тяжелыми заболеваниями внутренних органов;'
            },
            {
              tag: 'li',
              content: 'со злокачественными опухолями любого расположения;'
            },
            {
              tag: 'li',
              content: 'с новообразованиями в области груди, в том числе доброкачественными;'
            },
            {
              tag: 'li',
              content: 'с острыми или хроническими инфекциями;'
            },
            {
              tag: 'li',
              content: 'в период беременности, лактации и полгода после окончания кормления грудью'
            },
            {
              tag: 'li',
              content: 'с нарушениями свертываемости крови;'
            },
            {
              tag: 'li',
              content: 'при сахарном диабете. '
            },
          ]
        },
      ],
      id: 5,
    },
  ]

  const installments = [
    {type: 'partners', name: 'Банки-партнёры', desc: 'Средства рассрочки предоставляются банками-партнерами — <strong>Tinkoff, Credit EuropeBank, МТС банк, Ренессанс, Восточный экспресс банк.</strong>'},
    {type: 'sum', name: 'Сумма рассрочки', desc: 'Рассрочка  предоставляется на сумму <strong>200 000 рублей</strong>.'},
    {type: 'timeline', name: 'Срок рассрочки', desc: 'Рассрочку можно оформить на срок <strong>до 11 месяцев</strong>.'},
    {type: 'time', name: 'Время', desc: 'Ответ банка для рассмотрения/ предоставления рассрочки требует <strong>не более 30 минут</strong>.'},
  ]

  const reasons = [
    {
      image: 'reasons-1',
      info: 'Возрастные изменения/<br>коррекция птоза',
      href: '/',
    },
    {
      image: 'reasons-2',
      info: 'Пластика груди<br>после родов и кормления',
    },
    {
      image: 'reasons-3',
      info: 'Увеличение груди<br>для спортсменок<br>и фитнес-бикини',
    },
    {
      info: 'Неудовлетворенность<br>размером и формой',
      href: '/',
    },
    {
      info: 'Замена грудных<br>имплантов',
      href: '/',
      short: true,
    },
    {
      info: 'Неудовлетворенность<br>размером и формой',
    },
    {
      info: 'Замена грудных<br>имплантов',
      short: true,
    },
  ]

  const advantages = [
    {
      sizes: {m:2,s:3,xs:5},
      name: '',
      src: '/images/advantages-1.jpg'
    },
    {
      sizes: {m:4,s:4,xs:10},
      name: '',
      src: '/images/advantages-2.jpg'
    },
    {
      sizes: {m:2,s:3,xs:5},
      name: '',
      src: '/images/advantages-3.jpg'
    },
  ]

  const landingStages = [
    {
      image: 'stage-1',
      header: 'Консультация с врачом',
      body: 'Первый шаг к подтянутой груди — консультация с хирургом клиники MEDALL, чтобы убедиться, что мастопексия — лучший способ получить желаемый результат. Пациент рассказывает врачу о своих эстетических предпочтениях и пожеланиях, также передает данные о хронических заболеваниях. Пластический хирург проводит осмотр, предлагает оптимальные методы хирургического вмешательства, учитывая пожелания пациента и особенности его организма, а также дает рекомендации на послеоперационный период.',
    },
    {
      image: 'stage-2',
      header: 'Подготовка к операции',
      body: 'Менеджер пластической хирургии после консультации с доктором согласует с вами план лечения, поможет подобрать удобную дату операции и расскажет о всех необходимых предоперационных исследованиях. Анализы сдаются в период от 14 до 7 дней до операции.',
    },
    {
      image: 'stage-3',
      header: 'Консультация косметолога - реабилитолога',
      body: 'Клиника предлагает пациентам пластической хирургии посетить бесплатную консультацию косметолога-реабилитолога. Это необходимо для качественной подготовки кожи к операционному вмешательству, усиления хирургического результата на долгие годы, проведения косметологических процедур без боли во время наркоза, а также для более эффективного, быстрого и безопасного восстановления после операции.',
    },
    {
      image: 'stage-4',
      header: 'Разметка и встреча с доктором',
      body: 'В день операции, после заполнения всех необходимых документов, пациент встречается с пластическим хирургом для проведения специальной предоперационной разметки. Во время разметки врач определяет и отмечает операционные зоны. ',
    },
    {
      image: 'stage-5',
      header: 'Анестезия и операция',
      body: 'Выбор метода анестезии требует индивидуального подхода. Перед операцией анестезиолог тщательно обследует пациента, чтобы определить наиболее подходящий тип наркоза, учитывая общее состояние здоровья, восприимчивость к медикаментам и возможные аллергические реакции. Консультация с анестезиологом является обязательной. В MEDALL очень сильное анестезиологическое отделение. ',
    },
    {
      image: 'stage-6',
      header: 'Реабилитация в стационаре',
      body: 'После операции пациент возвращается в палату, где может отдохнуть и окончательно проснуться после наркоза. Палата оборудована всем необходимым для комфортного пребывания, а наблюдением занимаются профессиональные медсестры. В клинике всегда присутствуют дежурный хирург и анестезиолог-реаниматолог. Медицинский персонал следит за восстановлением пациента в течение 24 часов.',
    },
    {
      image: 'stage-7',
      header: 'Выписка и реабилитация дома',
      body: 'Через сутки или двое, в зависимости от объема операционного вмешательства, осуществляется выписка из стационара под домашний режим. Лечащий доктор обязательно находится при выписке. Пациент MEDALL получает все оформленные медицинские документы и рекомендации по реабилитации. Куратор отделения провожает пациента до встречающих, которые приехали на выписку или до бизнес-такси от клиники и помогает удобно разместиться перед дорогой. ',
    },
    {
      image: 'stage-8',
      header: 'Посещение осмотров и перевязок',
      body: 'Посещение перевязок обязательно. Пропуск визитов в клинику является нарушением под личную ответственность пациента. Осмотры являются желательными и рекомендуются к посещению через месяц, два месяца, полгода, год и далее по плану. Это важно для своевременного выявления осложнений и корректировки лечения.В клинике MEDALL организована система дежурных и перевязочных врачей, чтобы каждый наш пациент в удобное для него время получил квалифицированную медицинскую помощь.',
    },
  ]

