-
  const services = [
    { name: 'Блефаропластика', href: '/' },
    { name: 'Ринопластика', href: '/' },
    { name: 'Увеличение груди', href: '/plastic/uvelichenie-grudi-usluga/' },
    { name: 'Подтяжка груди', href: '/plastic/podtyazhka-grudi-uslugi-/' },
    { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
    { name: 'Lift 6', href: '/' },
  ]

  const categories = [
    { name: 'Пластическая хирургия', value: 'plastics' },
    { name: 'Стоматология', value: 'dentistry' },
    { name: 'Косметология', value: 'cosmetology' },
    { name: 'Пересадка волос', value: 'hair-transplant' },
    { name: 'Флебология', value: 'phlebology' },
  ]
  
  const platforms = [
    {
      name: 'Google Maps',
      href: 'https://www.google.com/maps/place/%D0%9A%D0%BB%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0+MEDALL/@59.966168,30.2832555,17z/data=!4m8!3m7!1s0x469631cd7ce1a2bb:0x9e8f4e1bbc2adb66!8m2!3d59.966168!4d30.2858304!9m1!1b1!16s%2Fg%2F1v4k559y?entry=ttu',
      value: '4.3',
      image: '/images/reviews/google-maps.svg',
    },
    {
      name: 'Яндекс Карты',
      href: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
      value: '4.8',
      image: '/images/reviews/yandex-maps.svg',
    },
    {
      name: '2ГИС',
      href: 'https://2gis.ru/spb/firm/70000001035838469?m=30.285963%2C59.966204%2F16',
      value: '4.9',
      image: '/images/reviews/2gis.svg',
    },
    //- {
    //-   name: 'Zoon',
    //-   href: 'https://zoon.ru/spb/medical/mnogoprofilnyj_meditsinskij_tsentr_medall_na_levashovskom_prospekte/',
    //-   value: '3.6',
    //-   image: '/images/reviews/zoon.svg',
    //- },
    //- {
    //-   name: 'Yell',
    //-   href: 'https://www.yell.ru/spb/com/mnogoprofilnyj-medicinskij-centr-medall-na-levashovskom-prospekte_12586178/',
    //-   value: '5.0',
    //-   image: '/images/reviews/yell.svg',
    //- },
    {
      name: 'docdoc.ru',
      href: 'https://spb.docdoc.ru/clinic/klinika_cifrovoj_stomatologii_medall',
      value: '4.2',
      image: '/images/reviews/docdoc.svg',
    },
    {
      name: 'ПроДокторов',
      href: 'https://prodoctorov.ru/spb/lpu/63649-medall/',
      value: '4.7',
      image: '/images/reviews/prodoctorov.svg',
    },
    {
      name: 'НаПоправку',
      href: 'https://spb.napopravku.ru/clinics/medall-centry-esteticheskoy-mediciny-i-cifrovoy-stomatologii/',
      value: '4.5',
      image: '/images/reviews/napopravku.svg',
    },
    {
      name: 'Докту',
      href: 'https://doctu.ru/spb/clinic/medallstoma',
      value: '4.8',
      image: '/images/reviews/doctu.svg',
    },
  ]
  
  const prices = [
    {
      header: 'Коллагенотерапия,коллагеностимуляция',
      rows: [
        { title: 'Верхняя блефаропластика', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика1', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно1', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века1', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика2', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно2', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века2', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика1', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно1', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века1', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика2', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно2', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века2', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика1', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно1', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века1', price: 'от 130 000 ₽ до 180 000 ₽' },
        { title: 'Верхняя блефаропластика2', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно2', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века2', price: 'от 130 000 ₽ до 180 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Отопластика',
      rows: [
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Брахиопластика, феморопластика, глютеопластика',
      rows: [
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области верхней конечности (брахиопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области бедер (феморопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Отопластика',
      rows: [
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Брахиопластика, феморопластика, глютеопластика',
      rows: [
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области верхней конечности (брахиопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области бедер (феморопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Блефаропластика',
      rows: [
        { title: 'Верхняя блефаропластика', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно', price: 'от 145 000 ₽ до 240 000 ₽' },
        { title: 'Пластика азиатского века', price: 'от 130 000 ₽ до 180 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
      service: 'Блефаропластика',
    },
    {
      header: 'Отопластика',
      rows: [
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Брахиопластика, феморопластика, глютеопластика',
      rows: [
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области верхней конечности (брахиопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области бедер (феморопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Отопластика',
      rows: [
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (1 ухо)', price: 'от 75 000 ₽ до 160 000 ₽' },
        { title: 'Пластика выступающих (оттопыренных) ушных раковин (2 уха)', price: 'от 130 000 ₽ до 250 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Брахиопластика, феморопластика, глютеопластика',
      rows: [
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области верхней конечности (брахиопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
        { title: 'Иссечение кожи и подкожно-жировой клетчатки в области бедер (феморопластика)', price: 'от 220 000 ₽ до 450 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Мезотерапия',
      rows: [
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
        { title: 'Подкожное введение препарата Aqualyx /1 флакон/', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Подкожное введение препарата Light fit 2 мл', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Внутрикожное введение препарата NucleoSpire DNA-RNA 2% 1,3 мл', price: 'от 5 200 ₽ до 5 800 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'SMAS лифтинг',
      rows: [
        { title: 'SMAS лифтинг 1 категория', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'SMAS лифтинг 2 категория', price: 'от 4 000 ₽ до 6 000 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'Общие косметология',
      rows: [
        { title: 'Прием (осмотр, консультация) врача-косметолога первичный', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Прием (осмотр, консультация) врача-дерматовенеролога повторный', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Прием (осмотр, консультация) врача-косметолога повторный', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Прием (осмотр, консультация) врача-дерматовенеролога первичный', price: 'от 4 000 ₽ до 6 000 ₽' },
      ],
      direction: 'Косметология',
    },
    {
      header: 'лор-операции',
      rows: [
        { title: 'Верхняя блефаропластика', price: 'от 75 000 ₽ до 150 000 ₽' },
        { title: 'Верхняя и нижняя блефаропластика одновременно', price: 'от 145 000 ₽ до 240 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
    {
      header: 'Общие косметология',
      rows: [
        { title: 'Прием (осмотр, консультация) врача-косметолога первичный', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Прием (осмотр, консультация) врача-дерматовенеролога повторный', price: 'от 4 000 ₽ до 6 000 ₽' },
        { title: 'Прием (осмотр, консультация) врача-косметолога повторный', price: 'от 12 700 ₽ до 14 700 ₽' },
        { title: 'Прием (осмотр, консультация) врача-дерматовенеролога первичный', price: 'от 4 000 ₽ до 6 000 ₽' },
      ],
      direction: 'Пластическая хирургия',
    },
  ]
