-
  const platforms = [
    {
      name: 'Google Maps',
      href: 'https://www.google.com/maps/place/%D0%9A%D0%BB%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0+MEDALL/@59.966168,30.2832555,17z/data=!4m8!3m7!1s0x469631cd7ce1a2bb:0x9e8f4e1bbc2adb66!8m2!3d59.966168!4d30.2858304!9m1!1b1!16s%2Fg%2F1v4k559y?entry=ttu',
      value: '4.3',
      image: '/images/reviews/google-maps.svg',
    },
    {
      name: 'Яндекс Карты',
      href: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
      value: '4.8',
      image: '/images/reviews/yandex-maps.svg',
    },
    {
      name: '2ГИС',
      href: 'https://2gis.ru/spb/firm/70000001035838469?m=30.285963%2C59.966204%2F16',
      value: '4.9',
      image: '/images/reviews/2gis.svg',
    },
    //- {
    //-   name: 'Zoon',
    //-   href: 'https://zoon.ru/spb/medical/mnogoprofilnyj_meditsinskij_tsentr_medall_na_levashovskom_prospekte/',
    //-   value: '3.6',
    //-   image: '/images/reviews/zoon.svg',
    //- },
    //- {
    //-   name: 'Yell',
    //-   href: 'https://www.yell.ru/spb/com/mnogoprofilnyj-medicinskij-centr-medall-na-levashovskom-prospekte_12586178/',
    //-   value: '5.0',
    //-   image: '/images/reviews/yell.svg',
    //- },
    {
      name: 'docdoc.ru',
      href: 'https://spb.docdoc.ru/clinic/klinika_cifrovoj_stomatologii_medall',
      value: '4.2',
      image: '/images/reviews/docdoc.svg',
    },
    {
      name: 'ПроДокторов',
      href: 'https://prodoctorov.ru/spb/lpu/63649-medall/',
      value: '4.7',
      image: '/images/reviews/prodoctorov.svg',
    },
    {
      name: 'НаПоправку',
      href: 'https://spb.napopravku.ru/clinics/medall-centry-esteticheskoy-mediciny-i-cifrovoy-stomatologii/',
      value: '4.5',
      image: '/images/reviews/napopravku.svg',
    },
    {
      name: 'Докту',
      href: 'https://doctu.ru/spb/clinic/medallstoma',
      value: '4.8',
      image: '/images/reviews/doctu.svg',
    },
  ]

  const reviewsItems = [
    {
      text: '<div>Мяделец Ирина Александровна внимательная и общительная. Она имеет желание помочь. К ней я пошла на консультацию. Визит для меня был информационный.</div><br>',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'Виктория Иванова',
      text: '<pre></pre>Пришли в клинику по рекомендации, к ортодонту Рышковой Светлане Сергеевне. ОГРОМНАЯ благодарность от всей нашей семьи!!!<br>Могу сказать с уверенностью-она действительно профессионал, потрясающий врач!<br>Нужно было ставить ребёнку частичную брекет-систему, в другой клинике напугали и ничего толком не объяснили. Как только пришли к Светлане Сергеевне, все стало просто, понятно и не страшно! Она четко и спокойно объяснила в чем проблема и как ее решить, почему это необходимо именно сейчас, обозначила срок. Никакого давления и нагнетания, сразу же нашла общий язык с ребёнком. На всех приемах вежлива, приветлива и сразу располагает к себе! Без сомнений доверились доктору, следовали всем ее рекомендациям и в итоге лечение завершено даже раньше, результат выше всяких похвал!!!<br>Уже рекомендовали Светлану Сергеевну всем знакомым, все кто был - довольны! Врач с большой буквы!!!',
      service: ['Исправление прикуса'],
      doctor: ['Рышкова Светлана Сергеевна'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'Ольга Смирнова',
      text: 'Замечательная клиника. Уютная и отлично оборудованная. Есть абсолютно все. Персонал очень вежливый. Особенно хочу побоагодарить Руденко Виталия Александровича. Великолпный доктор! Лучший эндодонтист. Вылечил мне зуб (периодонтит), который никто не хотел даже пробовать лечить. Хотя периодонтит лечат многие стоматологи. Но у меня был очень сложный случай с обострением. Спастбо огромное за ваш труд и за мой зуб!',
      service: ['Лечение зуба'],
      doctor: ['Руденко Виталий Александрович'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'Инна Инна',
      text: 'Отличная клиника! Лечусь здесь уже несколько лет с прекрасными результатами! Современные технологии и материалы, замечательные высококвалифицированные специалисты. Особенно хочу отметить Баишева Тимура Рашидовича, высококлассного хирурга, который проводил мне удаление зубов, делал пластику десен и имплантацию зубов. Все отлично прижилось, я после операций ходила в тот же день на работу! Теперь с шестью имплантами!',
      service: ['Имплантация', 'Удаление зубов', 'Пластика десен'],
      doctor: ['Баишев Тимур Рашидович'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'I Z',
      text: 'Добрый день !<br>Посетила клинику Медалл , проходила реабилитацию после операции<br>Все прошло комфортно благодаря врачам с высоким профессионализмов, знающим свое дело, рекомендациям и внимательному отношению<br>Большое спасибо Макеевой Ирине Валерьяновне проходила курс LPG прошло легко и комфортно 👍<br>Большое спасибо Сивоконь Николаю Александровичу мастер своего дела, массаж восстановительный супер 👍',
      service: ['Курс LPG', 'Массаж'],
      doctor: ['Макеева Ирина Валерьяновна', 'Сивоконь Николай Александрович'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'Инна Котлярова',
      text: 'Тарас Юрьевич по-настоящему серьезный, ответственный, грамотный доктор! Практически полгода была под его контролем в медалле пока восстанавливали мне верхнюю челюсть. Невероятно комфортно стало после его лечения. Зубы полностью прижились, без проблем и в целом быстро. Сейчас абсолютно точно как свои ощущаются. Он мне прошлой весной аргументированно предложил установить зубы по системе all-in-4. Нет сомнений и сейчас, что было правильно так сделать. Могу сказать, что чувствую себя сейчас счастливым человеком. Красивые, здоровые и полностью функциональные зубы это определенно повод для огромной радости!',
      service: ['Имплантация'],
      doctor: ['Юров Тарас Юрьевич'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
    {
      name: 'Наталья Вьюнова',
      text: 'Благодарю самого лучшего доктора - стоматолога Смирнова Олега Сергеевича! Исправление прикуса процесс долгий и непростой, но с Олегом Сергеевичем это было легко и приятно. Постоянное наблюдение, коррекция, всегда на связи - в итоге отличный результат! И после окончания лечения Олег Сергеевич не оставляет своих пациентов - проводит контрольные осмотры. Большое спасибо!',
      service: ['Исправление прикуса'],
      doctor: ['Смирнов Олег Сергеевич'],
      platform: 'Яндекс карты',
      platformHref: 'https://yandex.ru/maps/org/medall/35461995871/?ll=30.285847%2C59.966174&z=17',
    },
  ]

  const reviewsVideoItems = [
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Липосакция тела'],
      doctor: ['Мяделец Ирина Александровна'],
    },
    {
      video: 'https://vk.com/video_ext.php?oid=-175709591&id=456239393&hd=2',
      service: ['Emtone'],
      doctor: ['Витоль Елена Вячеславовна'],
    },
  ]
