-
  const results = [
    {
      name: 'Блоки',
      list: [
        {
          name: 'Контакты',
          content: '<strong>контакты</strong> Внимание! С 1 июля городская парковка на Левашовском проспекте и Петроградском острове стала платной. Тариф - 100 руб./час. Вы можете ...',
        },
      ],
    },
    {
      name: 'Статьи',
      list: [
        {
          name: 'Тонус кожи',
          content: '... этого, следует учитывать, что морская вода по своему составу сродни человеческой сыворотке крови, что улучшает метаболизм. Когда происходит <strong>контакт</strong> кожи с ламинарией, впитавшей в себя морскую воду, соль и полезные компоненты, часть солей проникает в кожу, а излишки жидкости морская ...',
        },
        {
          name: 'Лечение кожи лазером',
          content: '... метода Без всякого преувеличения мы сообщаем вам, что совершеннее метода, чем лазерное лечение кожи — нет. Только представьте: без прямого <strong>контакта</strong> с кожей, каких-либо повреждений, грубых действий с поверхностью кожи можно убрать любую неприятность, тревожащую вас годами. И все ...',
        },
        {
          name: 'Лазеры для восстановления гиалуроновой кислоты в коже',
          content: '... строго заданным параметрам (785 нм). Как раз этот спектр подлежит избирательному поглощению молекулами ГК. Само лазерное излучение вступает в <strong>контакт</strong> как с гиалуроновой кислотой в организме, так и составляющими геля. Чтобы несколько усилить терапевтический эффект — применяются ...',
        },
        {
          name: 'Удаление новообразований лазером',
          content: '... Бородавки, папилломы и родинки могут доставлять человеку не только эстетические, но и физические проблемы. Расположенные в местах трения, <strong>контакта</strong> с одеждой, на волосистой части головы, родинки, бородавки и папилломы могут повреждаться, кровоточить, становятся уязвимыми для ...',
        },
        {
          name: 'Увеличение груди и беременность',
          content: '... из внутренних соединительных тканей. Также известна практика, когда имплантат хирург размещает за грудными мышцами. Поэтому какой-либо <strong>контакт</strong> гелевого наполнителя с молочными железами исключен. Увеличение груди до беременности никак не влияет на лактацию. Даже если рассмотреть ...',
        },
        {
          name: 'Кто такой миколог и какие заболевания он лечит?',
          content: '... видами. На прёме у врача-миколога: - проводится осмотр как поражённой области (кожа',
        },
      ],
    },
  ]
