-
  const services = [
    { name: 'Блефаропластика', href: '/' },
    { name: 'Ринопластика', href: '/' },
    { name: 'Увеличение груди', href: '/plastic/uvelichenie-grudi-usluga/' },
    { name: 'Подтяжка груди', href: '/plastic/podtyazhka-grudi-uslugi-/' },
    { name: 'Микротоковая терапия', href: '/cosmetology/mikrotoki/' },
    { name: 'Lift 6', href: '/' },
  ]

  const worksStaff = [
    {
      name: 'Анчугова Анна Анатольевна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    {
        name: 'Арутюнян Левон Славович',
        description: 'Пластический хирург',
        category: 'plastics',
    },
    {
        name: 'Журавлев Роман Вячеславович',
        description: 'Пластический хирург',
        category: 'plastics',
    },
    {
        name: 'Гевлич Елена Константиновна',
        description: 'Врач-оториноларинголог I-ой категории, ЛОР, челюстной-лицевой хирург',
        category: 'plastics',
    },
    {
      name: 'Романчишен Филипп Анатольевич',
      description: 'Главный врач клиники, пластический хирург, кандидат медицинских наук',
      category: 'plastics',
    },
    {
      name: 'Мохамед Ева Юсуфовна',
      description: 'Пластический хирург',
      category: 'plastics',
    },
    
    {
        name: 'Якунина Дарья Юрьевна',
    },
    {
        name: 'Витоль Елена Вячеславовна',
    },
    {
      name: 'Фролова Мария Сергеевна',
    },
  ]

  const worksImages = [
    { 
      name: ['volkov-1-1', 'volkov-1-2'],
      doctor: `Пластический хирург <a href='https://medall.clinic/doctor/volkov_pavel/'>Гевлич Елена Константиновна</a>`,
      service: 'Пьезоринопластика',
      dataService: 'Ринопластика',
      direction: 'Пластическая хирургия',
      dataDoctor: 'Гевлич Елена Константиновна',
    },
    { 
      name: ['volkov-2-1', 'volkov-2-2'],
      doctor: `Пластический хирург, челюстно-лицевой хирург <a href='https://medall.clinic/doctor/volkov_pavel/'>Арутюнян Левон Славович</a>`,
      service: 'Увеличение груди',
      dataService: 'Увеличение груди',
      direction: 'Пластическая хирургия',
      dataDoctor: 'Арутюнян Левон Славович',
    },
    { 
      name: ['volkov-2-1', 'volkov-2-2'],
      doctor: `Пластический хирург, челюстно-лицевой хирург <a href='https://medall.clinic/doctor/volkov_pavel/'>Арутюнян Левон Славович</a>`,
      service: 'Хейлопластика',
      dataService: 'Хейлопластика',
      direction: 'Пластическая хирургия',
      dataDoctor: 'Арутюнян Левон Славович',
    },
    { 
      name: ['volkov-3-1', 'volkov-3-2'],
      doctor: `Пластический хирург, челюстно-лицевой хирург <a href='https://medall.clinic/doctor/volkov_pavel/'>Романчишен Филипп Анатольевич</a>`,
      service: 'Ринопластика',
      dataService: 'Ринопластика',
      direction: 'Пластическая хирургия',
      dataDoctor: 'Романчишен Филипп Анатольевич',
    },
    { 
      name: ['volkov-4-1', 'volkov-4-2'],
      doctor: `Пластический хирург, челюстно-лицевой хирург <a href='https://medall.clinic/doctor/volkov_pavel/'>Журавлев Роман Вячеславович</a>`,
      service: 'Риносептопластика',
      dataService: 'Emtone',
      direction: 'Косметология',
      dataDoctor: 'Журавлев Роман Вячеславович',
    },
  ]

  const doctorWorksImages = [
    { 
      name: ['volkov-1-1', 'volkov-1-2'],
      service: 'Пьезоринопластика Пьезоринопластика',
    },
    { 
      name: ['volkov-2-1', 'volkov-2-2'],
      service: 'Увеличение груди',
    },
    { 
      name: ['volkov-3-1', 'volkov-3-2'],
      service: 'Ринопластика',
    },
    { 
      name: ['volkov-4-1', 'volkov-4-2'],
      service: 'Риносептопластика',
    },
    { 
      name: ['volkov-4-1', 'volkov-4-2'],
      service: 'Риносептопластика',
    },
  ]
