.reviews-filter
  display flex
  flex-direction column
  row-gap var(--gap)
  &__inner
    display flex
    column-gap var(--gap)
    row-gap var(--base-padding)
  &__select
    min-height 50px
    +media-max(s)
      width 100%
    +media(s)
      min-width 350px
      max-width 440px
  .form-input__options
    max-height 250px
  &__tabs
    display flex
    column-gap var(--gap)
    $font-l()
  &__tabs-text
  &__tabs-video
    position relative
    +after()
      position absolute
