:root
  --link-after-scale-x 0
  --link-after-transform-origin 100% 0 0
  --link-after-transition-duration var(--transition-duration-out)

.reviews-filter
  &__inner
    flex-wrap wrap
    align-items flex-start
    +media-max(s)
      justify-content center
  &__select
    flex-grow 1
  &__clear
    --form-field-input-color var(--color-black)
    position sticky
    bottom 0
    margin-top 12px!important
    margin-bottom -32px
    padding-y 10px
    background-color var(--color-mark-light)
    font-weight 500
    border-top 1px solid var(--form-field-input-border-color-secondary)
    border-radius 0 0 var(--border-radius-m) var(--border-radius-m)
  &__tabs-text
  &__tabs-video
    text-decoration none
    +hover()
      --link-after-scale-x 1
      --link-after-transform-origin 0 0 0
      --link-after-transition-duration var(--transition-duration-in)
      color var(--color-mark)
    +after()
      bottom 0
      left 0
      width 100%
      height 1px
      background-color currentColor
      transform scaleX(var(--link-after-scale-x))
      transform-origin var(--link-after-transform-origin)
      transition transform var(--link-after-transition-duration)
    &--active
      --link-after-scale-x 1
      --link-after-transform-origin 0 0 0
      font-weight 500
