extends /blocks/layout/layout

include /blocks/img/img
include /blocks/button/button
include /blocks/congress/slider-interesting/slider-interesting
include /blocks/congress/congress-price/congress-price
include /blocks/congress/congress-program/congress-program
include /blocks/congress/slider-speakers/slider-speakers
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    congressPage = true;
    const resourcesName = 'congress'
  include /data/footer
  include /data/congress/price
  include /data/congress/program
block content
  include /blocks/congress/congress-page-header/congress-page-header
  +pageSection({ backgroundColor: [ true, 'light' ], logo: [ true, 'center' ] })#advantages
    +h2.page-subsection.text-align-center Чем будет интересен конгресс?
    +sliderInteresting.page-subsection
  +pageSection({ backgroundColor: [ true, 'light' ] })
    +h2.page-subsection.text-align-center Для кого этот конгресс?
    +grid({ justify: 'center' }).page-subsection
      +cell({m: 4, xs: 6}).congress-target
        img(src='/images/congress/congress-target-1.svg' alt='').congress-target__image
        .congress-target__info Для руководителей и #[span.nowrap топ-менеджеров] клиник
      +cell({m: 4, xs: 6}).congress-target
        img(src='/images/congress/congress-target-2.svg' alt='').congress-target__image
        .congress-target__info Для врачей-стоматологов
  +pageSection({ gradient: [ true, 'dark' ], backgroundColor: [ true ], logo: [ true, 'center' ] })#speakers
    +h2.page-subsection.text-align-center спикеры
    +sliderSpeakers.page-subsection
  +pageSection({ backgroundColor: [ true, 'dark' ], noContent: true }): +content(class= grid({ justify: 'center' }))
    +textMarked(class= cell({ m: 10, s: 12 })).text-align-center Программа мероприятия составлена для стоматологов-хирургов, ортопедов, терапевтов и руководителей клиник. Вы можете принять участие в общих сессиях и в параллельных лекционных потоках, касающихся только вашей специализации.
  +pageSection({ backgroundColor: [ true, 'light' ], logo: [ true, 'center' ] })#program
    +h2.page-subsection.text-align-center программа конгресса
    +slider().page-subsection.slider-program
      each item in program
        +congressProgram(item).slider-program__slide.swiper-slide.slide
  +pageSection({ backgroundColor: [ true, 'dark' ], logo: [ true, 'center' ] })#price
    +h2.page-subsection.text-align-center стоимость участия
    +grid.page-subsection
      each price in prices
        +congressPrice(price)(class= cell({ s: 4, xs: 12 }))
  +pageSection({ backgroundColor: [ true, 'light' ] })
    +h2.page-subsection.text-align-center акция
    +textMarked({ size: 'l', type: [ 'bold', 'uppercase' ] }).text-align-center.page-subsection При покупке от 3-х билетов, скидка на каждый — 5 000 ₽
  +pageSection()#form
    +h2.page-subsection.text-align-center РЕГИСТРАЦИЯ НА КОНГРЕСС
    +pageSubsection
      <script data-b24-form="inline/486/46i9md" data-skip-moving="true">
        | (function(w,d,u){
        |   var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
        |   var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        | })(window,document,'https://cdn-ru.bitrix24.ru/b10164883/crm/form/loader_486.js');
      </script>
  +pageSection()
    +h2.page-subsection.text-align-center партнёры
    +pageSubsection.congress-partners
      +img({
        name: 'partners-medall',
        path: '/images/congress/',
        formats: [
          { ext: 'svg', orig: true },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-grossmaster',
        path: '/images/congress/',
        formats: [
          { ext: 'svg', orig: true },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-nobel',
        path: '/images/congress/',
        formats: [
          { ext: 'webp', type: 'images/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-kerr',
        path: '/images/congress/',
        formats: [
          { ext: 'webp', type: 'images/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-dexis',
        path: '/images/congress/',
        formats: [
          { ext: 'svg', orig: true },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-ormco',
        path: '/images/congress/',
        formats: [
          { ext: 'svg', orig: true },
        ],
      }).congress-partners__item
      +img({
        name: 'partners-kavo',
        path: '/images/congress/',
        formats: [
          { ext: 'webp', type: 'images/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      }).congress-partners__item
