.header-navigation
  &__open
    appearance none
    width 42px
    height 42px
    +media(s)
      width 44px
      height 44px
    +media(m)
      width 48px
      height 48px
  &__popup
    display none
