include /blocks/menu/menu

mixin headerNavigation(list)

  .header-navigation&attributes(attributes)
    button(type='button').header-navigation__open
    .header-navigation__popup
      +menu(mobileServices).header-navigation__menu.header-navigation__menu--services
      +menu(others).header-navigation__menu.header-navigation__menu--others
