:root
  --header-navigation-font-size 16px
  --header-navigation-open-background-color var(--color-mark-medium)
  --header-navigation-open-before-opacity 1
  --header-navigation-open-after-opacity 0
  --header-navigation-popup-opacity 0
  --header-navigation-popup-pointer-events none
  --header-navigation-popup-transition-duration var(--transition-duration-out)
  --header-navigation-item-after-opacity-transition-duration var(--transition-duration-out)
  --header-navigation-item-padding 4px 24px
  --header-navigation-list-sub-right auto
  --header-navigation-list-sub-left auto
  --header-navigation-list-sub-z-index 1
  --header-navigation-list-sub-transition-duration var(--transition-duration-out)
  --opener-margin-right 20px
  +media(m)
    --header-navigation-font-size 18px

.accessibility-mode
  --header-navigation-font-size 20px
  --header-navigation-open-display none

.header-navigation
  $font-m-uppercase()
  --link-text-decoration none
  --link-color var(--color-white)
  --link-color-hover var(--color-white)
  font-size var(--header-navigation-font-size)
  line-height 1.5
  text-transform uppercase
  +media(m)
    --header-navigation-list-sub-display block
    --header-navigation-item-padding 8px 48px
  &--active
    --header-navigation-open-before-opacity 0
    --header-navigation-open-after-opacity 1
    --header-navigation-popup-opacity 1
    --header-navigation-popup-transition-duration var(--transition-duration-in)
    --header-navigation-popup-pointer-events auto
  .accessibility-mode &
    position relative
    display flex
  &__opener
    +media-max(s)
      position absolute
      top 10px
      right var(--opener-margin-right)
      width 24px
      height 9px
      background-color var(--color-white)
      mask-image maskImage(drop-down)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transition transform var(--transition-duration-out)
      &--active
        transform scaleY(-1)
        transition-duration var(--transition-duration-in)
  &__open
    position relative
    display var(--header-navigation-open-display, block)
    background-color var(--header-navigation-open-background-color)
    border none
    border-radius var(--border-radius-50)
    &::before
    &::after
      content ''
      position absolute
      top 50%
      left 50%
      background-color var(--color-background)
      translate -50% -50%
      transition opacity var(--header-navigation-popup-transition-duration)
    &::before
      width 28px
      height 20px
      opacity var(--header-navigation-open-before-opacity)
      mask(menu)
    &::after
      width 24px
      height 24px
      opacity var(--header-navigation-open-after-opacity)
      mask(cross)
  &__popup
    +media-max(s)
      top 100%
      max-height 75vh
    +media(s)
      bottom 0
      translate 0 100%
    +media(m)
      bottom var(--header-navigation-bottom)
    position absolute
    left 0
    display block
    width 100vw
    height 100vh
    overflow-y auto
    opacity var(--header-navigation-popup-opacity)
    transition opacity var(--header-navigation-popup-transition-duration)
    pointer-events var(--header-navigation-popup-pointer-events)
    z-index 1000
    @media (max-width point-s - 1)
      background-color var(--color-mark-medium)
    +media(s)
      display flex
      backdrop-filter var(--blur-2)
    .accessibility-mode &
      position static
      display flex
      flex-direction column
      width 100%
      height auto
      opacity 1
      pointer-events auto
      translate 0 0
  &__menu
    flex 1
    background-color var(--header-navigation-menu-background-color)
    &--services
      --header-navigation-menu-background-color var(--color-mark)
      --header-navigation-list-sub-left 0
      --header-navigation-list-sub-translate-x -100%
      --header-navigation-item-justify-content flex-end
      --header-navigation-item-after-rotate 180deg
      --header-navigation-item-before-content ''
      & ^[0]__list--sub-1
        +media(s)
          display none
    &--others
      --header-navigation-menu-background-color var(--color-mark-medium)
      --header-navigation-list-sub-right 0
      --header-navigation-list-sub-translate-x 100%
      --header-navigation-item-justify-content flex-start
      --header-navigation-item-after-rotate 0
      --header-navigation-item-after-content ''
    .accessibility-mode &
      background-color transparent
  &__list
    padding 16px 0
    &--sub
      display var(--header-navigation-list-sub-display)
      width 25%
      padding-left var(--gap)
      +media(s)
        padding-right var(--base-padding)
      +media-interval(s,m)
        padding-left var(--base-padding)
      +media-max(s)
        width 100%
        padding-y var(--list-sub-padding-y, 0)
        overflow hidden
        transition padding var(--list-sub-transition-duration, var(--transition-duration-out))
      &:not(^[0]__list--sub-2)
        +media(s)
          position absolute
          top 0
          right var(--header-navigation-list-sub-right)
          left var(--header-navigation-list-sub-left)
          z-index var(--header-navigation-list-sub-z-index)
          height 100%
          background-color var(--color-hover)
          translate var(--header-navigation-list-sub-translate-x) 0
          transition translate var(--header-navigation-list-sub-transition-duration)
      .accessibility-mode &
        display none
    &--sub-2
      text-transform none
      padding-left 50px
      +media(s)
        padding-left var(--base-padding)
        width 100%
        padding-y 0
        overflow var(--header-navigation-sublist-2-overflow)
    .accessibility-mode &:not(&--sub)
      display flex
      flex-wrap wrap
      gap 8px var(--gap)
      padding-block 16px
  &__item
    +media-max(s)
      position relative
    &:not(^[0]__item--sub)
      +media(s)
        margin-top 0px
    &--sub
      +media(m)
        $font-s()
        --header-navigation-item-padding 4px 24px
        &-2
          --header-navigation-item-padding 4px 0
    &--parent&--sub-1
      grid-template-rows min-content var(--sublist-row, 0fr)
    &--parent
      --sublist-row 0fr
      --header-navigation-sublist-2-overflow hidden
      --list-sub-padding-y 0
      display grid
      grid-template-rows min-content var(--row, 0fr)
      transition grid-template-rows var(--transition-duration-out)
    &--parent&--active
      --header-navigation-sublist-overflow visible
      --list-sub-padding-y 16px
      --sublist-row 1fr
      +media-max(s)
        --row 1fr
        --list-sub-padding-y 16px
        transition-duration var(--transition-duration-out)
      +media(s)
        --header-navigation-list-sub-z-index 2
        --header-navigation-list-sub-transition-duration var(--transition-duration-in)
        --header-navigation-list-sub-translate-x 0
    a
    span
      display flex
      padding var(--header-navigation-item-padding)
      +hover()
        --header-navigation-item-after-opacity 1
        --header-navigation-item-after-opacity-transition-duration var(--transition-duration-in)
        background-color var(--color-hover)
        transition-duration var(--transition-duration-in)
        .accessibility-mode &
          text-decoration underline
          color var(--color-text)
          background-color transparent
      +media-max(s)
        padding-right 80px
        z-index 100
      +media(s)
        justify-content var(--header-navigation-item-justify-content)
      +media(m)
        align-items center
        gap 16px
        transition background-color var(--transition-duration-out)
        &::before
        &::after
          width 12px
          height 12px
          background-color var(--header-navigation-menu-background-color)
          rotate var(--header-navigation-item-after-rotate)
          opacity var(--header-navigation-item-after-opacity, 0)
          transition opacity var(--header-navigation-item-after-opacity-transition-duration)
          mask(arrow)
          .accessibility-mode &
            display none
        &::before
          content var(--header-navigation-item-before-content, none)
        &::after
          content var(--header-navigation-item-after-content, none)
      .accessibility-mode &
        --link-color var(--color-text)
        padding 0
    &--sub-1
      --opener-margin-right 48px
      span
        --header-navigation-item-justify-content flex-start
        color var(--color-white)
        cursor pointer
        +media(s)
          padding 4px 0
    &--sub-2
      a
        --header-navigation-item-justify-content flex-start
    .accessibility-mode &
      margin 0
      +media(s)
        margin-top 0px
      +media(m)
        margin-top 0px
